@use "utilities/mixins";

.widgets {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1.6rem 0 0;

  &__canvas {
    --background-color: var(--c-white);
    background-color: var(--background-color);
    border: 1px solid var(--c-gray);
    display: inline-block;
    margin: 0 auto 1.6rem auto;
    padding: 1.5rem;
    overflow: visible;
    position: relative;

    @include mixins.shadow;
  }

  &__grid {
    --grid-size: 15px;

    background-size: var(--grid-size) var(--grid-size);
    background-image: radial-gradient(circle, var(--c-gray-50) 2px, rgba(0, 0, 0, 0) 1px);
  }
}

.metric {
  align-self: center;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;

  &__title {
    color: var(--c-black-50);
    margin-bottom: 0.6rem;
  }

  &__value {
    font-size: 6rem;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}