@use "utilities/mixins";

.widgets {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 1.6rem 0 0;

  &__canvas {
    background-color: var(--c-white);
    border: 1px solid var(--c-gray);
    display: block;
    display: inline-block;
    margin: 0 auto 1.6rem auto;
    overflow: visible;
    position: relative;

    @include mixins.shadow;
  }

  &__grid {
    --grid-size: 15px;
    background-image: radial-gradient(circle at 1px 1px, var(--c-gray) 1px, transparent 0);
    background-size: var(--grid-size) var(--grid-size);
  }
}