@use "utilities/shadows";

.widgets {
  height: 100%;
  width: 100%;
  white-space: nowrap;

  &__canvas {
    background-color: var(--c-white);
    border: 1px solid var(--c-gray);
    display: block;
    display: inline-block;
    margin: 0 auto 1.6rem auto;
    overflow: visible;
    position: relative;

    @include shadows.shadow;
  }

  &::after {
    content: '';
    display: inline-block;
    width: 1.6rem;
  }

  &__grid {
    background-image: radial-gradient(circle at 1px 6px, var(--c-gray) 1px, transparent 0);
    background-size: var(--grid-size) var(--grid-size);
  }
}