<div data-controller='popover'>
  <button data-popover-target="trigger" class="button button--filled button--sm" data-action="popover#trigger">
    Add widget <i class="fas fa-angle-up fa-rotate-180"></i>
  </button>

  <ul data-popover-target="body" class="list list--bordered" hidden style="z-index:1;margin-top:6px;">
    {% for id, txt, icon in choices %}
    <li class="list__item list__item--interactive" data-id="{{ id }}">
      <form method="post" action="{% url 'dashboard_widgets:create' project.id dashboard.id %}?mode=edit" class="form">
        {% csrf_token %}

        <input type='hidden' name='kind' id='id_kind' value="{{ id }}" />

        <button type="submit">
          <p><i class="fas {{ icon }} text-blue mr-2"></i> {{txt}}</p>
        </button>
      </form>
    </li>
    {% endfor %}
  </ul>
</div>
