<div class="card card--sm">
  <h3>Delete</h3>
  <p>Are you sure you want to delete this dashboard?</p>
  <form method="post" action="{% url 'project_dashboards:delete' project.id object.id %}">
    {% csrf_token %}

    <div class="flex flex-row w-full gap-7 mt-7">
      <input type="submit" value="Yes" class="button button--sm button--danger button--outline flex-1" />
      <a href="{% url 'project_dashboards:detail' project.id dashboard.id %}"
         class="button button--sm flex-1">
        No
      </a>
    </div>
  </form>
</div>
