{% load static %}
{% load waffle_tags %}

<div
  class="widgets"
  style="padding-right: calc({{ dashboard.width }}px + 1.6rem);"
>
  <div
    class="widgets__canvas"
    style="--background-color:{{ dashboard.background_color }};"
    data-controller="canvas widget-list"
  >
    {% comment %} Hidden form used by canvas controller {% endcomment %}
    <form
      id="dashboard-widget-create-form"
      method="post"
      action="{% url 'dashboard_widgets:create' project.id dashboard.id %}?mode=edit"
      hidden
      data-canvas-target="form"
    >
      {% csrf_token %}

      <input name='kind' id="id_kind" value="" />
      <input name='x' id="id_x" value="" />
      <input name='y' id="id_y" value="" />
      <input name='page' id="id_page" value="{{ page.id }}"/>

      <button name="submit" type="submit"></button>
    </form>
    <form
      method="POST"
      action="{% url 'dashboard_controls:create-widget' project.id dashboard.id %}"
      hidden
      data-canvas-target="formControl"
    >
      {% csrf_token %}

      <input name='x' id="id_x" value="" />
      <input name='y' id="id_y" value="" />
      <input name='page' id="id_page" value="{{ page.id }}"/>

      <button name="submit" type="submit"></button>
    </form>
    <div
      id="dashboard-widget-container"
      class="{% if request.GET.mode != 'view' %}widgets__grid{%endif%}"
      style="
        width:{{ dashboard.width }}px;
        height:{{ dashboard.height }}px;
        --grid-size:{{ dashboard.grid_size }}px;
      "
      data-grid-size="{{ dashboard.grid_size }}"
    >
      {% for object in page.control_widgets.all %}
        {% include 'controls/control-widget.html' with object=object control=object.control %}
      {% endfor %}

      {% for object in page.widgets.all %}
        {% include 'widgets/widget_component.html' %}
      {% endfor %}

      {% if page.widgets.all|length == 0 and page.control_widgets.all|length == 0 and request.GET.mode != 'view' %}
        <div
          id="dashboard-widget-placeholder"
          class="placeholder-scr placeholder-scr--fillscreen"
        >
          <div class="flex items-center max-w-lg gap-7">
            <i class="fas fa-fw fa-chart-bar text-blue fa-2x"></i>
            <p>
              Start building your dashboard by dragging in a <strong>widget</strong>
            </p>
          </div>

          <div class="flex items-center max-w-lg gap-7">
            <i class="fas fa-fw fa-edit text-black-50 fa-2x"></i>
            <p>
              <strong>Edit</strong> to customize data sources, dimensions, metrics and filters
            </p>
          </div>

          <div class="flex items-center max-w-lg gap-7">
            <i class="fas fa-fw fa-paint-brush text-pink fa-2x"></i>
            <p>
              Make your dashboard unique with <strong>theme and layout</strong> settings
            </p>
          </div>

          <div class="flex items-center max-w-lg gap-7">
            <i class="fas fa-fw fa-share text-green fa-2x"></i>
            <p>
              <strong>Share</strong> your dashboard as a public or password-protected link
            </p>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
