{% extends "projects/settings_base.html" %}

{% block app %}
<div class="flex flex-1 flex-col justify-center items-center self-center max-w-xl">
  <h1 class="mb-3">Delete: {{ object.name }}</h1>
  <p class="alert mb-6">Are you sure you want to delete this? This action is <strong>irreversible</strong>.</p>

  <form
    action="{% url 'project_dashboards:delete' project.id object.id %}"
    class="w-full"
    method="post"
  >
    {% csrf_token %}

    <div class='flex gap-3 w-full'>
      <a 
        href="{% url 'project_dashboards:detail' project.id object.id %}"
        class="button button--tertiary flex-1"
      >
        Go back
      </a>

      <button type="submit" class="button button--danger flex-1">Yes</button>
    </div>
  </form>
</div>
{% endblock %}
