{% extends "web/app/project_base.html" %}
{% load waffle_tags %}

{% block app %}
<div class="dashboard__header">
  <turbo-frame id="dashboard-name" class="flex-1 mr-auto">
    <form
      method="POST"
      action="{% url "project_dashboards:detail" project.id object.id %}"
      class="form--no-layout w-full"
    >
      {% csrf_token %}

      <input
        class="input__inline mr-auto"
        id="name"
        type="text"
        name="name"
        value="{{ object.name }}"
        onBlur="this.form.requestSubmit();"
      />
    </form>
  </turbo-frame>
  {% if page_count > 1 %}

  <small>
    {% if previous_page == 0 %}

      <i class="fa fa-chevron-left text-gray"></i>

    {% else %}

      <a href="{% url 'project_dashboards:detail' project.id object.id %}?page={{ previous_page}}"><i class="fa fa-chevron-left"></i></a>
    
    {% endif %}

    Page {{page.position}} of {{page_count}}

    {% if next_page > page_count %}

      <i class="fa fa-chevron-right text-gray"></i>

    {% else %}
  
      <a href="{% url 'project_dashboards:detail' project.id object.id %}?page={{next_page}}"><i class="fa fa-chevron-right"></i></a>
    
    {% endif %}
  </small>
    
  {% else %}

    <form
      method="POST"
      action="{% url "project_dashboards:page-create" project.id object.id %}"
      class="form--no-layout"
    >
      {% csrf_token %}

      <button
        type="submit"
        class="button button--sm button--tertiary"
        id="dashboards-add-page-{{ object.id }}-topbar"
        data-loading-false
      >
        <i class="fa fa-plus mr-2"></i> Add new page
      </button>
    </form>

  {% endif %}
  <div
    data-controller="popover"
    data-placement="bottom-start"
    data-theme="popover-menu"
  >
    <button class="button button--sm button--tertiary">
      More <i class="fas fa-chevron-down"></i>
    </button>

    <template data-popover-target="body">
      <form 
        method="POST"
        action="{% url "dashboards:duplicate" object.id %}"
        class="form--no-layout"
      >
        {% csrf_token %}

        <button
          type="submit"
          class="list__item list__item--interactive w-full"
          id="dashboards-duplicate-{{ object.id }}"
          data-controller="tooltip"
          data-loading-false
        >
          Duplicate
        </button>
      </form>

      <a
        class="list__item list__item--interactive w-full"
        href="{% url "project_dashboards:delete" project.id object.id %}"
      >
        Delete
      </a>

      <form
        method="POST"
        action="{% url "project_dashboards:page-create" project.id object.id %}"
        class="form--no-layout"
      >
        {% csrf_token %}

        <button
          type="submit"
          class="list__item list__item--interactive w-full"
          id="dashboards-add-page-{{ object.id }}"
          data-loading-false
        >
          Add new page
        </button>
      </form>

      <form
        method="POST"
        action="{% url "project_dashboards:page-delete" project.id object.id page.id%}"
        class="form--no-layout"
      >
        {% csrf_token %}

        <button
          type="submit"
          {% if page_count == 1 %}disabled{% endif %}
          class="list__item list__item--interactive w-full {% if page_count == 1 %}disabled{% endif %}"
          id="dashboards-delete-page-{{ object.id }}"
          data-loading-false
        >
          Delete current page
        </button>
      </form>
    </template>
  </div>

  <div data-controller="tooltip tf-modal">
    <button
      data-action="click->tf-modal#open"
      data-src="{% url "project_dashboards:settings" project.id object.id %}"
      class="button button--sm button--tertiary"
    >
      <i class="fas fa-fw fa-paint-brush"></i> Theme and Layout
    </button>

    <span data-tooltip-target="body">Customize dimensions, grid spacing and color palette</span>

    <div data-tf-modal-target="modal" class="tf-modal tf-modal--auto hidden">
      <div class="card card--none card--modal flex-col flex-1 overflow-auto">
        <turbo-frame
          id="dashboard:settings"
          data-tf-modal-target="turboFrame"
          target="_top"
        ></turbo-frame>
      </div>
    </div>
  </div>
  
  {% include 'controls/create.html' with dashboard=dashboard %}
  
  <div data-controller="tooltip">
    {% if not request.GET.mode or request.GET.mode == "edit" %}
    <a href="?mode=view" class="button button--sm button--tertiary">
      <i class="fas fa-fw fa-eye"></i>Preview
    </a>
    {% else %}
    <a href="?mode=edit" class="button button--sm">
      <i class="fas fa-fw fa-pen"></i>Edit
    </a>
    {% endif %}
    <span data-tooltip-target="body">Click to change view mode</span>
  </div>

  <div data-controller="tf-modal">
    <button
      id="dashboard-share-{{ object.id }}"
      class="button button--sm button--success"
      data-action="click->tf-modal#open"
      data-controller="tooltip"
      data-src="{% url "dashboards:share" object.id %}"
    >
      <i class="far fa-fw fa-share"></i>
      Share
      <span data-tooltip-target="body">Share a public or password-protected link</span>
    </button>

    <div data-tf-modal-target="modal" class="tf-modal tf-modal--auto hidden">
      <div class="card card--none card--modal flex-col flex-1 overflow-auto">
        <turbo-frame
          id="dashboard-share"
          data-tf-modal-target="turboFrame"
        ></turbo-frame>
      </div>
    </div>
  </div>
</div>

<div class="w-full flex flex-row overflow-hidden">
  <div class="dashboard">
    {% include "dashboards/canvas.html" %}
  </div>

  {% if request.GET.mode != "view" %}
  <aside class="dnd-sidebar" style="width: 34rem;">
    {% for category_id, category in categories %}
    <div class="active pad" data-controller="collapsable">
      <h3 class="cursor-pointer" data-action="click->collapsable#toggle">
        {{ category }}
      </h3>
      
      <div
        class="collapsable flex flex-col max-h-0 overflow-hidden"
        data-collapsable-target="body"
      >
        <div class="grid grid-cols-2 mb-3 pb-3 pt-7">
          {% for id, txt, icon, choice_category, verbose_name in choices %}
            {% if choice_category|lower == category_id|lower %}
            <div
              id="widget-{{ id }}"
              class="dnd-sidebar__node w-full cursor-draggable"
              ondragstart="event.dataTransfer.setData('application/gydashboard', '{{ id }}'); event.dataTransfer.effectAllowed = 'move';"
              draggable="true"
            >
              <i class="dnd-sidebar__icon fas fa-fw fa-lg {{ icon }} mr-2"></i>

              <div class="flex flex-col">
                <div class="flex items-center">
                  <h4 class="dnd-sidebar__name">{{ verbose_name }}</h4>
                </div>
                {% comment %} <p class="dnd-sidebar__description">{{ node.description }}</p> {% endcomment %}
              </div>
            </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
  </aside>
  {% endif %}
</div>
{% endblock %}

{% block page_js %}
  {% include "components/fusionchart_scripts.html" with palette_colors=object.palette_colors %}
{% endblock %}
