{% load render_table from django_tables2 %}

<section class="flex flex-col h-full whitespace-normal">
  <div class="workflow-detail__header">
    <h3 class="mr-auto">History</h3>

    <button class="tf-modal__close"
      data-action="click->tf-modal#close"
      data-loading-false>
      <i class="fal fa-times fa-lg"></i>
    </button>
  </div>
  <div class="tabbar">
    <a
      href="#"
      class="tabbar__link {% if not request.GET.tab or request.GET.tab == 'version' %}tabbar__link--active{% endif %}"
      hx-get="{{ request.path }}?tab=version"
    >
      Named Versions
    </a>
    <a
      href="#"
      class="tabbar__link {% if request.GET.tab == 'history' %}tabbar__link--active{% endif %}"
      hx-get="{{ request.path }}?tab=history"
    >
      Change history
    </a>
  </div>
  <div class="pad overflow-y-auto">
    <p class="mb-2">
      You can revert to previously saved versions or change by clicking on the Restore button.
    </p>

    <p class="alert mb-2">
      Restoring will recreate the frame of the dashboard but not the underlying data.
      This can lead to the dashboard looking different compared to when it was saved or widgets
      breaking if datasources have been changed or removed.
    </p>
    <form hx-post="{% url 'project_dashboards:history' object.project.id object.id %}"
      class='mb-2 flex flex-row'
    >

      {% csrf_token %}
      {{ form }}
      <button type='submit' class='button button--success button--end flex-1'>Save</button>

    </form>
    <div class="card card--none">
      {% render_table table %}
    </div>
  </div>
</section>
