{% extends "web/app/app_base.html" %}
<!---->
{% block app %}
<turbo-frame id="dashboards">
  <a href="{% url 'dashboards:create' %}">Create</a>
  <ul>
    {% for object in object_list %}
    <li>
      <p class="font-bold">{{ object }}</p>
      <a href="{% url 'dashboards:detail' object.pk %}" data-turbo-frame="_top"
        >Details</a
      >
      <a href="{% url 'dashboards:update' object.pk %}" data-turbo-frame="_top"
        >Update</a
      >
      <a href="{% url 'dashboards:delete' object.pk %}" data-turbo-frame="_top"
        >Delete</a
      >
    </li>
    {% empty %}
    <p>No items.</p>
    {% endfor %}
  </ul>

  {% if is_paginated %}
  <div class="pagination">
    <span class="page-links">
      {% if page_obj.has_previous %}
      <a
        href="{% url 'dashboards:list' %}?page={{ page_obj.previous_page_number }}"
        >previous</a
      >
      {% endif %}
      <span class="page-current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>
      {% if page_obj.has_next %}
      <a href="{% url 'dashboards:list' %}?page={{ page_obj.next_page_number }}"
        >next</a
      >
      {% endif %}
    </span>
  </div>
  {% endif %} </turbo-frame
>{% endblock %}
