{% extends "web/app/project_base.html" %}
{% load render_table from django_tables2 %}
{% block app %}
<div class="pad">
  <div class="flex items-center mb-4">
    <h1 class="mr-auto">Dashboards</h1>
    <turbo-frame
      id='dashboard-create'
      src="{% url 'projects:dashboards:create' project.id %}"
      target="_top"
    >
      <i class='fad fa-spinner-third fa-spin'></i>
    </turbo-frame>
  </div>

  <p class="mb-8">
    Your data's output, dashboards provide a way to showcase your data in a clean way.
  </p>

  <div class="card card--sm">
    {% render_table table %}

    {% if dashboard_count == 0 %}
    <div class="text-center pad--sm">
      <small>
        You have no dashboards yet, <a href="{% url 'projects:dashboards:create' project.id %}" class="link">create
          one</a> to see it here
      </small>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
