{% extends "web/landing.html" %}

{% block body %}
  <div class="landing">
    <div class="landing__content">
      <h2>Password-protected dashboard</h2>
      <span class='input__help_text'>Password</span>
      <form
        method='post' 
        action="{% url "dashboards:login" object.id%}"
      >
        {% csrf_token %}
        <p class="text-red">
          {{ errors.password|escape }}
        </p>
        <div class='flex flex-row items-center gap-2' >
        <input type='password' name='password' autocomplete="one-time-code"></input>
        
        <button data-turbo='false' class='button button--sm button-primary'  type='submit'>Submit</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}