{% extends "dashboards/public.html" %}

{% block head %}
<title>Password protected page</title>
{% endblock %}

{% block body %}
<div class="flex flex-col m-auto justify-center items-center">
  <h2 class="mb-7">Password protected page</h2>
  <form
    class="w-full form--no-layout"
    method='post' 
    action="{% url "dashboards:login" object.id %}"
  >
    {% csrf_token %}

    <label class="mb-7">
      <p>Password</p>

      <input
        type='password'
        name='password'
        autocomplete="one-time-code"
        required
      ></input>
      <p class="text-red">{{ errors.password|escape }}</p>
    </label>

    <button data-turbo='false' class='button button-primary w-full'  type='submit'>Submit</button>
  </form>
</div>
{% endblock %}