{% load static humanize %}

<div class="flex flex-col">
  <div class="flex items-baseline gap-3 pad">
    <h3><i class="far fa-fw fa-chart-pie text-black-50 mr-3"></i>Dashboards</h3>
    {% if dashboards.total > 0 %}
      <p class="text-black-50 ml-auto">
        <a class="link" href="{% url 'project_dashboards:list' project.id %}">
          {{ dashboards.total }} dashboard{{ dashboards.total|pluralize }}
        </a>
        - {{ dashboards.widgets|intcomma }} widget{{ dashboards.widgets|pluralize }}
      </p>
    {% endif %}
  </div>

  <div class="flex gap-8 w-full overflow-auto" style="padding: 0.8rem 1.6rem;">
    {% for dashboard in dashboards.all|slice:":12" %}
      <a
        class="card card--none card--flex gap-3 items-center flex-col"
        style="flex: 0 0 13rem; padding: 1.8rem 0.2rem;"
        href="{% url "project_dashboards:detail" project.id dashboard.id %}"
      >
        <i class="fas fa-fw fa-chart-pie text-black-50" style="font-size: 1.6rem"></i>
        <p class="truncate text-center w-full px-6 small">{{ dashboard.name }}</p>
      </a>
    {% endfor %}
  </div>

  <div class="pad">
    {% if integrations.ready == 0 and dashboards.total == 0 %}
      <p class="text-black-50">
        A visual display of data metrics that can be shared as a report,
        requires at least <strong>one integration</strong>.
      </p>
    {% elif dashboards.total == 0 %}
      <div class="table__empty table__empty--slim">
        <a
          href="{% url 'project_dashboards:list' project.id %}"
          class="h3 link"
        >
          Display your metrics
        </a>
        <p class="text-black-50 mt-3">
          Use dashboards to share your metrics with your team, clients, or any
          audience you want.
        </p>
      </div>
    {% elif not dashboards.operational %}
      {% if dashboards.incomplete > 0 %}
        <p class="text-black-50">
          <i class="fa fa-exclamation-triangle text-orange"></i>
          You have {{ dashboards.incomplete|intcomma }} incomplete dashboard{{ dashboards.incomplete|pluralize }}.
        </p>
      {% endif %}
    {% else %}

      <p class="text-black-50">
        <i class="fa fa-check-circle text-green"></i>
        All your dashboards are ready.
      </p>
    {% endif %}
  </div>
</div>