{% url 'project_dashboards:detail' project.id object.id as dashboard_detail %}
{% firstof request.GET.mode 'edit' as mode %}

<div class="page-controls">
  {% if previous_page == 0 %}
    <i class="fas fa-fw fa-chevron-left text-gray"></i>
  {% else %}
    <a href="{{ dashboard_detail }}?dashboardPage={{ previous_page }}&mode={{ mode }}">
      <i class="fas fa-fw fa-chevron-left"></i>
    </a>
  {% endif %}

  <span>
    Page
    <form class="form--no-layout" action="{{ dashboard_detail }}?mode={{ mode }}">
      <input class="input" type="number" min="1" max={{ page_count }} value="{{ page.position }}" name="dashboardPage" required> 
    </form>
    of {{ page_count }}
  </span>

  {% if next_page > page_count and request.GET.mode == "view" %}
    <i class="fas fa-fw fa-chevron-right text-black-20"></i>
  {% elif next_page > page_count %}
    <form
      method="POST"
      action="{% url "project_dashboards:page-create" project.id object.id %}"
      class="form--no-layout"
      x-tooltip="Add new page"
    >
      {% csrf_token %}

      <button
        type="submit"
        id="dashboards-add-page-{{ object.id }}"
        data-loading-false
      >
        <i class="fa fa-fw fa-plus"></i>
      </button>
    </form>
  {% else %}
    <a href="{{ dashboard_detail }}?dashboardPage={{ next_page }}&mode={{ mode }}">
      <i class="fas fa-fw fa-chevron-right"></i>
    </a>
  {% endif %}
</div>
