<div
  class='widgets flex items-center justify-center'
  style="padding-right: calc({{ object.width }}px + 1.6rem);"
  data-controller="widget-list"
>
  <div
    id="dashboard-widget-container"
    class="widgets__canvas"
    style="
      width:{{ object.width }}px;
      height:{{ object.height }}px;
      --background-color:{{ object.background_color }};
    "
  >
    {% for widget in page.widgets.all %}
      {% include 'widgets/widget_public.html' with object=widget %}
    {% endfor %}
  </div>
</div>
