{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block head %}
    <title>{{ dashboard.name }}{% if not project.team.plan.custom_branding %} | Gyana {% endif %}</title>
  {% endblock %}

  {% if not project.team.plan.custom_branding %}
    {% include 'web/components/meta.html' %}
  {% endif %}

  {% if project.team.plan.white_labeling and project.team.icon %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ project.team.icon.url }}">
  {% else %}
    {% include 'web/components/favicon.html' %}
  {% endif %}

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script type="module">
    import * as hotwiredTurbo from '{% static 'js/turbo-bundle.js' %}';
  </script>
  <script src="{% static 'js/stimulus-bundle.js' %}"></script>
  <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
  <script src="{% url 'api_schemajs' %}"></script>
</head>
<body class="pad">
  {% block body %}
  <div class="widgets flex items-center justify-center">
    <header class="flex w-full justify-between mb-7">
      <div class="flex justify-center items-center self-start">
        {% if project.team.plan.white_labeling and project.team.icon %}
          <img src="{{ project.team.icon.url }}" class="h-24 w-24 mr-5" alt="">
        {% endif %}

        <div class="flex flex-col">
          <p>{{ project.team.name }}</p>
          <h1>{{ dashboard.name }}</h1>

          {% if page_count > 1 %}

          <small>
            {% if previous_page == 0 %}
        
              <i class="fa fa-chevron-left text-gray"></i>
        
            {% else %}
        
              <a href="{% url 'dashboards:public' object.shared_id %}?page={{ previous_page }}"><i class="fa fa-chevron-left"></i></a>
            
            {% endif %}
        
            Page {{page.position}} of {{page_count}}
        
            {% if next_page > page_count %}
        
              <i class="fa fa-chevron-right text-gray"></i>
        
            {% else %}
          
              <a href="{% url 'dashboards:public' object.shared_id %}?page={{next_page}}"><i class="fa fa-chevron-right"></i></a>
            
            {% endif %}
          </small>

          {% endif %}

        </div>
      </div>

      {% if not project.team.plan.custom_branding %}
        <p class="self-end">Powered by <a href="/" class="link">Gyana</a></p>
      {% endif %}
    </header>
    {% if page.has_control %}
      <turbo-frame id='controls:update' src="{% url 'dashboard_controls:update-public' project.id dashboard.id page.control.id %}">
        <div class='placeholder-scr'>
          <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
        </div>
      </turbo-frame>
    {% else %}
      <div id='controls:update-stream'></div>
    {% endif %}
    <div
      class="widgets__canvas"
      style="--background-color:{{ object.background_color }};"
    > 
      <div
        id="dashboard-widget-container"
        data-controller="widget-list"
        style="width:{{ object.width }}px;height:{{object.height}}px;">
        {% for widget in page.widgets.all %}
        <gy-widget id="widget-{{ widget.id }}">
          <div
            class="h-full w-full"
            data-id="{{ widget.id }}"
            data-x="{{ widget.x }}"
            data-y="{{ widget.y }}"
            data-width="{{ widget.width }}"
            data-height="{{ widget.height }}"
            data-grid-size="{{ object.grid_size }}"
          >
            <div class="widget-card h-full">
              <div class='widget-card__visual widget-card__visual--view {% if widget.page.dashboard.show_widget_border %}widget-card__visual--border{% endif %}'>
                {% include 'widgets/_widget_title.html' with object=widget%}
                <turbo-frame
                  id="widgets-output-{{ widget.id }}"
                  src="{% url 'dashboard_widgets:output' project.id dashboard.id widget.id %}"
                  style="display: flex; flex: 1 1 0%; min-height: 0;"
                >
                  <div class='placeholder-scr placeholder-scr--fillscreen'>
                    <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
                  </div>
                </turbo-frame>
              </div>
            </div>
          </div>
        </gy-widget>
        {% endfor %}
      </div>
    </div>

    <footer class="widget__public-footer">
      <p class="small">
        Dashboard updated <abbr>{% include "columns/natural_datetime.html" with datetime=dashboard.updated %}</abbr>
      </p>

      {% if dashboard.shared_status == 'password_protected' %}
      <a class="link small" href="{% url 'dashboards:logout' dashboard.shared_id %}">Forget me on this browser</a>
      {% endif %}
    </footer>
  </div>

  {% include 'components/fusionchart_scripts.html' %}
  {% endblock %}
</body>
</html>
