{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% block head %}
    <title>{{ dashboard.name }}{% if not project.team.plan.custom_branding %} | Gyana {% endif %}</title>
  {% endblock %}

  {% if not project.team.plan.custom_branding %}
    {% include 'web/components/meta.html' %}
  {% endif %}

  {% if project.team.plan.white_labeling and project.team.icon %}
    <link rel="icon" type="image/png" sizes="16x16" href="{{ project.team.icon.url }}">
  {% else %}
    {% include 'web/components/favicon.html' %}
  {% endif %}

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}" />
  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <script type="module">
    import * as hotwiredTurbo from '{% static 'js/turbo-bundle.js' %}';
  </script>
  <script src="{% static 'js/stimulus-bundle.js' %}"></script>
  <script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
  <script src="{% url 'api_schemajs' %}"></script>
</head>
<body class="pad">
  {% block body %}
  <div class="widgets flex items-center justify-center">
    <header class="flex w-full justify-between mb-7">
      <div class="flex justify-center items-center self-start">
        {% if project.team.plan.white_labeling and project.team.icon %}
          <img src="{{ project.team.icon.url }}" class="h-24 w-24 mr-5" alt="">
        {% endif %}

        <div class="flex flex-col">
          <p>{{ project.team.name }}</p>
          <h1>{{ dashboard.name }}</h1>
        </div>
      </div>

      {% if not project.team.plan.custom_branding %}
        <p class="self-end">Powered by <a href="/" class="link">Gyana</a></p>
      {% endif %}
    </header>

    <div
      class="widgets__canvas"
      style="--background-color:{{ object.background_color }};"
    >
      <div
        id="dashboard-widget-container"
        data-controller="widget-list"
        style="width:{{ object.width }}px;height:{{object.height}}px;">
        {% for widget in object.widget_set.all %}
        <gy-widget id="widget-{{ widget.id }}">
          <div
            class="h-full w-full"
            data-id="{{ widget.id }}"
            data-x="{{ widget.x }}"
            data-y="{{ widget.y }}"
            data-width="{{ widget.width }}"
            data-height="{{ widget.height }}"
            data-grid-size="{{ object.grid_size }}"
          >
            <div class="widget-card h-full">
              <div class='widget-card__visual widget-card__visual--view'>
                {% include 'widgets/_widget_title.html' with object=widget%}
                <turbo-frame id="widgets-output-{{ widget.id }}"
                            src="{% url 'dashboard_widgets:output' project.id dashboard.id widget.id %}"
                            target="_top"
                            style="display: flex; flex: 1 1 0%; min-height: 0;">
                  <div class='placeholder-scr placeholder-scr--fillscreen'>
                    <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
                    <p class='placeholder-scr__title'>Loading visualisation...</p>
                  </div>
                </turbo-frame>
              </div>
            </div>
          </div>
        </gy-widget>
        {% endfor %}
      </div>
    </div>

    {% if dashboard.shared_status == 'password_protected' %}
    <footer class="pb-7">
      <p>
        <small>
          <a class="link" href="{% url 'dashboards:logout' dashboard.shared_id %}">Forget me on this browser</a>
        </small>
      </p>
    </footer>
    {% endif %}
  </div>

  {% include 'components/fusionchart_scripts.html' %}
  {% endblock %}
</body>
</html>
