{% load waffle_tags %}

<section class="flex flex-col h-full whitespace-normal">
  <div class="workflow-detail__header">
    <h3 class="mr-auto">Theme and Layout</h3>

    <button class="modal__close">
      <i class="fal fa-times fa-lg"></i>
    </button>
  </div>

  <div class="modal__body flex flex-row whitespace-normal">
    <div class="modal__sidebar">
      {% for category_id, category in categories %}
        {% if category == "Advanced" %}
          {% flag 'beta' %}
            <a
              href="#"
              class="sidebar__link {% if request.GET.category == category_id %}sidebar__link--active{% endif %}"
              hx-get="{% url "project_dashboards:settings" project.id object.id %}?category={{ category_id }}"

            >
              <span {% if category == "Advanced" %}class="beta"{% endif %}>
                {{ category }}
              </span>
            </a>
          {% endflag %}
        {% else %}
          <a
            href="#"
            class="sidebar__link {% if request.GET.category == category_id %}sidebar__link--active{% endif %}"
            hx-get="{% url "project_dashboards:settings" project.id object.id %}?category={{ category_id }}"
          >
            <span {% if category == "Advanced" %}class="beta"{% endif %}>
              {{ category }}
            </span>
          </a>
        {% endif %}
      {% endfor %}
    </div>

    <div class="flex-1 overflow-auto">
      <form
        class="pad max-w-4xl"
        hx-post="{% url 'project_dashboards:settings' project.id object.id %}?category={{ request.GET.category }}"
      >
        {% csrf_token %}
        {% with optional=False %}
          {{form }}
        {% endwith %}
        <button type="submit" class="button button--success w-full">
          Save
        </button>
      </form>
    </div>
  </div>
</section>