<div data-controller='popover'
      data-popover-dont-hide-body-value="{{dont_hide_body}}"
      class="tooltip tooltip--bottom">
  <button
    id="dashboard-share-{{object.id}}"
    data-popover-target="trigger"
    class="button button--circle button--tertiary"
    data-action="popover#trigger"
  >
    {% if  object.shared_status == 'private' %}<i class='far fa-fw fa-lock'></i>
    {% elif object.shared_status == 'public' %}<i class='far fa-fw fa-eye'></i>
    {% endif %}
  </button>
  <div data-popover-target="body" class="popover-body shadow-sm card card--sm">
    <p>This dashboard is currently {{object.shared_status }}.</p>

    <form method="post" action="{% url 'dashboards:share' object.id %}">
      {% csrf_token %}

      {% if  object.shared_status == 'private' %}
      <p>Click <strong>Share</strong> to create shareable link that is accessible publicly.</p>
      <button class="button button--sm" type='submit'>Share</button>
      {% else %}
      <p>Everyone with the link can see it. Click <strong>Unshare</strong> to make this dashboard
        private again.</span>
      <button class="button button--sm" type='submit'>Unshare</button>
      <div data-controller="to-clipboard"
        class='clipboard-copy'
      >
        <a 
          href="//{{ request.META.HTTP_HOST }}/dashboards/{{object.shared_id}}" 
          data-to-clipboard-target='target'
          data-turbo="false"
          target="_blank"
          rel="noreferrer noopener"
        >
          {{ request.META.HTTP_HOST }}/dashboards/{{object.shared_id}}
        </a>
        <button id="share-link-to-clipboard" type="button" data-action="to-clipboard#copy">
          <i class='fa fa-clipboard fa-2x'></i>
        </button>
      </div>
      {% endif %}

    </form>
  </div>
  <span class="tooltip__content">Share dashboard</span>
</div>
