{% load help_utils %}

<div
  data-controller='tooltip popover'
  data-popover-dont-hide-body-value="{{dont_hide_body}}"
>
  <button
    id="dashboard-share-{{object.id}}"
    data-popover-target="trigger"
    class="button button--circle {% if  object.shared_status == 'public' %}button--success{% else %}button--tertiary{% endif %}"
    data-action="popover#trigger"
  >
    {% if  object.shared_status == 'private' %}<i class='far fa-fw fa-link'></i>
    {% elif object.shared_status == 'public' %}<i class='far fa-fw fa-unlink'></i>
    {% endif %}
  </button>
  <div data-popover-target="body" class="popover-body max-w-lg card card--sm"> 
    <p class="mb-3">
      This dashboard is currently <strong>{{ object.shared_status }}</strong>
      {% link_article 'dashboards' 'share' %}
    </p>

    <form method="post" action="{% url 'dashboards:share' object.id %}">
      {% csrf_token %}

      {% if object.shared_status == 'private' %}
      <p>Click the button below to create shareable link that is accessible publicly.</p>
      <button class="button button--sm button--success w-full" type='submit'>Share dashboard</button>
      {% else %}
      <p>
        Everyone with the link can see it. Click <strong>Unshare</strong> to
        make this dashboard private again.
      </p>

      <div data-controller="to-clipboard" class='clipboard-copy'>
        <a 
          href="//{{ request.META.HTTP_HOST }}/dashboards/{{object.shared_id}}" 
          data-to-clipboard-target='target'
          data-turbo="false"
          target="_blank"
          rel="noreferrer noopener"
        >
          {{ request.META.HTTP_HOST }}/dashboards/{{object.shared_id}}
        </a>

        <button id="share-link-to-clipboard" type="button" data-action="to-clipboard#copy">
          <i class='fa fa-clipboard'></i>
        </button>
      </div>

      <button class="button button--sm button--warning w-full" type='submit'>Unshare</button>
      {% endif %}
    </form>
  </div>

  <span data-tooltip-target="body">
    {% if  object.shared_status == 'private' %}
    Share dashboard
    {% elif object.shared_status == 'public' %}
    Unshare dashboard
    {% endif %}
  </span>
</div>
