{% load menu_tags %}

{% if menu_items %}
  <ul class="sidebar-learn__body">
    {% for item in menu_items %}
      <li class="{{ item.active_class }} {% if item.has_children_in_menu %}has-children{% endif %}">
        <a href="{{ item.href }}" class="{{ item.active_class }}">
          {% if item.has_children_in_menu %}
            <i class="fas {% if item.active_class %}fa-caret-down{% else %}fa-caret-right{% endif %}"></i>
          {% endif %}
          {{ item.text }}
        </a>

        {% if item.has_children_in_menu and item.active_class %}
          {% sub_menu item %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endif %}