{% extends "web/landing.html" %}
{% load static %}
{% load socialaccount %}

{% block top_nav %}
{# Getting rid of the top navigation bar here. #}
{% endblock %}

{% block description %}
<div>
  <p>Welcome to Gyana, we do data science and some cool tech stuff.</p>
  <p>If you'd like to learn more, give our <a class="link" href="https://gyana.com/">website</a> a visit.</p>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <h1 class="text-center">Sign in</h1>

  <a class="button button--primary is-outlined w-full flex justify-center" href="{% provider_login_url 'google' %}">
    <img class="socialicon mr-2" src="{% static 'images/socialauth/google-g.svg' %}" alt="Google Logo">
    Sign In with Google
  </a>
  <p class="text-center text-black-50">or</p>

  <form class="mb-8" method="post">
    {% csrf_token %}

    {% include "django/forms/default_form.html" %}

    <div class="flex flex-col w-full gap-2">
      <button type="submit" class="button button--primary button--filled w-full">
        Sign in
      </button>
    </div>
  </form>

  <p class="text-center">
    <a class="link" href="{% url 'account_reset_password' %}">
      Forgot password?
    </a>
  </p>

  <p class="text-center">
    No account yet? No problem,
    <a class="link" href="{% url 'account_signup' %}">
      create one here!
    </a>
  </p>
</div>
{% endblock %}
