{% extends "web/landing.html" %}
{% load static %}
{% load socialaccount %}

{% block description %}
<div>
  <p>Welcome to Gyana, we do data science and some cool tech stuff.</p>
  <p>If you'd like to learn more, give our <a class="link" href="https://gyana.com/">website</a> a visit.</p>
</div>
{% endblock %}

{% block content %}
<div class="card">
  <h1 class="text-center">Sign up</h1>

  <!-- <a class="button button--primary is-outlined w-full flex justify-center" href="{% provider_login_url 'google' %}">
    <img class="socialicon mr-2" src="{% static 'images/socialauth/google-g.svg' %}" alt="Google Logo">
    Sign In with Google
  </a>
  <p class="text-center text-black-50">or</p> -->

  <form method="post">
    {% csrf_token %}

    {% include "django/forms/default_form.html" %}

    <button type="submit" class="button button--filled w-full">
      Sign up
    </button>

  </form>

  <p class="text-center">
    Already have account?
    <a href="{% url 'account_login' %}" class="font-medium text-blue hover:text-blue-500">
      Go to sign in.
    </a>
  </p>
</div>s
{% endblock %}
