{% load heroicons %}

<div class="bg-gray-50">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:py-12 lg:px-8">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="text-3xl font-extrabold text-gray-900">
        Custom reporting is <em>broken</em>
      </h2>
      <p class="mt-4 text-lg text-gray-600">
        Every client has <strong>unique data sources and questions</strong>, and out of the box templates just don't cut it.
        But when you venture out into the world of custom report building, the options are painful...
      </p>
    </div>
    {% comment %} text-center {% endcomment %}
    <div class="mt-12">
      <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">
        {% for problem in content.problems %}
          <div class="pt-6">
            <div class="flow-root bg-white rounded-lg px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center p-3 bg-red rounded-md shadow-lg">
                    {% heroicon problem.icon class="h-6 w-6 text-white" style="solid" %}
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">{{ problem.heading }}</h3>
                <p class="mt-5 text-base text-gray-500">{{ problem.summary }}</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="max-w-3xl mx-auto text-center mt-12">
      <p class="mt-4 text-lg text-gray-600">
        <strong>The problem?</strong> You need the flexibility of a code solution, with the usability of an app.
        You want marketers to build their own reports, not engineers. And it all needs to be affordable, and scale to tens (hundreds?) of clients.
      </p>
    </div>
  </div>
</div>