{% load static site_tags heroicons %}

<ul class="space-y-4 mb-6">
  <li class="flex items-center space-x-3 text-indigo-600">
    {% heroicon 'check-circle' class="flex-shrink-0 h-5 w-5" %}
    <span class="text-base text-gray-600">
      Build a overview of your business data, without manual work or engineering time.
    </span>
  </li>
  <li class="flex items-center space-x-3 text-indigo-600">
    {% heroicon 'check-circle' class="flex-shrink-0 h-5 w-5" %}
    <span class="text-base text-gray-600">
      Empower anyone in your team to make use of data in their daily workflows.
    </span>
  </li>
  <li class="flex items-center space-x-3 text-indigo-600">
    {% heroicon 'check-circle' class="flex-shrink-0 h-5 w-5" %}
    <span class="text-base text-gray-600">
      Work with our team of data experts, who've built reports for hundreds of organisations.
    </span>
  </li>
</ul>
<p class="text-lg text-gray-600">
  You'll be in good company:
</p>
<div class="max-w-7xl mx-auto py-12 px-8 sm:px-6 lg:px-0">
  <div class="grid grid-cols-3 gap-y-8">
    {% with logos="ey bcg nasa barclays mckinsey pret" %}
      {% for logo in logos.split %}
        <div class="flex justify-center">
          <img class="logo w-full" src="{% static 'images/site/logos/'|add:logo|add:'.svg' %}" />
        </div>
      {% endfor %}
    {% endwith %}
  </div>
</div>