{% extends "web/landing.html" %}
{% load static %}

{% block header %}
<p>
  We will send you an email with a link to reset your password so you can get
  back to your data.
</p>
{% endblock %}

{% block content %}
<section>
  <form method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}

    {% include "django/forms/default_form.html" %}

    <div class="flex w-full gap-7">
      <a href="/" class="button button--tertiary flex-1">Go back</a>
      <button type="submit" class="button flex-1">Send Password Reset</button>
    </div>
  </form>
</section>
{% endblock %}
