{% extends "users/landing_base.html" %}

{% block header %}{% endblock %}

{% block content %}
<section>
  {% if token_fail %}
  <h1>Bad token</h1>
  <p>
    The password reset link was invalid, possibly because it has already been
    used. Please request a
    <a class="link" href="{% url 'account_reset_password' %}">new password reset</a>.
  </p>
  {% else %}
  <form method="POST">
    {% csrf_token %}

    {% include "django/forms/default_form.html" %}

    <button
      class="button button--primary w-full"
      type="submit"
      value="Change Password"
    >
      Change Password
    </button>
  </form>
  {% endif %}
</section>
{% endblock %}
