{% extends "web/landing.html" %}
{% load static %}

{% block content %}
<section>
  {% if user.is_authenticated %}
  {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}

    {% include "django/forms/default_form.html" %}

    <div class="flex w-full gap-7">
      <a href="/" class="button button--tertiary flex-1">Go back</a>
      <button type="submit" class="button flex-1">Send Password Reset</button>
    </div>
  </form>
</section>
{% endblock %}
