{% extends "web/app/app_base.html" %}
{% load static %}

{% block app %}
<div class="workflow-detail__header">
  <h3 class="mr-auto">Your Account</h3>

  <a href="{% url 'account_logout' %}" class="button button--sm button--danger">
   <i class="fas fa-fw fa-sign-out"></i> Sign out
  </a>
</div>

<section class="max-w-xl pad">
  <div class="flex mb-8">
    <label>
      <p>Picture</p>
      
      <div class="flex items-center gap-7">
        <img class="h-32 w-32" src="{{ user.avatar_url }}">
      </div>
    </label>
  </div>

  <div class="column">
    <form method="post" enctype='multipart/form-data'>
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <div class="flex w-full">
        <button type="submit" class="button button--success w-full">Save</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}