{% load static %}

{% block app %}
<section class="flex flex-col h-full whitespace-normal">
  <div class="workflow-detail__header">
    <h3 class="mr-auto">Your Account</h3>

    <a
      href="{% url 'account_logout' %}"
      class="button button--sm button--danger"
      data-turbo-frame="_top"
    >
      <i class="fas fa-fw fa-sign-out"></i> Sign out
    </a>

    <button
      class="tf-modal__close"
      type="submit"
      formnovalidate
      name="close"
      value="close"
      data-action="click->tf-modal#close"
      data-loading-false
    >
      <i class="fal fa-times fa-lg"></i>
    </button>
  </div>

  <div class="overflow-auto">
    <form
      class="pad"
      method="post"
      enctype='multipart/form-data'
      action="{% url 'users:profile' %}"
    >
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <div class="flex w-full">
        <button type="submit" class="button button--success w-full">Save</button>
      </div>
    </form>
  </div>
</section>

{% endblock %}