{% extends "web/landing.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
<section>
  <a class="button button--primary button--outline button--google w-full" href="{% provider_login_url 'google' %}">
    <img class="socialicon mr-2" src="{% static 'images/socialauth/google-g.svg' %}" alt="Google Logo">
    Sign In with Google
  </a>
  <p class="text-center text-black-50">or</p>

  <form method="post" class="mb-8">
    {% csrf_token %}

    {% include "django/forms/default_form.html" %}

    <button type="submit" class="button button--filled w-full">
      Create Account
    </button>

  </form>

  <p class="text-center">
    Already have account?
    <a href="{% url 'account_login' %}" class="font-medium text-blue hover:text-blue-500">
      Go to sign in.
    </a>
  </p>
</section>
{% endblock %}
