{% load heroicons %}

<div class="bg-gray-20 border-t border-b border-gray">
  <div class="max-w-7xl mx-auto py-16 sm:py-24 sm:px-6 lg:px-8">
    <!-- xs to lg -->
    <div class="max-w-2xl mx-auto space-y-16 lg:hidden">
      {% for tier in content.tiers %}
        <section>
          <div class="px-4 mb-8">
            <h2 class="text-lg leading-6 font-medium text-gray-900">{{ tier.name }}</h2>
            <p class="mt-4 text-3xl font-bold text-gray-900">
              {% if tier.name == 'Free' %}
               It's free
              {% elif tier.name == 'Enterprise' %}
                Get in touch
              {% else %}
                ${{ tier.price }}
                <span class="text-base font-medium text-gray-500">/mo</span>
              {% endif %}
            </p>
            <p class="mt-4 text-sm text-gray-500">{{ tier.description }}</p>
          </div>

          {% for section in content.features %}
            <table class="w-full">
              <caption class="bg-gray-50 border-t border-gray-200 py-3 px-4 text-sm font-medium text-gray-900 text-left">
                {{ section }}
              </caption>
              <tbody class="divide-y divide-gray-200">
                {% for feature_item in content.features|get_item:section %}
                  {% with feature=feature_item.name|default:feature_item %}

                    <tr class="border-t border-gray-200">
                      <th class="py-5 px-4 text-sm font-normal text-gray-500 text-left flex items-center" scope="row">
                        {{ feature }}
                        {% if feature_item.description %}
                          <div class='flex items-center' data-controller="popover">
                            <button>{% heroicon 'information-circle' class="text-gray-400 w-4 h-4 ml-1" %}</button>
                            <template data-popover-target="body">
                              <div class="text-gray-600 max-w-md">
                                {{ feature_item.description }}
                              </div>
                            </template>
                          </div>
                        {% endif %}
                      </th>
                      <td class="py-5 px-6">
                        {% with value=tier.features|get_item:section|get_item:feature %}
                          {% if value is True %}
                            {% heroicon 'check' class="h-5 w-5 text-indigo-600" %}
                          {% elif value is None %}
                            {% heroicon 'minus' class="h-5 w-5 text-gray-400" %}
                          {% else %}
                            <span class="text-gray-600 text-sm">
                              {{ value|safe }}
                            </span>
                          {% endif %}
                        {% endwith %}
                      </td>
                    </tr>
                  {% endwith %}
                {% endfor %}
              </tbody>
            </table>
          {% endfor %}
        </section>
      {% endfor %}
    </div>

    <!-- lg+ -->
    <div class="hidden lg:block">
      <table class="w-full h-px table-fixed">
        <thead>
          <tr>
            <th class="pb-4 px-6 text-sm font-medium text-gray-900 text-left" scope="col">
              <span>Plans</span>
            </th>
            {% for tier in content.tiers %}
              <th class="w-1/4 pb-4 px-6 text-lg leading-6 font-medium text-gray-900 text-left" scope="col">{{ tier.name }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="border-t border-b border-gray-200 divide-y divide-gray-200">
          <tr>
            <th class="py-8 px-6 text-sm font-medium text-gray-900 text-left align-top" scope="row">Pricing</th>

            {% for tier in content.tiers %}
              <td class="h-full py-8 px-6 align-top">
                <div class="relative h-full table">
                  <p class="text-3xl font-bold text-gray-900">
                    {% if tier.name == 'Free' %}
                     It's free
                    {% elif tier.name == 'Enterprise' %}
                      Get in touch
                    {% else %}
                      ${{ tier.price }}
                      <span class="text-base font-medium text-gray-500">/mo</span>
                    {% endif %}
                  </p>
                  <p class="mt-4 text-sm text-gray-500">{{ tier.description }}</p>
                </div>
              </td>
            {% endfor %}
          </tr>

          {% for section in content.features %}
            <tr>
              <th class="bg-gray-50 py-3 pl-6 text-sm font-medium text-gray-900 text-left" colspan="4" scope="colgroup">{{ section }}</th>
            </tr>

            {% for feature_item in content.features|get_item:section %}
              {% with feature=feature_item.name|default:feature_item %}
                <tr>
                  <th class="py-5 px-6 text-sm font-normal text-gray-500 text-left flex items-center space-x-1" scope="row">
                    <span>{{ feature }}</span>
                    {% if feature_item.description %}
                      <div class='flex items-center' data-controller="popover">
                        <button>{% heroicon 'information-circle' class="text-gray-400 w-4 h-4 ml-1" %}</button>
                        <template data-popover-target="body">
                          <div class="text-gray-600 max-w-md">
                            {{ feature_item.description }}
                          </div>
                        </template>
                      </div>
                    {% endif %}
                  </th>

                  {% for tier in content.tiers %}
                    <td class="py-5 px-6">
                      {% with value=tier.features|get_item:section|get_item:feature %}
                        {% if value is True %}
                          {% heroicon 'check' class="h-5 w-5 text-indigo-600" %}
                        {% elif value is None %}
                          {% heroicon 'minus' class="h-5 w-5 text-gray-400" %}
                        {% else %}
                          <span class="text-gray-600 text-sm">
                            {{ value|safe }}
                          </span>
                        {% endif %}
                      {% endwith %}
                    </td>
                  {% endfor %}
                </tr>
              {% endwith %}
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>