{% load site_tags %}

<div class="bg-gray-20 border-t border-b border-gray">
  <div class="max-w-7xl mx-auto  py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <p class="text-2xl lg:text-3xl text-caveat text-indigo-600 mb-2">
      What comes with Gyana?
    </p>
    <h2 class="text-2xl lg:text-3xl font-extrabold text-gray-900">
      Features available in all plans
    </h2>
    <div class="mt-6 flex gap-4">
      <div class="card card--none w-full">
        <div class="p-6 grid grid-cols-2 lg:grid-cols-6 gap-y-2">
          {% for section in content.features %}
            <div class="{% if section in 'Workflows|Dashboards' %}col-span-2{% endif %}">
              <p class="text-base font-semibold mb-4 text-gray-900">
                {{ section }}
              </p>
              {% if section == "Workflows" %}
                <div class="grid grid-cols-2">
                  {% for node in nodes %}
                    <div class="text-xs lg:text-sm text-gray-600 font-normal mb-2">
                      <i class='text-indigo-600 far fa-fw mr-1 {{ node.icon }}'></i>
                      {{ node.displayName }}
                    </div>
                  {% endfor %}
                </div>
              {% elif section == "Dashboards" %}
                <div class="grid grid-cols-2">
                  {% for widget in widgets %}
                    <div class="text-xs lg:text-sm text-gray-600 font-normal mb-2">
                      <i class='text-indigo-600 far fa-fw mr-1 {{ widget.icon }}'></i>
                      {{ widget.name }}
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                {% for feature in content.features|get_item:section %}
                  {% if feature.heading %}
                    <p class="text-base font-semibold my-4 text-gray-900">{{ feature.name }}</p>
                  {% else %}
                    <div class="text-xs lg:text-sm text-gray-600 font-normal mb-2">
                      <i class='text-indigo-600 far fa-fw mr-1 {{ feature.icon }}'></i>
                      {{ feature.name }}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>