{% load heroicons site_tags %}

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:py-16 md:px-8">
    <div class="space-y-4 md:space-y-0 md:grid md:grid-cols-3 md:gap-6 md:mx-auto xl:mx-0">
      {% for tier in content.tiers %}
        <div class="card card--none">
          <div class="p-6 border-b border-gray-200">
            <h2 class="text-3xl font-extrabold text-indigo-900">
              {{ tier.name }}
            </h2>
            <p class="mt-4 text-base text-gray-600">{{ tier.description }}</p>
            <p class="mt-4 text-3xl font-bold text-gray-900">
              {% if tier.name == 'Free' %}
                It's free
              {% elif tier.name == 'Enterprise' %}
                Get in touch
              {% else %}
                ${{ tier.price }}<span class="text-sm font-normal text-gray-600"> per month</span> 
              {% endif %}
            </p>
            {% if tier.name == 'Free' %}
              {% if request.GET.iframe %}
                <a target="_parent" href="{% url 'teams:detail' request.GET.team_id|add:"0" %}" class="mt-6 button button--tertiary">Continue</a>
              {% else %}
                <a
                  href="{% url 'account_signup' %}"
                  class="mt-6 button button--secondary"
                >
                  Sign up
                </a>
              {% endif %}
            {% elif tier.name == 'Pro' %}
              <div class="flex items-center gap-4 mt-6">
                {% if request.GET.iframe %}
                  <a target="_parent" disabled class="button button--secondary">
                    Upgrade to Pro
                  </a>
                {% else %}
                  <a
                    href="{% url 'account_signup' %}"
                    class="button button--secondary"
                  >
                    Try for free
                  </a>
                  <div>or</div>
                  <a
                    href="{% external_url 'github' %}"
                    class="button button--primary"
                  >
                    Book a demo
                  </a>
                {% endif %}
              </div>
            {% else %}
              {% if request.GET.iframe %}
                <a
                  target="_parent"
                  href="{% external_url 'github' %}"
                  class="mt-6 button button--primary"
                >
                  Talk to Sales
                </a>
              {% else %}
                <a
                  href="{% external_url 'github' %}"
                  class="mt-6 button button--primary"
                >
                  Book a demo
                </a>
              {% endif %}
            {% endif %}
          </div>
          <div class="pt-6 pb-8 px-6">
            <h3 class="text-xs font-normal text-gray-900 tracking-wide uppercase">
              {{ tier.includedHeader }}
            </h3>
            <ul class="mt-6 space-y-4">
              {% for feature in tier.includedFeatures %}
                <li class="flex space-x-3 text-indigo-900">
                  {% heroicon 'check-circle' class="flex-shrink-0 h-5 w-5" %}
                  <span class="text-sm text-gray-600">{{ feature|safe }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="space-y-4 md:space-y-0 md:grid md:grid-cols-3 md:gap-6 md:mx-auto xl:mx-0 mt-8">
      <div>
        <h2 class="text-3xl font-extrabold text-indigo-900">
          Add ons
        </h2>
        <p class="my-4 text-base text-gray-600 max-w-3xl">
          <b>Do you have a specific report in mind?</b> With our optional service packages, 
          our team will give you the support you need to get started fast.
        </p>
        <a
          {% if request.GET.iframe %}target="_parent"{% endif %}
          href="{% external_url 'github' %}"
          class="button button--primary mr-1"
        >
          Get in contact
        </a>
        <span class="text-gray-600 text-base"> to learn more</span>
      </div>
      <div class="card card--sm col-span-2 grid grid-cols-2 divide-y space-y-4">
        {% for addon in content.addons %}
          <div class="{% if forloop.counter0 > 0 %}pt-4{% endif %}">
            <div>
              <div class="flex">
                <h3 class="text-lg font-medium text-gray-900">
                  {{ addon.name }}
                </h3>
                <div class="ml-auto">
                  {% if addon.price %}
                    <div>
                      <span class="text-sm font-normal text-gray-600">Starting at</span>
                      <span class="text-xl font-bold text-gray-900">{{ addon.price }}</span>
                    </div>
                  {% endif %}
                  {% if addon.note %}
                    <span class="text-sm font-normal text-gray-600">{{ addon.note }}</span>
                  {% endif %}
                </div>
              </div>
                <p class="mt-2 text-base text-gray-800 max-w-xl">
                  {{ addon.summary }}
                </p>
            </div>
            <ul class="mt-3 gap-x-4 flex flex-wrap">
              {% for feature in addon.features %}
                <li class="flex space-x-1 text-indigo-600">
                  {% heroicon 'check' class="flex-shrink-0 h-5 w-5" %}
                  <span class="text-sm text-gray-600">{{ feature }}</span>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>