{% load heroicons site_tags %}

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:py-16 md:px-8">
    <div class="space-y-4 md:space-y-0 md:grid md:grid-cols-4 md:gap-6 md:mx-auto xl:mx-0">
      {% for tier in content.tiers %}
        <div>
          {% if tier.name == 'Open source' %}
            <p class='text-xl font-bold text-gray-900 mb-4'>
              Self hosted
              <span class='text-2xl font-normal ml-1 text-indigo-600 mb-4 text-caveat'>
                Manage it yourself
              </span>
            </p>
          {% elif tier.name == 'Free' %}
            <p class='text-xl font-bold text-gray-900 mb-4'>
              Gyana cloud
              <span class='text-2xl font-normal ml-1 text-indigo-600 mb-4 text-caveat'>Gyana as a service</span>
            </p>
          {% else %}
            <p class='lg:mb-12'></p>
          {% endif %}
          <div class="card card--none">
            <div class="p-6 border-b border-gray-200 {% if tier.name == 'Open source' %}bg-gray-100{% endif %}">
              <h2 class="text-3xl font-extrabold text-indigo-900">
                {{ tier.name }}
              </h2>
              <p class="mt-4 text-base text-gray-600">{{ tier.description }}</p>
              <p class="mt-4 text-3xl font-bold text-gray-900">
                {% if tier.name in 'Free|Open source' %}
                  It's free
                {% elif tier.name == 'Enterprise' %}
                  Get in touch
                {% else %}
                  $<span id="price">{{ tier.price }}</span><span class="text-sm font-normal text-gray-600"> per month</span>
                {% endif %}
              </p>
              <p class="mt-4 text-base text-gray-600">
                {% if tier.name == 'Open source' %}
                  Run on your data warehouse
                {% elif tier.name == 'Enterprise' %}
                  <b>Custom</b> volume
                {% elif tier.name == 'Free' %}
                  <b>1,000</b> rows of data
                {% else %}
                  <div class="-mt-1 -mb-1 flex items-center text-gray-600">
                    <select id="usage" class="list__item text-gray-600 font-semibold text-base">
                      {% for usage in content.usage %}
                        <option value="{{ usage.price }}">{{ usage.rows }}</option>
                      {% endfor %}
                    </select>
                    <span class="ml-2 whitespace-nowrap">rows of data</span>
                  </div>
                {% endif %}
              </p>
              {% if tier.name == 'Open source' %}
                <a
                  target="_parent"
                  href="{% external_url 'github' %}"
                  class="mt-6 button button--primary"
                >
                  Go to Github
                </a>
              {% elif tier.name == 'Free' %}
                {% if request.GET.iframe %}
                  <a target="_parent" href="{% url 'teams:detail' request.GET.team_id|add:"0" %}" class="mt-6 button button--tertiary">Continue</a>
                {% else %}
                  <a
                    href="{% url 'account_signup' %}"
                    class="mt-6 button button--secondary"
                  >
                    Sign up
                  </a>
                {% endif %}
              {% elif tier.name == 'Pro' %}
                <div class="flex items-center gap-4 mt-6">
                  {% if request.GET.iframe %}
                    <a target="_parent" disabled class="button button--secondary">
                      Upgrade to Pro
                    </a>
                  {% else %}
                    <a
                      href="{% url 'account_signup' %}"
                      class="button button--secondary"
                    >
                      Try for free
                    </a>
                  {% endif %}
                </div>
              {% else %}
                <a
                  target="_parent"
                  href="{% external_url 'talk_to_us' %}"
                  class="mt-6 button button--primary"
                >
                  Talk to us
                </a>
              {% endif %}
            </div>
            <div class="pt-6 pb-8 px-6 {% if tier.name == 'Open source' %}bg-gray-100{% endif %}">
              <h3 class="text-xs font-normal text-gray-900 tracking-wide uppercase">
                {{ tier.includedHeader }}
              </h3>
              <ul class="mt-6 space-y-4">
                {% for feature in tier.includedFeatures %}
                  <li class="flex space-x-3 text-indigo-900">
                    {% heroicon 'check-circle' class="flex-shrink-0 h-5 w-5" %}
                    <span class="text-sm text-gray-600">{{ feature|safe }}</span>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="mt-8">
      <h2 class="text-xl font-extrabold text-gray-900">
        Looking for specialist support?
      </h2>
      <p class="mt-4 text-base text-gray-600 max-w-3xl">
        Get connected to our community of Gyana experts. They've built thousands
        of custom dashboards and can give you everything you need to get started fast.
      </p>
      <div class="mt-6 flex gap-4">
        <a href="{% external_url 'hire_an_expert' %}" class="button w-36">
          Hire an expert
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  document.querySelector('#usage').onchange = e => document.querySelector('#price').innerText = e.target.value
</script>