{% extends "web/app/app_base.html" %}
{% load waffle_tags %}

{% block sidebar %}{% endblock %}

{% block app %}

<div class="flex flex-col justify-center items-center h-full">
  <div class="flex flex-col mb-7 text-center">
    <h2>Thank you for upgrading</h2>
    <p>
      Your account will reflect your new {{ object.name }} plan information in the next few seconds.
    </p>
    <p>
      We can't wait to see what you do with Gyana!
    </p>
    <a href="{% url 'teams:account' team.id %}" class="button">Take me there</a>
  </div>
  </div>
</div>
{% endblock %}