{% extends 'learn/base.html' %}

{% load wagtailcore_tags %}

{% block content %}
  <div class="flex flex-1">
    <article class="px-10 pb-10 pt-4 prose prose-xl max-w-6xl flex-auto">
      <h1 class="mb-10">
        <a id="{{ page.title|slugify }}"></a>
        <a href="#{{ page.title|slugify }}">
          {{ page.title }}<i class="fa fa-link ml-2"></i>
        </a>
      </h1>

      {% for block in page.body %}
      <section>{% include_block block %}</section>
      {% endfor %}
    </article>

    <nav class="page-contents">
      <p class="bold mb-8">Page contents</p>
      <ul class="flex flex-col gap-4">
        <li>
          <a href="#{{ page.title|slugify }}">{{ page.title }}</a>
        </li>
        {% for heading in page.headings %}
        <li class="{% if heading.0 == '2' %}pl-6{% elif heading.0 == '3' %}pl-16{% else %}pl-24{% endif %}">
          {{ heading.2|richtext }}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>

  <nav class="page-navigation">
    {% with page.get_prev_siblings.live.first as previous_page %}
      {% if previous_page %}
        <a href="{% pageurl previous_page %}" class="page-navigation__button">
          <span>Previous</span>
          <span class="bold">{{ previous_page.title }}</span>
        </a>
      {% endif %}
    {% endwith %}
    {% with page.get_next_siblings.live.first as next_page %}
      {% if next_page %}
        <a href="{% pageurl next_page %}" class="page-navigation__button">
          <span>Next</span>
          <span class="bold">{{ next_page.title }}</span>
        </a>
      {% endif %}
    {% endwith %}
  </nav>
{% endblock %}