{% extends 'learn/base.html' %}

{% load wagtailcore_tags %}

{% block content %}
  <div class="p-10">
    {% if results %}
      <h1 class="mb-4">Search results for "{{ request.GET.query }}"</h1>

      <dl class="flex flex-col gap-4">
        {% for result in results %}
          <a href="{% pageurl result %}">
            <li class="card card--sm">
              <dt class="mb-4">
                <h4>{{ result.title }}</h4>
              </dt>
              <dd>
                {% if result.search_description %}
                  {{ result.search_description|safe }}
                {% endif %}

                {{ result.search_preview|richtext|truncatechars:512 }}
              </dd>
            </li>
          </a>
        {% endfor %}
      </dl>
    {% elif request.GET.query %}
      No results found
    {% else %}
      <h1>Please type something into the search box</h1>
    {% endif %}
  </div>
{% endblock %}