{% load static heroicons %}

<div class="bg-white py-16 overflow-hidden">
  <div>
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          {% with content.features.0 as feature %}
            <div class="mt-6 flex flex-col gap-y-2">
              <h2 class="text-3xl font-extrabold text-gray-900 mb-4">
                {{ feature.h2 }}
              </h2>
              {% for p in feature.p %}
                <p class="text-base text-gray-600">
                  {{ p }}
                </p>      
              {% endfor %}
            </div>
          {% endwith %}
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1 p-4 lg:p-0 workflow-demo">
        <turbo-frame id="web:workflows-demo" src="{% url 'web:workflows-demo' %}" data-turbo="true">
          <img src="{% static 'images/site/home/workflows-fallback.jpg' %}" alt="Workflows"/>
        </turbo-frame>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          {% with content.features.1 as feature %}
            <div class="mt-6 flex flex-col gap-y-2">
              <h2 class="text-3xl font-extrabold text-gray-900 mb-4">
                {{ feature.h2 }}
              </h2>
              {% for p in feature.p %}
                <p class="text-base text-gray-600">
                  {{ p }}
                </p>      
              {% endfor %}
            </div>
          {% endwith %}
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 dashboard-demo">
        <turbo-frame id="web:dashboards-demo" src="{% url 'web:dashboards-demo' %}" data-turbo="true">
          <img src="{% static 'images/site/home/dashboards-fallback.jpg' %}" alt="Dashboards"/>
        </turbo-frame>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="relative px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          {% with content.features.2 as feature %}
            <div class="mt-6 flex flex-col gap-y-2">
              <h2 class="text-3xl font-extrabold text-gray-900 mb-4">
                {{ feature.h2 }}
              </h2>
              {% for p in feature.p %}
                <p class="text-base text-gray-600">
                  {{ p }}
                </p>      
              {% endfor %}
            </div>
          {% endwith %}
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 lg:col-start-1 relative integration-demo flex flex-col justify-center">
        <turbo-frame id="web:integrations-demo" src="{% url 'web:integrations-demo' %}" data-turbo="true">
          <img src="{% static 'images/site/home/integrations-fallback.jpg' %}" alt="Integrations"/>
        </turbo-frame>
      </div>
    </div>
  </div>
  <div class="mt-24">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-2 lg:grid-flow-col-dense lg:gap-24">
      <div class="px-4 max-w-xl mx-auto sm:px-6 lg:py-16 lg:max-w-none lg:mx-0 lg:px-0">
        <div>
          {% with content.features.3 as feature %}
            <div class="mt-6 flex flex-col gap-y-2">
              <h2 class="text-3xl font-extrabold text-gray-900 mb-4">
                {{ feature.h2 }}
              </h2>
              <h3 class="text-lg font-medium text-gray-900">
                {{ feature.h3 }}
              </h3>

              <li class="flex flex-col divide-y divide-gray-200">
                {% for p in feature.p %}
                <ul class="text-base text-gray-600 py-2">
                    {{ p }}
                  </ul>
                {% endfor %}
                </li>
            </div>
          {% endwith %}
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0 flex items-center -m-16">
        {% include 'web/components/landing_animation.html' %}
      </div>
    </div>
  </div>
</div>

<script>
  window.__demo_store__ = {
    integrations: [
      {
        id: 'google_sheets',
        name: 'Google Sheets',
        icon_path: 'google_sheets.svg',
      },
      {
        id: '{{ service.id }}',
        name: '{{ service.name }}',
        icon_path: '{{ service.icon_path }}'
      },
    ],
    node: null
  }
</script>
