layout pyenv 3.9.14

export GOOGLE_APPLICATION_CREDENTIALS='./gyana-1511894275181-50f107d4db00.json'
export CLOUD_NAMESPACE=$(git config user.email | tr -d "0123456789")
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
export GCP_PROJECT=gyana-1511894275181
export GCP_BQ_SVC_ACCOUNT=gyana-local@gyana-1511894275181.iam.gserviceaccount.com
export GS_BUCKET_NAME=gyana-local
export GS_PUBLIC_BUCKET_NAME=gyana-local-public
export ENVIRONMENT=local
export OAUTHLIB_INSECURE_TRANSPORT=1