layout poetry
dotenv
export GOOGLE_APPLICATION_CREDENTIALS='./gyana-1511894275181-50f107d4db00.json'
export CLOUD_NAMESPACE=$(git config user.email | tr -d "0123456789")
export HEROKU_ORGANIZATION=gyana
export HEROKU_APP=gyana-mvp
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES