layout poetry
dotenv
export GOOGLE_APPLICATION_CREDENTIALS='./gyana-1511894275181-50f107d4db00.json'
export CLOUD_NAMESPACE=$(git config user.email | tr -d "0123456789")
export HEROKU_ORGANIZATION=gyana
export HEROKU_APP=gyana-mvp
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES
export GCP_PROJECT=gyana-1511894275181
export GCP_BQ_SVC_ACCOUNT=gyana-local@gyana-1511894275181.iam.gserviceaccount.com
export GS_BUCKET_NAME=gyana-local
export FIVETRAN_GROUP=general_candor
export MOCK_FIVETRAN=True
export ENVIRONMENT=local
export CNAME_DOMAIN=dev-cname.gyana.com