.env
.messages
gyana-1511894275181-50f107d4db00.json
celerybeat-schedule

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.pyc
*.ipynb

# Webpack output
/static/

.idea
*~
db.sqlite3
.sass-cache/
gyana/localsettings.py
gyana/local.py
static_root/
node_modules/
media/
docs/_build
_dist/
.env.dev
.env.production
.DS_Store

# redis output
dump.rdb
