Django
PyYAML
analytics-python
attrs
backoff
celery-progress
celery[redis]
coreapi
django-admin-tools
django-allauth
django-anymail[mailgun]
django-cacheops
django-celery-beat
django-celery-results
django-clone
django-crispy-forms
django-cryptography
django-dirtyfields
django-filter
django-heroku
django-hijack
django-htmx
django-invitations
django-redis
django-safedelete
django-silk
django-simple-history
django-storages[google]
django-tables2
django-timezone-field
django-waffle
djangorestframework
fuzzywuzzy
git+https://github.com/geoffbeier/django-heroicons#acbd344230689ab2cde4c20d7f0f597ef8795ad0
git+https://github.com/martyzz1/heroku3.py#81c996929e37450e1e65f28eb43fc28533a79048
google-api-python-client
google-cloud-bigquery
gunicorn
hashids
honeybadger
honeycomb-beeline
ibis-framework[bigquery]
inflection
jsonpath-ng
lark
markdown
pandas
pathvalidate
plotly
psycopg2-binary
pytest-mock
python-Levenshtein
readtime
sqlalchemy