amqp==5.0.6; python_version >= "3.6"
analytics-python==1.4.0
asgiref==3.4.1; python_version >= "3.6"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==20.3.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
autopep8==1.5.7; python_version >= "3.6"
backoff==1.10.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
billiard==3.6.4.0; python_version >= "3.6"
cachetools==4.2.2; python_version >= "3.6" and python_version < "4.0"
celery-progress==0.1.1
celery==5.1.2; python_version >= "3.6"
certifi==2021.5.30; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cffi==1.14.6; python_version >= "3.6" and python_version < "3.10"
charset-normalizer==2.0.4; python_full_version >= "3.6.0" and python_version >= "3"
click-didyoumean==0.0.3; python_version >= "3.6"
click-plugins==1.1.1; python_version >= "3.6"
click-repl==0.2.0; python_version >= "3.6"
click==7.1.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0"
conditional==1.3; python_version >= "3.5"
coreapi==2.3.3
coreschema==0.0.4
cryptography==3.4.8; python_version >= "3.6"
defusedxml==0.7.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
dj-database-url==0.5.0
dj-paddle @ git+https://github.com/paddle-python/dj-paddle@8945137c9ff70ae00d519625f81b10d1bc6bf071
django-admin-tools==0.9.1
django-allauth==0.44.0
django-anymail==8.4; python_version >= "3.5"
django-clone==2.9.4; python_version >= "3.5"
django-dirtyfields==1.7.0; python_version >= "3.6"
django-filter==2.4.0; python_version >= "3.5"
django-heroku==0.3.1
django-hijack==3.0.0
django-invitations==1.9.3
django-safedelete==1.1.0
django-silk @ git+https://github.com/jazzband/django-silk@21a4058c2a758fac687f837cb523175c64c567c3 ; python_version >= "3.6"
django-storages==1.12.3; python_version >= "3.5"
django-tables2==2.4.0
django-turbo-allauth==0.0.9; python_version >= "3.8"
django-turbo-response==0.0.48; python_version >= "3.8"
django-waffle==2.2.1
django==3.2.7; python_version >= "3.6"
djangorestframework==3.12.4; python_version >= "3.5"
future==0.18.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5"
fuzzywuzzy==0.18.0
google-api-core==2.0.1; python_version >= "3.7" and python_version < "3.10" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.6.0")
google-api-python-client==2.19.1; python_version >= "3.6"
google-auth-httplib2==0.1.0; python_version >= "3.6"
google-auth-oauthlib==0.4.6; python_version >= "3.7"
google-auth==2.0.2; python_version >= "3.7" and python_version < "3.10" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.6.0")
google-cloud-bigquery-storage==2.7.0; python_version >= "3.7"
google-cloud-bigquery==2.26.0; python_version >= "3.6" and python_version < "3.10"
google-cloud-core==2.0.0; python_version >= "3.7" and python_version < "3.10" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.6.0")
google-cloud-language==2.2.2; python_version >= "3.6"
google-cloud-storage==1.42.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_version >= "3.5" and python_full_version >= "3.6.0"
google-crc32c==1.1.2; python_version >= "3.6" and python_version < "3.10"
google-resumable-media==2.0.2; python_version >= "3.7" and python_version < "3.10" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.6.0")
googleapis-common-protos==1.53.0; python_version >= "3.6" and python_version < "3.10"
gprof2dot==2021.2.21; python_version >= "3.6"
grpcio==1.40.0; python_version >= "3.7" and python_version < "3.10"
gunicorn==20.1.0; python_version >= "3.5"
hashids==1.3.1; python_version >= "2.7"
heroku3 @ git+https://github.com/martyzz1/heroku3.py@81c996929e37450e1e65f28eb43fc28533a79048
honeybadger==0.8.0
honeycomb-beeline==2.17.1; python_version >= "2.7"
httplib2==0.19.1; python_version >= "3.6"
ibis-bigquery==0.1.1; python_version >= "3.7"
ibis-framework==1.4.0; python_version >= "3.7"
idna==3.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
inflection==0.5.1; python_version >= "3.5"
iniconfig==1.1.1; python_version >= "3.6"
itypes==1.2.0
jinja2==3.0.1; python_version >= "3.6"
kombu==5.1.0; python_version >= "3.6"
lark==0.11.3
libcst==0.3.20; python_version >= "3.7"
libhoney==1.11.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "2.7"
markupsafe==2.0.1; python_version >= "3.6"
monotonic==1.6
multipledispatch==0.6.0; python_version >= "3.7"
mypy-extensions==0.4.3; python_version >= "3.7"
numpy==1.21.2; python_version >= "3.7" and python_version < "3.11" and python_full_version >= "3.7.1"
oauthlib==3.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
packaging==21.0; python_version >= "3.7" and python_version < "3.10"
paddle-client==1.0.0; python_full_version >= "3.5.0" and python_full_version < "4.0.0"
pandas==1.3.2; python_full_version >= "3.7.1"
pathvalidate==2.4.1; python_version >= "3.5"
phpserialize==1.3
pluggy==1.0.0; python_version >= "3.6"
prompt-toolkit==3.0.20; python_full_version >= "3.6.2" and python_version >= "3.6"
proto-plus==1.19.0; python_version >= "3.7" and python_version < "3.10"
protobuf==3.17.3; python_version >= "3.7" and python_version < "3.10"
psutil==5.8.0; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
psycopg2-binary==2.9.1; python_version >= "3.6"
psycopg2==2.9.1; python_version >= "3.6"
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pyarrow==4.0.1; python_version >= "3.6"
pyasn1-modules==0.2.8; python_version >= "3.6"
pyasn1==0.4.8; python_version >= "3.6" and python_version < "4"
pycodestyle==2.7.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pycparser==2.20; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.4.0"
pycryptodome==3.11.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pydata-google-auth==1.2.0; python_version >= "3.7"
pygments==2.10.0; python_version >= "3.6"
pyjwt==2.3.0; python_version >= "3.8"
pyparsing==2.4.7; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.10" or python_version >= "3.6" and python_version < "3.10" and python_full_version >= "3.3.0"
pytest-mock==3.6.1; python_version >= "3.6"
pytest==6.2.5; python_version >= "3.6"
python-dateutil==2.8.2; python_full_version >= "3.7.1" and python_version >= "3.7" and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0")
python-levenshtein==0.12.2
python3-openid==3.2.0; python_version >= "3.8"
pytz==2021.1; python_version >= "3.7" and python_full_version >= "3.7.1"
pyyaml==5.4.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
redis==3.5.3; python_version >= "3.6" and python_full_version < "3.0.0" or python_version >= "3.6" and python_full_version >= "3.5.0"
regex==2021.8.28; python_version >= "3.7"
requests-oauthlib==1.3.0; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
requests==2.26.0; python_full_version >= "3.6.0" and python_version >= "3.8" and python_version < "3.10" and python_full_version < "4.0.0"
rsa==4.7.2; python_version >= "3.6" and python_version < "4"
six==1.16.0; python_full_version >= "3.7.1" and python_version >= "3.6" and python_version < "3.10" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6") and (python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "2.7") and (python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7")
sqlparse==0.4.1; python_version >= "3.6"
statsd==3.3.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "2.7"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
toolz==0.11.1; python_version >= "3.7"
typing-extensions==3.10.0.2; python_version >= "3.7"
typing-inspect==0.7.1; python_version >= "3.7"
uritemplate==3.0.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
urllib3==1.26.6; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
vine==5.0.0; python_version >= "3.6"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.6"
whitenoise==5.3.0; python_version >= "3.5" and python_version < "4"
wrapt==1.12.1; python_version >= "2.7"
