amqp==5.1.0; python_version >= "3.7"
analytics-python==1.4.0
anyascii==0.3.0; python_version >= "3.7"
asgiref==3.5.0; python_version >= "3.7"
atomicwrites==1.4.0; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.4.0"
attrs==20.3.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
autopep8==1.6.0; python_version >= "3.6"
backoff==1.10.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
beautifulsoup4==4.9.3; python_version >= "3.7"
billiard==3.6.4.0; python_version >= "3.7"
cached-property==1.5.2; python_version >= "3.7"
cachetools==5.0.0; python_version >= "3.7" and python_version < "4.0" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
celery-progress==0.1.2
celery==5.2.3; python_version >= "3.7"
certifi==2021.10.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cffi==1.15.0; python_version >= "3.6"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3"
click-didyoumean==0.3.0; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
click-plugins==1.1.1; python_version >= "3.7"
click-repl==0.2.0; python_version >= "3.7"
click==8.0.4; python_full_version >= "3.6.2" and python_full_version < "4.0.0" and python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0" and platform_system == "Windows"
conditional==1.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1; python_version >= "3.6"
cssselect==1.1.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
decorator==5.1.1; python_version >= "3.5"
defusedxml==0.7.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
deprecated==1.2.13; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.4.0"
dj-database-url==0.5.0
dj-paddle @ git+https://github.com/paddle-python/dj-paddle@8945137c9ff70ae00d519625f81b10d1bc6bf071
django-admin-tools==0.9.2
django-allauth==0.44.0
django-anymail==8.5; python_version >= "3.5"
django-appconf==1.0.5; python_version >= "3.6"
django-celery-beat==2.2.1
django-celery-results==2.3.0
django-clone==3.0.1; python_version >= "3.6"
django-cogwheels==0.3; python_version >= "3.4"
django-cryptography==1.0; python_version >= "3.5"
django-dirtyfields==1.8.1; python_version >= "3.7"
django-filter==2.4.0; python_version >= "3.5"
django-heroicons @ git+https://github.com/geoffbeier/django-heroicons@master
django-heroku==0.3.1
django-hijack==3.1.6
django-invitations==1.9.3
django-modelcluster==5.2; python_version >= "3.7"
django-redis==5.2.0; python_version >= "3.6"
django-safedelete==1.1.2
django-silk @ git+https://github.com/jazzband/django-silk@21a4058c2a758fac687f837cb523175c64c567c3 ; python_version >= "3.6"
django-simple-history @ git+https://github.com/jazzband/django-simple-history@master ; python_version >= "3.7"
django-storages==1.12.3; python_version >= "3.5"
django-tables2==2.4.1
django-taggit==2.1.0; python_version >= "3.7"
django-timezone-field==4.2.3; python_version >= "3.5"
django-treebeard==4.5.1; python_version >= "3.7"
django-turbo-allauth==0.0.9; python_version >= "3.8"
django-turbo-response==0.0.48; python_version >= "3.8"
django-waffle==2.3.0
django==3.2.12; python_version >= "3.6"
djangorestframework==3.13.1; python_version >= "3.6"
draftjs-exporter==2.1.7; python_version >= "3.7"
et-xmlfile==1.1.0; python_version >= "3.7"
future==0.18.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
fuzzywuzzy==0.18.0
google-api-core==2.7.1; python_version >= "3.7" and python_version < "3.11"
google-api-python-client==2.39.0; python_version >= "3.6"
google-auth-httplib2==0.1.0; python_version >= "3.6"
google-auth-oauthlib==0.5.0; python_version >= "3.7"
google-auth==2.6.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.11" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "3.11"
google-cloud-bigquery-storage==2.13.0; python_version >= "3.7"
google-cloud-bigquery==2.34.2; python_version >= "3.6" and python_version < "3.11"
google-cloud-core==2.2.3; python_version >= "3.7" and python_version < "3.11"
google-cloud-language==2.4.1; python_version >= "3.6"
google-cloud-storage==2.1.0; python_version >= "3.7"
google-crc32c==1.3.0; python_version >= "3.6" and python_version < "3.11"
google-resumable-media==2.3.2; python_version >= "3.7" and python_version < "3.11"
googleapis-common-protos==1.55.0; python_version >= "3.6" and python_version < "3.11"
gprof2dot==2021.2.21; python_version >= "3.6"
grpcio-status==1.44.0; python_version >= "3.6" and python_version < "3.11"
grpcio==1.44.0; python_version >= "3.7" and python_version < "3.11"
gunicorn==20.1.0; python_version >= "3.5"
hashids==1.3.1; python_version >= "2.7"
heroku3 @ git+https://github.com/martyzz1/heroku3.py@81c996929e37450e1e65f28eb43fc28533a79048
honeybadger==0.8.0
honeycomb-beeline==2.18.0; python_version >= "2.7"
html5lib==1.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
httplib2==0.20.4; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
ibis-bigquery==2.0.0; python_version >= "3.7"
ibis-framework==2.0.0; python_version >= "3.7"
idna==3.3; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
inflection==0.5.1; python_version >= "3.5"
iniconfig==1.1.1; python_version >= "3.7"
itypes==1.2.0
jinja2==3.0.3; python_version >= "3.6"
jsonpath-ng==1.5.3
kombu==5.2.4; python_version >= "3.7"
l18n==2021.3; python_version >= "3.7"
lark==0.11.3
libhoney==2.0.0; python_version >= "3.5" and python_version < "4"
lxml==4.8.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
markdown2==2.4.2; python_version >= "3.5" and python_version < "4"
markupsafe==2.1.0; python_version >= "3.7"
monotonic==1.6
multipledispatch==0.6.0; python_version >= "3.7"
numpy==1.22.3
oauthlib==3.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
openpyxl==3.0.9; python_version >= "3.7"
packaging==21.3; python_version >= "3.7" and python_version < "3.11"
paddle-client==1.0.0; python_full_version >= "3.5.0" and python_full_version < "4.0.0"
pandas==1.4.1; python_version >= "3.8"
parsy==1.4.0; python_version >= "3.7"
pathvalidate==2.5.0; python_version >= "3.6"
phpserialize==1.3
pillow==9.0.1; python_version >= "3.7"
pluggy==1.0.0; python_version >= "3.7"
ply==3.11
prompt-toolkit==3.0.28; python_full_version >= "3.6.2" and python_version >= "3.7"
proto-plus==1.20.3; python_version >= "3.7" and python_version < "3.11"
protobuf==3.19.4
psutil==5.9.0; python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
psycopg2-binary==2.9.3; python_version >= "3.6"
psycopg2==2.9.3; python_version >= "3.6"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
pyarrow==4.0.1; python_version >= "3.6"
pyasn1-modules==0.2.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6"
pyasn1==0.4.8; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6") or python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
pycodestyle==2.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycparser==2.21; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
pycryptodome==3.14.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pydata-google-auth==1.3.0; python_version >= "3.7"
pygments==2.11.2; python_version >= "3.6"
pyjwt==2.3.0; python_version >= "3.8"
pyparsing==3.0.7; python_version >= "3.6" and python_version < "3.11" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6")
pyquery==1.4.3
pytest-mock==3.7.0; python_version >= "3.7"
pytest==6.2.5; python_version >= "3.6"
python-crontab==2.6.0
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "3.11" or python_version >= "3.8" and python_version < "3.11" and python_full_version >= "3.3.0"
python-levenshtein==0.12.2
python3-openid==3.2.0; python_version >= "3.8"
pytz==2021.3; python_version >= "3.8"
pyyaml==6.0; python_version >= "3.6"
readtime==1.1.1
redis==4.1.4; python_version >= "3.7"
regex==2022.3.2; python_version >= "3.7"
requests-oauthlib==1.3.1; python_version >= "3.8" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.8"
requests==2.27.1; python_full_version >= "3.6.0" and python_version >= "3.8" and python_version < "3.11" and python_full_version < "4.0.0"
rsa==4.8; python_version >= "3.6" and python_version < "4" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.6")
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" and python_version < "3.11" or python_full_version >= "3.6.0" and python_version >= "3.7" and python_version < "3.11"
soupsieve==2.3.1; python_version >= "3.7"
sqlparse==0.4.2; python_version >= "3.6"
statsd==3.3.0; python_version >= "3.5" and python_version < "4"
tablib==3.2.0; python_version >= "3.7"
telepath==0.2; python_version >= "3.7"
toml==0.10.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
toolz==0.11.2; python_version >= "3.7"
uritemplate==4.1.1; python_version >= "3.6"
urllib3==1.26.8; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
vine==5.0.0; python_version >= "3.7"
wagtail==2.16.1; python_version >= "3.7"
wagtailmenus==3.0.2; python_version >= "3.4"
wcwidth==0.2.5; python_full_version >= "3.6.2" and python_version >= "3.7"
webencodings==0.5.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
whitenoise==6.0.0; python_version >= "3.7"
willow==1.4.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
wrapt==1.14.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
xlrd==2.0.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7" and python_full_version >= "3.6.0"
xlsxwriter==3.0.3; python_version >= "3.7"
xlwt==1.3.0; python_version >= "3.7"
