
<p id="credit-exception" class="mt-12">
  Computing this node will spend 
    <span class='cursor-help'
      x-tooltip="You will only spend credits on unique values that haven't been analysed before.">
      <strong>{{object.uses_credits}}</strong>
    </span>
  credits. 
  <form class='items-center' method='POST', action="{% url 'nodes:credit-confirmation' object.id %}">
    {% csrf_token %}

    <p class='flex flex-row'>
      <label class="input__help-text" for='always_use_credits'>Always use credits for this node</label>
      <input class='ml-2' id='always_use_credits' 
        name='always_use_credits' type='checkbox'
        {% if object.always_use_credits %}checked{% endif%}
       />
    </p>

    <button type='submit' class="button">Confirm</button>
    
  </form>
</p>