<h2>You are about to exceed your credit limit</h2>
<p class="mt-12">
  This action requires <strong>{{node.uses_credits}}</strong> credits.
</p>
{% with node.workflow.project.team as team%}
  <p>
    You have already used
    <strong>{{team.current_credit_balance}}</strong> of
    your <strong>{{ team.credits }}</strong> credits.   
  </p>
  <p>
    Please 
    <a class='link' href="{% url 'teams:account' team.id%}" data-turbo-frame="_top">
      upgrade
    </a> or wait until the monthly reset!
  </p>
{% endwith %}