<!-- https://docs.djangoproject.com/en/2.2/_modules/django/forms/boundfield/#BoundField -->
{% for bound_field in form.visible_fields %}
<div class="input-group">
  {% if bound_field.subwidgets|length == 1 %}
  <label>
    <span>
      {{ bound_field.label }}
      {% if not bound_field.field.required %}<small><i>- optional</i></small>{% endif %}
    </span>

    {{ bound_field }}
  </label>
  {% else %}
  <label for="{{ bound_field.id_for_label }}">{{ bound_field.label }}</label>
  {{ bound_field }}
  {% endif %}

  <p class=" input__help-text">{{ bound_field.help_text }}</p>

  {% if not form.is_live %}
  {{ bound_field.errors }}
  {% endif %}
</div>
{% endfor %}

{% for error in form.non_field_errors %}
<p class="text-red">
  {{error|escape}}
</p>
{% endfor %}

{% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}
