{% load static %}
<div class="guide">
  <h1 class="guide__h1">Setting up a Google Sheets connection</h1>

  <p class="guide__p">Google Sheets connections are simple to set up, the only thing that needs to happen is to share
    the sheets URL and give us access to it.</p>
  <p class="guide__p">We'll guide you through the steps to get your sheets connected.</p>

  <h2 class="guide__h2">Step 1</h2>
  <p class="guide__p">Open the Google Sheets file that you intend to connect and copy the URL into the URL input field
    on this page.</p>
  <img class="guide__img" src="{% static 'images/guides/sheets/sheets-url.png' %}" alt="sheets-url">

  <h2 class="guide__h2">Step 2</h2>
  <p class="guide__p">Now we need to sort out the access to the file. We accomplish this by sharing the sheet file with
    the following email:</p>
  <p class="guide__p"><span class="guide__highlight">{{ service_account }}</span></p>

  <p class="guide__p">To give access to this account first locate the <strong>Share</strong> button on the Google Sheets
    page and click it.</p>
  <img class="guide__img guide__img--s" src="{% static 'images/guides/sheets/sheets-share-button.png' %}"
       alt="sheets-button">

  <p class="guide__p">In the modal that opens paste the email and make sure to give it <strong>Viewer</strong> access.
  </p>
  <img class="guide__img" src="{% static 'images/guides/sheets/sheets-share.png' %}" alt="sheets-share">
  <p class="guide__p">Once that is set up hit the <strong>Send</strong> button. If another window pops up to confirm to
    share click <strong>Share anyway</strong>.</p>

  <h2 class="guide__h2"><strong>Optional:</strong> Step 3</h2>
  <p class="guide__p">To select a specific cell range that you want to import you can go to the Google Sheets page with
    your sheet and select the desired range. After selecting the desired range you can copy the value in the top left
    corner into the <strong>Cell range</strong> field on this page.</p>
  <img class="guide__img" src="{% static 'images/guides/sheets/sheets-cell-select.png' %}" alt="sheets-cell-select">
  <p class="guide__p"><strong>Note:</strong> If you want to select a cell range from a specific sheet make sure to add
    the sheet name in front of the cell range followed by a <span class="guide__highlight">!</span>, like so:</p>
  <p class="guide__p"><span class="guide__highlight">My Sheet!B2:C3</span></p>

  <h2 class="guide__h2">Step 4</h2>
  <p class="guide__p">Last part now is to create the integration. We will test access to the sheets to verify the
    connection works. If there is an issue retry the steps, in case you encounter problems please do reach out to us!
  </p>
</div>
