{% extends "web/app/project_settings_base.html" %}
{% load static %}

{% block app %}

<div class="flex flex-row flex-1 overflow-hidden">
  <div class='flex flex-col flex-1 overflow-auto'>
    <h2 class="pad">Connect to data in a Google Sheet</h2>

    <div class='flex flex-col flex-1'>
      <div class="pad" id='create-container'>
        <form id="create-form" method="post" action="{{ request.get_full_path }}" class="form max-w-xl">
          {% csrf_token %}

          {% include "django/forms/default_form.html" %}

          <button type="submit" class="button button--success">
            Create
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class='flex flex-shrink-0 h-full'>
    {% include 'sheets/_guide.html' %}
  </div>
</div>

{% endblock %}
