{% extends "web/app/project_settings_base.html" %}
{% load static %}
{% load help_utils %}

{% block app %}
<div class="flex flex-1 justify-center items-center">
  <div class="flex flex-col max-w-xl">
    <div class="flex flex-col text-center mb-7">
      <h1>Connect a Google Sheet {% link_article 'integrations' 'sheet' %}</h1>
      <p></p>
    </div>

    <p>
      Share the google sheet you want to connect with the following email:
      <pre>{{ service_account }}</pre>
    </p>

    <form method="post" class="mt-7">
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <button type="submit" class="button button--filled button--success w-full">Create</button>
    </form>
  </div>
</div>

{% endblock %}
