{% load humanize %}
{% load static %}

<div data-controller="progress-bar"
      data-progress-bar-task-url-value="{% url 'celery_progress:task_status' sync_task_id %}"
      data-progress-bar-script-url-value="{% static 'celery_progress/celery_progress.js' %}">
  <div class="progress-inprogress">
    <p><i class="fad fa-spinner-third fa-spin"></i> Syncing, you'll get an email when it is ready</p>
  </div>
  <div class='progress-wrapper'>
    <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
  </div>
  <p id="progress-bar-message">Waiting for sync to start...</p>
  <div class="progress-success">
    <button class="button button--sm button--filled" onclick="window.location.reload();">
      <i class="far fa-sync"></i> Reload to see results
    </button>
  </div>
</div>
