{% load humanize %}
{% load static %}

{% if out_of_date %}
    <p>This Google Sheet was updated since the last sync.</p>
{% else %}
    <p>You've already synced the latest data.</p>
{% endif %}

<a class="link" href="{% url 'project_integrations:configure' object.integration.project.id object.integration.id %}" data-turbo-frame="_top">
    {% if object.integration.state == 'load' %}
        <p>View import in progress.</p>
    {% else %}
        <p>Import the latest data.</p>
    {% endif %}
</a>
