{% load humanize %}
{% load static %}

last synced at <strong>{% include 'columns/natural_datetime.html' with datetime=object.succeeded_at|default_if_none:object.drive_file_last_modified_at_sync %}</strong>

{% if not object.up_to_date_with_drive %}
    • <a class="link" href="{% url 'project_integrations:configure' object.integration.project.id object.integration.id %}" data-turbo-frame="_top">
        sync the latest data
    </a>
{% elif object.integration.state == 'load' %}
     • <a class="link" href="{% url 'project_integrations:configure' object.integration.project.id object.integration.id %}" data-turbo-frame="_top">
        syncing
    </a>
    <i class="fad fa-fw fa-spinner-third fa-spin text-blue"></i>
{% elif object.integration.state == 'error' %}
     • {% if object.retry_limit_exceeded %}
        <span class="text-red">latest sync failed, retry limit exceeded</span>
    {% else %}
        <span class="text-red">latest sync failed</span>
    {% endif %}
{% endif %}
