{% load humanize %}
{% load static %}

{% if out_of_date %}
    <p>This Google Sheet was updated since the last sync.</p>

    {% if not object.is_syncing %}
        <form class="my-2" method="post" action="{% url 'sheets:status' object.id %}" data-turbo-frame="_top">
        {% csrf_token %}
        <button class="button button--sm button--filled" type="submit">Sync</button>
        </form>
    {% else %}
        <a href="{% url 'project_integrations_sheets:detail' object.project.id object.id %}" data-turbo-frame="_top">See the sync progress.</a>
    {% endif %}
{% else %}
    <p>You've already synced the latest data.</p>
{% endif %}
