{% extends 'widgets/widget_base.html' %}

{% block widget.id %}control-widget-{{ object.id }}{% endblock widget.id %}
{% block widget.templateId %}control-widget-{{ object.id }}{% endblock widget.templateId %}

{% block widget.attrs %}
  data-is-control="true"
{% endblock widget.attrs %}

{% block widget %}
  <div class="flex flex-col flex-1 gap-5 justify-center items-center">
    <span>
      <i class="fa fa-calendar text-black-50 mr-2"></i>
      {{ control.get_date_range_display }}
    </span>

    {% if control.date_range == "custom" %}
    <div class="flex gap-8">
      <span class="flex flex-col">
        {% if control.start %}Start <strong>{{ control.start }}</strong>{% endif %}
      </span>

      <span class="flex flex-col">
        {% if control.end %}End <strong>{{ control.end }}</strong>{% endif %}
      </span>
      </div>
    {% endif %}
  </div>
{% endblock widget %}

{% block widget.commands %}
  <button  
    class="widget-card__button"
    x-tooltip="Edit"
    data-action="click->tf-modal#open"
    id="widget-update-{{ control.id }}"
    data-modal-item="{{ control.id }}"
    data-modal-src="
    {% if is_public %}
      {% url 'dashboard_controls:update-public' project.id dashboard.id control.id %}
    {% else %}
      {% url 'dashboard_controls:update-widget' project.id dashboard.id control.id %}?mode={{ request.GET.mode }}
    {% endif %}"
    data-modal-id="controls:update-widget"
    {% if request.GET.modal_item == control.id|stringformat:"i" %}
    data-tf-modal-target="onParam"
    {% endif %}
    data-modal-classes="tf-modal--auto"
  >
    <i class="fas fa-fw fa-edit"></i>
  </button>

  {% if not is_public and request.GET.mode != 'view' %}
    <form
      x-tooltip="Delete"
      hx-post="{% url 'dashboard_controls:delete-widget' project.id dashboard.id object.id %}"
      hx-swap="delete" hx-target="#control-widget-{{ object.id }}"
    >
      {% csrf_token %}

      <button
        class="widget-card__button"
        id="control-widget-delete-{{ object.id }}"
      >
        <i class="fas fa-fw fa-trash cursor-pointer"></i>
      </button>
    </form>
  {% endif %}
{% endblock widget.commands %}