{% extends 'widgets/widget_base.html' %}

{% block widget.id %}control-widget-{{ object.id }}{% endblock widget.id %}

{% block widget.attrs %}
  data-is-control="true"
  data-controller="popover"
  data-placement="top-start"
  data-theme="popover-control"
{% endblock widget.attrs %}

{% block widget %}
  <div class="flex flex-col flex-1 gap-5 justify-center items-center">
    <span>
      <i class="fa fa-calendar text-black-50 mr-2"></i>
      {{ control.get_date_range_display }}
    </span>

    {% if control.date_range == "custom" %}
    <div class="flex gap-8">
      <span class="flex flex-col">
        {% if control.start %}Start <strong>{{ control.start }}</strong>{% endif %}
      </span>

      <span class="flex flex-col">
        {% if control.end %}End <strong>{{ control.end }}</strong>{% endif %}
      </span>
      </div>
    {% endif %}
  </div>
{% endblock widget %}

{% block widget.commands %}
  <button
    class="widget-card__button"
    data-controller="tooltip"
    data-tooltip-content="Edit"
    data-popover-target="trigger"
  >
    <i class="fas fa-fw fa-edit"></i>
  </button>

  {% if not is_public and request.GET.mode != 'view' %}
    <form
      data-controller="tooltip"
      data-tooltip-content="Delete"
      method="POST"
      action="{% url 'dashboard_controls:delete-widget' project.id dashboard.id object.id %}"
    >
      {% csrf_token %}

      <button
        class="widget-card__button"
        id="control-widget-delete-{{ object.id }}"
      >
        <i class="fas fa-fw fa-trash cursor-pointer"></i>
      </button>
    </form>
  {% endif %}
{% endblock widget.commands %}

{% block widget.extra %}
  <div class="control-popover" data-popover-target="body">
    <turbo-frame id="controls:update-widget"
      src="
      {% if is_public  %}
        {% url 'dashboard_controls:update-public' project.id dashboard.id control.id %}
      {% else %}
        {% url 'dashboard_controls:update-widget' project.id dashboard.id control.id %}?mode={{ request.GET.mode }}
      {% endif %}"
    ></turbo-frame>
  </div>
{% endblock widget.extra %}