<div
  class="collapsable flex flex-col max-h-0 overflow-hidden"
  data-collapsable-target="body"
>
  <div class="flex flex-col gap-3 pt-4">
    <div
      id="control-widget"
      class="dashboard-sidebar__item w-full cursor-draggable"
      ondragstart="event.dataTransfer.setData('application/gycontrol', '1');event.dataTransfer.effectAllowed = 'move';"
      draggable="true"
    >
      <i class="dashboard-sidebar__icon fas fa-fw fa-lg fa-calendar mr-2"></i>
      <p class="dashboard-sidebar__name">Date control</p>
      <i class="fas fa-fw fa-grip-vertical fa-sm text-black-10"></i>
    </div>
  </div>
</div>

