{% load crispy_forms_tags %}

<form
  id="control-update-form"
  {% if is_public %}
    hx-post="{% url 'dashboard_controls:update-public' project.id dashboard.id object.id %}"
  {% else %}
    hx-post="{% url 'dashboard_controls:update-widget' project.id dashboard.id object.id %}"
  {% endif %}
  hx-swap="outerHTML"
  class="form--no-layout pad"
>
  {% csrf_token %}

  {% crispy form %}

  <button
    class="button button--success button--sm mt-3 w-full"
    name="submit"
    type="submit"
    value="Save & Close"
  >
    Apply
  </button>
</form>