<form
  id="control-update-form"
  data-controller="live-update"
  data-tf-modal-target="form"
  data-tf-modal-submit-on-close
  data-action="change->tf-modal#change"
  hx-post="{% if is_public %}
    {% url 'dashboard_controls:update-public' project.id dashboard.id object.id %}
  {% else %}
    {% url 'dashboard_controls:update-widget' project.id dashboard.id object.id %}
  {% endif %}"
  class="form--no-layout pad"
>
  {% csrf_token %}
  
  <span data-live-update-target="loading" hidden>
    <i class="placeholder-scr__icon fad fa-spinner-third fa-spin fa-fw fa-2x"></i>
  </span>

  {{ form }}

  <button
    class="button button--success button--sm mt-3 w-full"
    name="submit"
    type="submit"
    value="Save &amp; Close"
    data-action="click->tf-modal#forceClose"
  >
    Apply
  </button>
</form>