<!-- https://docs.djangoproject.com/en/2.2/_modules/django/forms/boundfield/#BoundField -->
{% if form.form_description %}
<div class="form__description">{{ form.form_description }}</div>
{% endif %}

<div class="input-group">
{% for bound_field in form.visible_fields %}
  {% if bound_field.widget_type == "palettecolors" %}
  <label>
    <span>
      {{ bound_field.label }}

      {% if bound_field.help_text %}
      <p class="input__help-text">{{ bound_field.help_text }}</p>
      {% endif %}
    </span>
  </label>

  <div class="palette-colors">{{ bound_field }}</div>
  {% elif bound_field.widget_type == "checkbox" %}
  <label class="flex flex-row items-center gap-4">
    {{ bound_field }}
    
    <span>
      {{ bound_field.label }}

      {% if bound_field.help_text %}
      <p class="input__help-text">{{ bound_field.help_text }}</p>
      {% endif %}
    </span>
  </label>
  {% elif bound_field.subwidgets|length == 1 %}
  <div class="label">
    <label for="{{ bound_field.id_for_label}}">
      <span>
        {{ bound_field.label }}

        {% if not bound_field.field.required and not optional == False %}
        <span class="text-black-50">- optional</span>
        {% endif %}

        {% if bound_field.help_text %}
        <p class="input__help-text">{{ bound_field.help_text }}</p>
        {% endif %}
      </span>
    </label>

    <div class="flex flex-row-reverse">
      {% if bound_field.field.widget.attrs.unit_suffix %}
      <div class="label__unit">
        <p>{{ bound_field.field.widget.attrs.unit_suffix }}</p>
      </div>
      {% endif %}

      {{ bound_field }}
    </div>
  </div>
  {% else %}
  <div class="label">
    <label for="{{ bound_field.id_for_label }}">
      {{ bound_field.label }}

      {% if bound_field.help_text %}
      <p class="input__help-text">{{ bound_field.help_text }}</p>
      {% endif %}
    </label>

    {{ bound_field }}
  </div>
  {% endif %}

  {% if not form.is_live %}
  {{ bound_field.errors }}
  {% endif %}
  {% endfor %}
</div>

{% for label, formset in formsets.items %}
<fieldset>
  <label>{{ label }}</label>
  {% include "components/formset.html" with formset=formset %}
</fieldset>
{% endfor %}

{% for error in form.non_field_errors %}
<p class="text-red">
  {{ error|escape }}
</p>
{% endfor %}

{% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}
