{% comment %} https://docs.djangoproject.com/en/4.0/ref/forms/api/#attributes-of-boundfield {% endcomment %}
{% if form.form_description %}
  <div class="form__description">{{ form.form_description }}</div>
{% endif %}

{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

<div class="input-group">
  {% for bound_field in form.visible_fields %}
    {% if bound_field.name in form.extra_fields %}
      {% comment %} Skip rendering extra_fields, they are rendered later {% endcomment %}
    {% elif bound_field.widget_type == "connectorschemamultiselect" %}
      <div
        data-controller="multi-select"
        class="w-full {{ bound_field.field.widget.attrs.class }}"
      > 
        <div class="flex items-center gap-2 flex-row float-right">
          <p class="text-black-50 small">Select:</p>
          <a
            class="link small"
            data-action="click->multi-select#checkAllInputs"
          >
            All
          </a>
          <p>|</p>
          <a
            class="link small"
            data-action="click->multi-select#uncheckAllInputs"
          >
            None
          </a>
        </div>

        <label>
          {{ bound_field.label }}

          {% if bound_field.help_text %}
          <p class="input__help-text">{{ bound_field.help_text }}</p>
          {% endif %}
        </label>

        {{ bound_field }}
      </div>
      {{ bound_field.errors }}
    {% else %}
      {% include 'django/forms/field.html' with field=bound_field %}
    {% endif %}
  {% endfor %}

  {% if form.extra_fields %}
    <details class="form__extra">
      <summary>
        <p class="link small cursor-pointer">
          <i class="fas fa-fw fa-angle-down"></i> Advanced
        </p>
      </summary>

      <div
        class="input-group"
      >
        {% for bound_field in form.visible_fields  %}
          {% if bound_field.name in form.extra_fields %}
            {% include "django/forms/field.html" with field=bound_field %}
          {% endif %}
        {% endfor %}
      </div>
    </details>
  {% endif %}
</div>

{% for label, formset in form.get_formsets.items %}
  <fieldset>
    <label>{{ label }}</label>

    {% include "components/formset.html" with formset=formset %}
  </fieldset>
{% endfor %}

{% for error in form.non_field_errors %}
  <p class="text-red">
    {{ error|escape }}
  </p>
{% endfor %}