{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}

<div class="input-group">
  {% for bound_field in form.visible_fields %}
    {% if bound_field.name in form.extra_fields %}
      {% comment %} Skip rendering extra_fields, they are rendered later {% endcomment %}
    {% else %}
      {% include 'django/forms/field.html' with field=bound_field %}
    {% endif %}
  {% endfor %}

  {% if form.extra_fields %}
    <details class="form__extra">
      <summary>
        <p class="link small cursor-pointer">
          <i class="fas fa-fw fa-angle-down"></i> Advanced
        </p>
      </summary>

      <div
        class="input-group"
      >
        {% for bound_field in form.visible_fields  %}
          {% if bound_field.name in form.extra_fields %}
            {% include "django/forms/field.html" with field=bound_field %}
          {% endif %}
        {% endfor %}
      </div>
    </details>
  {% endif %}
</div>

{% for label, formset in form.get_formsets.items %}
  <fieldset>
    <label>{{ label }}</label>

    {% include "components/formset.html" with formset=formset %}
  </fieldset>
{% endfor %}

{% for error in form.non_field_errors %}
  <p class="text-red">
    {{ error|escape }}
  </p>
{% endfor %}