{% if field %}
  <div
    class="label {{ field.field.widget.attrs.class }}"
    {% if field.field.initial %}
      x-data="{ changed: false, initial: '{{ field.field.initial }}', target: null }"
      @change="target = $event.target; if (target.value !== initial) changed = true"
    {% endif %}
  >
    <label
      {% if field.field.widget.widgets|length == 0 %}
        for="{{ field.id_for_label }}"
      {% endif %}
    >
      <span class="block">
        {{ field.label }}

        {% comment %} TODO: Figure out better "optional" solution {% endcomment %}
        {% comment %} {% if not field.field.required and not optional == False %}
          <span class="text-black-50">- optional</span>
        {% endif %} {% endcomment %}

        <a
          class="small link float-right"
          {% if field.field.initial %}x-show="changed"{% else %}style="display: none;"{% endif%}
          @click.prevent="target.value = initial; changed = false"
        >
          Reset to default
        </a>
      </span>

      {% if field.help_text %}
        <p class="input__help-text">
          {{ field.help_text }}
        </p>
      {% endif %}
    </label>

    {% if bound_field.field.widget.attrs.unit_suffix %}
      <div class="flex flex-row-reverse mt-auto">
        <div class="label__unit">
          <p>{{ bound_field.field.widget.attrs.unit_suffix }}</p>
        </div>
        
        {{ field }}
      </div>
    {% else %}
      {{ field }}
    {% endif %}

    {{ field.errors }}
  </div>
{% endif %}