{% load admin_utils %}

{% if user.is_superuser %}
  <a
    class="sidebar__link sidebar__link--border"
    href="{{ object|admin_url }}"
    data-turbo="false"
  >
    <i class="fas fa-fw fa-user-cog {% if object|admin_url_found %}text-blue{% endif %}"></i>
    {% if object|admin_url_found %}
      Admin: <strong class="text-blue"> {{ object|verbose_name|capfirst }}</strong>
    {% else %}
      Admin
    {% endif %}
  </a>
{% elif user.is_hijacked %}
  <form
    class="form--no-layout"
    method="POST"
    action="{% url 'hijack:release' %}"
    data-turbo="false"
  >
    {% csrf_token %}

    <input type="hidden" name="next" value="{{ object|admin_url }}" />

    <button type="submit">
      <div class="sidebar__link sidebar__link--border">
        <i class="fas fa-fw fa-user-cog {% if object|admin_url_found %}text-blue{% endif %}"></i>

        {% if object|admin_url_found %}
          Admin: <strong class="text-blue"> {{ object|verbose_name|capfirst }}</strong>
        {% else %}
          Admin
        {% endif %}
      </div>
    </button>
  </form>
{% endif %}