{% comment %}
  Downloaded from https://feedback.gyana.com/admin/c
  Needs to do at the end of the document due to a bug.
{% endcomment %}

<script src="https://cl.hellonext.co/HNChangelogWidget.js"></script>

<script>
HNChangelogWidget.init({
    token: "VNnpegNOFM_ykJxlhmJpOQ",
    selector: "#changelogWidgetID", // Widget will open up when this element is clicked
    placement: "left", // Optional: Placement of the element when selector is used
    enableIndicator: true, // Optional: Enables an indicator if a new update has been posted in last 7 days
  });
</script>