{% load static %}
<div class="m-8 h-full">
  <div class="container flex h-full items-center justify-center max-w-6xl">
    <div class="w-1/2 px-4">
      <h1 class="title">{{ project_meta.NAME }}</h1>
      <h2 class="subtitle py-2">{{ project_meta.DESCRIPTION }}</h2>

      <div class="flex items-center space-x-4 my-2">
        <a href="{% url 'account_signup' %}" class="button button--filled">
          Create account
        </a>
        <a href="{% url 'account_login' %}" class="button">
          Sign in
        </a>
      </div>
    </div>
    <div class="w-1/2">
      <img src="{% static 'images/undraw/undraw_outer_space.svg' %}" alt="Fly Away!">
    </div>
  </div>
</div>