{% load static heroicons site_tags random_utils %}

<style>

  {% for i in '0123456789'|make_list %}
    .animate-logo-{{ i }} {
      animation: float {% random_int 6 12 %}s ease-in-out {% random_int -3 3 %}s infinite;
    }
  {% endfor %}

  {% for i in '0123456789'|make_list %}
    .animate-number-{{ i }} {
      animation: float {% random_int 6 12 %}s ease-in-out {% random_int -3 3 %}s infinite;
    }
  {% endfor %}

  {% comment %} {% for i in '0123456789'|make_list %}
    .animate-chart-{{ i }} {
      animation: float {% random_int 6 12 %}s ease-in-out {% random_int -3 3 %}s infinite;
    }
  {% endfor %} {% endcomment %}

  .animate-report {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {
    0%, 100% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(5px);
    }
  }
</style>

{% include 'web/site/home/landing.svg' %}