<nav class="navbar">
  <a class="h2 navbar__title navbar__title {% if request.path == '/' %}border-b-2 border-blue-700{% endif %} hover:text-blue-500"
     href="{% url 'web:home' %}">
    {{project_meta.NAME}}
  </a>

  {% comment %} <div class="navbar__menu">
    <a class="navbar__item {% if 'projects' in request.resolver_match.route %} navbar__item--active {% endif %}"
       href="{% url 'single_team:projects:list' team.slug|default_if_none:project.team.slug %}">Projects</a>
  </div> {% endcomment %}

  <div class="navbar__menu">
    <a class="button button--tertiary button--circle" href="https://gyana.com/">
      <i class="fas fa-fw fa-question"></i>
    </a>

    <a class="button button--tertiary button--sm" href="{% url 'users:user_profile' %}">
      {{ user.username }}
      <img src="{{ user.avatar_url }}" alt="">
    </a>
  </div>
</nav>
