{% load static %}

<div class="sidebar-container">
  <input type="checkbox" id="project-sidebar-toggle" role="button" checked hidden>
  <label for="project-sidebar-toggle">
    <i class="fas fa-fw fa-sm fa-chevron-right"></i>
  </label>

  <nav class="project__sidebar">
    <div class="sidebar__title">
      <a class="h3 text-blue uppercase" href="{% url 'web:home' %}" title="View all your projects"><img
             src="{% static 'images/logo.png' %}" alt="">Gyana</a>
    </div>
  </nav>
</div>
