// Navigational sidebar present throughout the site.
//
// Use is slightly complicated, see 
// `web/templates/web/base.html` for detailed implementation.
.sidebar {
  background-color: var(--c-white);
  display: flex;
  flex-flow: column-reverse;
  border-right: 1px solid var(--c-gray);

  &__body {
    display: flex;
    flex-flow: column;
    overflow: auto;
    width: 18rem;
    list-style-type: none;
    flex: 1 1 0%;
  }

  &__item {
    border-left: 0.6rem solid var(--c-transparent);
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1.6rem 1.6rem 1.6rem 1rem;
    text-align: left;
  }

  &__link {
    border-left: 0.6rem solid var(--c-transparent);
    color: var(--c-black);
    font-size: 1.4rem;
    display: block;
    height: 4.8rem;
    line-height: 1.6rem;
    padding: 1.6rem 1.6rem 1.6rem 1rem;
    text-align: left;

    .team_logo {
      align-items: center;
      background-color: var(--c-transparent);
      border-radius: 5px;
      color: var(--c-black);
      display: inline-flex;
      font-weight: 900;
      height: 2.4rem;
      justify-content: center;
      line-height: 2.4rem;
      margin-left: -0.325rem;
      margin-right: 1.275rem;
      margin-top: -0.65rem;
      padding: 0.2rem 0 0;
      width: 2.4rem;
    }

    &--active {
      border-color: var(--c-blue);
      background-color: var(--c-gray-10);
      color: var(--c-blue);
      font-weight: 500;

      .team_logo {
        background-color: var(--c-blue-10);
        color: var(--c-blue);
      }

      .fa-fw {
        font-weight: 900;
      }
    }

    &:hover {
      background-color: var(--c-gray-10);
    }

    img {
      border-radius: 100%;
      display: inline;
      margin-right: 1.5rem;
      width: 1.75rem;
      min-width: 1.75rem;
    }
  }

  &__bar {
    position: relative;

    &::after {
      background-color: var(--c-gray);
      content: '';
      height: 1.6rem;
      left: 2.3rem;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 0.3rem;
    }
  }

  &__title {
    align-items: center;
    border-bottom: 1px solid var(--c-gray);
    display: flex;
    height: 4.8rem;
    min-height: 4.8rem;
    padding: 0 1rem;

    :first-child {
      align-items: center;
      display: flex;
      overflow: hidden;
      white-space: pre;
    }

    img {
      display: inline;
      margin-right: 1.6rem;
      min-width: 2.8rem;
      width: 2.8rem;
    }
  }

  label[for='sidebar-toggle'] {
    cursor: pointer;
    display: block;

    i::before {
      content: '\f054';
    }
  }
}

#sidebar-toggle ~ .sidebar__body {
  overflow: hidden;
  transition: width 0.25s ease;
  white-space: nowrap;
  width: 4.8rem;
}

// Swaps the icon of the sidebar toggle to the opposite chevron.
#sidebar-toggle:checked ~ .sidebar__body label[for='sidebar-toggle'] i::before {
  content: '\f053';
}

#sidebar-toggle:checked ~ .sidebar__body {
  width: 18rem;
}
