@use '../../base/styles/utilities/mixins';
@use 'components';

// Overriding the default sizing scale of the rest of the app to ensure tailwind
// works properly.
:root {
  font-size: 100%;
}

body {
  display: block;
  // Overriding the _base.scss font-size: 1.6em
  font-size: 100%;
  line-height: 1.5;
}

// https://github.com/tailwindlabs/tailwindcss/issues/1692
.bg-white-opacity-10 {
  background: rgba(255, 255, 255, 0.1);
}

// Hero fade

.fade-bottom:after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 24%;
  width: 100%;
  pointer-events: none;
  background: linear-gradient(0deg, #fafafa 2.52%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.hero-demo {
  height: 24rem;

  @include mixins.respond-to(lg) {
    height: 32rem;
  }

  @include mixins.respond-to(xl) {
    height: 48rem;
  }

  &--expand {
    height: 32rem;

    @include mixins.respond-to(lg) {
      height: 48rem;
    }

    @include mixins.respond-to(xl) {
      height: 64rem;
    }
  }
}

// Integrations animation
.fade-left:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(90deg, white 2.52%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

.fade-right:after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 24%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(270deg, white 2.52%, rgba(255, 255, 255, 0) 100%);
  z-index: 2;
}

// Workflows animation
.react-flow__edge.animated path {
  animation: dashdraw-40 0.5s linear infinite !important;
}

@keyframes dashdraw-40 {
  0% {
    stroke-dashoffset: 40;
  }
}

.integration-demo {
  height: 18rem;

  @include mixins.respond-to(lg) {
    height: auto;
  }
}

.workflow-demo {
  height: 28rem;

  @include mixins.respond-to(lg) {
    height: auto;
  }
}

.dashboard-demo {
  height: 34rem;

  @include mixins.respond-to(lg) {
    height: auto;
  }
}

.agency-monitoring {
  animation: 40s linear 0s infinite normal none running agency-monitoring-slide;
}

@keyframes agency-monitoring-slide {
  100% {
    transform: translateX(-100%);
  }
}

.text-poppins {
  font-family: 'Poppins';
}

.text-caveat {
  font-family: 'Caveat';
}

.logo {
  max-width: 128px;
  @media (min-width: 768px) {
    max-width: 160;
  }
}
