<div class="formset-wrapper {% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}" {% if form.DELETE.value %}
  style="display: none;" {% endif %}
  data-formset-index="{{ forloop.counter0 }}"
>
  
  {% if formset.names %}
    {% with forloop.counter0 as index  %}
      <span class="text-black-50">{{ formset.names|list_item:index }}</span>
    {% endwith %}
  {% endif %}

  {% include "django/forms/default_form.html" with formsets=None%}

  {% if not formset.hide_delete_button %}
    <button
      class="button button--sm button--circle button--tertiary ml-4" 
      type="submit"
      data-action="click->formset#remove"
    >
      <i class="far fa-fw fa-times"></i>
    </button>
  {% endif %}
</div>
