<div class="formset-wrapper {% cycle 'row1' 'row2' %} formset_row-{{ formset.prefix }}" {% if form.DELETE.value %}
    style="display: none;" {% endif %}
    data-formset-index="{{ forloop.counter0 }}">
    {# Include the hidden fields in the form #}
    {% if formset.names %}
      {% with forloop.counter0 as index  %}
        <span class="text-black-50">{{ formset.names|list_item:index }}</span>
      {% endwith %}
    {% endif %}

    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}
    
    
    {% for field in form.visible_fields %}
    <label
        {% if field.name == 'DELETE' %}style="display: none;" {% endif %}
        {% if field.widget_type == 'checkbox' %}class="input__toggle"{% endif %}
    >
        {% if field.help_text %}
        <p class="input__help-text">
          {{ field.help_text }}
          {% if not field.field.required and field.name != 'ascending'%} - optional{% endif %}
        </p>
        {% endif %}

        {% if not form.is_live %}
        {{ field.errors.as_ul }}
        {% endif %}

        {{ field }}
    </label>
    {% endfor %}

    {% if not formset.hide_delete_button %}
      <button class="button button--sm button--circle button--tertiary ml-4" type="button"
              data-action="click->formset#remove">
          <i class="far fa-fw fa-times"></i>
      </button>
    {% endif %}
</div>
