{% load static %}

<div data-controller="formset" data-formset-prefix-value="{{ formset.get_default_prefix }}">
  {% comment %}
  `formset.empty_form` is an empty form with a `__prefix__` placeholder
  {% endcomment %}

  <template data-formset-target="template">
    {% include 'components/formset_row.html' with form=formset.empty_form %}
  </template>

  {{ formset.management_form }}
  <div data-formset-target="target">
    {% for form in formset.forms %}
      {% include 'components/formset_row.html' with form=form %}
    {% endfor %}
  </div>

    <button 
      id="{{ formset.get_default_prefix }}-add" 
      type="submit" class="button button--sm button--rounded  " 
      data-action="click->formset#add"
      {% if formset.can_add == False %}disabled{% endif %}
      
    >
      <i class="far fa-fw fa-plus"></i> Add new
    </button>
</div>

{{ formset.media }}