<div
  class="placeholder-scr placeholder-scr--fillscreen"
  data-controller="to-clipboard"
>
  <div class="flex flex-col">
    <div class="flex items-center gap-3 mb-8">
      <i class="fa fa-exclamation-triangle text-red fa-2x"></i>
      <p>Something went wrong</p>
    </div>

    <section class="mb-8 max-w-xl">
      <p class="mb-8 max-w-xl">
        You can try refreshing,
        if the problem persists contact
        <a class='link' href='mailto: support@gyana.com'>
          support@gyana.com
        </a>
        for support.
      </p>
  
      <details>
        <summary class="small cursor-pointer">Show more information</summary>
        
        <pre data-to-clipboard-target="target" class="mt-8">
          {{ error }}
        </pre>
      </details>
    </section>
    
    <hr class="mb-8">

    <div class="flex gap-3">
      <button
        class="button button--sm button--tertiary"
        onclick="window.location.reload()"
      >
        <i class="far fa-sync"></i> Refresh
      </button>

      <button
        class="button button--sm button--tertiary"
        data-action="to-clipboard#copy"
      >
        <i class="fa fa-clipboard"></i> Copy error to clipboard
      </button>
    </div>
  </div>
</div>