{% load static %}
<div class="my-8">
  <div class="container flex items-center">
    <div class="w-1/2 px-4">
      <h1 class="title">{{ project_meta.NAME }}</h1>
      <h2 class="subtitle py-2">{{ project_meta.DESCRIPTION }}</h2>
      <div class="flex items-center space-x-4 my-2">
        <a href="{% url 'account_signup' %}" class="button is-primary text-2xl">
          Create account
        </a>
        <a href="{% url 'account_login' %}" class="button is-primary is-outlined text-2xl">
          Sign in
        </a>
      </div>
    </div>
    <div class="w-1/2">
      <img src="{% static 'images/undraw/undraw_outer_space.svg' %}" alt="Fly Away!">
    </div>
  </div>
</div>
