.page-contents {
  border-left: 1px solid var(--c-gray);
  height: min-content;
  padding: 0.2rem 1.6rem;
  position: sticky;
  top: 1.6rem;

  a {
    &:hover {
      color: var(--c-black-50);
    }
  }

  a .fa {
    display: none;
  }
}