.page-navigation {
  display: flex;
  padding: 0 1.6rem 1.6rem;

  &__button {
    align-items: center;
    border: 1px solid var(--c-gray);
    display: flex;
    flex-direction: row;
    flex: 0 0 18rem;
    gap: 1.6rem;
    padding: 1rem;
    
    .fas {
      color: var(--c-black-20);
      flex: 0 0 0%;
    }
    
    > div {
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      gap: 0.4rem;
      height: 100%;
      justify-content: space-between;
    }

    &:hover {
      background: var(--c-gray-50);

      .fas {
        color: var(--c-black);
      }

      span:first-child {
        color: var(--c-blue);
      }
    }

    & + & {
      border-left: none;
    }
  }
}