{% load humanize %}

<div class="metric">
  {% if widget.name %}
  <h4 class="metric__title">{{ widget.name }}</h4>
  {% endif %}

  <h2 class="metric__value">
    {% if metric is None %}
      <p>No data found</p>
    {% else %}
      {{ metric|floatformat:widget.rounding_decimal|intcomma }}
    {% endif %}
  </h2>

  <p class="metric__comparison">
  {% if zero_division %}
    No value in previous period
  {% elif change %}
    
      <span class="
        {% if change < 0 and not widget.positive_decrease %}
          text-red
        {% elif change == 0%}
          text-black-50
        {%else%}
          text-green
        {% endif %}">
        <i class="fa 
          {% if change > 0 %}
            fa-arrow-up
          {%elif change == 0 %}
            fa-minus
          {% else %}
            fa-arrow-down
          {% endif %}"
        ></i>
        {{ change|floatformat:2 }}%
      </span>
      <span>compared to previous {{period}}</span>
    
  {% endif %}
  </p>
</div>
