<div style="height:100%;">
  <textarea 
    data-controller='sync-input'
    data-sync-input-id-value='{{object.id}}'
    data-sync-input-field-name-value='text_content'
    data-sync-input-with-debounce-value='true'
    data-sync-input-api-path-value='["widgets","api","partial_update"]'
    data-action='input->sync-input#sync'
    style='height:100%;resize:none;border:none;' 
    placeholder='Start typing your notes here' 
    wrap='soft'
  >{% if object.text_content %}{{object.text_content}}{% endif %}</textarea>
</div>
