{% load heroicons %}

{% with data=content.data %}
  <div class="bg-gray-20 border-b border-gray">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 flex flex-col">
      <div>
        <h2 class="text-3xl font-extrabold text-gray-900">
          {{ data.title }}
        </h2>
        <p class="mt-4 text-lg text-gray-600 max-w-3xl">
          {{ data.summary }}
        </p>
      </div>
      <turbo-frame id="web:search-integrations-demo" data-turbo="true">
        {% include 'web/demo/search_integrations.html' %}
      </turbo-frame>
      <p class="mt-8 text-lg text-gray-600 max-w-3xl flex items-center gap-1">
        <span>
          Learn more about our pre-built and custom integrations
        </span>
        <a href="{% url 'web:integrations' %}">
          {% heroicon 'external-link' class="h-5 w-5" style="solid" %}
        </a>
      </p>
    </div>
  </div>
{% endwith %}