{% load static heroicons site_tags %}

<style>
  .isometric {
    left: 14.5%;
    top: 16%;
    height: 25%;
    width: 25%;
    transform: rotateX(35deg) rotateY(44deg);
  }

</style>

{% with hero=content.hero %}
  <div class="py-8 lg:relative lg:py-32 xl:py-36 overflow-hidden bg-gray-20">
    <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-5">
      <div class="relative flex flex-col justify-center lg:col-span-2">
        <div class="text-center sm:text-left my-6 sm:max-w-xl">
          <p class="mb-4 text-2xl lg:text-3xl font-bold text-caveat text-indigo-600">
            {{ content.seo.title }}
          </p>
          <h1 class="text-3xl font-bold text-gray-900 sm:text-4xl lg:text-5xl">
            {{ hero.title|safe }}
          </h1>
          <h2 class="text-base font-normal mt-4 sm:text-lg text-gray-600">
            {{ hero.summary }}
          </h2>
        </div>

        <div class="my-4 flex justify-center gap-4 sm:justify-start">
          <a href="{% url 'account_signup' %}" class="button button--secondary w-44">
            {{ hero.cta }}
          </a>
          <a href="{% external_url 'request_demo' %}" class="button w-44">
            Book a demo
          </a>
        </div>
      </div>

      <div class="relative flex flex-col items-center mt-12 lg:mt-0 lg:col-span-3">
        {% include 'web/site/use_case/svg/'|add:view.kwargs.id|add:'.svg' %}
      </div>
    </div>
  </div>
{% endwith %}