{% extends "users/landing_base.html" %}
{% load static %}

{% block header %}
<p>
  We'd like to learn a little more about you so we can help you get the most out
  of Gyana.
</p>
{% endblock %}

{% block content %}
<form class="mb-auto" method="post">
  {% csrf_token %}

  {% include "django/forms/default_form.html" %}

  <div class="flex flex-col w-full gap-2">
    <button type="submit" class="button button--primary button--filled w-full">
      Next
    </button>
  </div>
</form>
{% endblock %}

{% block footer %}{% endblock %}