{% load static %}

<fieldset name="{{ widget.name }}" data-controller="node-input">
 {% for option in widget.options %}
  <label 
    data-node-input-target="label"
    class="checkbox checkbox--radio {% if option.id|stringformat:'i' == widget.selected %}checkbox--checked{% endif %}"
    id="{{ option.id }}"
    data-action="click->node-input#select click->tf-modal#preview"
  >
    {% if option.image %}
    <img src="{% static option.image %}" style="width: 1.4rem;">
    {% else %}
    <i class="{{ option.icon }}"></i>
    {% endif %}

    <div>
      {{ option.label }}
      {% if option.usedInWorkflow %}
      <br>
      <p class="small text-black-50">Used in this workflow</p>
      {% endif %}
    </div>
  </label>
  {% endfor %}

  <input 
    data-node-input-target="input"
    id="id_{{ widget.name }}" 
    name="{{ widget.name }}" 
    value="{{ widget.selected }}" 
    type="hidden" 
  />
</fieldset>