:root {
  // Why do we do this? https://css-tricks.com/box-sizing/
  box-sizing: border-box;
  background-color: var(--c-gray-10);
  color: var(--c-black);

  // On an average device this will set the base font size to 10px.
  // This helps tremendously with responsive sizing as we can now use the simple 1rem:10px
  // ratio. Meaning 1.6rem (our standard padding) is 16px, if a device calls for a larger
  // font-size our rem values will increase.
  font-size: 62.5%;

  font-family: Roboto, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  height: 100%;
  line-height: 1;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 1.6em; // Setting font size back to 16px for most cases.
  height: 100%;

  > main {
    display: flex;
    flex: 1 1 0%;
    overflow: hidden;
  }
}

// Common HTML states

// TODO: figure out what to do about .hidden tailwind incompatibility
[hidden],
[class*='--hidden'] {
  // It's considered dangerous to use !important but this needs to override any
  // displays set on the element later in the flow.
  display: none !important;
}

.disabled,
[disabled],
:disabled,
[class*='--disabled'] {
  cursor: not-allowed;
}

[data-action*='click'] {
  cursor: pointer;
}

// Common HTML elements

button {
  &:focus {
    outline: 0;
  }
}

hr {
  color: var(--c-gray);
  margin: 0;
}

vr {
  color: var(--c-gray);
  border-right: 1px solid currentColor;
  height: 100%;
  width: 0;
  margin: 0;
}

abbr[title] {
  text-decoration: underline dotted;
}
