%input {
  background-color: var(--c-white);
  border: 1px solid var(--c-gray);
  border-radius: 6px;
  color: var(--c-black);
  font-size: 1.4rem;
  padding: 1.2rem 0.8rem;
  width: 100%;

  &:focus {
    border-color: var(--c-blue);
    color: var(--c-black);
    outline: none;
  }
}

input[type='submit'] {
  cursor: pointer;
}

input[type='text'] {
  @extend %input;
}

input[type='email'] {
  @extend %input;
}

input[type='password'] {
  @extend %input;
}

input[type='url'] {
  @extend %input;
}

input[type='file'] {
  @extend %input;
}

input[type='number'] {
  @extend %input;
}

input[type='time'] {
  @extend %input;
}

input[type='date'] {
  @extend %input;
}

input[type='datetime-local'] {
  @extend %input;
}

input[type='search'] {
  @extend %input;
}

textarea {
  @extend %input;
}

select {
  @extend %input;

  option {
    color: var(--c-black-50);
  }
}

label {
  color: var(--c-black);
  display: flex;
  flex-flow: column;
  font-size: 1.4rem;
  gap: 0.4rem;
  line-height: 1.6rem;
  width: 100%;

  &:focus-within {
    color: var(--c-blue);
  }

  &.label--row {
    flex-flow: row;
  }

  ul li {
    padding: 0.4rem 0;
  }
}

.errorlist {
  color: var(--c-red);
  font-size: 1.4rem;
}

input.input,
.input {
  @extend %input;

  &__inline {
    border: none;
    color: var(--c-black);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.4rem;

    &:hover {
      background-color: var(--c-gray-50);
    }
  }

  &__contenteditable {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    text-align: center;
  }

  &__help-text {
    color: var(--c-black-20);
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
    margin: 0.2rem 0;
  }
}

label.checkbox {
  border-radius: 6px;
  border: 1px solid var(--c-gray);
  color: var(--c-black-50);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin-top: 0.6rem;
  padding: 0.8rem;

  &::after {
    color: var(--c-gray);
    content: '\f0c8';
    font-family: 'Font Awesome 5 Pro';
    font-size: 1.8rem;
    font-weight: 500;
    margin-left: auto;
  }

  &:hover {
    background-color: var(--c-gray-20);

    &::after {
      content: '\f14a';
    }
  }
}

label.checkbox__checked {
  border: 1px solid var(--c-blue);
  color: var(--c-black);

  i {
    color: var(--c-blue);
  }

  &::after {
    color: var(--c-blue);
    content: '\f14a';
  }
}

// based on https://www.sarasoueidan.com/blog/inclusively-hiding-and-styling-checkboxes-and-radio-buttons/
.checkbox__hidden {
  opacity: 0;
  position: absolute;

  // Inspired by https://css-tricks.com/the-checkbox-hack/
  &:checked ~ label.checkbox {
    border: 1px solid var(--c-blue);
    color: var(--c-black);

    &::after {
      color: var(--c-blue);
      content: '\f14a';
    }
  }
}

button:focus {
  outline: none;
}

.input__toggle {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.8rem;
}