h1,
h2,
h3,
h4,
h5 .h1,
.h2,
.h3,
.h4,
.h6 {
  font-weight: 500;
  line-height: inherit;
  margin: 0;
}

h1,
.h1 {
  font-size: 2.6rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.8rem;
}

h4,
.h4 {
  font-size: 1.6rem;
}

// Fix for blog rich text (c.f. blog_page.html)
.prose > p {
  font-size: 1rem;
  line-height: 1.5rem;
}

p,
.p {
  font-size: 1.4rem;
  line-height: 1.35;
}

a {
  font-size: inherit;
  text-decoration: none;
  line-height: inherit;
}

pre {
  color: var(--c-black-50);
  font-size: 1.2rem;
  font-weight: 500;
  white-space: pre-line;
}

abbr {
  text-decoration-color: var(--c-black-20);
  text-decoration-line: underline;
  text-decoration: dotted;
}

small,
.small {
  font-size: 1.2rem;
}

b,
.bold,
strong,
.strong {
  font-weight: 600;
}

p + p {
  margin-top: 0.6rem;
}

// Roboto has a slightly higher baseline than fontawesome so we can adjust
i.fa-center {
  margin-bottom: 2px;
}
