{% load static %}

<div
     class='integration__file-validate {% if not connector_start_task_id %}inactive{% endif %}'
     data-controller="celery-progress"
     {% if connector_start_task_id %}
     data-celery-progress-task-url-value="{% url 'celery_progress:task_status' connector_start_task_id %}"
     {% else %}
     data-celery-progress-dont-start-value="true"
     {% endif %}
     data-celery-progress-script-url-value="{% static 'celery_progress/celery_progress.js' %}"
     data-celery-progress-redirect-url-value="{{ redirect_url }}">
  {% if connector_start_task_id %}
  <i class="fad fa-spinner-third fa-spin text-blue text-4xl"></i>
  <div class='flex flex-col ml-4'>
    <h1>Starting your connector...</h1>
    <p>Once the connector has started it will take a while until all the data is available.</p>
  </div>
  {% elif table_select_task_id %}
  <i class="fad fa-spinner-third text-blue-50 pr-4"></i>
  <p>Validating uploaded CSV file</p>
  {% endif %}

  <template id="success-template">
    <i class="fas fa-check text-green text-xl mr-4"></i>
    <div class='flex flex-col'>
      <h4>Connector successfully started</h4>
      <p>Once the connector has started it will take a while until all the data is available.</p>
    </div>
  </template>
  <template id="failure-template">
    <i class="fas fa-times text-red text-xl mr-4"></i>
    <h4>Errors occurred when starting the connector</h4>
  </template>
</div>
