{% extends "filters/base.html" %}

{% block app %}
<div class="flex items-center gap-4 mb-4">
  <h1>Edit</h1>

  <a href="{% url 'filters:list' %}" class="button button--sm button--green">Back</a>
</div>

<form data-controller="live-update" method="post" action="{% url 'filters:update' object.id %}" class="form"
      data-action="submit->tf-refresh#refresh">
  {% csrf_token %}

  {% include "django/forms/default_form.html" %}

  <a href="{% url 'filters:list' %}"><button type="button" class="button">Save changes</button></a>
</form>
{% endblock %}
