{% extends "projects/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}

{% block app %}
<div class="page-header">
  <div class="mr-auto">
    <h1>Templates</h1>
    <p>
      Use templates to bootstrap workflows and dashboards for new data sources or project ideas.
    </p>
  </div>

  <a href="{% url 'teams:detail' project.team.id %}"
    <button class="button button--filled button--sm ml-4">
      <i class="fas fa-fw fa-plus"></i> View Templates
    </button>
  </a>
</div>

<div class="pad overflow-auto">
  <div class="card card--none mb-8">
    {% render_table table %}

    {% if project.templateinstance_set.count == 0 %}
      <div class="table__empty">
        <i class="fas fa-fw fa-4x fa-sparkles mb-7"></i>
        <h3>You have not used any templates in this project</h3>
        <p>
          Why not
          <a class="link" href="{% url 'teams:detail' project.team.id %}">
            add one
          </a>?
        </p>
      </div>
    {% endif %}
  </div>
</div>
{% endblock %}