@mixin shadow {
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.04);
}

@mixin shadow-md {
  box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.08);
}

@mixin shadow-lg {
  box-shadow: 4px 15px 30px rgba(0, 0, 0, 0.1);
}
