:root {
  // Simple z-index layering system.
  // Avoid creating new layers, only create one when there is a new group of items.
  // For one off layering adjustments you can simply use `calc`:
  // `z-index: calc(var(--z-default) + 1)`
  // 
  // `z-index: var(--z-default);`
  --z-background: -1;
  --z-default: 0;
  --z-ui: 10;
  --z-modal: 100;

  // Color variables.
  // If ever updating/adding colours make sure to also add to `tailwind.config.js`
  --c-black: #242733;
  --c-black-50: #6a6b77;
  --c-black-20: #a0a1ae;
  --c-black-10: #cbccd6;
  
  --c-gray: #e6e6e6;
  --c-gray-50: #f7f7f7;
  --c-gray-20: #fafafa;
  --c-gray-10: #fafafc;

  --c-white: #ffffff;

  --c-blue: #2550f5;
  --c-blue-50: #5677f7;
  --c-blue-20: #879ef9;
  --c-blue-10: #e8edfe;

  --c-pink: #d10070;
  --c-pink-50: #e880b7;
  --c-pink-20: #f6cce2;
  --c-pink-10: #fbeef5;

  --c-orange: #f38e4f;
  --c-orange-50: #f9c6a7;
  --c-orange-20: #fce3d4;
  --c-orange-10: #fdf4ee;

  --c-green: #0db145;
  --c-green-50: #86d8a2;
  --c-green-20: #cfefda;
  --c-green-10: #e2f6e9;

  --c-red: #e30303;
  --c-red-50: #f18181;
  --c-red-20: #f9cdcd;
  --c-red-10: #fce6e6;

  --c-transparent: hsla(0, 0%, 0%, 0);
}
