{% load heroicons site_tags %}

<div class="bg-white">
  <div class="max-w-7xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:flex-col sm:align-center">
      <h1 class="text-3xl lg:text-4xl font-extrabold text-gray-900">
        We're here to help
      </h1>
      <p class="mt-4 max-w-3xl text-lg text-gray-800">
        Whatever your situation, we're ready to support your transition to Gyana.
      </p>
    </div>
    <div class="mt-6 space-y-4 lg:mt-8 lg:space-y-0 lg:grid lg:gap-6 lg:max-w-4xl lg:mx-auto xl:max-w-none xl:mx-0 xl:grid-cols-3">
      {% for option in content.get_started %}
        <div class="border border-gray-200 rounded-lg shadow-sm divide-y divide-gray-200">
          <div class="p-6">
            <h2 class="text-lg leading-6 font-medium text-gray-900">{{ option.heading }}</h2>
            <p class="mt-4 text-sm text-gray-500">{{ option.summary }}</p>
            <a href="{% external_url option.external_url %}" class="mt-8 flex justify-center w-full bg-gray-800 border border-gray-800 rounded-md py-2 text-sm font-semibold text-white text-center hover:bg-gray-900">
              {{ option.cta }}
              {% heroicon option.icon class="ml-2 h-5 w-5 text-white"%}
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>