{% load static heroicons site_tags %}

<div class="py-8 lg:relative lg:py-32">
  <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
    <div>
      <a
        href="/blog/gyana-2021-wrapped"
        class="space-x-4 hidden sm:inline-flex"
      >
        <span class="rounded bg-indigo-50 px-2.5 py-1 text-xs font-semibold text-indigo-600 tracking-wide uppercase">
          What's new
        </span>
        <span class="inline-flex items-center text-sm font-normal text-indigo-600 space-x-1">
          <span>Gyana 2021, Wrapped</span>
          {% heroicon 'chevron-right' class="w-5 h-5" style="solid" %}
        </span>
      </a>
      <div class="text-center sm:text-left my-6 sm:max-w-xl">
        <h1 class="text-5xl font-bold text-gray-900 sm:text-6xl">
          Build custom reports <i class="text-indigo-600">10x faster</i>
        </h1>
        <p class="mt-4 sm:text-lg text-gray-600">
          Stop wrestling with manual exports, #N/A nightmares and stale data.
          Start delivering insights that move your business forward.
        </p>
      </div>
      <div class="my-4 flex justify-center gap-4 sm:justify-start">
        <div class="rounded-md shadow">
          <a
            href="{% external_url 'waitlist' %}"
            class="flex items-center justify-center px-8 py-3 border border-transparent rounded-md text-indigo-900 bg-indigo-200 hover:bg-indigo-300"
          >
            Sign up
          </a>
        </div>
        <div class="rounded-md shadow">
          <a
            href="{% external_url 'talk_to_us' %}"
            class="flex items-center justify-center px-8 py-3 border border-transparent rounded-md text-white bg-indigo-800 hover:bg-indigo-900"
          >
            Talk to us
          </a>
        </div>
      </div>
      <div class="mt-6 hidden sm:block">
        <div class="inline-flex items-center gap-2">
          <div class="flex-shrink-0 flex">
            {% for idx in '0123'|make_list %}
              <div class="h-6 w-6 relative">
                <div class="absolute">
                  {% heroicon 'star' class="h-6 w-6 stroke-current text-yellow-600" style="solid" %}
                </div>
                <div class="absolute">
                  {% heroicon 'star' class="h-6 w-6 text-yellow-400" style="solid" %}
                </div>
              </div>
            {% endfor %}
            <div class="h-6 w-6 relative">
              <div class="absolute">
                {% heroicon 'star' class="h-6 w-6 stroke-current text-yellow-600" style="solid" %}
              </div>
              <div class="absolute">
                {% heroicon 'star' class="h-6 w-6 text-white" style="solid" %}
              </div>
              <div class="h-8 w-4 object-contain overflow-hidden absolute">
                {% heroicon 'star' class="h-6 w-6 text-yellow-400" style="solid" %}
              </div>
            </div>
          </div>
          <div class="min-w-0 flex-1 py-1 text-sm text-gray-600 sm:py-3">
            Rated <span class="font-bold text-gray-900">4.7</span> on <a class="hover:text-gray-900 hover:underline" href="https://appsumo.com/products/gyana/">AppSumo</a>
            <span class="text-gray-400">|</span> <span class="font-bold text-gray-900">101</span> reviews
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sm:mx-auto sm:max-w-3xl">
    <div class="sm:relative lg:absolute lg:inset-y-0 lg:right-16 lg:w-1/2">
      <div class="relative -mx-8 my-4 sm:mx-auto sm:max-w-3xl sm:px-0 lg:py-8 lg:max-w-none lg:h-full">
        <img
          class="w-full lg:h-full lg:w-auto lg:max-w-none"
          src="{% static 'images/site/home/landing.jpg' %}"
          alt="App screenshot"
        />
      </div>
   </div>
  </div>
</div>