{% load static heroicons site_tags random_utils %}

<style>

  {% for i in '0123456789'|make_list %}
    .animate-logo-{{ i }} {
      animation: float {% random_int 6 12 %}s ease-in-out {% random_int -3 3 %}s infinite;
    }
  {% endfor %}

  {% for i in '0123456789'|make_list %}
    .animate-number-{{ i }} {
      animation: float {% random_int 6 12 %}s ease-in-out {% random_int -3 3 %}s infinite;
    }
  {% endfor %}

  {% comment %} {% for i in '0123456789'|make_list %}
    .animate-chart-{{ i }} {
      animation: float {% random_int 6 12 %}s ease-in-out {% random_int -3 3 %}s infinite;
    }
  {% endfor %} {% endcomment %}

  .animate-report {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {
    0%, 100% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(5px);
    }
  }
</style>

<div class="py-8 lg:relative lg:py-32 xl:py-36 overflow-hidden bg-gray-20">
  <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24">
    <div class="relative">
      <p class="absolute right-0 -bottom-20 lg:bottom-0 text-indigo-600 text-xl lg:text-3xl text-right text-caveat" style="z-index: 3;">
        <span class="block">* yes, we really<span>
        <span class="block">mean <a class="link underline" href="{% url 'web:integrations' %}">any!</a></span>
      </p>
      <a
        href="/blog/gyana-2021-wrapped"
        class="space-x-4 hidden sm:inline-flex"
      >
        <span class="rounded bg-indigo-100 px-2.5 py-1 text-xs font-semibold text-indigo-600 tracking-wide uppercase">
          What's new
        </span>
        <span class="inline-flex items-center text-sm font-normal text-indigo-600 space-x-1">
          <span>Gyana 2021, Wrapped</span>
          {% heroicon 'chevron-right' class="w-5 h-5" style="solid" %}
        </span>
      </a>
      <div class="text-center sm:text-left my-6 sm:max-w-xl">
        <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl lg:text-6xl">
          <div>Custom reports</div>
          <div>for any<span class="text-indigo-600 -ml-2 mr-1 text-caveat">*</span> source</div>
        </h1>
        <p class="mt-4 sm:text-lg text-gray-600">
          Stop wrestling with manual exports, #N/A nightmares and stale data.
          Start delivering insights that move your business forward.
        </p>
      </div>

      <div class="my-4 flex justify-center gap-4 sm:justify-start">
        <a href="{% external_url 'request_demo' %}" class="button">
          Request Demo
        </a>
      </div>
    </div>
  </div>

  <div class="sm:mx-auto sm:max-w-3xl">
    <div class="sm:relative lg:absolute lg:inset-y-0 lg:right-16 lg:w-1/2" style="z-index: 2;">
      <div class="relative my-4 sm:mx-auto sm:max-w-2xl sm:px-0 lg:-mx-8 lg:py-8 lg:h-full xl:max-w-3xl" >
        {% include 'web/site/home/landing.svg' %}
      </div>
   </div>
  </div>
</div>