{% load site_tags static socialaccount heroicons %}

<div class="bg-gray-20 pt-16 lg:pt-24 xl:pt-32 pb-8 lg:pb-12 px-4 sm:px-6 lg:px-8 overflow-hidden">
  <div class="mx-auto max-w-7xl relative">
    <div class="text-center">
      <p class="text-indigo-600 text-4xl lg:text-7xl text-caveat">
       Open source, No-code
      </p>
      <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl lg:text-6xl">
        Business Intelligence
      </h1>
      <p class="mt-3 max-w-md mx-auto text-base text-gray-600 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
        Gyana is a BI tool with a friendly UX and the flexibility of SQL.
        Build a dashboard for all your metrics without writing a line of code.
        Self host or scale with us.
      </p>
    </div>

    <div class="my-8 text-base text-gray-600 gap-4 flex justify-center">
      <a href="{% url 'account_signup' %}" class="w-full sm:w-auto button button--secondary">
        Get started
      </a>
      <a href="{% external_url 'github' %}" class="w-full sm:w-auto button">
        Self host Gyana
      </a>
    </div>

    <p class="text-xs sm:text-sm text-gray-600 px-4 inline-flex items-center gap-1">
      Turn your
      <span class="border border-gray inline-flex items-center gap-1 bg-white px-2 py-1 rounded-md">
        Google Analytics <img class="w-4 h-4" src="{% static 'images/integrations/fivetran/google_analytics.svg' %}" alt="">
      </span> data into this
      {% heroicon 'arrow-down' class="h-5 w-5" style="solid" %}
    </p>
  </div>

  <div class="-mx-8 sm:mx-0 overflow-hidden">
    <div class="max-w-7xl mx-auto relative">
      <iframe id='dashboard-demo' class="w-full hero-demo" scrolling="no" src="{% external_url 'demo_dashboard' %}?embed=true" frameborder="0"></iframe>
      <div class="fade-bottom"></div>
      <div id='dashboard-demo-toggle' class="absolute -bottom-0 left-8 right-8 text-center" style="z-index: 3;">
        <button onclick="openDashboard()" class="inline-flex items-center gap-2 text-sm text-gray-600 bg-white px-4 py-2 bg-gray-20 border border-gray rounded-full">
          Expand {% heroicon 'arrow-down' class="h-4 w-4" style="solid" %}
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  const openDashboard = (event) => {
    const iframe = document.getElementById('dashboard-demo')
    iframe.scrolling = "yes"
    iframe.classList.add('hero-demo--expand')

    const arrow = document.getElementById('dashboard-demo-toggle')
    arrow.hidden = true

    const fade = document.querySelector('.fade-bottom')
    fade.hidden = true
  }
</script>