{% load static %}

<div class="bg-gray-20 border-b border-gray">
  <div class="max-w-7xl mx-auto py-12 px-8 sm:px-6 lg:px-0">
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-7 gap-y-8">
      {% for logo in content.logos|slice:":14" %}
        <div class="flex justify-center">
          <img class="logo w-full" src="{% static 'images/site/logos/'|add:logo|add:'.svg' %}" />
        </div>
      {% endfor %}
    </div>
    <p class="mt-12 text-gray-600 text-center">
      From agencies to global enterprises, the world's most effective teams use Gyana to power their custom reports.
    </p>
  </div>
</div>