{% load heroicons site_tags %}

<div class="bg-gray-20 border-b border-gray">
  <div class="flex text-center justify-center flex-wrap mx-auto max-w-md sm:max-w-3xl lg:max-w-7xl">
    {% for quote in content.quotes %}
      <div class="flex p-2 lg:p-4 flex-col items-center opacity-50">
        <div class="flex">
          {% for idx in '01234'|make_list %}
            {% heroicon 'star' class="h-4 w-4 text-yellow-400" style="solid" %}
          {% endfor %}
        </div>
        <blockquote class="lg:block max-w-md text-xs lg:text-sm">
          <i>&ldquo;{{ quote }}&rdquo;</i>
        </blockquote>
      </div>
    {% endfor %}

    <div class="p-2 lg:p-4 flex items-center">
      <a href="{% external_url 'appsumo' %}" class="flex text-xs lg:text-sm text-gray-600 items-center gap-x-1 bg-gray-50 hover:bg-gray border border-gray px-2 py-1 rounded">
        Rated 4.7
        <span>{% heroicon 'star' class="h-4 w-4 text-yellow-400" style="solid" %}</span>
        on AppSumo
      </a>
    </div>

    <a class="m-2" href="https://www.producthunt.com/posts/gyana-2?utm_source=badge-top-post-badge&utm_medium=badge&utm_souce=badge-gyana&#0045;2" target="_blank">
      <img src="https://api.producthunt.com/widgets/embed-image/v1/top-post-badge.svg?post_id=345434&theme=light&period=daily"
        alt="Gyana - Build&#0032;custom&#0032;reports&#0032;for&#0032;any&#0032;source | Product Hunt"
        style="width: 250px; height: 54px;" width="250" height="54" />
    </a>
  </div>

  <div class="max-w-7xl mx-auto py-8 px-8 sm:px-6 lg:px-0">
    <p class="text-gray-600 text-center text-sm">
      Loved by our global community of <b>2000+ data analysts</b> in non-profits, agencies and startups.
    </p>
  </div>
</div>
