{% load heroicons %}

<div class="hidden sm:flex text-center justify-center flex-wrap mx-auto max-w-md sm:max-w-3xl lg:max-w-7xl py-8 opacity-50">
  {% for quote in content.quotes %}
    <div class="p-4 flex flex-col items-center">
      <div class="flex">
        {% for idx in '01234'|make_list %}
            {% heroicon 'star' class="h-4 w-4 text-yellow-400" style="solid" %}
        {% endfor %}
      </div>
      <blockquote class="max-w-md">
        <i>&ldquo;{{ quote }}&rdquo;</i>
      </blockquote>
    </div>
  {% endfor %}
</div>