{% load static heroicons %}

<div class="bg-indigo-700">
  <div class="max-w-4xl mx-auto px-4 py-16 sm:px-6 sm:pt-20 sm:pb-24 lg:max-w-7xl lg:pt-24 lg:px-8 flex flex-col items-center">
    <h2 class="text-3xl font-extrabold text-white">
      Introducing Gyana
    </h2>
    <p class="mt-4 max-w-3xl text-lg text-indigo-200 text-center">
      Gyana is a no-code data platform designed for 2021. Business
      intelligence, data analytics and reporting in a single visual
      interface.
      <strong class="text-white font-semibold">
        Built on web, for the web.
      </strong>
    </p>
    <div class="mt-12 grid grid-cols-1 gap-x-6 gap-y-12 sm:grid-cols-2 lg:mt-16 lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
      {% for feature in content.solution %}
        <div>
          <div>
            <span class="flex items-center justify-center h-12 w-12 rounded-md bg-white-opacity-10">
              {% heroicon feature.icon class="w-6 h-6 text-white" style="solid" %}
            </span>
          </div>
          <div class="mt-6">
            <h3 class="text-lg font-medium text-white">
              {{ feature.name }}
            </h3>
            <p class="mt-2 text-base text-indigo-200">
              {{ feature.description }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>