{% load heroicons site_tags static %}

{% comment %} For the embedded hubspot form {% endcomment %}
<script charset="utf-8" type="text/javascript" src="//js-eu1.hsforms.net/forms/v2.js"></script>

<div class="bg-white">
  <div class="relative max-w-7xl mx-auto py-24 px-4 sm:px-6 lg:px-8">
    <div class="sm:flex sm:flex-col sm:align-center">
      <h2 class="text-3xl font-extrabold text-gray-900">
        We're here to help
      </h2>
      <p class="mt-4 max-w-lg text-base text-gray-800">
        We'll support you on every step of your journey to Gyana mastery.
      </p>
    </div>
    <nav aria-label="Progress" class="mt-8 lg:grid lg:grid-cols-2">
      <ol role="list">
        {% with step=request.GET.step|add:"0"|add:"0" %}
          {% for item in content.support %}
            <li class="relative pb-10">
              {% if not forloop.first %}
                <div class="-ml-px absolute mt-0.5 -top-6 left-4 w-0.5 h-1/2 {% if forloop.counter0 <= step %}bg-indigo-600{% else %}bg-gray-300{% endif %}" aria-hidden="true"></div>
              {% endif %}
              {% if not forloop.last %}
                <div class="-ml-px absolute mt-0.5 top-4 left-4 w-0.5 h-full {% if forloop.counter0 < step %}bg-indigo-600{% else %}bg-gray-300{% endif %}" aria-hidden="true"></div>
              {% endif %}
              <a href="{% url 'web:support-demo' %}?step={{ forloop.counter0 }}" class="relative flex items-start group">
                <span class="h-9 flex items-center">
                  <span class="relative w-8 h-8 flex items-center justify-center rounded-full {% if forloop.counter0 < step %}bg-indigo-600 group-hover:bg-indigo-800{% elif forloop.counter0 == step %}bg-white border-2 border-indigo-600{% else %}bg-white border-2 border-gray-300 group-hover:border-gray-400{% endif %}">
                    {% if forloop.counter0 < step %}
                      {% heroicon 'check' class="h-5 w-5 text-white" style="solid" %}
                    {% elif forloop.counter0 == step %}
                      {% heroicon item.icon class="h-5 w-5 text-indigo-600" style="solid" %}
                    {% else %}
                      {% heroicon item.icon class="h-5 w-5 text-gray-300 group-hover:text-gray-400" style="solid" %}
                    {% endif %}
                  </span>
                </span>
                <span class="ml-4 min-w-0 flex flex-col">
                  <span class="text-xs font-semibold tracking-wide uppercase">{{ item.heading }}</span>
                  <span class="text-sm text-gray-500">{{ item.description }}</span>
                </span>
              </a>
              {% if step == forloop.counter0 %}
                {% if item.note %}
                  <p class="absolute top-4 left-32 mt-4 text-xl lg:text-2xl text-caveat text-indigo-600">
                    {{ item.note }}
                  </p>
                {% endif %}
              {% endif %}
            </li>
            {% if step == forloop.counter0 %}
              <div class="-mt-3 mb-3 lg:my-0 lg:absolute lg:top-16 lg:right-0 lg:w-1/2 relative" style="height: 70vh; z-index: 5;">
                <div class="card card--none w-full h-full relative">
                  <div class="absolute w-full h-full flex flex-col items-center justify-center">
                    <i class="mb-2 text-black-50 fad fa-lg fa-spinner-third fa-spin"></i>
                  </div>
                  <div class="absolute w-full h-full">
                    {% if step == 0 %}
                      {% comment %} Signup page: link clicks and form submit will happen at parent level {% endcomment %}
                      <iframe width="100%" height="100%" loading="lazy" sandbox="allow-same-origin allow-top-navigation allow-forms" src="{% url 'account_signup' %}?iframe=true"></iframe>
                    {% elif step == 1 %}
                      {% comment %} Gyana University {% endcomment %}
                      <iframe width="100%" height="100%" src="{% url 'web:intercom-demo' %}?demo=help"></iframe>
                    {% elif step == 2 %}
                      {% include 'web/site/home/community.html' %}
                    {% elif step == 3 %}
                      {% comment %} Intercom widget {% endcomment %}
                      <iframe width="100%" height="100%" src="{% url 'web:intercom-demo' %}?demo=chat"></iframe>
                    {% elif step == 4 %}
                      <!-- Calendly inline widget begin -->
                      <div class="calendly-inline-widget" data-url="https://calendly.com/lorraine-chabeda/30min?hide_gdpr_banner=1" style="min-width:320px;height:100%;"></div>
                      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
                      <!-- Calendly inline widget end -->
                    {% elif step == 5 %}
                      {% comment %} Book a demo Typeform {% endcomment %}
                      <div class="p-10 bg-white">
                        <div class="sm:flex sm:flex-col sm:align-center mb-6">
                          <h2 class="text-3xl font-extrabold text-gray-900">
                            Talk to us
                          </h2>
                          <p class="mt-4 max-w-lg text-base text-gray-800">
                            We'll work with you to build your ideal reports.
                          </p>
                        </div>
                        <script>
                          hbspt.forms.create({
                          region: "eu1",
                          portalId: "25534240",
                          formId: "ba345893-d3d5-4569-99ea-2f44274c927a"
                        });
                        </script>
                      </div>
                    {% elif step == 6 %}
                      {% comment %} HelloNext changelog {% endcomment %}
                      <iframe style='border:0px; height:100%; width:100%;' src='https://feedback.gyana.com/embed/c?no_header=true'></iframe>
                    {% endif %}
                    {% if item.cta %}
                      <a href="{% external_url item.cta.external_url %}" class="text-sm absolute bottom-0 inset-x-0 bg-gray-50 text-right flex items-center justify-end text-gray-600 gap-1 p-2 border-gray border-t" data-turbo-frame="_top">
                        {{ item.cta.message }}
                        {% heroicon 'external-link' class="w-5 h-5" style="solid" %}
                      </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endwith %}
    
      </ol>
    </nav>
  </div>
</div>