{% extends "teams/base.html" %}
{% load humanize %}

{% block tab %}
<div class="pad max-w-lg mb-auto">
  <div class="mb-6">
    <h2 class="mb-3">Plan</h2>
    
    <h4 class="bold mb-2 text-blue">{{ team.plan }}</h4>
    <ul>
      <li><p>{{ team.row_limit|intcomma }} rows of data</p></li>
      <li><p>{{ team.credits|intcomma }} credits</p></li>
      <li><p>Unlimited views</p></li>
      <li><p>Unlimited users</p></li>
      <li><p>Custom branding</p></li>
      <li><p>Chat support</p></li>
    </ul>
  </div>

  <h2 class="mb-3">Account usage</h2>

  <form method="post" class="form mb-7">
    {% csrf_token %}

    {% include "django/forms/default_form.html" %}

    <label>
      <p>Rows</p>
      <p class="input__help-text">Last calculated: {{ team.row_count_calculated|naturaltime|default_if_none:"never" }}</p>

      <div class="button-input">
        <input type="text" value="{{ team.row_count|intcomma }} / {{ team.row_limit|intcomma }}" disabled>
        <button type="submit" class="button button--success button--input" data-controller="tooltip">
          <i class="fas fa-fw fa-sync-alt"></i>
          <span data-tooltip-target="body">Calculate row usage</span>
        </button>
      </div>
    </label>
  </form>

  <label for="">
    <p>Credits</p>
    <input type="text" value="{{ team.credits|intcomma }}" disabled>
  </label>
</div>

{% if team.appsumocode_set.count > 0 %}
<div class="pad">
  <h2 class="mb-3">AppSumo</h2>
  <turbo-frame id="team_appsumo:list" src="{% url 'team_appsumo:list' team.id %}" target="_top"></turbo-frame>
</div>
{% endif %}
{% endblock %}
