{% extends "teams/base.html" %}
{% load humanize %}
{% load help_utils %}

{% block tab %}
<section class="account">
  <h2 class="mb-7">Billing</h2>

  <div class="account__plan">
    <div class="card card--none">
      <table class="table">
        <tbody>
          <tr>  
            <td><h3>Plan</h3></td>
            <td class="text-blue">{{ team.plan.name }}</td>
          </tr>
          <tr>
            <td><h3>Rows used</h3></td>
            <td>
              <span class="flex items-center">
                <span class="mr-3">{{ team.row_count|intcomma }} / {{ team.row_limit|intcomma }}</span>
                <form method="post" class="form--no-layout">
                  {% csrf_token %}

                  {% include "django/forms/default_form.html" %}

                  <button type="submit" class="button button--circle button--sm button--tertiary" data-controller="tooltip">
                    <i class="fas fa-fw fa-sync-alt"></i>
                    <span data-tooltip-target="body">Calculate row usage</span>
                  </button>
                </form>
              </span>
            </td>
          </tr>
          <tr>
            <td><h3>Credits spent</h3></td>
            <td class="flex items-center">
              <span class="mr-3">{{ team.current_credit_balance|intcomma }} / {{ team.credits|intcomma }}</span>
              {% link_article 'overview' 'credits' %}
            </td>
          </tr>

          <tr>
            <td><h3>Projects</h3></td>
            <td>{{ team.total_projects }} / {% if team.plan.projects != -1 %}{{ team.plan.projects }}{% else %}∞</i>{% endif %}</td>
          </tr>

          <tr>
            <td><h3>Users</h3></td>
            <td>∞</td>
          </tr>

          <tr>
            <td><h3>Views</h3></td>
            <td>∞</td>
          </tr>

          <tr>
            <td><h3>Chat support</h3></td>
            <td><i class="fa fa-check text-green"></i></td>
          </tr>

          {% if team.has_select_code %}

            {% if team.plan.custom_branding %}
              <tr>
                <td><h3>Custom branding</h3></td>
                <td><i class="fa fa-check text-green"></i></i></td>
              </tr>
            {% endif %}

            {% if team.plan.cnames %}
              <tr>
                <td><h3>Custom domains</h3></td>
                <td>{{ team.plan.cnames }}</td>
              </tr>
            {% endif %}

            {% if team.plan.sub_accounts %}
              <tr>
                <td><h3>Sub Accounts</h3></td>
                <td>{{ team.total_invite_only_projects }} / {% if  team.plan.sub_accounts != -1 %}{{ team.plan.sub_accounts }}{% else %}∞</i>{% endif %}</td>
              </tr>
            {% endif %}

            {% if team.plan.white_labeling %}
              <tr>
                <td><h3>White labeling</h3></td>
                <td><i class="fa fa-check text-green"></i></td>
              </tr>
            {% endif %}

          {% endif %}

        </tbody>
      </table>
    </div>
  </div>

{% if team.appsumocode_set.count > 0 %}
<div id="appsumo-list" class="mt-7">
  <h2 class="mb-3">AppSumo</h2>
  <turbo-frame id="team_appsumo:list" src="{% url 'team_appsumo:list' team.id %}" target="_top"></turbo-frame>
</div>
{% endif %}
{% endblock %}
