{% extends "web/app/app_base.html" %}
{% load static %}

{% block app %}
{% if team.slug %}
<div class="workflow-detail__header">
  <h3 class="mr-auto flex justify-center items-center">
    {{ team.name }}
  </h3>
</div>

<nav class="tabbar">
  <a class="tabbar__link {% if request.resolver_match.url_name == 'detail' %} tabbar__link--active {% endif %}"
     href="{% url 'teams:detail' team.slug %}">
    Projects
  </a>
  <a class="tabbar__link {% if request.resolver_match.url_name == 'members' %} tabbar__link--active {% endif %}"
     href="{% url 'teams:members' team.slug %}">Members</a>
  <a class="tabbar__link {% if request.resolver_match.url_name == 'settings' %} tabbar__link--active {% endif %}"
     href="{% url 'teams:settings' team.slug %}">
    Settings
  </a>
</nav>
{% endif %}

<div class="flex flex-col flex-1 overflow-auto pad">
  {% block tab %}{% endblock %}
</div>
{% endblock %}
