{% extends "web/app/app_base.html" %}
{% load static %}
{% load team_tags %}

{% block app %}
{% if team.id %}
<div id="heading" class="workflow-detail__header">
  <h3 class="mr-auto flex justify-center items-center">
    {{ team.name }}
  </h3>

  <p class="tooltip tooltip--bottom text-black-20">
    {{ team.num_rows|default:'0' }}/∞
    <span class="tooltip__content">Row Usage</span>
  </p>
</div>

<nav class="tabbar">
  <a class="tabbar__link {% if request.resolver_match.url_name == 'detail' %} tabbar__link--active {% endif %}"
     href="{% url 'teams:detail' team.id %}">
    Projects
  </a>
  {% if request.user|is_admin_of:team %}
  <a class="tabbar__link {% if request.resolver_match.app_name == 'team_members' %} tabbar__link--active {% endif %}"
     href="{% url 'team_members:list' team.id %}">Members</a>
  <a class="tabbar__link {% if request.resolver_match.app_name == 'team_invites' %} tabbar__link--active {% endif %}"
     href="{% url 'team_invites:list' team.id %}">Invites</a>
  <a class="tabbar__link {% if request.resolver_match.app_name == 'teams' and request.resolver_match.url_name == 'update' %} tabbar__link--active {% endif %}"
     href="{% url 'teams:update' team.id %}">
    Settings
  </a>
  {% endif %}
</nav>
{% endif %}

<div class="flex flex-col flex-1 overflow-auto pad">
  {% block tab %}{% endblock %}
</div>
{% endblock %}
