{% extends "teams/base.html" %}
{% load waffle_tags %}

{% block head.extra %}
  <script src="https://cdn.paddle.com/paddle/paddle.js"></script>
  {% include "djpaddle_post_checkout.html" %}
{% endblock head.extra %}

{% block app %}

<div
  class="flex flex-col justify-center items-center h-full"
  x-data="{ total: null, recurringTotal: null, completed: false }"
  x-init="{% if DJPADDLE_SANDBOX %}Paddle.Environment.set('sandbox'){% endif %}

    Paddle.Setup({
      vendor: {{ DJPADDLE_VENDOR_ID }},
      debug: {{ debug|yesno:'true,false' }},
      eventCallback: (data) => {

        total = data.eventData.checkout.prices.customer.total
        recurringTotal = data.eventData.checkout.recurring_prices.customer.total

        if (data.event === 'Checkout.Complete') {
          // bug fix: by default, dj-paddle will redirect to 'null'
          data.eventData.checkout.redirect_url = ''
          window.checkoutComplete(data.eventData)

          completed = true
        }
      },
    })

    Paddle.Checkout.open({
      method: 'inline',
      product: '{{ plan.id }}',
      email: '{{ request.user.email }}',
      marketingConsent: {% if request.user.marketing_allowed %}1{% else %}0{% endif %},
      passthrough: {'user_id': {{ request.user.id }}, 'team_id': {{ object.id }}},
      disableLogout: true,
      frameTarget: 'checkout-container',
      frameInitialHeight: 416,
      frameStyle: 'width:100%; min-width:286px; background-color: transparent; border: none;',
    })"
  >
  <div class="flex flex-row items-center">
    <div x-show="!completed" class="pad w-1/2">
      <div class="mb-16">
        <h2 class="mb-8">Unlock the full power of Gyana</h2>

        <ul class="flex flex-col gap-7">
          <li><p> <i class="fas fa-fw fa-check text-green"></i> Up to <strong>10,000,000</strong> rows synced</p></li>
          <li><p> <i class="fas fa-fw fa-check text-green"></i> Report automation</p></li>
          <li><p> <i class="fas fa-fw fa-check text-green"></i> Dedicated support</p></li>
          <li><p> <i class="fas fa-fw fa-check text-green"></i> Cancel anytime</p></li>
        </ul>
      </div>

      <div>
        <h2 class="mb-8">Your subscription</h2>
          <div class="flex flex-row items-end">
            <h1 class="mr-2">Gyana Pro</h1>
            <p><a class='link' href="{% url 'teams:pricing' team.id %}" class="link">Change</a></p>
          </div>

          <h4 class="mt-8 mb-3">Your total is
            <span class="h2 text-blue">$<span x-text="total"></span></span>
            <span class="text-sm">(inc. VAT)</span>
          </h4>
          <p class="mt-3 mb-8">Then $<span x-text="recurringTotal"></span>/month</p>
      </div>
    </div>

    <div x-show="completed" class="pad w-1/2 max-w-2xl" hidden>
      <h2 class="mb-8"><i class="fas fa-fw fa-check text-green"></i> Success</h2>
      <p class="mb-4">Your account will reflect your new plan information in a few moments. If you have any issues, reach out to us via
      <a href="mailto:support@gyana.com" class="link">email</a> or our chat.</p>
      <p class="mb-8"><strong>We can't wait to see what you do with Gyana.</strong></p>
      <a class="button" href="{% url 'teams:account' team.id %}">
        Go to billing
      </a>
    </div>
    <div class="checkout-container card" style="width: 600px;"></div>
  </div>
</div>
{% endblock %}