{% extends "web/app_base.html" %}

{% block main %}
  <div class="flex flex-1 flex-col justify-center items-center self-center max-w-xl">
    <h1 class="mb-3">Delete team</h1>
    <p class="alert mb-6">Are you sure you want to delete this?</p>

    <form class="w-full" method="post" action="{% url 'teams:delete' object.id %}">
      {% csrf_token %}

      <div class="flex gap-3 w-full">
        <a href="{% url 'teams:update' object.id %}" class="button button--tertiary flex-1">
          No
        </a>
        <button type="submit" class="button button--danger flex-1">Yes</button>
      </div>
    </form>
  </div>
{% endblock %}
