{% extends "teams/base.html" %}
{% load humanize %}
{% load render_table from django_tables2 %}

{% block tab %}
<div class="card card--none">
  {% render_table team_projects %}

  {% if project_count == 0 %}
  <div class="table__empty">
    <i class="fas fa-fw fa-4x fa-sparkles mb-7"></i>
    <h3>This team has no projects</h3>
    <p>You can <a href="{% url 'team_projects:create' team.id %}" class="link">create one</a> or start with a <a href="{% url 'team_projects:create' team.id %}" class="link">template</a>.</p>
  </div>
  {% else %}
  <div class="pt-2 pad">
    <small>
      <a href="{% url 'team_projects:create' team.id %}" class="link">
        <i class="fa fa-fw fa-plus mr-2"></i>New Project</a>
    </small>
  </div>
  {% endif  %}

</div>
{% endblock %}
