{% extends "teams/base.html" %}
{% load humanize %}
{% load render_table from django_tables2 %}
{% load help_utils %}

{% block tab %}
<h2 class="flex gap-3 items-center">Create a new project {% link_article 'overview' 'templates' %}</h2>
<p class="mb-3">Use a blank project or choose a template to get you started.</p>

<turbo-frame
  id="templates:list"
  src="{% url 'team_templates:list' team.id %}"
  target="_top"
>
  <div class='placeholder-scr placeholder-scr--fillscreen'>
    <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
    <p class='placeholder-scr__title'>Loading templates...</p>
  </div>
</turbo-frame>

<h2 class="mt-7 mb-3 flex gap-3 items-center">Your Projects {% link_article 'overview' 'collaborate' %}</h2>
<div class="card card--none">
  {% render_table team_projects %}

  {% if project_count == 0 %}
  <div class="table__empty">
    <i class="fas fa-fw fa-4x fa-sparkles mb-7"></i>
    <h3>This team has no projects</h3>
    <p>You can <a href="{% url 'team_projects:create' team.id %}" class="link">create one</a>,
    start with a <a href="{% url 'team_projects:create' team.id %}" class="link">template</a>
    or read our <a href="https://intercom.help/gyana/en/articles/5547945-what-is-gyana" target="_blank" class="link">getting started</a> guide.</p>

    <div data-controller="iframe" class="mt-8">
      <div data-iframe-target="placeholder" style="width: 854px; height: 480px;" class='placeholder-scr placeholder-scr--fillscreen rounded-xl bg-gray-20 border-gray border-4'>
        <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
        <p class='placeholder-scr__title'>Loading tutorial...</p>
      </div>
      <iframe class="rounded-xl" style="display: none;" width="854" height="480" src="https://www.loom.com/embed/eea3a4c9c6424a77b30ada915f92c12f"
        frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </div>
  </div>
  {% else %}
  <div class="pad flex flex-col space-y-8">
    <small>
      <a href="https://www.loom.com/share/eea3a4c9c6424a77b30ada915f92c12f" class="link">
        <i class="fa fa-fw fa-video mr-2"></i>View tutorial video</a>
    </small>
    <small>
      <a href="https://intercom.help/gyana/en/articles/5547945-what-is-gyana" target="_blank" class="link">
        <i class="fa fa-fw fa-question mr-2"></i>Getting started</a>
    </small>
  </div>
  {% endif  %}
</div>
{% endblock %}
