{% extends "teams/base.html" %}
{% load waffle_tags %}

{% block app %}
  <div class="flex flex-col justify-center items-center h-full">
    <div class="flex flex-col space-y-4 mb-16 max-w-xl w-full">
      <h2>Your Current Subscription</h2>
      <h1>Pro</h1>
      <p>
        Total due: <strong>{{ new_price }} {{ team.active_subscription.currency }}</strong>, billing monthly
      </p>
    </div>
    <div class="flex flex-col space-y-4 max-w-xl w-full">
      <h2>Cancel Subscription</h2>
      <p>
        Something not right? Want to keep using Gyana but something is not working out for you?
        <a href="mailto:support@gyana.com" class="link">Contact Us</a>.
      </p>
      <a href="{{ team.active_subscription.cancel_url }}" class="button button--tertiary" data-turbo="false">
        I'm sure I want to cancel
      </a>
    </div>
  </div>
{% endblock %}