{% extends "teams/base.html" %}

{% block tab %}
<div class="flex flex-col flex-1 overflow-auto">
  <div class="max-w-lg mb-auto pad">
    <form method="post" class="form">
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <button type="submit" class="button button--success">Save</button>
    </form>
  </div>

  <div class="pad border-t border-gray">
    <h2 class="mb-3">Delete team</h2>
    <p class="mb-3">If you'd like to <strong>delete</strong> this team, press the button below.</p>

    <a class="button button--danger"
      href="{% url 'teams:delete' object.id %}">
      Delete
    </a>
  </div>
</div>
{% endblock %}
