{% extends "teams/base.html" %}

{% block tab %}
<div class="max-w-lg">
  <form method="post" class="form">
    {% csrf_token %}

    {% include "django/forms/default_form.html" %}

    <button type="submit" class="button button--success">Save</button>
  </form>
</div>

<div class="mt-auto">
  <h2 class="text-red">Danger zone</h2>
  <p class="mb-4">To <strong>delete</strong> this team, press the button below.</p>

  <a class="button button--danger" href="{% url 'teams:delete' team.id %}">
    Delete Team
  </a>
</div>
{% endblock %}
