{% extends "web/app/project_base.html" %}
{% load static %}

{% block app-class%}workflow-detail{% endblock %}

{% block app %}
<div class="workflow-detail__header">
  <h3>{{ object.name }}</h3>
  <div class="mr-auto">
    <turbo-frame id="workflows:run" src="{% url 'workflows:run' object.id %}"></turbo-frame>
  </div>

  <a class="button button--square button--sm button--filled"
     href="{% url 'projects:workflows:update' project.id object.pk %}">Update</a>
  <a class="button button--square button--sm button--filled button--danger"
     href="{% url 'projects:workflows:delete' project.id object.pk %}">Delete</a>
</div>

<div data-controller="tf-modal" class="flex flex-1">
  <div data-tf-modal-target="modal" class="tf-modal hidden absolute h-full w-full p-12 py-24 bg-transparent z-10">
    <div class="card flex flex-col h-full">
      <div class="flex justify-end">
        <button class="tf-modal__close" data-action="click->tf-modal#close">
          <i class="fal fa-times"></i>
        </button>
      </div>
      <turbo-frame id="workflow-node" data-tf-modal-target="turboFrame"></turbo-frame>
    </div>
  </div>

  <div id="react-app" class="flex-auto"></div>
</div>
{{ nodes|json_script:'nodes' }}

<script src="{% static 'js/workflow-bundle.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/workflow.css' %}" />
{% endblock %}
