{% extends "web/app/project_base.html" %}
{% load static %}
{% block app %}

<div class="flex items-center gap-4 mb-8">
  <h1 class="mr-auto">{{ object.name }}</h1>

  <turbo-frame id="workflows:run" src="{% url 'workflows:run' object.id %}"></turbo-frame>
  <a class="button button--square button--sm button--filled"
     href="{% url 'projects:workflows:update' project.id object.pk %}">Update</a>
  <a class="button button--square button--sm button--filled button--pink"
     href="{% url 'projects:workflows:delete' project.id object.pk %}">Delete</a>
</div>

<div class="flex">
  <div class="w-64">
    <turbo-frame id="workflow-node"></turbo-frame>
  </div>
  <div id="react-app" class="flex-auto h-96"></div>
</div>
<turbo-frame id="workflows-grid">No node selected</turbo-frame>
{{ nodes|json_script:'nodes' }}
<script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
<script src="{% url 'api_schemajs' %}"></script>
<script src="{% static 'js/workflow-bundle.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/workflow.css' %}" />
{% endblock %}
