{% extends "web/app/project_base.html" %}
{% load render_table from django_tables2 %}
{% block app %}
<div class="pad">
  <div class="flex items-center mb-4">
    <h1 class="mr-auto">Workflows</h1>
    {% include 'workflows/create.html' %}
  </div>

  <p class="mb-8">
    Workflows are the life-blood of your data flow. Clean, process, compute data to be presented in your dashboards.
  </p>

  <div class="card card--none">
    {% render_table table %}

    {% if workflow_count == 0 %}
    <div class="table__empty">
      <i class="fas fa-fw fa-4x fa-sparkles mb-7"></i>
      <h3>You have no workflows</h3>
      <form class="inline"
            method="post"
            action="{% url 'project_workflows:create' project.id  %}">
        {% csrf_token %}
        <input type="hidden" name="project" value="{{ project.id }}"></input>
        <p>
          Why not
          <button type="submit" class="link">
            create one
          </button>?
        </p>
      </form>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
