{% extends "web/app/project_base.html" %}
{% load render_table from django_tables2 %}
{% block app %}
<div class="pad">
  <div class="flex items-center mb-4">
    <h1 class="mr-auto">Workflows</h1>
    <turbo-frame id='workflow-create' src="{% url 'project_workflows:create' project.id  %}" target="_top">
      <i class='fad fa-spinner-third fa-spin'></i>
    </turbo-frame>
  </div>

  <p class="mb-8">
    Workflows are the life-blood of your data flow. Clean, process, compute data to be presented in your dashboards.
  </p>

  <div class="card card--sm">
    {% render_table table %}

    {% if workflow_count == 0 %}
    <div class="text-center pad--sm">
      <small>
        You have no workflows yet, <a href="{% url 'project_workflows:create' project.id  %}" class="link">create
          one</a> to see it here
      </small>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
