<turbo-frame id='node-editable-title'>
  <div class="flex flex-row items-center">
    <i class='fad {{object.icon}} fa-3x text-blue mr-2'></i>
    <form 
      method="POST" 
      action="{% url 'workflows:node_name' object.id %}"
      data-controller="trigger"
      data-action="submit->trigger#dispatch"
      data-trigger-event-value="node-name-update-{{ object.id }}"
    >
    {% csrf_token %}
      <input 
        class='input__inline' 
        id="name" 
        type="text" 
        name="name"
        value="{% if object.name %}{{ object.name }}{% else %}{{ object.display_name|capfirst }}{% endif %}"
      ></input>
    </form>
  </div>
</turbo-frame>
