{% load crispy_forms_tags %}

<turbo-frame id="workflow-node">
  <div class="workflow-detail__sidebar">
    {% if node.kind == "filter" %}
    <turbo-frame id="node-{{ object.id }}-filters" src="{% url 'filters:list' %}"> </turbo-frame>
    {% else %}
    <form method="post" action="{% url 'workflows:node' workflow.id node.id %}">
      {% csrf_token %}
      {% crispy form %}
    </form>
    {% endif %}
  </div>

  <div class="workflow-detail__table">
    <turbo-frame id="workflows-grid" src="{% url 'workflows:grid' workflow.id object.id %}">Loading...</turbo-frame>
  </div>
</turbo-frame>
