{% load static humanize %}

<div class="flex flex-col">
  <div class="flex items-baseline gap-3 pad">
    <h3><i class="far fa-fw fa-sitemap text-black-50 mr-3"></i>Workflows</h3>
    {% if workflows.total > 0 %}
    <p class="text-black-50 ml-auto">
      <a class="link" href="{% url 'project_workflows:list' project.id %}" data-turbo-frame="_top">
        {{ workflows.total }} workflow{{ workflows.total|pluralize }}
      </a>
      - {{ workflows.nodes|intcomma }} node{{ workflows.nodes|pluralize }}
      - {{ workflows.results|intcomma }} result{{ workflows.results|pluralize }} saved
    </p>
    {% endif %}
  </div>

  <div class="flex gap-8 w-full overflow-auto" style="padding: 0.8rem 1.6rem;"> 
    {% for workflow in workflows.all|slice:":12" %}
    <a
      class="card card--none card--flex gap-3 items-center flex-col"
      style="flex: 0 0 13rem; padding: 1.8rem 0.2rem;"
      href="{% url "project_workflows:detail" project.id workflow.id %}"
      data-turbo-frame="_top"
    >
      <i class="fas fa-fw fa-sitemap text-black-50" style="font-size: 1.6rem"></i>
      <p class="truncate w-full px-6 text-center small">{{ workflow.name }}</p>
    </a>
    {% endfor %}
  </div>

  <div class="pad">
    {% if integrations.ready == 0 and workflows.total == 0 %}
    <p class="text-black-50">
      A visual editor to clean, transform, and analyse your data, needs at
      least <strong>one integration</strong>.
    </p>
    {% elif workflows.total == 0 %}
    <div class="table__empty table__empty--slim">
      <a
        href="{% url 'project_workflows:list' project.id %}"
        class="h3 link" 
        data-turbo-frame="_top"
      >
        Start transforming your data now
      </a>
      <p class="text-black-50 mt-3">
        Clean and analyze your data using a simple drag and drop interface.
      </p>
    </div>
    {% elif not workflows.operational %}
      {% if workflows.incomplete > 0 %}
        <p class="text-black-50">
          <i class="fa fa-exclamation-triangle text-orange"></i>
          You have {{ workflows.incomplete|intcomma }} incomplete workflow{{ workflows.incomplete|pluralize }}.
        </p>
      {% endif %}
      {% if workflows.outdated > 0 %}
        <p class="text-black-50">
          <i class="fa fa-exclamation-triangle text-orange"></i>
          You have {{ workflows.outdated|intcomma }} outdated workflow{{ workflows.outdated|pluralize }}.
        </p>
      {% endif %}
      {% if workflows.failed > 0 %}
        <p class="text-black-50">
          <i class="fa fa-exclamation-circle text-red"></i>
          You have {{ workflows.failed|intcomma }} failed workflow{{ workflows.failed|pluralize }}.
        </p>
      {% endif %}
    {% else %}
      <p class="text-black-50">
        <i class="fa fa-check-circle text-green"></i>
        Your workflows have no errors.
      </p>
    {% endif %}
  </div>
</div>