{% if object.page.dashboard.show_widget_headers %}
  <h3
    id="widget-name-{{ object.id }}"
    class="text-center py-4"
    style="
      {% if object.page.dashboard.widget_header_font_size %}font-size:{{ object.page.dashboard.widget_header_font_size }}px;{% endif %}
      {% if object.page.dashboard.widget_background_color %}background-color:{{ object.page.dashboard.widget_background_color }};{% endif %}
    "
    {% if not object.name or object.kind == "text" or object.kind == "metric" or not object.page.dashboard.show_widget_headers %}hidden{% endif %}
  >
    {{ object.name }}
  </h3>
{% endif %}