{% extends "widgets/base.html" %}
<!---->
{% block app %}
<h1>Detail</h1>
<p>{{ object.name }}</p>
<turbo-frame id="widgets:config" src="{% url 'widgets:config' object.id %}">
</turbo-frame>
<turbo-frame id="filters" src="{% url 'filters:list' %}"> </turbo-frame>
<turbo-frame
  id="widgets:output-{{ widget.id }}"
  src="{% url 'widgets:output' object.id %}"
>
  Loading...
</turbo-frame>
<a
  data-controller="url-search-params"
  data-url-search-params-key-value="widget_id"
  data-action="click->url-search-params#remove"
  href="{% url 'widgets:list' %}"
  >List</a
>
{% endblock %}
