{% extends "widgets/base.html" %}
{% load static %}
{% block widget %}
<div class="flex items-center gap-4 mb-4">
  <h1>{{ object.name }}</h1>
  <a href="{% url 'projects:dashboards:widgets:list' project.id dashboard.id %}" class="button button--sm button--green">Back</a>
</div>

<div data-controller="tf-refresh" class="flex flex-wrap">
  <div class="w-1/2">
    <h3 class="">Config</h3>
    <turbo-frame id="widgets:config" src="{% url 'widgets:config' object.id %}">
    </turbo-frame>
    <h3 class="">Filters</h3>
    <turbo-frame id="widget-{{ object.id }}-filters" src="{% url 'filters:list' %}"> </turbo-frame>
  </div>
  <div class="w-1/2">
    <turbo-frame data-tf-refresh-target="turboFrame" id="widgets:output-{{ widget.id }}"
                 src="{% url 'widgets:output' object.id %}">
      Loading...
    </turbo-frame>
  </div>
</div>
{% endblock %}

{% block page_js %}
<script src="{% static "fusioncharts/fusioncharts.js" %}"></script>
<script src="{% static "fusioncharts/fusioncharts.charts.js" %}"></script>
<script src="{% static "fusioncharts/themes/fusioncharts.theme.fusion.js" %}"></script>
{% endblock %}