<nav class="tabbar">
  {% comment %} <a class="tabbar__link">
    Help
  </a> {% endcomment %}
  {% if widget.table %}
    <a class="tabbar__link {% if active_item == 'input' %}tabbar__link--active{%endif%}" 
      href="{% url 'dashboard_widgets:input' project.id dashboard.id object.id %}?source=modal"
      data-turbo-frame="widgets-output-{{object.id}}-modal"
    >
      Input
    </a>
  {% endif %}
  <a class="tabbar__link {% if active_item != 'input' %}tabbar__link--active{%endif%}" 
    href="{% url 'dashboard_widgets:output' project.id dashboard.id object.id %}?source=modal"
    data-turbo-frame="widgets-output-{{object.id}}-modal"
  >
    Preview
  </a>

  <div class="absolute top-0 right-0">
    <button
      class="tf-modal__close tf-modal__close--inline"
      type="submit"
      data-action="click->tf-modal#close"
      data-loading-false
    >
      <i class="fal fa-times fa-lg"></i>
    </button>
  </div>
</nav>