{% load help_utils %}

<form 
  id="widget-name-update-form"
  class="flex flex-row items-center w-full"
  hx-post="{% url 'widgets:name' object.id %}"
  hx-target="this" hx-trigger="submit,focusout" hx-swap="outerHTML"
>
  {% csrf_token %}

  <input 
    class='input__inline' 
    id="name" 
    type="text" 
    name="name"
    placeholder="Untitled widget" 
    value="{% if object.name %}{{ object.name }}{% endif %}"
   /> 

  <div class="ml-auto">
    {% link_article 'dashboards' widget.kind %}
  </div>
</form>