<turbo-frame id="widgets:output-{{ widget.id }}">
  {% if widget.visual_kind == "chart" %}
    {% include 'widgets/visuals/chart.html' %}
  {% elif widget.visual_kind == "table" %}
    {% include 'widgets/visuals/grid.html' %}
  {% else %}
  <div class='flex flex-col items-center justify-center' style="min-height:16rem;">
    <i class="far fa-lightbulb-exclamation text-yellow-300 mb-1 fa-2x"></i>
    <p class="text-base text-gray-500">This widget needs to be <a class='text-blue underline' data-turbo-frame="widgets" href="{% url 'widgets:detail' object.pk %}">configured</a>!</p>
  </div>
  {% endif %}
</turbo-frame>