{% load waffle_tags %}

{% comment %}
IMPORTANT: Any style/layout changs here should also be made to
apps/dashboards/templates/dashboards/preview.html to reflect the changes in
preview mode.
{% endcomment %}
<gy-widget
  id="{% block widget.id %}widget-{{ object.id }}{% endblock widget.id %}"
  x-data
  @mousedown.window="{# fmt:off #}if ($el.contains($event.target)) {
      $el.dataset.focused = true
      $el.style.zIndex = 1
    } else {
      $el.dataset.focused = false
      $el.style.zIndex = null
    }{# fmt:on #}"
>
  <template
    id="{% block widget.templateId %}widget-{{ object.id }}{% endblock widget.templateId %}-template"
  >
    <div
      class="h-full w-full"
      data-id="{{ object.id }}"
      data-x="{{ object.x }}"
      data-y="{{ object.y }}"
      data-width="{{ object.width }}"
      data-height="{{ object.height }}"
      {% if dashboard.snap_to_grid %}
        data-grid-size="{{ dashboard.grid_size }}"
      {% else %}
        data-grid-size="1"
      {% endif %}
      {% if object.kind == "image" %}
        data-min-width="15"
      {% endif %}
      {% block widget.attrs %}{% endblock widget.attrs %}
    >
      <div class="widget-card h-full">
        <div
          class="
            widget-card__visual
            {% if object.page.dashboard.show_widget_border %}widget-card__visual--border{% endif %}
          "
          style="
            {% if object.page.dashboard.widget_border_color %}border-color: {{ object.page.dashboard.widget_border_color }};{% endif %}
            {% if object.page.dashboard.widget_border_radius is not None %}border-radius: {{ object.page.dashboard.widget_border_radius }}px;{% endif %}
            {% if object.page.dashboard.widget_border_thickness is not None %}border-width: {{ object.page.dashboard.widget_border_thickness }}px;{% endif %}
          "
        >
          {% block widget %}
          {% endblock widget %}
        </div>

        {% if not request.GET.mode or request.GET.mode == "edit" %}
          <div class='widget-card__commands'>
            {% block widget.commands %}
              <div x-data="popover({ placement: 'bottom-start', theme: 'popover-menu' })">
                <button
                  id="widget-card__more-button"
                  class="widget-card__button"
                  x-ref="trigger"
                >
                  <i class="fas fa-fw fa-ellipsis-v"></i>
                </button>

                <template x-ref="body">
                  <div>
                    <form
                      method="POST"
                      action="{% url 'dashboard_widgets:detail' project.id dashboard.id object.pk %}"
                      class="form--no-layout"
                    >
                      {% csrf_token %}

                      <button
                        id="widget-duplicate-{{ object.id }}"
                        class="list__item list__item--interactive w-full"
                        data-loading-false
                      >
                        Duplicate
                      </button>
                    </form>

                    <form
                      hx-post="{% url 'dashboard_widgets:delete' project.id dashboard.id object.id %}"
                      hx-swap="delete" hx-target="#widget-{{ object.id }}"
                      class="form--no-layout"
                    >
                      {% csrf_token %}

                      <button
                        id="widget-delete-{{ object.id }}"
                        class="list__item list__item--interactive w-full"
                      >
                        Delete
                      </button>
                    </form>

                    {% if object.table %}
                      <a
                        id="widget-source-{{ object.id }}"
                        href="{{ object.table.get_source_url }}"
                        class="list__item list__item--interactive w-full"
                      >
                        Go to source
                      </a>
                    {% endif %}

                    <div x-data="popover({ placement: 'right', theme: 'popover-menu' })">
                      <button
                        class="list__item list__item--interactive w-full"
                        x-ref="trigger"
                      >
                        Move to page
                      </button>

                      <template x-ref="body">
                        {% include 'widgets/forms/move_page.html' %}
                      </template>
                    </div>
                  </div>
                </template>
              </div>

              {% if object.kind != "text" %}
                <button
                  class="widget-card__button"
                  x-tooltip="Edit"
                  x-modal.persist{% if object.kind not in "iframe,image" %}.full{% endif %}="{% url "dashboard_widgets:update" project.id dashboard.id object.pk %}"
                >
                  <i class="fas fa-fw fa-edit"></i>
                </button>
              {% endif %}

              {% if object.kind != "text" and object.kind != "iframe" and object.kind != "image" %}
                <button
                  class="widget-card__button"
                  x-tooltip="Change style"
                  x-modal.persist.full="{% url "dashboard_widgets:update" project.id dashboard.id object.pk %}?tab=style"
                >
                  <i class="fas fa-fw fa-paint-brush"></i>
                </button>
              {% endif %}

              <button
                class="widget-card__drag-handle widget-card__button cursor-move"
                x-tooltip="Drag"
              >
                <i class="fas fa-fw fa-arrows"></i>
              </button>
            {% endblock widget.commands %}
          </div>
        {% endif %}
      </div>

      {% block widget.extra %}{% endblock widget.extra %}
    </div>
  </template>
</gy-widget>
