{% extends "widgets/widget_base.html" %}

{% block widget %}
  {% include 'widgets/_date_range_indicator.html' %}

  {% include 'widgets/_widget_title.html' %}

  <div
    hx-get="{% url 'dashboard_widgets:output' project.id dashboard.id object.id %}?mode={{ request.GET.mode|default:"edit" }}"
    {% comment %}todo: original logic to refresh widget = "not (object.has_control) and object.date_column and object.is_valid"{% endcomment %}
    hx-trigger="load,gy-modal-{{ object.id }} from:window,gy-control from:window"
    style="display: flex;flex: 1 1 0%;min-height: 0;overflow: auto;height: 100%;"
  >
    <div class='placeholder-scr placeholder-scr--fillscreen'>
      <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
      <p class='placeholder-scr__title'>Loading widget...</p>
    </div>
  </div>
{% endblock widget %}
