<gy-widget id="widget-{{ object.id }}" {% if is_new %}data-action="mousedown->zindex#register:once"{% endif %}>
  <div class="p-2 h-full w-full" data-id="{{ object.id }}" data-x="{{object.x}}" data-y="{{object.y}}"
        data-width="{{object.width}}" data-height="{{object.height}}">
    <div class="widget-card h-full">
      <div class='widget-card__visual'>
        {% if object.description %}
        <h3 class="mb-2">{{ object.description }}</h3>
        {% endif %}
        {% if object.is_valid %}
        <turbo-frame id="widgets:output-{{ object.id }}" src="{% url 'widgets:output' object.id %}"
            target="_top" style="display: flex; flex: 1 1 0%; min-height: 0;">
          <div class='placeholder-scr placeholder-scr--fillscreen'>
            <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
            <p class='placeholder-scr__title'>Loading visualisation...</p>
          </div>
        </turbo-frame>
        {% else %}
        <div class='flex flex-col items-center justify-center flex-1'>
          <i class="far fa-lightbulb-exclamation mb-1 fa-2x"></i>
          <p>This widget needs to be
            <a class='text-blue underline'
                href="{% url 'dashboard_widgets:update' project.id dashboard.id object.pk %}">configured</a>!
          </p>
        </div>
        {% endif %}
      </div>

      {% if request.GET.mode == 'edit' %}
      <div class='widget-card__commands'>
        <i class="cursor-move fas fa-fw fa-arrows rnd-handle"></i>
        {% if object.kind != "text" %}
          <a href="{% url 'dashboard_widgets:detail' project.id dashboard.id object.pk %}">
            <i class="fas fa-fw fa-eye"></i>
          </a>
          <a href="{% url 'dashboard_widgets:update' project.id dashboard.id object.pk %}">
            <i class="fas fa-fw fa-edit"></i>
          </a>
        {% endif %}
        <form method='post' action="{% url 'dashboard_widgets:detail' project.id dashboard.id object.pk %}">
          {% csrf_token %}
          <button type='submit'>
            <i class="fas fa-fw fa-copy"></i>
          </button>
        </form>
        <div data-controller="popover" class='mt-auto'>
          <span data-popover-target="trigger" data-action="click->popover#trigger">
            <i class="fas fa-fw fa-trash cursor-pointer"></i>
          </span>
          <div data-popover-target="body" hidden class="popover-body shadow-sm">
            {% include 'widgets/_delete.html' %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</gy-widget>
