<gy-widget id="widget-{{ object.id }}" {% if is_new %}data-action="mousedown->widget-list#register:once" {% endif %}>
  <div class="h-full w-full"
       data-id="{{ object.id }}" data-x="{{object.x}}" data-y="{{object.y}}"
       data-width="{{object.width}}" data-height="{{object.height}}">
    <div class="widget-card h-full">
      <div class='widget-card__visual'>
        {% if object.name %}
        <h3 class="mb-2">{{ object.name }}</h3>
        {% endif %}
        <turbo-frame 
          id="widgets-output-{{ object.id }}"
          src="{% url 'dashboard_widgets:output' project.id dashboard.id object.id %}?mode={{ request.GET.mode|default:"edit" }}"
          style="display: flex; flex: 1 1 0%; min-height: 0;overflow: auto;"
        >
          <div class='placeholder-scr placeholder-scr--fillscreen'>
            <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
            <p class='placeholder-scr__title'>Loading visualisation...</p>
          </div>
        </turbo-frame>
      </div>

      {% comment %} This little hack is for looping through a range. {% endcomment %}
      {% for i in '01234567'|make_list %}
        <span class="widget-card__indicator"></span>
      {% endfor %}

      {% if request.GET.mode == 'edit' %}
      <div class='widget-card__commands'>
        {% if object.kind != "text" %}
        <button  
          data-action="click->tf-modal#open"
          id="widget-update-{{object.id}}"  
          data-item="{{ object.id }}"
          data-src="{% url "dashboard_widgets:update" project.id dashboard.id object.pk %}"
        >
          <i class="fas fa-fw fa-edit" title="Edit"></i>
        </button>

        {% comment %} Uncomment this once we figure out the modal for opening up a chart. {% endcomment %}
        {% comment %} <a href="{% url 'dashboard_widgets:detail' project.id dashboard.id object.pk %}">
          <i class="fas fa-fw fa-eye"></i>
        </a> {% endcomment %}

        {% endif %}

        <form
          method='post'
          action="{% url 'dashboard_widgets:detail' project.id dashboard.id object.pk %}"
          title="Duplicate"
        >
          {% csrf_token %}
          <button id="widget-duplicate-{{object.id}}" type='submit'>
            <i class="fas fa-fw fa-copy"></i>
          </button>
        </form>

        <div class="flex" data-controller="popover">
          <button
            id="widget-delete-{{object.id}}"
            title="Delete"
            data-popover-target="trigger" 
            data-action="click->popover#trigger"
          >
            <i class="fas fa-fw fa-trash cursor-pointer"></i>
          </button>

          <div data-popover-target="body" hidden class="popover-body shadow-sm">
            {% include 'widgets/_delete.html' %}
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</gy-widget>
{% if is_new %}
<script>
  document.getElementById("widget-{{object.id}}").children[0].scrollIntoView()

</script>
{% endif %}
