{% extends 'widgets/forms/default.html' %}

{% block widget_form %}


{% if form.dimension %}
<fieldset>
<div class='formset-wrapper'>
  <label for="{{ form.dimension.id_for_label }}">
    {{ form.dimension.label }}
  </label>
  {{ form.dimension }}


  {% if form.part %}
  <label for="{{ form.part.id_for_label }}">
    {{ form.part.label }}
  </label>
  {{ form.part }}
{% endif %}
</div>
</fieldset>
{% endif %}


{% if form.kind.value == 'heatmap' %}
  <label for="{{ form.dimension.id_for_label }}">
    {{ form.second_dimension.label }}
  </label>
  {{form.second_dimension}}
{% endif %}

<fieldset>
  {% if formsets.Aggregations %}
    {% with formset=formsets.Aggregations %}
      <label>Metrics</label>
      {% include "components/formset.html" with formset=formset %}
    {% endwith %}
  {% elif formsets.Charts %}
    {% with formset=formsets.Charts %}
      <label>Charts</label>
      {% include "components/formset.html" with formset=formset %}
    {% endwith %}
  {% endif %}
</fieldset>
{% if form.kind.value ==  'stackedbar2d' or form.kind.value ==  'stackedcolumn2d' or form.kind.value ==  'msline-stacked' or form.kind.value == "timeseries-line_stacked" or form.kind.value == "timeseries-column-stacked" %}
  <fieldset>
    <label for="{{ form.second_dimension.id_for_label }}">
      {{ form.second_dimension.label}}
    </label>
    <div class="formset-wrapper">
    {{ form.second_dimension }}
    {% if form.stack_100_percent %}
      <label class='input__toggle' for="{{ form.stack_100_percent.id_for_label }}">
        <p class="input__help-text">{{ form.stack_100_percent.label}}</p>
        {{ form.stack_100_percent }}
      </label>
    {% endif %}

    </div>
  </fieldset>
{% endif %}

{% if form.sort_by %}

<fieldset>
  <label>{{ form.sort_by.label}}</label>

  <div class="formset-wrapper">
    {{ form.sort_by }}

    <div>
      <label class="input__toggle" for="{{ form.sort_ascending.id_for_label }}">
        <p class="input__help-text">{{ form.sort_ascending.label}}</p>

        {{form.sort_ascending}}
      </label>
    </div>
  </div>
</fieldset>

{% endif %}

{% if form.kind.value == 'metric' %}

<div class='flex flex-row'>
  <label class="input__toggle" for="{{ form.compare_previous_period.id_for_label }}">
    <p class="input__help-text">{{ form.compare_previous_period.label}}</p>

    {{form.compare_previous_period}}
  </label>

  <label class="ml-3 input__toggle" for="{{ form.positive_decrease.id_for_label }}">
    <p class="input__help-text">{{ form.positive_decrease.label}}</p>

    {{form.positive_decrease}}
  </label>
</div>

{% endif %}

{% endblock %}