{% extends 'widgets/forms/default.html' %}

{% block widget_form %}
<label for="{{ form.label.id_for_label }}">
  {{ form.label.label }}
</label>
{{form.label}}
<fieldset>
  {% if formsets.Aggregations %}
    {% with formset=formsets.Aggregations %}
      <label>Values</label>
      {% include "components/formset.html" with formset=formset %}
    {% endwith %}
  {% endif %}
</fieldset>
{% if form.z %}
  <div class="flex flex-row w-full">
    {% if form.z_aggregator %}
    <div class="w-1/3">
      <label for="{{ form.aggregator.id_for_label }}">
        {{ form.z_aggregator.label}}
      </label>
      {{ form.z_aggregator }}
    </div>
    {% else %}
    <div>
      <label for="{{ form.stack_100_percent.id_for_label }}">
        {{ form.stack_100_percent.label}}
      </label>
      {{ form.stack_100_percent }}
    </div>
    {% endif %}
    <div class="{% if form.z_aggregator %}w-2/3 {% else %}w-full{% endif %}">
      <label for="{{ form.z.id_for_label }}">
        {{ form.z.label}}
      </label>
      {{ form.z }}
    </div>
  </div>
{% endif %}

{% if form.sort_by %}
<fieldset>
  <label>{{ form.sort_by.label}}</label>

  <div class="formset-wrapper">
    {{ form.sort_by }}

    <div>
      <label class="input__toggle" for="{{ form.sort_ascending.id_for_label }}">
        <p class="input__help-text">{{ form.sort_ascending.label}}</p>

        {{form.sort_ascending}}
      </label>
    </div>
  </div>
</fieldset>
{% endif %}
{% endblock %}