{% load waffle_tags %}

<form 
  id="widget-update-form"
  class="widget-update-sidebar__form"
  action="{% url 'dashboard_widgets:update' project.id dashboard.id object.id %}" 
  method="post"
  data-controller="live-update" 
  data-action="
    change->tf-modal#change 
    turbo:submit-end->tf-modal#save 
    formset:remove->live-update#updateForm 
    formset:add->live-update#updateForm 
    formset:remove->tf-modal#change 
    formset:add->tf-modal#change
  "
  data-tf-modal-target="form"
  data-tf-modal-submit-on-close
>  
  {% comment %}
  The pressed button is outside the form this is just to trigger the submit
  {% endcomment %}
  <button
    type="submit"
    formnovalidate
    name="close"
    value="close"
    hidden
  ></button>
  {% csrf_token %}

  {% for hidden_field in form.hidden_fields %}
    {{ hidden_field }}
  {% endfor %}

  <div class="widget-update__body">
    <span data-live-update-target="loading" hidden>
      <i class="placeholder-scr__icon fad fa-spinner-third fa-spin fa-2x"></i>
    </span>

    <div class="flex flex-row gap-7">

      <div class="flex-1 gap-3">
        <label class="label--row mb-3" for="{{ form.table.id_for_label }}">
          <i class="fas fa-fw fa-chart-line text-black-50"></i>
          {{ form.kind.label }}
        </label>
        <p class="input__help-text">{{ bound_fields.kind.help_text }}</p>

        {{ form.kind }}
      </div>
    </div>

    <hr>

    {% block widget_form %}
    
    {% with formsets|dict_key:"Group columns" as formset %}
      {% if formset %}
      <fieldset>
        <label>Groups</label>
        {% include "components/formset.html" with formset=formset %}
      </fieldset>
      {% endif %}
    {% endwith %}
    

    {% if formsets.Aggregations %}
      {% with formset=formsets.Aggregations %}
        <fieldset>
          <label>Metrics</label>
          {% include "components/formset.html" with formset=formset %}
        </fieldset>
      {% endwith %}
    {% endif %}

    {% with array='name kind table date_column sort_column sort_ascending'%}
    {% for bound_field in form.visible_fields %}
    {% if bound_field.name not in array.split %}
      <div class="input-group">
        {% if bound_field.widget_type == "checkbox" %}
        <label class="flex flex-row items-center gap-4 w-full">
          {{ bound_field }}
          <span>
            {{ bound_field.label }}
            <p class=" input__help-text">{{ bound_field.help_text }} {% if not bound_field.field.required %}<span>- optional</span>{% endif %}</p>
            
          </span>
        </label>
        {% elif bound_field.subwidgets|length == 1 %}
        <label>
          <span>
            {{ bound_field.label }}
            <p class=" input__help-text">{{ bound_field.help_text }}</p>
            {% if not bound_field.field.required %}<span class="text-black-50">- optional</span>{% endif %}
          </span>

          {{ bound_field }}
        </label>
        {% else %}
        <label for="{{ bound_field.id_for_label }}">
          {{ bound_field.label }}
          <p class=" input__help-text">{{ bound_field.help_text }}</p>
        </label>
        {{ bound_field }}
        {% endif %}

        {{ bound_field.errors }}
      </div>
    {% endif %}
    {% endfor %}
    {% endwith %}
      
    {% if form.sort_column %}
    <fieldset>
      <label>{{ form.sort_column.label}}</label>

      <div class="formset-wrapper">
        {{ form.sort_column }}

        <div>
          <label class="input__toggle" for="{{ form.sort_ascending.id_for_label }}">
            <p class="input__help-text">{{ form.sort_ascending.label}}</p>

            {{form.sort_ascending}}
          </label>
        </div>
      </div>
    </fieldset>
    {% endif %}

    {% endblock %}

    {% if form.date_column %}
      <fieldset>
        <div class='formset-wrapper' data-controller='widget-slice' >
          <label>Date range</label>
          <div>
            <div
              data-widget-slice-target="input"
              {% if not show_date_column%}hidden{%endif%}
            >
              <p class="input__help-text">{{ form.date_column.help_text }}</p>
              <div class='flex flex-row items-center gap-2'>
                {{form.date_column}}
                <button 
                  type='button'
                  data-action="widget-slice#remove"
                  class='button button--sm button--tertiary button--circle'
                ><i class='fa fa-times'></i>
                </button>
              </div>
            </div>
          <button 
            class="button button--sm"
            data-widget-slice-target='addButton' 
            type='button' 
            data-action="widget-slice#add" 
            data-turbo='false'
            {% if show_date_column %}hidden{%endif%}
          >
            <i class='fa fa-plus'></i> Add date control column
          </button>
          </div>
        
          {% if formsets.control %}
            {% with formset=formsets.control %}
              <fieldset data-widget-slice-target='control'>
                <p class='input__help-text'>You can add date range that overrides the page wide date range control.</p>
                {% include "components/formset.html" with formset=formset %}
              </fieldset>
            {% endwith %}
          {% endif %}


        {% if form.kind.value == 'metric' %}
          <div class='flex flex-row' data-widget-slice-target='compare'>
            <label class="input__toggle" for="{{ form.compare_previous_period.id_for_label }}">
              <p class="input__help-text">{{ form.compare_previous_period.label}}</p>

              {{form.compare_previous_period}}
            </label>

            <label class="ml-3 input__toggle" for="{{ form.positive_decrease.id_for_label }}">
              <p class="input__help-text">{{ form.positive_decrease.label}}</p>

              {{form.positive_decrease}}
            </label>
          </div>

        {% endif %}
      </div>
      </fieldset>
        

    {% endif %}

    

    {% for label, formset in formsets.items %}
    {% if label != "Aggregations" and label != "Charts" and label != "Group columns" and label != "control"%}
      <fieldset>
        <label>{{ label }}</label>
        {% include "components/formset.html" with formset=formset %}
      </fieldset>
    {% endif %}
    {% endfor %}
  

    {% for error in form.non_field_errors %}
    <p class="text-red">
      {{ error|escape }}
    </p>
    {% endfor %}
  </div>

  <div class="widget-update__footer">
    <button
      type="submit"
      name="submit"
      value="Save & Close"
      class="button button--success flex-1"
    >
      Save & Close
    </button>

    <button
      type="submit"
      name="submit"
      value="Save & Preview"
      class="button button--outline button--success flex-1"
    >
      Save & Preview
    </button>
  </div>
</form>
