{% extends 'web/site_base.html' %}

{% block body.content %}
  <div class="bg-gray-20 border-b border-gray">
    <div class="max-w-7xl mx-auto lg:px-8">
      <div class="text-lg max-w-prose mx-auto space-y-2 sm:space-y-4 lg:space-y-8">
        <img src="{{ post.feed_image }}" style="width: 800px;"/>
      </div>
    </div>
  </div>

  <div class="bg-white border-b border-gray">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:py-8 lg:px-8">
      <div class="text-lg max-w-prose mx-auto">
        <h1 class="text-3xl font-extrabold text-gray-900">
          {{ post.title }}
        </h1>
        <div class="mt-6 flex items-center gap-4">
          <div class="flex-shrink-0">
            <img src="{{ post.author.avatar}}" class="rounded-md w-14"/>
          </div>
          <div class="flex-1 min-w-0">
            <div class="focus:outline-none">
              <p class="text font-normal text-gray-900">
                {{ post.author.name }}
              </p>
              <p class="text-base text-gray-600 truncate">
                {{ post.date }}
                • {{ post.readtime }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-gray-20 border-b border-gray">
    <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:py-8 lg:px-8">
      <div class="prose prose-lg prose-blue text-gray-700 mx-auto">
        {{ markdown|safe }}
      </div>
    </div>
  </div>
{% endblock %}