{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="{% static "css/website.css" %}" />
  <link rel="stylesheet" href="{% static "css/tailwind.css" %}" />
  {% include "web/components/intercom-visitors.html" %}
</head>

<body class="bg-gray-20 flex items-center justify-end pr-12">
  <p class="text-gray-600 text-sm w-64 text-center">
    <strong>Not seeing anything?</strong>
    Disable your adblocker to enable our Intercom chat.
  </p>
  <script>
    Intercom('show');
  </script>
</body>
</html>


