{% load static heroicons %}

<div class='mt-4 flex flex-col sm:flex-row items-center gap-2 sm:gap-4'>
  <form class="w-full sm:w-64" action="{% url 'web:search-integrations-demo' %}" method="GET">
    <input type="search" name="query" class="focus:outline-none w-full border border-gray rounded-lg p-1 input input--sm" value="{{ request.GET.query }}" placeholder="Search...">
  </form>
  <p class="text-2xl lg:text-3xl text-caveat text-indigo-600 mb-2">or</p>
  <p class="text-lg text-gray-600 max-w-3xl flex items-center">
    Browse by category
    {% heroicon 'arrow-down' class="ml-1 h-5 w-5" style="solid" %}
  </p>
  {% if request.GET.query or request.GET.category %}
    <a href="{% url 'web:search-integrations-demo' %}" class="inline-flex items-center px-3 py-1 rounded-full text-sm font-medium bg-gray-100 text-gray-800">
      {% heroicon 'x' class="-ml-1 mr-1 h-5 w-5" %}
      Cancel
    </a>
  {% endif %}
</div>
{% if request.GET.query and not services_query %}
  <p class="mt-8 text-2xl lg:text-3xl text-caveat text-indigo-600 flex items-center gap-2">
    No results found
  </p>
{% else %}
  <div class="mt-4 flex-1 grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-6 gap-8">
    {% if request.GET.query %}
      {% for connector in services_query %}
        <div class="card card--none">
          <div class="flex flex-col h-full">
            <img class="w-full p-4" src="{% static 'images/integrations/fivetran/'|add:connector.icon_path %}" alt="">
            <div class="mt-auto bg-gray text-gray-600 border border-gray w-full text-center">{{ connector.name }}</div>
          </div>
        </div>        
      {% endfor %}
    {% elif request.GET.category %}
      {% for category in content.apps %}
        {% if request.GET.category == category.name %}
          {% for id in category.connectors %}
            {% with connector=services|get_item:id %}
              <div class="card card--none">
                <div class="flex flex-col h-full">
                  <img class="w-full p-4" src="{% static 'images/integrations/fivetran/'|add:connector.icon_path %}" alt="">
                  <div class="mt-auto bg-gray text-gray-600 border border-gray w-full text-center">{{ connector.name }}</div>
                </div>
              </div>
            {% endwith %}
          {% endfor %}   
        {% endif %}    
      {% endfor %}
    {% else %}
      {% for category in content.apps %}
        <a href="{% url 'web:search-integrations-demo' %}?category={{ category.name }}" class="card card--none">
          <div class="flex flex-col h-full">
            <div class="grid grid-cols-2 gap-4 p-4">
              {% for id in category.connectors|slice:":4" %}
                {% with connector=services|get_item:id %}
                  <img class="w-full h-full" src="{% static 'images/integrations/fivetran/'|add:connector.icon_path %}" alt="">
                {% endwith %}
              {% endfor %}
            </div>
            <div class="mt-auto bg-gray text-gray-600 border border-gray w-full text-center">{{ category.name }}</div>
          </div>
        </a>
      {% endfor %}
    {% endif %}
  </div>
{% endif %}