{% extends "widgets/base.html" %}
<!---->
{% block app %}
<h1>Detail</h1>
<p>{{ object.name }}</p>
<turbo-frame
  id="widgets:config"
  src="{% url 'dashboards:widgets:config' dashboard.id object.id %}"
>
</turbo-frame>
<turbo-frame
  id="filters"
  src="{% url 'dashboards:widgets:filters:list' dashboard.id object.id %}"
>
</turbo-frame>
<turbo-frame
  id="widgets:output-{{ widget.id }}"
  src="{% url 'dashboards:widgets:output' dashboard.id object.id %}"
>
  Loading...
</turbo-frame>
<a href="{% url 'dashboards:widgets:list' dashboard.id %}">List</a>
{% endblock %}
