{% load render_table from django_tables2 %}

{% if cname_count > 0 %}
  <p class="alert mb-4">Refresh the page to update CNAME status</p>
{% endif %}

<div class="card card--none">
  {% render_table table %}

  {% if cname_count == 0 %}
  <div class="table__empty">
    <i class="fas fa-fw fa-4x fa-sparkles mb-7"></i>
    <h3>You have no custom domains</h3>
      <p>
        Why not <a href="{% url 'team_cnames:create' team.id %}" class="link">create one</a>?
      </p>
  </div>
  {% else %}
  <div class="pad flex flex-col space-y-8">
    <small>
        <a href="{% url 'team_cnames:create' team.id %}" class="link" data-turbo-frame="_top">
          <i class="fa fa-fw fa-plus mr-2"></i>Add a custom domain</a>
    </small>
  </div>
  {% endif %}
</div>
