%input {
  background-color: var(--c-white);
  border: 1px solid var(--c-black-20);
  border-radius: 5px;
  color: var(--c-black);
  font-size: 1.4rem;
  padding: 1.2rem 0.8rem;
  width: 100%;

  &:focus {
    border-color: var(--c-blue);
    color: var(--c-black);
    outline: none;
  }
}

input[type='submit'] {
  cursor: pointer;
}

input[type='text'] {
  @extend %input;
}

input[type='email'] {
  @extend %input;
}

input[type='password'] {
  @extend %input;
}

input[type='url'] {
  @extend %input;
}

input[type='file'] {
  @extend %input;
}

input[type='number'] {
  @extend %input;
}

input[type='time'] {
  @extend %input;
}

input[type='date'] {
  @extend %input;
}

input[type='datetime-local'] {
  @extend %input;
}

textarea {
  @extend %input;
}

select {
  @extend %input;

  option {
    color: var(--c-black-50);
  }
}

label {
  color: var(--c-black);
  display: flex;
  flex-flow: column;
  font-size: 1.4rem;
  gap: 0.8rem;
  line-height: 1.6rem;
  width: 100%;

  &:focus-within {
    color: var(--c-blue);
  }

  &.label--row {
    flex-flow: row;
  }

  ul li {
    padding: 0.4rem 0;
  }
}

input.input,
.input {
  @extend %input;

  &__inline {
    border: none;
    color: var(--c-black);
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0.4rem;

    &:hover {
      background-color: var(--c-gray-50);
    }
  }

  &__contenteditable {
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    font-weight: 500;
    outline: none;
    text-align: center;
  }

  &__help-text {
    color: var(--c-black-20);
    display: block;
    font-size: 1.2rem;
    line-height: 1.4rem;
  }
}