%heading {
  font-weight: 500;
  line-height: 1.5;
  margin-top: 0;
}

h1, 
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @extend %heading;
}

h1,
.h1 {
  font-size: 1.25rem;
}

h2,
.h2 {
  font-size: 1rem;
}

h3,
.h3 {
  font-size: 1rem;
}

p,
.p {
  font-size: 0.875rem;
  color: var(--c-black-50);
}

.link {
  color: var(--c-blue);

  &:hover {
    color: var(--c-blue-50);
    text-decoration: underline;
  }
}