%heading {
  font-weight: 500;
  line-height: 1.5;
  margin-top: 0;
}

h1, 
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  @extend %heading;
}

h1,
.h1 {
  font-size: 2.6rem;
}

h2,
.h2 {
  font-size: 2.0rem;
}

h3,
.h3 {
  font-size: 1.8rem;
}

h4,
.h4 {
  font-size: 1.6rem;
}

p,
.p {
  font-size: 1.4rem;

  + p {
    margin-top: 1.6rem;
  }
}

a {
  font-size: 1.4rem;
}

small,
.small {
  font-size: 1.2rem;
  line-height: 1.4rem;
}

b,
strong,
.bold,
.strong {
  font-weight: 500;
}

hgroup {
  display: flex;
  flex-flow: column;
}

.link {
  color: var(--c-blue);

  &:hover {
    color: var(--c-blue-50);
    text-decoration: underline;
  }
}

hr {
  color: var(--c-gray);
}