{% load static %}

<div
  class="card card--sm connector__card"
  {% if not team.is_free and service.id in disabled_services %}
    disabled
  {% endif %}
  >
  <div class="flex items-center gap-7">
    <img
    style="height:2.4rem;"
    src="{% static 'images/integrations/fivetran/'|add:service.icon_path %}"
    alt="{{ service.name }}"
    />
    <h4 {% if service.is_beta %}class="beta"{% endif %}>{{ service.name }}</h4>
    
    <a
      class="connector__card__button button button--sm ml-auto"
      {% if not team.is_free and service.id in disabled_services %}
        disabled
      {% else %}
        href="{% url 'project_integrations_connectors:create' project.id %}?service={{ service.id }}"
      {% endif %}
    >
      Import with Fivetran
    </a>
  </div>
</div>