{% load help_utils %}

<div class='integration__file-validate'>
  {% if integration.state == 'load' %}
    <i class="fad fa-fw fa-spinner-third fa-spin fa-2x text-blue text-4xl"></i>
    <div class='flex flex-col ml-4 space-y-4'>
      <h1>Validating and importing your {{ integration.name }} {{ integration.kind }}...</h1>
      <p>
        This can take anywhere from 5 minutes to an hour. You'll get an email when it's ready.
      </p>
      <p class="alert">
          We recommend you continue with your work. You can manually keep track of progress, either by refreshing this page,
          or in <a class="link" href="{% url 'project_integrations:pending' project.id %}">pending integrations</a>.
      </p>
    </div>
  {% elif integration.state == 'error' %}
    <i class="fas fa-fw fa-times text-red fa-2x text-4xl"></i>
    <div class="flex flex-col">
      {% if connector.requires_authorization %}
        <h1>Your connector setup is broken {% link_article 'integrations' 'error' %}</h1>
        <p>
          Try
          <a class="link" href="{{ connector.fivetran_authorization_url }}" data-turbo-frame="_top">
            fixing it
          </a>
          or reach out to support.
        </p>
      {% else %}
        <h1>No data is available {% link_article 'integrations' 'error' %}</h1>
        <p>Your connector is setup, but we haven't received any data yet.</p>
        <p class="alert">Check that you are sending events, and
          <a class="link" href="{% url 'project_integrations:configure' project.id integration.id %}">trigger another sync</a>
        after a few minutes.
        </p>
        <p>Reach out to us if the error persists.</p>
      {% endif %}
    </div>
  {% endif %}
  <table class="table card card--none">
    <thead>
     <tr>
       <th>Step</th>
       <th>Status</th>
       <th>Actions</th>
     </tr>
    </thead>
    <tbody>
      <tr>
        <td><h3>Setup</h3></td>
        <td>
          <p data-controller="tooltip">
            <i class="{{ connector.setup_state_icon }}"></i>
            <span data-tooltip-target="body">{{ connector.get_setup_state_display }}</span>
          </p>
        </td>
        <td>
          <a class="link" href="{{ connector.fivetran_authorization_url }}" data-turbo-frame="_top">
            Setup connector
          </a>
        </td>
      </tr>
      <tr>
        <td><h3>Sync</h3></td>
        <td>
          <p data-controller="tooltip">
            {% if connector.setup_state != 'connected' %}
              <i class="fa fa-horizontal-rule"></i>
              <span data-tooltip-target="body">Waiting - for setup to complete</span>
            {% elif connector.latest_sync_completed %}
              <i class="fa fa-check text-green"></i>
              <span data-tooltip-target="body">Synced - the data is synced from the source</span>
            {% elif connector.latest_sync_failed %}
              <i class="fa fa-times text-red"></i>
              <span data-tooltip-target="body">Failed - unable to complete the sync</span>
            {% else %}
              <i class="{{ connector.sync_state_icon }}"></i>
              <span data-tooltip-target="body">{{ connector.get_sync_state_display }}</span>
            {% endif %}
          </p>
        </td>
        <td>
          <a class="link" href="{% url 'project_integrations:configure' project.id integration.id %}">
            Trigger sync
          </a>
        </td>
      </tr>
      <tr>
        <td><h3>Validation</h3></td>
        <td>
          <p data-controller="tooltip">
            {% if connector.setup_state != 'connected' or not connector.latest_sync_completed %}
              <i class="fa fa-horizontal-rule"></i>
              <span data-tooltip-target="body">Waiting - for sync to complete</span>
            {% elif connector.latest_sync_validated %}
              <i class="fa fa-check text-green"></i>
              <span data-tooltip-target="body">Completed - synced data is validated</span>
            {% elif connector.integration.state == 'error' %}
              <i class="fa fa-exclamation-circle text-orange"></i>
              <span data-tooltip-target="body">Failed - no synced data found</span>
            {% else %}
              <i class="fa fa-spinner-third fa-spin"></i>
              <span data-tooltip-target="body">Validating - validate the synced data</span>
            {% endif %}
          </p>
        </td>
        <td>
          <a class="link" href="#" onClick='window.location.reload()'>
            Reload page
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>