{% extends "web/app/project_settings_base.html" %}
{% load static %}
{% load help_utils %}

{% block app %}
{% if not request.GET.service %}
<div class='flex flex-col pad'>
  <div class="flex items-center gap-3">
    <h2>Choose a connector</h2>

    {% link_article 'integrations' 'connector' %}
    {% link_video 'connector' %}
  </div>

  <div class="flex mt-7 gap-7 w-full">
    <div class="flex-none w-1/3 max-w-sm">
      <div class="connectors__sidebar sidebar card card--none">
        <nav class='sidebar__body'>
          <li>
            <a 
              href="{% url 'project_integrations_connectors:create' project.id %}"
              class="sidebar__link {% if not request.GET.category %} sidebar__link--active {% endif %}">
              All
            </a>
          </li>
          {% for category in service_categories %}
            <li>
              <a 
                href="{% url 'project_integrations_connectors:create' project.id %}?category={{ category }}"
                class="sidebar__link {% if category == request.GET.category %} sidebar__link--active {% endif %}">
                {{ category }}
              </a>
            </li>
          {% endfor %}
        </nav>
      </div>
    </div>

    <div class='flex flex-col w-full max-w-4xl'>
      <form class="connectors__search mb-4" method="GET">
        <input type="search" name="search" value="{{ request.GET.search }}" placeholder="Search all sources" />
      </form>

      <div class="flex-1 flex flex-col space-y-4">
        <div>
          <p>{{ services_query_count }} sources</p>
        </div>
        {% for service in services_query %}
          <a class="card card--sm"
            href="{% url 'project_integrations_connectors:create' project.id %}?service={{ service.id }}">
            <div class="flex items-center gap-7">
              <img style="height:2.4rem;"
                src="{% static 'images/integrations/fivetran/'|add:service.icon_path %}"
                  alt="{{ service.name }}"
              />
              <h4>{{ service.name }}</h4>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% else %}
  
  {% with services|dict_key:request.GET.service as service %}
  <div class="flex flex-1 justify-center items-center">
    <div class="flex flex-col max-w-3xl">
      <h2 class="mb-4">
        Add a new connector
        {% link_article 'integrations' 'connector' %}
        {% link_video 'connector' %}
      </h2>
      <div class="card mb-4">
        <div class="flex flex-col text-center mb-7">
          <img class="h-20 mb-2" src="{% static 'images/integrations/fivetran/'|add:service.icon_path %}"
              alt="{{ service.name }}" />
          {% comment %} <p>Create a new connector to</p> {% endcomment %}
          <h1 class="mb-2">{{ service.name }}</h1>
          <p class="max-w-xl">{{ service.description }}</p>
        </div>
      </div>

      <p>
        You'll now be redirected to <strong>Fivetran</strong> to
        setup your integration. Learn more about our <a class="link" href="{% article_url 'integrations' 'connector' %}">partnership with Fivetran</a>.
      </p>

      <p class="mb-4">
        They'll ask you to authorise <strong>{{ service.name }}</strong> and configure your connection settings.
        Fivetran will run checks to validate and re-direct to us if successful.
        Any issues, take a look at our <a class="link" href="{% article_url 'integrations' 'error' %}">troubleshooting guide<a/>.
      </p>

      <p class="alert mb-4">
        You can revoke our access to your data at any time.
      </p>

      <p>
        The intial import will take from a few minutes to an hour. You'll get an email
        when it's ready to review, or you can keep an eye on the <a class="link" href="{% url 'project_integrations:list' project.id %}">integrations</a> page.
      </p>

      <p class="alert mb-6">
        After the initial import, new data will sync into Gyana automatically.
      </p>
      
      <form id="create-form" method="post" action="{{ request.get_full_path }}" class="form max-w-xl" data-turbo="false">
        {% csrf_token %}

        {% include "django/forms/default_form.html" %}

        <button type="submit" class="button button--success">
          Continue
        </button>
      </form>
    </div>
  </div>
  {% endwith %}

{% endif %}
{% endblock %}
