{% extends "projects/settings_base.html" %}
{% load static %}
{% load help_utils %}
{% load waffle_tags %}

{% block app %}
{% if not request.GET.service %}
<div class='flex flex-col pad'>
  <div class="flex flex-col gap-3">
    <div class="flex items-center gap-3">
      <h2>Choose a connector</h2>
  
      {% link_article 'integrations' 'connector' %}
      {% link_video 'connector' %}
    </div>

    <p>
      You'll need to authorise each connector using <strong>Fivetran</strong>. <br>
      Learn more about our <a class="link" href="{% article_url 'integrations' 'connector' %}">partnership with Fivetran</a>.
    </p>
  </div>

  <div class="flex mt-7 gap-7 w-full">
    <div class="flex-none w-1/3 max-w-sm">
      <div class="connectors__sidebar sidebar card card--none">
        <nav class='sidebar__body'>
          <li>
            <a 
              href="{% url 'project_integrations_connectors:create' project.id %}"
              class="sidebar__link {% if not request.GET.category %} sidebar__link--active {% endif %}"
            >
              All
            </a>
          </li>

          {% for category in service_categories %}
            <li>
              <a 
                href="{% url 'project_integrations_connectors:create' project.id %}?category={{ category }}"
                class="sidebar__link {% if category == request.GET.category %} sidebar__link--active {% endif %}"
              >
                {{ category }}
              </a>
            </li>
          {% endfor %}
        </nav>
      </div>
    </div>

    <div class='flex flex-col w-full max-w-4xl'>
      <form class="connectors__search mb-4" method="GET">
        <input type="search" name="search" value="{{ request.GET.search }}" placeholder="Search all sources" />
      </form>

      <div class="flex-1 flex flex-col space-y-4">
        <div>
          <p>{{ services_query_count }} sources</p>
        </div>
        {% for service in services_query %}
          {% if not service.hide %}

            {% if service.is_beta %}
              {%flag 'beta'%}
                {% include 'connectors/_connector_card.html' %}
              {% endflag %}
            {% else %}
              {% include 'connectors/_connector_card.html' %}
            {% endif %}

          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% else %}
  
  {% with services|dict_key:request.GET.service as service %}
  <div class="flex flex-1 justify-center items-center">
    <div class="flex flex-col max-w-3xl">
      <h2 class="flex items-center gap-3 mb-4">
        Add a new connector

        {% link_article 'integrations' 'connector' %}
        {% link_video 'connector' %}
      </h2>

      <div class="card mb-4">
        <div class="flex flex-col items-start gap-4">
          <img class="h-40 object-contain mb-2" src="{% static 'images/integrations/fivetran/'|add:service.icon_path %}" alt="{{ service.name }}" />
          <h1 {% if service.is_beta %}class="beta"{% endif %}>{{ service.name }}</h1>
          <p class="max-w-xl">{{ service.description }}</p>
        </div>
      </div>

      {% if service.alias == 'mysql' %}
        <p class="mb-4">
          {{ service.name }} is built on the MySQL database.
          Instead of pulling data from its API, we pull directly from the source database, saving time and effort.
          Continue to view our MySQL connectors.
        </p>
        
        <a
          class="button button--success w-full"
          href="{% url 'project_integrations_connectors:create' project.id %}?search=mysql"
        >
          Continue
        </a>
      {% else %}
        <p>
          You'll now be redirected to <strong>Fivetran</strong> to
          setup your integration. Learn more about our <a class="link" href="{% article_url 'integrations' 'connector' %}">partnership with Fivetran</a>.
        </p>

        <p class="mb-4">
          They'll ask you to authorise <strong>{{ service.name }}</strong> and configure your connection settings.
          Fivetran will run checks to validate and re-direct to us if successful.
          Any issues, take a look at our <a class="link" href="{% article_url 'integrations' 'error' %}">troubleshooting guide<a/>.
        </p>

        <p class="alert mb-4">
          You can revoke our access to your data at any time.
        </p>

        <p>
          The intial import will take from a few minutes to an hour. You'll get an email
          when it's ready to review, or you can keep an eye on the <a class="link" href="{% url 'project_integrations:list' project.id %}">integrations</a> page.
        </p>

        <p class="alert mb-6">
          After the initial import, new data will sync into Gyana automatically.
        </p>
        
        <form
          id="create-form"
          method="POST" action="{{ request.get_full_path }}"
          class="form--no-layout"
          data-turbo="false"
        >
          {% csrf_token %}

          {% include "django/forms/default_form.html" %}
          
          <div class="flex gap-3 w-full">
            <a
              href="{% url 'project_integrations_connectors:create' project.id %}"
              class="button button--tertiary flex-1"
            >
              Go back
            </a>

            <button type="submit" class="button button--success flex-1">
              Continue
            </button>
          <div>
        </form>
      {% endif %}
    </div>
  </div>
  {% endwith %}

{% endif %}
{% endblock %}
