{% load static %}
<!DOCTYPE html>
<html class="h-full">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include 'web/components/meta.html' %}
  {% include 'web/components/favicon.html' %}

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="flex flex-col pad">
  <div class="flex justify-center">
    <p>Mock Fivetran authorization page, <a href="{{ request.GET.redirect_uri }}" class="link" data-turbo="false">continue</a>.</p>
  </div>

</body>

</html>
