{% extends "integrations/base.html" %}

{% block tab %}
<div class="flex flex-col pad">
  <h1>Schema</h1>
  <p class="text-black-50">
    Here you can select which schemas and/or tables that should be included in the scheduled syncs. Note that all tables
    are displayed here, if a table is empty it won't show up for usage.
    (E.g. disable syncing big tables with many rows that are not going to be used.)
  </p>

  {% include "connectors/_schema.html" with confirmation_text="Update" %}  
</div>

{% endblock %}
