{% load humanize static help_utils%}

{% if object.succeeded_at %}
  last synced at <strong>{% include 'columns/natural_datetime.html' with datetime=object.succeeded_at %}</strong>
{% else %}  
  never synced
{% endif %}

{% if object.sync_state == 'sunset' %}
  • <span data-controller='tooltip'
    data-tooltip-content="This connector has been deprecated"
    class="text-orange"
    >
    Connector no longer supported
  </span>
  {%link_article 'integrations' 'adwords-sunset'%}
{% elif object.setup_state == 'not-found' %}
  <span data-controller='tooltip' 
    data-tooltip-content="Fivetran can't find this connector please contact the support."
  >
    <i class="fa fa-times text-red"></i> Connector not found
  </span>
{% elif object.requires_authorization %}
  • <a class="link text-red" href="{{ object.fivetran_authorization_url }}" data-turbo-frame="_top">
      needs attention
    </a>
{% endif %}

