:root {
  --c-black: #242733;
  --c-black-50: #6a6b77;
  --c-black-20: #a0a1ae;
  --c-black-10: #cbccd6;

  --c-white: #ffffff;

  --c-gray: #e5e5e5;
  --c-gray-50: #f7f7f7;
  --c-gray-20: #fafafc;

  --c-blue: #0030dc;
  --c-blue-50: #8098ee;
  --c-blue-20: #ccd6f8;
  --c-blue-10: #e6ebfc;

  --c-pink: #d10070;
  --c-pink-50: #e880b8;
  --c-pink-20: #f6cce2;
  --c-pink-10: #fbe6f1;

  --c-orange: #f2a06e;
  --c-orange-50: #f9d0b7;
  --c-orange-20: #fce3d4;
  --c-orange-10: #fdf3ed;

  --c-green: #0db145;
  --c-green-50: #87d9a3;
  --c-green-20: #cfefda;
  --c-green-10: #e2f6e9;

  --c-red: #e30303;
  --c-red-50: #f28181;
  --c-red-20: #f9cdcd;
  --c-red-10: #fde6e6;

  --c-transparent: transparent;
}
