{% load static %}

<div class="bg-gray-20 border-b border-gray">
  <div class="max-w-7xl mx-auto py-12 px-8 sm:px-6 lg:py-16 lg:px-0">
    <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-y-8">
      {% for logo in content.investors|slice:":6" %}
        <div class="flex justify-center">
          <img class="logo w-full" src="{% static 'images/site/investors/'|add:logo|add:'.svg' %}" />
        </div>
      {% endfor %}
      {% for angel in content.angels %}
        <div class="text-center {% if forloop.first %}lg:col-start-2{% endif %}">
          <p class="text-sm text-gray-900"><strong>{{ angel.name }}</strong></p>
          <p class="text-xs text-gray-600">{{ angel.role}}</p>
        </div>
      {% endfor %}
    </div>
    <p class="mt-12 text-gray-600 text-center">
      Backed by top VCs and angel investors across the US and Europe.
    </p>
  </div>
</div>
