{% extends "web/app/project_settings_base.html" %}
{% load static %}
{% load help_utils %}

{% block app %}

<div class="flex flex-1 justify-center items-center">
  <div class='flex flex-col flex-1 max-w-xl'>

    <div class="flex flex-col text-center mb-7">
      <h1>Upload a CSV file {% link_article 'integrations' 'upload' %}</h1>
    </div>
        
    <div class="flex flex-1 justify-center items-center" id='create-container'>
      <form id="create-form" method="post" action="{{ request.get_full_path }}" class="form max-w-xl">
        {% csrf_token %}

        {% include "django/forms/default_form.html" %}

        {% comment %} <button class="button button--success w-full">Upload a file</button> {% endcomment %}
        {% comment %} <p>It may take a moment to upload your file. To keep the upload going, stay within the app.</p> {% endcomment %}
      </form>
    </div>
  </div>
</div>

{{ form.media.js }}

{% endblock %}
