{% extends 'integrations/base_setup_progress.html' %}

{% block loading_message %}
    <h1>Validating and importing your upload...</h1>
    <p>This can anywhere from a few seconds to a minute.</p>
{% endblock  %}

{% block success_message %}
  <h4>Upload successfully validated and imported.</h4>
{% endblock  %}

{% block error_message %}
  <h4>Errors occurred when validating your upload.</h4>
  <p>If the problem persists, try uploading to Sheets and use our
    <a class="link" href="{% url 'project_integrations_uploads:create' object.integration.project.id %}">Sheets integration.</a>
  </p>
{% endblock %}

