{% with id=widget.attrs.id %}

<input
  name="{{ widget.name }}"
  id="{{ id }}"
  class="checkbox__hidden"
  value="{{ widget.value }}" 
  type="checkbox"
  {% include "django/forms/widgets/attrs.html" %}
/>

<label
  class="checkbox {% if widget.attrs.disabled %}checkbox__disabled{% else %} checkbox__enabled{% endif %}"
  for="{{ id }}"
  {% if widget.attrs.disabled %}
  data-controller="tooltip"
  data-tooltip-content="Option is disabled: {{ widget.reason|default_if_none:"Table is required" }}"
  {% endif %}
>
  {{ widget.label }}
</label>
{% endwith %}