@use "../../dashboards/styles/dashboard";

@use "../../integrations/styles/integration";

@use "../../projects/styles/project";

@use "../../teams/styles/account";
@use "../../teams/styles/detail";
@use "../../teams/styles/plan";

@use "../../web/styles/landing";
@use "../../web/styles/sidebar";

@use "../../widgets/styles/widget";

@use "../../workflows/styles/workflow";

@use "../../uploads/styles/upload_csv";