@use "../../dashboards/styles/dashboard";
@use "../../integrations/styles/integration";
@use "../../web/styles/landing";
@use "../../web/styles/sidebar";
@use "../../projects/styles/project";
@use "../../widgets/styles/widget";
@use "../../workflows/styles/workflow";