@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-balham.css";

/**
 Customising ag-grid balham theme. See link below for options.
 https://www.ag-grid.com/documentation/react/themes-customising/


 The scrollbars are styled in scrollbar.css
 */
.ag-theme-balham {
  --ag-header-background-color: white;
  --ag-odd-row-background-color: #fafafc;
  --ag-row-hover-color: #0030dc22;
  --ag-secondary-border-color: #e5e5e5;
}

.ag-theme-balham .ag-root-wrapper {
  background-color: transparent;
  border: none;
}

.ag-theme-balham .ag-header {
  background-color: transparent;
  border: none;
}

.ag-theme-balham .ag-header-row {
  height: 40px;
  color: black;
}

.ag-theme-balham .ag-header .ag-header-container {
  border: 1px solid var(--ag-secondary-border-color);
  border-right: none;
  background-color: white;
}

.ag-theme-balham .ag-center-cols-container {
  border-left: 1px solid var(--ag-secondary-border-color);
}

/**
 Look at ag-grid-community/dist/styles/ for use cases of SASS specific variables to overwrite.
 This is overwriting `header-column-separator-height`.
 */
.ag-theme-balham .ag-header-cell::after,
.ag-theme-balham .ag-header-group-cell::after {
  height: 100%;
  top: 0;
}

/** Fixes an ag-grid (+ tailwind?) double border width issue */
.ag-theme-balham * {
  font-family: "Inter", sans-serif;
  border-style: none;
}

.ag-theme-balham .ag-ltr .ag-cell {
  border-right: 1px solid #e5e5e5;
}

.ag-theme-balham .ag-react-container {
  width: 100%;
}
