$button-colors: (
  "primary": var(--c-blue),
  "green": var(--c-green),
  "pink": var(--c-pink),
  "danger": var(--c-red),
  "orange": var(--c-orange),
  "tertiary": var(--c-black),
) !default;

.button {
  --button-color: var(--c-blue);
  --button-background: var(--c-transparent);

  align-items: center;
  border-radius: 50px;
  display: inline-flex;
  font-size: 1.6rem;
  font-weight: 500;
  gap: 0.5em;
  justify-content: center;
  line-height: 1.9rem;
  max-height: 3.9rem;
  padding: 1rem 3rem;
  text-align: center;

  background-color: var(--button-background);
  border: 1px solid var(--button-color);
  color: var(--button-color);
  
  &:disabled,
  &.disabled {
    --button-color: var(--c-black-10);
    --button-background: var(--c-transparent);
  }

  &[href]:hover {
    opacity: 0.5;
  }
  
  &[href]{
    cursor: pointer;
  }

  &--filled {
    background-color: var(--button-color);
    border: 1px solid transparent;
    color: var(--c-white);
  }

  // Colour variant generation
  @each $color, $value in $button-colors {
    &--#{$color} {
      --button-color: #{$value};
    }
  }

  &--tertiary {
    border-color: var(--c-gray);
  }
}

// Sizes
.button--sm {
  font-size: 1.4rem;
  line-height: 1.6rem;
  max-height: 3.2rem;
  padding: 0.8rem 1.6rem;
}

// Variants
.button--square {
  border-radius: 6px;
}

.button--circle {
  font-size: 1.4rem;
  height: 3.2rem;
  padding: 1em;
  width: 3.2rem;

  &.button--sm {
    font-size: 1.2rem;
    height: 2.4rem;
    width: 2.4rem;
  }
}
