$button-colors: (
  "primary": var(--c-blue),
  "green": var(--c-green),
  "pink": var(--c-pink),
  "orange": var(--c-orange),
  "tertiary": var(--c-black),
) !default;

.button {
  --button-color: var(--c-blue);
  --button-background: var(--c-white);

  align-items: center;
  border-radius: 50px;
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  line-height: 20px;
  padding: 0.625em 1.875em;
  text-align: center;

  background-color: var(--button-background);
  border: 1px solid var(--button-color);
  color: var(--button-color);

  &:hover {
    opacity: 0.5;
  }

  &:disabled,
  &.disabled {
    --button-color: var(--c-black-10);
    --button-background: var(--c-white);
  }

  &--filled {
    background-color: var(--button-color);
    border: 1px solid transparent;
    color: var(--button-background);
  }

  // Colour variant generation
  @each $color, $value in $button-colors {
    &--#{$color} {
      --button-color: #{$value};
    }
  }
}

// Sizes
.button--sm {
  font-size: 0.875rem;
  line-height: 16px;
  padding: 0.571428571em 1.14285714em;
}
