$card-colors: (
  "primary": var(--c-blue),
  "green": var(--c-green),
  "pink": var(--c-pink),
  "orange": var(--c-orange),
  "tertiary": var(--c-black),
) !default;

.card {
  --card-color: var(--c-gray);

  padding: 1.875rem;

  background: var(--c-white);
  border-radius: 10px;
  border: 1px solid var(--card-color);

  &--inline {
    display: inline-flex;
  }

  &[href]:hover {
    opacity: 0.5;
  }

  // Colour variant generation
  @each $color, $value in $card-colors {
    &--#{$color} {
      --card-color: #{$value};
      color: var(--card-color);
    }
  }

  // Layout
  &--center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  // Sizes
  &--sm {
    padding: 1rem;
  }

  &__header {
    height: 52px; // TODO
    background-color: var(--c-white);
    border-bottom: 1px solid var(--c-gray);
  }
}