div.CodeMirror {
  font-size: 1.4rem;
  height: auto;
  width: 28rem;
  border: 1px solid var(--c-gray);
  border-radius: 5px;
}

.cm-s-default .cm-operator {
  color: var(--c-blue);
}

.cm-s-default .cm-variable {
  color: var(--c-pink);
}
