.link {
  color: var(--c-blue);
  display: inline-block;
  font-size: inherit;
  font-weight: 500;

  &:focus {
    outline-offset: 2px;
    outline: var(--c-blue-20) dashed 1px;
  }

  &:hover {
    text-decoration: underline;
  }
}