.navbar {
  align-items: center;
  background-color: var(--c-white);
  border-bottom: 1px solid var(--c-gray);
  display: flex;
  flex-shrink: 0;
  height: 4.2rem;
  padding: 0 1.6rem;

  &__title {
    color: var(--c-blue);
    margin: 0 1.6rem 0 0;
    text-transform: uppercase;
  }

  &__menu {
    align-items: center;
    display: inline-flex;
    gap: 1.6rem;
    height: 100%;

    &:last-child {
      margin: 0 0 0 auto;
    }
  }

  &__item {
    align-items: center;
    color: var(--c-black-50);
    display: inline-flex;
    font-size: 1.4rem;
    height: 100%;
    line-height: 1.6rem;
    padding: 0 1rem;

    &:hover,
    &--active {
      box-shadow: inset 0 -3px 0 0 var(--c-blue);
      color: var(--c-black);
    }
  }
}
