.navbar {
  align-items: center;
  background-color: var(--c-white);
  border-bottom: 1px solid var(--c-gray);
  display: flex;
  height: 3.25rem;
  padding: 0 1rem;

  &__title {
    color: var(--c-blue);
    margin: 0 auto 0 0;
    text-transform: uppercase;
  }

  &__menu {
    align-items: center;
    display: inline-flex;
    gap: 1rem;
  }
}