.popover-body {
  background-color: white;
  border-radius: 5px;
  border: 1px solid --var(--c-gray);
  color: var(--c-black);
  margin-top: 6px;
  z-index: var(--z-modal);
}

[data-popover-target="body"] {
  z-index: var(--z-ui);
}
