.sidebar {
  background-color: var(--c-white);
  display: flex;
  flex-flow: column-reverse;

  &__body {
    border-right: 1px solid var(--c-gray);
    display: flex;
    flex-flow: column;
    overflow: auto;
    width: 18rem;
    list-style-type: none;
    flex: 1 1 0%;
  }

  &__link {
    border-left: 0.6rem solid var(--c-transparent);
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1.6rem 1.6rem 1.6rem 1rem;
    text-align: left;

    &--active {
      border-color: var(--c-blue);
      color: var(--c-blue);
      font-weight: 500;
    }

    &:hover {
      background-color: var(--c-gray-10);
      text-decoration: underline;
    }

    img {
      border-radius: 100%;
      display: inline;
      margin-right: 1.5rem;
      width: 1.75rem;
      min-width: 1.75rem;
    }
  }

  &__title {
    align-items: center;
    border-bottom: 1px solid var(--c-gray);
    display: flex;
    height: 4.8rem;
    min-height: 4.8rem;
    padding: 0 1.6rem;

    :first-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
    }

    img {
      display: inline;
      margin-right: 1.5rem;
      min-width: 1.75rem;
      width: 1.75rem;
    }
  }

  label[for='sidebar-toggle'] {
    background-color: var(--c-white);
    color: var(--c-black);
    cursor: pointer;
    display: block;

    i::before {
      content: '\f054';
    }
  }
}

#sidebar-toggle:checked ~ .sidebar__body label[for='sidebar-toggle'] i::before {
  content: '\f053';
}

#sidebar-toggle ~ .sidebar__body {
  overflow: hidden;
  transition: width 0.25s ease;
  white-space: nowrap;
  width: 4.8rem;
}

#sidebar-toggle:checked ~ .sidebar__body {
  width: 18rem;
}
