.tabbar {
  display: flex;

  &::after {
    border-bottom: 1px solid var(--c-gray);
    content: '';
    display: block;
    flex: 1 1 0%;
  }

  &__link {
    border-bottom: 1px solid var(--c-gray);
    color: var(--c-black-50);
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1.6rem;
    text-align: center;

    &--active {
      border-bottom: 2px solid var(--c-blue);
      color: var(--c-black);
      font-weight: 500;
    }
  }
}
