.widget-card {
  display: flex;

  &:hover > &__commands {
    visibility: initial;
  }

  &__visual {
    background: var(--c-white);
    border-color: var(--c-gray);
    border-radius: 10px;
    border: 1px solid var(--c-gray);
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    padding: 1.6rem;
    width: 100%;
    z-index: 1;
  }

  &__commands {
    background-color: var(--c-gray-20);
    border-left: 0;
    border-radius: 10px;
    border: 1px solid var(--c-gray);
    color: var(--c-black-20);
    display: flex;
    flex-flow: column;
    flex-shrink: 0;
    font-size: 1.4rem;
    gap: 1.6rem;
    margin-left: -2.5rem;
    padding: 1rem 0.5rem 1rem 3rem;
    visibility: hidden;
    z-index: 0;

    a:hover {
      color: var(--c-black-50);
    }

    i {
      display: block;
    }
  }
}
