{% extends "projects/settings_base.html" %}
{% load static %}
{% load help_utils %}

{% block app %}
<div class="flex flex-1 justify-center items-center">
  <div class="flex flex-col max-w-3xl">
    <div class="flex flex-col text-center mb-7">
      <h1>
        Connect a Custom API
        {% link_article 'integrations' 'customapi' %}
      </h1>
      <p>Fetch data from a JSON API with flexible options including OAuth2.</p>
    </div>
    
    <form method="post" class="mt-7">
      {% csrf_token %}

      {{ form }}

      <p class="alert">You can rename this integration at any time.</p>

      <button type="submit" class="button button--filled button--success w-full">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
