{% extends "web/base.html" %}
{% load static %}

{% block sidebar_content %}
{% for user_team in request.user.teams.all %}
<li>
  <a class="sidebar__link {% if user_team.id == team.id %}sidebar__link--active{% endif %}"
     href="{% url 'teams:detail' user_team.id %}">
    <span class="inline-block fa-fw mr-6 uppercase bold">{{ user_team.name|slice:1 }}.</span>{{ user_team.name }}
  </a>
</li>
{% endfor %}

<li>
  <a id="sidebar-newteam" class="sidebar__link" title="New Team" href="{% url 'teams:create' %}">
    <i class="fas fa-fw fa-plus mr-6"></i>New Team
  </a>
</li>
{% endblock %}

{% block body %}

{% block notifications %}{% endblock %}

<section class="flex flex-col flex-1 {% block app-class %}{% endblock %}">
  {% if object.project %}
  <p class="text-sm mb-2">
    <a href="{% url 'projects:tab' object.project.id request.resolver_match.app_name %}">Back to
      {{ object.project.name }}</a>
  </p>
  <p>
    <a href="{% url 'projects:tab' object.project.id request.resolver_match.app_name %}">{{
          request.resolver_match.app_name|title }}</a>
  </p>
  {% endif %}

  {% block app %}{% endblock %}
</section>

{% endblock body %}
