{% extends "web/base.html" %}
{% load static %}

{% block sidebar_content %}
{% for user_team in request.user.teams.all %}
<li>
  <a class="sidebar__link {% if user_team.slug == team.slug %}sidebar__link--active{% endif %}"
     href="{% url 'team_projects:list' user_team.slug %}">
    <i class="fas fa-fw fa-users mr-6"></i>{{ user_team.name }}
  </a>
</li>
{% endfor %}

<li>
  <a class="sidebar__link" href="{% url 'teams:create_team' %}">
    <i class="fas fa-fw fa-plus mr-6"></i>New Team
  </a>
</li>

{% if team %}
<li>
  <a class="sidebar__link {% if request.resolver_match.url_name == 'team' %}sidebar__link--active{% endif %}"
     href="{% url 'single_team:manage_team_react' team.slug %}">
    <i class="fa fa-fw fa-users-cog mr-6"></i>Settings</a>
</li>
{%endif%}
{% endblock %}

{% block body %}

{% block notifications %}{% endblock %}

<section class="flex-1 {% block app-class %}{% endblock %}">
  {% if object.project %}
  <p class="text-sm mb-2">
    <a href="{% url 'projects:tab' object.project.id request.resolver_match.app_name %}">Back to
      {{object.project.name }}</a>
  </p>
  <p>
    <a href="{% url 'projects:tab' object.project.id request.resolver_match.app_name %}">{{
          request.resolver_match.app_name|title }}</a>
  </p>
  {% endif %}

  {% block app %}{% endblock %}
</section>

{% endblock body %}
