{% extends "web/base.html" %}
{% load static %}

{% block sidebar_content %}
<div class="sidebar__title">
  <a class="h3" title="{{ project.name }}" href="{% url 'projects:detail' project.id %}">{{ project.name }}</a>
</div>

{% with app_name=request.resolver_match.app_name %}
<li>
  <a class="sidebar__link {% if app_name == "projects" and request.resolver_match.url_name == 'detail' %}sidebar__link--active{% endif %}"
     href="{% url 'projects:detail' project.id %}">
    <i class="far fa-fw fa-book-open mr-6"></i>Overview
  </a>
</li>

<li>
  <a class="sidebar__link {% if app_name == "project_integrations" %}sidebar__link--active{% endif %}"
     href="{% url 'project_integrations:list' project.id %}">
    <i class="far fa-fw fa-database mr-6"></i>Integrations
  </a>
</li>

<li class="sidebar__bar"></li>

<li>
  <a class="sidebar__link {% if app_name == "project_workflows" %}sidebar__link--active{% endif %}"
     href="{% url 'project_workflows:list' project.id %}">
    <i class="far fa-fw fa-sitemap mr-6"></i>Workflows
  </a>
</li>

<li class="sidebar__bar"></li>

<li>
  <a class="sidebar__link {% if app_name == "project_dashboards" or app_name == "dashboard_widgets" %}sidebar__link--active{% endif %}"
     href="{% url 'project_dashboards:list' project.id %}">
    <i class="far fa-fw fa-chart-pie mr-6"></i>Dashboards
  </a>
</li>

<li>
  <a class="sidebar__link {% if app_name == "projects" and request.resolver_match.url_name == 'update' %}sidebar__link--active{% endif %}"
     href="{% url 'projects:update' project.id %}">
    <i class="far fa-fw fa-cog mr-6"></i>Settings
  </a>
</li>
{% endwith %}
{% include 'components/row_count.html' with team=project.team%}
{% endblock %}

{% block body %}

{% block notifications %}{% endblock %}

<section class="project">
  <section class="flex flex-col flex-1 overflow-auto {% block app-class %}{% endblock %}">
    {% block app %}{% endblock %}
  </section>
</section>
{% endblock body %}
