{% extends "web/base.html" %} {% load static %}
<!-- -->
{% block body %}
<!--  -->
{% block notifications %}{% endblock %}

<section class="flex h-screen w-screen overflow-hidden">
  <nav class="w-52 flex-shrink-0 border-r border-gray-300 bg-gray-50 pl-5 p-2 ">
    <p>
      <a class="text-sm text-blue-600 hover:text-blue-700 transition-colors duration-100" href="{% url 'projects:list' %}">Back to projects</a>
    </p>
    <h1 class="text-lg font-medium mb-2">{{ project.name }}</h1>
    <div class="space-y-2 flex flex-col">
    {% with link_style="py-3 px-4 border-l-2 my-2 rounded-l-sm rounded-md border-transparent" active_link_style="bg-blue-100 border-blue-600 text-blue-700" inactive_link_style="transition-colors duration-100 hover:border-blue-500 hover:bg-blue-50 hover:text-blue-600" %}
      <a
        class="{{link_style}} {% if request.resolver_match.app_name == 'projects' %} {{active_link_style}} {% else %} {{inactive_link_style}} {% endif %}"
        href="{% url 'projects:detail' project.id %}"
        >Overview</a
      >
      <a
        class="{{link_style}} {% if request.resolver_match.app_name == 'projects:integrations' %} {{active_link_style}} {% else %} {{inactive_link_style}} {% endif %}"
        href="{% url 'projects:integrations:list' project.id %}"
        >Integrations</a
      >
      <a
        class="{{link_style}} {% if request.resolver_match.app_name == 'projects:workflows' %} {{active_link_style}} {% else %} {{inactive_link_style}} {% endif %}"
        href="{% url 'projects:workflows:list' project.id %}"
        >Workflows</a
      >
      <a
        class="{{link_style}} {% if request.resolver_match.app_name == 'projects:dashboards' %} {{active_link_style}} {% else %} {{inactive_link_style}} {% endif %}"
        href="{% url 'projects:dashboards:list' project.id %}"
        >Dashboards</a
      >
      <a
        class="{{link_style}} {% if request.resolver_match.app_name == 'projects' %} {{active_link_style}} {% else %} {{inactive_link_style}} {% endif %}"
        href="{% url 'projects:settings' project.id %}"
        >Settings</a
      >
    {% endwith %}
    </div>
  </nav>
  <div class="p-4 w-full overflow-auto">{% block app %} {% endblock %}</div>
</section>
{% endblock body %}
