{% extends "web/base.html" %}
{% load static %}

{% block sidebar_content %}
<div class="sidebar__title">
  <h3 title="{{ project.name }}">{{ project.name }}</h3>
</div>

{% with app_name=request.resolver_match.app_name %}
<li>
  <a class="sidebar__link {% if app_name == "projects" and request.resolver_match.url_name == 'detail' %}sidebar__link--active{% endif %}"
     href="{% url 'projects:detail' project.id %}">
    <i class="far fa-fw fa-file mr-6"></i>Overview
  </a>
</li>

<li>
  <a class="sidebar__link {% if app_name == "project_integrations" %}sidebar__link--active{% endif %}"
     href="{% url 'project_integrations:list' project.id %}">
    <i class="far fa-fw fa-link mr-6"></i>Integrations
  </a>
</li>

<li>
  <a class="sidebar__link {% if app_name == "project_workflows" %}sidebar__link--active{% endif %}"
     href="{% url 'project_workflows:list' project.id %}">
    <i class="far fa-fw fa-stream mr-6"></i>Workflows
  </a>
</li>

<li>
  <a class="sidebar__link {% if app_name == "project_dashboards" or app_name == "dashboard_widgets" %}sidebar__link--active{% endif %}"
     href="{% url 'project_dashboards:list' project.id %}">
    <i class="far fa-fw fa-presentation mr-6"></i>Dashboards
  </a>
</li>
{% endwith %}
{% endblock %}

{% block sidebar_footer %}
<li>
  <a class="sidebar__link {% if app_name == "projects" and request.resolver_match.url_name == 'update' %}sidebar__link--active{% endif %}"
     href="{% url 'projects:update' project.id %}">
    <i class="far fa-fw fa-cog mr-6"></i>Settings
  </a>
</li>

<li>
  <hr>
</li>
{% endblock %}

{% block body %}

{% block notifications %}{% endblock %}

<section class="project">
  <section class="flex flex-col flex-1 overflow-hidden {% block app-class %}{% endblock %}">
    {% block app %}{% endblock %}
  </section>
</section>
{% endblock body %}
