{% comment %} 
IMPORTANT: This template was exported and modified from SendGrid, if you want to
make changes here chat to @Mariusz Zarzycki.
{% endcomment %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html
  data-editor-version="2"
  class="sg-campaigns"
  xmlns="http://www.w3.org/1999/xhtml"
>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"
    >
    <style type="text/css">
    body, p, div {
      font-family: arial,helvetica,sans-serif;
      font-size: 14px;
    }
    body {
      color: #000000;
    }
    body a {
      color: #1188E6;
      text-decoration: none;
    }
    </style>
  </head>
  <body>
    <p>Hello,</p>
    {% block content %}{% endblock content %}
    <p>
      Regards, <br>
      Gyana team <br>
      <a href="https://gyana.com/">https://gyana.com/</a>
    </p>
  </body>
</html>
