{% load humanize %}

<div id="invites-resend" class="flex gap-3">
  {% if record.expired %}Expired{% endif %}
  <form
    hx-post="{% url 'team_invites:resend' record.team.id record.id %}"
    hx-target="#invites-resend" hx-swap="outerHTML"
  >
    {% csrf_token %}

    <button
      class="button button--sm button--circle button--tertiary"
      type="submit"
      data-controller="tooltip"
      data-tooltip-content="Send invite again"
    >
      <i class="fas fa-fw fa-redo-alt"></i>
    </button>
  </form>

  <a
    href="{% url 'team_invites:delete' record.team.id record.id %}"
    class="button button--sm button--circle button--tertiary"
    data-controller="tooltip"
    data-tooltip-content="Delete invite"
    data-turbo-frame="_top"
  >
    <i class="fas fa-fw fa-trash"></i>
  </a>
</div>
