@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles to mimic bulma */

@layer components {
  .icon {
    @apply w-6 h-6 inline-flex justify-center items-center;
  }

  /* typography helpers */
  .title {
    @apply text-4xl font-bold text-gray-900;
  }

  .subtitle {
    @apply text-2xl text-gray-900
  }

  .has-text-centered {
    @apply text-center;
  }
  .has-text-right {
    @apply text-right;
  }
  .has-text-left {
    @apply text-right;
  }

  .section {
    @apply m-4;
  }

  .columns {
    @apply flex flex-row space-x-4;
  }

  .columns-reversed {
    @apply flex flex-row-reverse;
  }

  .column {
    @apply flex-1;
  }

  .is-one-quarter {
    @apply w-1/4;
  }

  .is-three-quarters {
    @apply w-3/4;
  }

  .menu {
    @apply my-8;

    .menu-label {
      @apply text-gray-500 text-sm my-2;
    }

    .menu-list {
      @apply mb-4;
    }

    .menu-list a {
      @apply py-2 px-2 block w-full text-gray-900 hover:bg-gray-100;
    }

    .menu-list a.is-active {
      @apply py-2 px-2 block w-full text-gray-900 hover:bg-gray-100;
      @apply text-blue-500;
    }
  }

  .button {
    @apply inline-block px-4 py-2 rounded-md border border-gray-300 hover:border-gray-500 focus:outline-none;
  }

  .button.is-primary {
    @apply px-4 py-2 rounded-md outline-none;
    @apply bg-blue-500 text-white hover:bg-blue-700;
  }

  .button.is-primary.is-outlined {
    @apply px-4 py-2 rounded-md outline-none;
    @apply bg-transparent text-blue-500 border border-blue-500 hover:text-blue-700 hover:border-blue-700 hover:bg-blue-50;
  }

  .is-primary {
    @apply text-blue-500;
  }

  .is-danger {
    @apply text-red-500;
  }

  /* tables */
  .table.is-fullwidth {
    @apply w-full;
  }

  /* forms */

  .label {
    @apply block mt-4 font-bold;
  }

  .help {
    @apply text-xs text-gray-700;
  }

  .input {
    @apply my-2 px-3 py-2 border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring-blue-500 w-full rounded-none sm:text-sm;
  }

  .select select {
    @apply my-2 px-3 py-2 border border-gray-300 focus:border-blue-500 focus:outline-none focus:ring-blue-500 w-full rounded-none sm:text-sm;
    @apply bg-white;
  }
}

/* overall site layout */
@layer components {
  .navbar-menu {
    @apply h-full flex items-center space-x-2;
  }
  .navbar-item {
    @apply h-full inline-block align-middle px-4 text-blue-700 flex items-center;
  }

  .app {
    @apply m-4;
  }

  .app-two-column {
    @apply flex flex-row;
  }

  #app-nav {
    @apply w-60;
  }

  #app-content {
    @apply w-full;
  }

  .app-card {
    @apply shadow-md p-8 m-8;
  }

  .app-message {
    @apply text-center py-4 mb-2;
  }
  .app-message.is-success {
    @apply bg-green-50 text-green-700;
  }
  .app-message.is-danger {
    @apply bg-red-50 text-red-500;
  }

  .form-controls {
    @apply my-4 flex space-x-2;
  }
}

/* subscriptions */

@layer components {
  .subscription-plan-selector-buttons {
    @apply flex justify-center space-x-4 my-4;
  }

  .plan {
    @apply h-full px-8 py-4 border-4 rounded-md border-white;
  }

  .plan.is-selected {
    @apply border-blue-500 border-opacity-100;
  }

}

/* pegasus stuff */

@layer components {
  .pg-title {
    @apply text-4xl font-bold text-gray-900;
  }
  .pg-subtitle {
    @apply text-2xl text-gray-900;
  }


  /* buttons */
  .pg-button-primary {
    @apply px-4 py-2 rounded-md outline-none;
    @apply bg-blue-500 text-white hover:bg-blue-700;
  }

  .pg-button-secondary {
    @apply px-4 py-2 rounded-md outline-none;
    @apply bg-transparent text-blue-500 border border-blue-500 hover:text-blue-700 hover:border-blue-700 hover:bg-blue-50;
  }
  .pg-button-danger {
    @apply px-4 py-2 rounded-md outline-none;
    @apply bg-transparent text-red-500 border border-red-500 hover:text-red-700 hover:border-red-700 hover:bg-red-50;
  }
  .pg-inline-buttons {
    @apply flex;
  }
  .pg-justify-content-end {
    @apply justify-end;
  }

  .pg-table {
    @apply w-full table-auto border-gray-500;
  }
}

/* set pegasus css variables to tailwind colors */

:root {
  --primary: #3b82f6;  /* tailwind blue-500 */
  --danger: #ef4444;  /* tailwind red-500 */
  --success: #10b981;  /* tailwind green-500 */
}

/* todo: remove these if can't get them working */
/*@import './tailwind/bulma-compat.css'*/
/*@import './tailwind/components.css';*/
/*@import './tailwind/layout.css';*/
