@charset "utf-8";

@use "base/typography";
@use "base/forms";

@use "utilities/colours";
@use "utilities/variables";
@use "utilities/padding";
@use "utilities/shadows";

@use "components/button";
@use "components/heads";
@use "components/link";
@use "components/tooltip";
@use "components/card";
@use "components/navbar";
@use "components/modal";
@use "components/table";
@use "components/widget_card";
@use "components/toast";
@use "components/placeholder_screen";
@use "components/guide";
@use "components/tabbar";
@use "components/aggrid";
@use "components/list";

@use "pages/landing";
@use "pages/project";
@use "pages/workflow";

:root {
  background-color: var(--c-gray-10);
  color: var(--c-black);

  // Why do we do this? TODO
  font-size: 62.5%;
}
