@charset "utf-8";

// Base styles that apply throughout the entire site.
// Minimal classes should be present here, usually mirroring default elements.
// i.e `strong, .strong { ... }`
@use "base";

// SCSS specific code/styles. Functions/mixins/variables belong here.
@use "utilities";

// Reusable components, accompanied by usage documentation.
@use "components";

// Page-specific code, not used anywhere else but a specific view or a set of them..
@use "pages";

// Vendor overrides
@use "components/overrides/aggrid";

// Third-party libraries.
@use "vendors/libcodemirror";
// @use "vendors/tailwind"; // Do NOT uncomment. This is to showcase Tailwind is present.

:root {
  background-color: var(--c-gray-10);
  color: var(--c-black);
  box-sizing: border-box;
}
