@charset "utf-8";

@use "base/typography";

@use "utilities/colours";
@use "utilities/variables";
@use "utilities/shadows";

@use "components/button";
@use "components/card";
@use "components/navbar";
@use "components/table";
@use "components/widget_card";
@use "components/placeholder_screen";

@use "pages/workflow";

:root {
  background-color: var(--c-gray-10);
  color: var(--c-black);
}
