{% load static %}
<div class="guide">
  <h1 class="guide__h1">Setting up a {{ service.name }} integration</h1>

  <p class="guide__p">{{ service.name }} integrations are simple to set up, we will guide you through a couple of steps to get your {{ service.name }} data into Gyana.</p>
  <p class="guide__p">We've partnered with Fivetran to make the {{ servie.name }} integration with your data into Gyana as easy and frictionless as possible.</p>


  <h2 class="guide__h2">Step 1</h2>
  <p class="guide__p">After filling out the name you will be redirected to Fivetran.</p>

  <h2 class="guide__h2">Step 2</h2>
  <p class="guide__p">The Fivetran page will guide you through the steps to get your {{ service.name }} connected to Gyana. Afterwards you will be redirected back to Gyana.</p>
</div>