{% load static %}
<div class="guide">
  <h1 class="guide__h1">Setting up a {{ service.name }} integration</h1>

  <p class="guide__p">{{ service.name }} integrations are simple to set up, we will guide you through a couple of steps
    to get your {{ service.name }} data into Gyana.</p>
  <p class="guide__p">We've partnered with Fivetran to make the {{ servie.name }} integration with your data into Gyana
    as easy and frictionless as possible.</p>


  <h2 class="guide__h2">Step 1</h2>
  <p class="guide__p">After filling out the name you will be redirected to Fivetran.</p>

  <h2 class="guide__h2">Step 2</h2>
  <p class="guide__p">The Fivetran page will guide you through the steps to get your {{ service.name }} connected to
    Gyana. Afterwards you will be redirected back to Gyana.</p>

  <h2 class="guide__h2">Step 3</h2>
  <p class="guide__p">Back in Gyana the tables to be imported will have to be selected. Once you are happy with the
    selection of tables clicking on <span class="guide__highlight">Select tables</span> will finalize the setup.</p>

  <p class="guide__p"><strong>Note:</strong> You can always change the selection of tables later on. You can
    find the setup on the <span class="guide__highlight">Schema</span> tab.</p>
</div>
