<div id="uploader-{{ instance_session_key }}"
     class="integration__file-upload {% if stage != "upload" %}inactive{% endif %}"
     data-controller='file-upload'
     data-file-upload-file-id-value="{{ instance_session_key }}"
     data-file-upload-file-input-id-value="{{ file_input_id }}"
     data-file-upload-signed-url-value="{{ signed_url }}"
     data-file-upload-inhibit-upload-value="{% if stage != "upload" %}true{% else %}false{% endif %}"
     >
  {% if stage == "upload" %}
  <div class="integration__file-progress mr-4">
    <svg height="80" width="80" id="progress-bar">
      <circle cx="40" cy="40" r="35" stroke-width="3" fill="transparent" />
    </svg>
    <h4 id="progress">0%</h4>
  </div>
  {% else %}
  <i class="fas fa-check text-green text-xl mr-4"></i>
  {% endif %}

  <div>
    {% if stage == "upload" %}
    <h1>Uploading your file...</h1>
    <p>Uploading the file might take a while, make sure to stay on the page.</p>
    {% else %}
    <h4>File uploaded</h4>
    {% endif %}
  </div>
</div>
