.dnd-sidebar {
  background-color: var(--c-white);
  border-left: 1px solid var(--c-gray);
  display: flex;
  flex-flow: column;
  overflow: auto;
  width: 32rem;
  z-index: var(--z-default);

  &__header {
    background-color: var(--c-white);
    border-bottom: 1px solid var(--c-gray);
    display: flex;
    gap: 1.6rem;
    position: sticky;
    padding: 0.8rem;
    top: 0;
    z-index: var(--z-ui);

    > .dnd-sidebar__node {
      padding: 0.8rem;
      margin: 0;
      min-height: 0;
    }
  }

  &__node {
    align-items: center;
    cursor: grab;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 6fr;
    flex-direction: row;
    font-size: 1.4rem;
    min-height: 6.8rem;
    margin-top: 1.2rem;

    &:hover {
      background: var(--c-blue-10);
      border-radius: 5px;
    }
  }

  &__icon {
    color: var(--c-blue);
    padding: 1rem;
    width: 3.6rem;
    height: 3.6rem;
  }

  &__description {
    color: var(--c-black-50);
  }
}
