.dnd-sidebar {
  background-color: var(--c-white);
  border-left: 1px solid var(--c-gray);
  display: flex;
  flex-flow: column;
  gap: 0.8rem;
  padding: 1.6rem;
  width: 32rem;
  overflow: auto;

  &__node {
    align-items: center;
    cursor: grab;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 6fr;
    flex-direction: row;
    font-size: 1.4rem;
    padding: 0.25em;

    &:hover {
      background: var(--c-blue-10);
      border-radius: 5px;
    }
  }

  &__icon {
    border: 1px solid var(--c-gray);
    border-radius: 6px;
    color: var(--c-blue);
    padding: 1rem;
    width: 3.6rem;
    height: 3.6rem;
  }

  &__description {
    color: var(--c-black-50);
  }
}
