.dndflow {
  display: flex;
  height: 100%;

  &__run-button {
    background-color: var(--c-white);
    position: absolute;
    right: 1.6rem;
    top: 1.6rem;
    z-index: var(--z-ui);
  }
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}
