.react-flow {
  background: var(--c-gray-10);

  .react-flow__node {
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--c-gray-20);
    box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.08);
    color: var(--c-blue-50);
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-transform: uppercase;

    padding: 1rem;
    height: 12rem;
    width: 12rem;

    &.selected {
      color: var(--c-blue);
      border: 2px solid var(--c-blue);
    }

    &-output {
      color: var(--c-pink-50);

      &.selected {
        color: var(--c-pink);
        border: 2px solid var(--c-pink);
      }
    }

    &-input {
      // TODO
      .selected {
        // TODO
      }
    }

    &-default.selected:hover,
    &-output.selected:hover,
    &-input.selected:hover {
      box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.08);
    }

    button {
      color: var(--c-black-50);

      &:hover {
        color: var(--c-blue);
      }
    }

    p {
      color: var(--c-black-50);
    }
  }

  .react-flow__handle {
    background-color: var(--c-transparent);
    border-radius: 0;
    border: 0;
    height: 100%;
    right: 0;
    width: 50%;

    &::after {
      background-color: var(--c-white);
      border-radius: 100%;
      border: 2px solid var(--c-black-20);
      content: '';
      display: block;
      height: 1.2rem;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 1.2rem;
    }

    &-left {
      left: -0.7rem;

      &::after {
        left: calc(0.1rem - 1px);
      }
    }

    &-right {
      right: -0.7rem;

      &::after {
        right: calc(0.1rem - 1px);
      }
    }

    &-connecting::after {
      border-color: var(--c-blue);
    }
  }

  .react-flow__edges {
    .react-flow__connection-path,
    .react-flow__edge-path {
      stroke: var(--c-black-20);
      stroke-width: 3;
    }
  }

  .react-flow__buttons {
    display: flex;
    gap: 1.6rem;
    position: absolute;
    top: calc(100% + 1rem);
  }
}
