.react-flow {
  background: var(--c-gray-10);
  overflow: visible;
  z-index: var(--z-default);

  .react-flow__node {
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--c-gray-20);
    box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.08);
    color: var(--c-blue);
    display: flex;
    flex-flow: column;
    justify-content: center;

    padding: 1rem;
    height: 12rem;
    width: 12rem;

    &.selected {
      border: 2px solid var(--c-blue);
    }

    &-output {
      color: var(--c-pink);
      border-radius: 100%;

      &.selected {
        border: 2px solid var(--c-pink);
      }
    }

    &-input {
      color: var(--c-green);
      border-radius: 100%;

      &.selected {
        border: 2px solid var(--c-green);
      }
    }

    &-text {
      background-color: white;
      height: 16rem;
      width: 38rem;
      padding: 0;
      textarea {
        height: 100%;
        border: none;
      }
    }

    &-default.selected:hover,
    &-output.selected:hover,
    &-input.selected:hover {
      box-shadow: 4px 10px 30px rgba(0, 0, 0, 0.08);
    }

    button {
      color: var(--c-black-50);

      &:hover {
        color: var(--c-blue);
      }
    }

    p {
      color: var(--c-black-50);
    }

    & > i.fas {
      font-size: 5.6rem;
    }

    &:hover,
    &.selected {
      .react-flow__buttons {
        display: flex;
      }
    }
  }

  .react-flow__handle {
    background-color: var(--c-transparent);
    border-radius: 0;
    border: 0;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: center;
    width: 1.5rem;

    &::after {
      background-color: var(--c-black-20);
      border-radius: 100%;
      content: '';
      display: block;
      height: 1.5rem;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 1.5rem;
    }

    // Input
    &-left {
      left: calc(-1px - 0.75rem);
      
      &::after {
        background-color: var(--c-green);
      }
    }

    // Output
    &-right {
      right: calc(-1px - 0.75rem);
      
      &::after {
        background-color: var(--c-pink);
      }
    }

    &-connecting::after {
      border-color: var(--c-blue);
    }
  }

  .react-flow__arrowhead polyline {
    stroke: var(--c-black-20);
    fill: var(--c-black-20);
  }

  .react-flow__edges {
    .react-flow__connection-path,
    .react-flow__edge-path {
      stroke: var(--c-black-20);
      stroke-width: 3;
    }

    .react-flow__edge.selected .react-flow__edge-path {
      stroke: var(--c-black);
    }
  }

  .react-flow__buttons {
    display: none;
    gap: 1.6rem;
    justify-content: center;
    padding: 1.6rem;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .react-flow__controls {
    bottom: 1.6rem;
    left: 1.6rem;
  }
}
