{% extends 'web/site_base.html' %}
{% load static site_tags %}

{% block meta %}
<title>About | Gyana</title>
<meta name="description" content="Learn about the team and mission behind Gyana and discover career opportunities." /> 
{% endblock %}

{% block body.content %}
  {% include 'web/site/about/why.html' %}
  {% include 'web/site/about/statistics.html' %}
  {% include 'web/site/about/team.html' %}
  {% include 'web/site/about/investors.html' %}
  {% include 'web/site/about/press.html' %}
  {% include 'web/site/about/careers.html' %}
{% endblock %}