{% extends "web/site_base.html" %}

{% block meta %}
<title>Agency | Gyana</title>
<meta name="description" content="Build custom reports fast. Replace your fragile reporting stack with a single tool. Gyana is flexible and easy-to-use." /> 
{% endblock %}

{% block body %}
  {% include "web/site/agency/hero.html" %}
  {% include "web/site/agency/problem.html" %}
  {% include "web/site/agency/solution.html" %}
  {% include "web/site/home/testimonial.html" with testimonial=content.testimonial %}
  {% include "web/site/agency/get_started.html" %}
  {% include "web/site/agency/cta.html" %}
{% endblock %}