{% extends "web/base.html" %}
{% load static %}
{% load team_tags %}

{% block body.attrs %}
  hx-boost="true"
{% endblock body.attrs %}

{% block body.content %}

  {% include "web/components/team_sidebar.html" %}

  <div id="sidebar" class="sidebar">

    <input
      id="sidebar-toggle"
      type="checkbox"
      role="button"
      {% if not sidebar_collapsed and request.resolver_match.view_name not in 'project_workflows:detail,project_dashboards:detail,projects:automate' %}
        checked
      {% endif %}
      hidden
    />

    <nav class="sidebar__body">
      {% block sidebar_content %}{% endblock %}

      <hr class="mt-auto" />

      {% if user.is_superuser or user.is_hijacked %}
        {% include "web/components/admin.html" %}
      {% endif %}

      <button
        class="sidebar__link sidebar__link--border"
        x-data="popover({ placement: 'right-end', theme: 'popover-menu' })"
        x-tooltip.sidebar="Help"
      >
        <i class="fas fa-fw fa-question"></i></i>Help

      <template x-ref="body">
        <a
          id="changelogWidgetID"
          class="list__item list__item--interactive w-full"
          x-modal.tall="{% url "web:changelog" %}"
        >
          What's new?
        </a>

        <a
          href="https://join.slack.com/t/gyanacommunity/shared_invite/zt-vly76dna-dxv12CkXdanlwqMam5zDPQ"
          class="list__item list__item--interactive w-full"
        >
          Join our Slack
        </a>

        <a
          class="list__item list__item--interactive w-full"
          x-modal.tall="{% url "web:help" %}"
        >
          Getting started
        </a>
      </template>
    </button>

    <button
      class="sidebar__link sidebar__link--border"
      x-data="popover({ placement: 'right-end', theme: 'popover-menu' })"
      x-tooltip.sidebar="Your account"
    >
      <img src="{{ user.avatar_url }}" />Your account

      <template x-ref="body">
        <a
          class="list__item list__item--interactive w-full"
          x-modal="{% url "users:profile" %}"
        >
          Account settings
        </a>

        <a
          href="{% url 'account_logout' %}"
          class="list__item list__item--interactive w-full"
        >
          Sign out <i class="fas fa-fw fa-sign-out text-red ml-auto"></i>
        </a>
      </template>
    </button>

    <label
      class="sidebar__link"
      for="sidebar-toggle"
      {% if request.resolver_match.view_name not in 'project_workflows:detail,project_dashboards:detail,projects:automate' %}
        @click="SiteJS.base.Api.getApiClient().action(window.schema, ['toggle-sidebar', 'create'])"
      {% endif %}
      x-tooltip.sidebar="Expand"
    >
      <i class="fas fa-fw"></i>Collapse
    </label>
  </nav>
  </div>

  {% block notifications %}{% endblock %}

  <section class="flex flex-col flex-1 overflow-hidden {% block app-class %}{% endblock %}">
    {% block main %}{% endblock %}
  </section>
{% endblock body.content %}
