{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="turbo-cache-control" content="no-cache" />

  {% block head %}
  {% include "web/components/meta.html" %}
  {% include "web/components/favicon.html" %}

  <link rel="preconnect" href="//fonts.gstatic.com" />
  <link
    href="//fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    rel="stylesheet"
  />
  <link
    href="//fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap&text=Gyana"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="{% static "css/fontawesome.css" %}" />
  <link rel="stylesheet" href="{% static "css/tailwind.css" %}" />
  <link rel="stylesheet" href="{% static "css/style.css" %}" />

  {% comment %} Before all javascript is loaded {% endcomment %}
  {% comment %} {% if HONEYBADGER_API_KEY %}
  {% include "web/components/honeybadger.html" %}
  {% endif %} {% endcomment %}

  <script src="{% static "js/turbo-bundle.js" %}"></script>
  <script src="{% static "js/stimulus-bundle.js" %}"></script>
  <script src="{% static "rest_framework/js/coreapi-0.1.1.js" %}"></script>
  <script src="{% url "api_schemajs" %}"></script>

  {% if SEGMENT_ANALYTICS_JS_WRITE_KEY %}
  {% include "web/components/analytics.html" %}
  {% endif %}

  {% if GOOGLE_ANALYTICS_ID %}
  {% include "web/components/google_analytics.html" %}
  {% endif %}

  {% block head.extra %}{% endblock head.extra %}
  {% endblock head %}
</head>

<body data-controller="tf-modal on-submit-loading">
  {% block banner %}{% endblock %}

  {% block messages %}
  {% include "web/components/messages.html" %}
  {% endblock %}

  <main>
    {% block body %}{% endblock %}
  </main>


  {% comment %}
  For use with the `tf_modal_controller.js` controller.
  {% endcomment %}
  {% block modal %}
  <div
    data-tf-modal-target="modal"
    class="tf-modal"
    hidden
  >
    <div class="card card--none card--modal">
      {% block modal.body %}
      <turbo-frame
        class="overflow-hidden flex-1"
        data-tf-modal-target="turboFrame"
      >
        <div class='placeholder-scr placeholder-scr--fillscreen'>
          <i class='placeholder-scr__icon fad fa-spinner-third fa-spin fa-2x'></i>
        </div>
      </turbo-frame>
      {% endblock modal.body %}
    </div>
  </div>
  {% include "components/modal_closing_warning.html" %}
  {% endblock modal %}

  {% block page_js %}{% endblock %}
</body>
</html>
