{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="turbo-cache-control" content="no-cache" />

  {% include "web/components/meta.html" %}
  {% include "web/components/favicon.html" %}

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="{% static "css/fontawesome.css" %}" />
  <link rel="stylesheet" href="{% static "css/tailwind.css" %}" />
  <link rel="stylesheet" href="{% static "css/style.css" %}" />

  {% comment %} Before all javascript is loaded {% endcomment %}
  {% comment %} {% if HONEYBADGER_API_KEY %}
  {% include "web/components/honeybadger.html" %}
  {% endif %} {% endcomment %}

  <script type="module">
    import * as hotwiredTurbo from "{% static "js/turbo-bundle.js" %}";
  </script>
  <script src="{% static "js/stimulus-bundle.js" %}"></script>
  <script src="{% static "rest_framework/js/coreapi-0.1.1.js" %}"></script>
  <script src="{% url "api_schemajs" %}"></script>

  {% if SEGMENT_ANALYTICS_JS_WRITE_KEY %}
  {% include "web/components/analytics.html" %}
  {% endif %}

  {% if GOOGLE_ANALYTICS_ID %}
  {% include "web/components/google_analytics.html" %}
  {% endif %}

  {% block page_head %}{% endblock %}
</head>

<body data-controller="tf-modal on-submit-loading">
  {% block banner %}{% endblock %}

  {% block messages %}
  {% include "web/components/messages.html" %}
  {% endblock %}

  <main>
    {% block team_sidebar %}{% endblock team_sidebar %}

    {% block sidebar %}
    <div id="sidebar" class="sidebar" data-controller="web-sidebar">
      
      <input
        id="sidebar-toggle"
        type="checkbox"
        role="button"
        data-web-sidebar-target="toggle"
        {% if not sidebar_collapsed and request.resolver_match.view_name not in 'project_workflows:detail,project_dashboards:detail,projects:automate' %}
        checked
        {% endif %}
        hidden
      />

      <nav class="sidebar__body">
        {% block sidebar_content %}{% endblock %}

        <hr class="mt-auto" />

        {% if user.is_superuser %}
        {% include "web/components/admin.html" %}
        {% endif %}

        <a
          id="changelogWidgetID"
          class="sidebar__link sidebar__link--border cursor-pointer"
          data-controller="tooltip"
          data-tooltip-placement="right"
          data-show-on-collapse="true"
        >
          <i class="fas fa-fw fa-bullhorn"></i>What's new?

          <span data-tooltip-target="body">What's new?</span>
        </a>

        <a
          href="https://join.slack.com/t/gyanacommunity/shared_invite/zt-vly76dna-dxv12CkXdanlwqMam5zDPQ"
          class="sidebar__link sidebar__link--border"
          data-controller="tooltip"
          data-placement="right"
          data-show-on-collapse="true"
        >
          <i class="fas fa-fw fa-comments-alt"></i> Join our Slack

          <span data-tooltip-target="body">Join our Slack</span>
        </a>

        <a
          class="sidebar__link sidebar__link--border"
          data-action="click->tf-modal#open"
          data-controller="tooltip"
          data-tooltip-placement="right"
          data-modal-src="{% url "web:help" %}"
          data-modal-id="web:help"
          data-modal-classes="tf-modal--tall"
        >
          <i class="fas fa-fw fa-question"></i>Help

          <span data-tooltip-target="body">Help</span>
        </a>

        <button
          class="sidebar__link sidebar__link--border" 
          data-controller="popover tooltip"
          data-tooltip-placement="right"
          data-placement="right-end"
          data-theme="popover-menu"
          data-show-on-collapse="true"
        >
          <img src="{{ user.avatar_url }}" />Your account

          <span data-tooltip-target="body">Your account</span>

          <template data-popover-target="body">
            <a
              data-action="click->tf-modal#open"
              data-modal-src="{% url "users:profile" %}"
              data-modal-id="users:profile"
              class="list__item list__item--interactive w-full"
            >
              Account settings
            </a>
  
            <a
              href="{% url 'account_logout' %}"
              class="list__item list__item--interactive w-full"
              data-turbo-frame="_top"
            >
              Sign out <i class="fas fa-fw fa-sign-out text-red ml-auto"></i>
            </a>
          </template>
        </button>

        <label
          class="sidebar__link"
          for="sidebar-toggle"
          {% if request.resolver_match.view_name not in 'project_workflows:detail,project_dashboards:detail,projects:automate' %}
          data-action="click->web-sidebar#toggle"
          {% endif %}
          data-controller="tooltip"
          data-tooltip-placement="right"
          data-show-on-collapse="true"
        >
          <i class="fas fa-fw"></i>Collapse

          <span data-tooltip-target="body">Expand</span>
        </label>
      </nav>
    </div>
    {% endblock %}

    {% block body %}{% endblock %}
  </main>

  {% include "web/components/hellonext_changelog.html" %}

  {% comment %}
  For use with the `tf_modal_controller.js` controller.
  {% endcomment %}
  {% block modal %}
  <div
    data-tf-modal-target="modal"
    class="tf-modal"
    hidden
  >
    <div class="card card--none card--modal">
      {% block modal.body %}
      <turbo-frame
        class="overflow-hidden flex-1"
        data-tf-modal-target="turboFrame"
      >
        <div class='placeholder-scr placeholder-scr--fillscreen'>
          <i class='placeholder-scr__icon fad fa-spinner-third fa-spin fa-2x'></i>
        </div>
      </turbo-frame>
      {% endblock modal.body %}
    </div>
  </div>
  {% include "components/modal_closing_warning.html" %}
  {% endblock modal %}

  {% block page_js %}{% endblock %}
</body>
</html>
