{% extends "web/site_base.html" %}

{% block meta %}
<title>Gyana | Custom reports for any source</title>
<meta name="description" content="Gyana delivers the power of business intelligence and data analytics in a web interface. Build repeatable workflows and dashboards with all your online data." /> 
{% endblock %}

{% block body.content %}
  {% include "web/site/home/hero.html" %}
  {% include "web/site/home/logos.html" %}
  {% include "web/site/home/features.html" %}
  {% include "web/site/home/benefits.html" %}
  {% include "web/site/home/scale.html" %}
  {% include "web/site/home/testimonial.html" with testimonial=content.testimonial %}
  <turbo-frame id="web:support-demo">
    {% include "web/site/home/support.html" %}
  </turbo-frame>
  {% include "web/site/home/cta.html" %}
{% endblock %}