{% extends "web/site_base.html" %}

{% block meta %}
  <title>Gyana | Open source, no-code business intelligence</title>
  <meta name="description" content="Gyana is the fast way to make custom reports for any data source. Stop wrestling with manual exports, #N/A nightmares and stale data. Start delivering insights that move your business forward." />
{% endblock %}

{% block body.content %}
  {% include "web/site/home/hero.html" %}
  {% include "web/site/home/proof.html" %}
  {% include "web/site/home/features.html" %}
  {% include "web/site/home/support.html" %}
  {% include "web/site/home/scale.html" %}
  {% include "web/site/home/cta.html" %}
{% endblock %}