{% extends 'web/site_base.html' %}

{% block meta %}
   <title>Gyana | BI & Analytics for the web</title>
   <meta name="description" content="Gyana delivers the power of business intelligence and data analytics in a web interface. Build repeatable workflows and dashboards with all your online data." /> 
{% endblock %}

{% block body %}
   {% include 'web/site/home/hero.html' %}
   {% include 'web/site/home/press.html' %}
   {% include 'web/site/home/problem.html' %}
   {% include 'web/site/home/solution.html' %}
   {% include 'web/site/home/use_cases.html' %}
   {% include 'web/site/home/appsumo_grid.html' %}
   {% include 'web/site/home/features.html' %}
   {% include 'web/site/home/cta.html' %}
{% endblock %}