{% extends 'web/site_base.html' %}
{% load static site_tags heroicons %}

{% block meta %}
<title>Integrations | Gyana</title>
<meta name="description" content="Gyana has 80+ out-of-the-box connectors with online business apps, marketing tools, databases and custom APIs." /> 
{% endblock %}

{% block body.content %}

<style>
  {% for group in services_grouped %}
    .integrations-{{ forloop.counter0 }} {
      animation: {{ group.animation }}s linear 0s infinite normal none running slide;
    }
    @keyframes slide {
      100% {
        transform: translateX(-20%);
      }
    }
  {% endfor %}
</style>

<div class="bg-gray-20 border-b border-gray">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <p class="my-12 sm:my-24 text-7xl lg:text-8xl text-caveat text-indigo-600">Integrations</p>
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
      Yes, we integrate with that.
    </h2>
    <p class="mt-4 text-lg text-gray-600 max-w-3xl">
      Gyana has integrations for most popular online sources. After a one-time setup, we'll sync your raw data, daily.
      <strong>Need something custom?</strong> We can integrate any new source in 2 weeks.
    </p>
    <div class="mt-4 mb-12 flex justify-center gap-4 sm:justify-start">
      <div class="flex flex-col gap-2 text-lg items-center">
        <a href="#get-started" class="button button--secondary w-44 sm:w-48 flex gap-2 text-sm sm:text-base">
          View integrations
          {% heroicon 'arrow-down' class="h-5 w-5" style="solid" %}
        </a>
        <p class="text-xs lg:text-sm text-gray-600">One click setup</p>
      </div>
      <div class="flex flex-col gap-2 text-lg items-center">
        <a href="{% external_url 'talk_to_us' %}" class="button w-44 sm:w-48 text-sm sm:text-base">
          Talk to us
        </a>
        <p class="text-xs lg:text-sm text-gray-600">We'll setup your integration</p>
      </div>
    </div>
  </div>
</div>

<div id="get-started" class="bg-white border-b border-gray overflow-hidden">
  <div class="max-w-7xl mx-auto -my-3" style="max-width: 120rem;">
    <div class="relative flex flex-col justify-center">
      <div class='fade-left'></div>
      <div class='flex flex-col gap-4 overflow-hidden'>
        {% for group in services_grouped %}
          <div class="flex gap-2 integrations-{{ forloop.counter0 }}">
            {% for service in group.services %}
              <span class='inline-flex items-center gap-2 flex-none px-2 py-1 rounded-lg text-sm font-normal bg-indigo-100 text-gray-800'>
                <img class='h-4 w-4' src={% static 'images/integrations/fivetran/'|add:service.icon_path %} />
                {{ service.name }}
              </span>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class='fade-right'></div>
    </div>
  </div>
</div>

<div class="bg-gray-20 border-b border-gray">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 flex flex-col">
    <div>
      <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
        Connect to your apps
      </h2>
      <p class="mt-4 text-lg text-gray-600 max-w-3xl">
        Import data from the applications you use to run your business. Setup
        your source and start syncing your data in minutes.
      </p>
    </div>
    <turbo-frame id="web:search-integrations-demo">
      {% include 'web/demo/search_integrations.html' %}
    </turbo-frame>
    <p class="mt-8 text-lg text-gray-600 max-w-3xl flex items-center gap-1">
      <span>
        Can't find your integration?
        <strong>Don't panic!</strong>
        You have other options to get your data into Gyana
      </span>
      {% heroicon 'arrow-down' class="h-5 w-5" style="solid" %}
    </p>
  </div>
</div>

<div class="bg-white border-b border-gray">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:py-16 lg:px-8 flex flex-col">
    <div>
      <h2 class="flex flex-col sm:flex-row sm:gap-2 text-3xl font-extrabold tracking-tight text-gray-900">
        Build an integration
        <span class="text-2xl lg:text-3xl text-caveat text-indigo-600 font-normal">without writing code</span>
      </h2>
      <p class="mt-4 text-lg text-gray-600 max-w-3xl">
        You'll be surprised what you can achieve in 5 minutes with our no-code tools.
        <strong>And no, you don't have to pay for Zapier.</strong>
      </p>
    </div>
    <div class="mt-6 grid grid-cols-1 lg:grid-cols-2 gap-4">
      {% for item in content.custom %}
        <div class="card card--none">
          <div class="flex gap-4 p-4">
            <img class="w-20 h-20" src="{% static 'images/integrations/'|add:item.image %}" alt="">
            <div class="flex flex-col gap-2">
              <h3 class="text-lg font-medium text-gray-900">{{ item.name }}</h3>
              <div class="text-sm text-gray-600">
                <strong>{{ item.question }}</strong>
                {{ item.description }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <p class="mt-6 text-lg text-gray-600 max-w-3xl flex items-center gap-1">
      <span>
        Not an option? <strong>Talk to us</strong>
      </span>
      {% heroicon 'arrow-down' class="h-5 w-5" style="solid" %}
    </p>
  </div>

</div>

<div class="bg-gray-20 border-b border-gray">
  <div class="max-w-7xl mx-auto  py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <p class="text-2xl lg:text-3xl text-caveat text-indigo-600 mb-2">
      We'll build it for you
    </p>
    <h2 class="text-3xl font-extrabold tracking-tight text-gray-900">
      Integrate any new source
    </h2>
    <p class="mt-4 text-lg text-gray-600 max-w-3xl">
      We're experts in data integration. Whether you have a custom SaaS app, internal API or cloud service,
      we'll setup a robust integration into Gyana. <strong>Did we mention it only takes 2 weeks?</strong>
    </p>
    <div class="mt-6 flex gap-4">
      <div class="flex flex-col gap-2 text-lg items-center">
        <a href="{% external_url 'talk_to_us' %}" class="button w-44">
          Talk to us
        </a>
        <p class="text-xs lg:text-sm text-gray-600">We'll setup your integration</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
