{% extends 'web/site_base.html' %}
{% load static site_tags heroicons %}

{% block meta %}
<title>Integrations | Gyana</title>
<meta name="description" content="Gyana has integrations for most popular online sources. After a one-time setup, we'll sync your raw data, daily. Need something custom? We can integrate any new source in 2 weeks." /> 
{% endblock %}

{% block body.content %}
  <div class="bg-gray-20 border-b border-gray">
    <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
      <h1 class="my-12 sm:my-24 text-7xl lg:text-8xl font-bold text-caveat text-indigo-600">
        Integrations
      </h1>
    </div>
  </div>
  {% comment %} {% include 'web/site/integrations/hero.html' %} {% endcomment %}
  {% comment %} {% include 'web/site/integrations/animation.html' %} {% endcomment %}
  {% comment %} {% include 'web/site/integrations/apps.html' %} {% endcomment %}
  {% include 'web/site/integrations/custom.html' %}
  {% include 'web/site/integrations/cta.html' %}
  {% include 'web/site/integrations/links.html' %}
{% endblock %}
