{% extends "web/base.html" %}
{% load static %}
{% load i18n %}

{% block top_nav %}
{# Getting rid of the top navigation bar here. #}
{% endblock %}

{% block body %}
<div class="landing">
  <div class="landing__container">
    <div class="flex flex-col self-start gap-8">
      <div class="flex items-center">
        <img class="landing__logo" src="{% static 'images/logo.png' %}">

        <hgroup>
          <h2>Gyana</h2>
          <p>No-code data science</p>
        </hgroup>
      </div>

      {% block description %}{% endblock %}
    </div>

    {% block content %}
    {% endblock content %}
  </div>
</div>
{% endblock %}
