{% extends "web/base.html" %}
{% load static %}
{% load i18n %}

{% block sidebar %}
{# Getting rid of the top navigation bar here. #}
{% endblock %}

{% block body %}
<div class="landing">
  <div class="landing__content">
    <header class="landing__header">
      <img src="{% static 'images/logo.png' %}" alt="">
      <div>
        <h1>Gyana</h1>

        {% block header %}
        <p>
          Welcome, sign in to start where you left off. Account creation is 
          currently closed but you can 
          <a 
            href="https://gyana-data.typeform.com/to/v2XTy0j3"
            class="link"
          >
            request access
          </a>.
        </p>
        {% endblock %}
      </div>
    </header>

    {% block content %}
    {% endblock content %}

    <footer class="landing__footer">
      {% block footer %}
      <p>
        By using the app, you agree to our
        <a href="https://www.gyana.com/legal/terms-of-use" class="link">terms of service</a>
        and
        <a href="https://www.gyana.com/legal/privacy-policy" class="link">privacy policy</a>.
        <br />
        Are you looking for the <a class="link" href="https://old.gyana.com/">old gyana</a>?
      </p>
      {% endblock %}
    </footer>
  </div>

  <div class="landing__image">
  {% block image %}
  <img src="{% static 'images/landing.png' %}" />
  {% endblock %}
  </div>
</div>
{% endblock %}
