{% extends 'web/site_base.html' %}

{% block meta %}
  <title>Privacy Policy | Gyana</title>
  <meta name="description" content='Thank you for choosing to be part of our community at Gyana Limited, doing business as Gyana ("Gyana", "we", "us", "our"). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about this privacy notice or our practices with regard to your personal information, please contact us at legal@gyana.com.' />
{% endblock %}

{% block body.content %}
  <div class="flex flex-col items-center w-full">
    <div class="w-full max-w-5xl">
      <div name="termly-embed" data-id="ca1ce6c5-bd8c-4d5f-808b-121fb3184e4b" data-type="iframe"></div>
      <script type="text/javascript">(function(d, s, id) {
        var js, tjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://app.termly.io/embed-policy.min.js";
        tjs.parentNode.insertBefore(js, tjs);
      }(document, 'script', 'termly-jssdk'));</script>
    </div>
  </div>
{% endblock %}