{% extends 'web/base.html' %}
{% load static %}

{% block head %}
  <link
    href="//fonts.googleapis.com/css2?family=Caveat:wght@400&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="{% static "css/website.css" %}" />
  <script>
    Turbo.session.drive = false
  </script>

  {% include "web/components/intercom-visitors.html" %}
{% endblock head %}

{% block body.attrs %}{% endblock body.attrs %}

{% block body %}
  {% block body.header %}
    {% include "web/site/header.html" %}
  {% endblock body.header %}

  {% block body.content %}{% endblock body.content %}

  {% block body.footer %}
    {% include "web/site/footer.html" %}
  {% endblock body.footer %}
{% endblock body %}

