{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="turbo-cache-control" content="no-cache" />
  {% comment %} TODO: Remove to enable turbo drive everywhere {% endcomment %}
  <meta name="turbo-visit-control" content="reload">

  {% block meta %}
    <title>Gyana | BI & Analytics for the web</title>
    <meta name="description" content="Gyana delivers the power of business intelligence and data analytics in a web interface. Build repeatable workflows and dashboards with all your online data." /> 
  {% endblock  %}

  {% include "web/components/favicon.html" %}

  <link rel="preconnect" href="https://fonts.gstatic.com" />
  {% comment %} Poppins medium to extrabold {% endcomment %}
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap"
    rel="stylesheet"
  />

  <link rel="stylesheet" href="{% static "css/fontawesome.css" %}" />
  <link rel="stylesheet" href="{% static "css/tailwind.css" %}" />
  {% comment %} TODO: Decide whether to use app stylesheet to develop independently {% endcomment %}
  <link rel="stylesheet" href="{% static "css/website.css" %}" />

  {% comment %} TODO: Decide whether to keep use Turbo for website {% endcomment %}
  {% comment %} <script src="{% static "js/turbo-bundle.js" %}"></script> {% endcomment %}
  <script src="{% static "js/stimulus-bundle.js" %}"></script>

  {% if WEBSITE_GTM_ID %}
  {% include "web/components/gtm_head.html" %}
  {% endif %}

  {% include "web/components/intercom-visitors.html" %}
</head>

<body>
  {% include 'web/site/header.html' %}
  {% block body %}{% endblock %}
  {% include 'web/site/footer.html' %}

  <script
    type="text/javascript"
    src="https://app.termly.io/embed.min.js"
    data-auto-block="on"
    data-website-uuid="20dd078f-264a-4111-8007-320b21ee3234"
  ></script>

  <button
    class="termly-cookie-preference-button"
    type="button"
    style="background: white; width: 165px; height: 30px; border-radius: 3px; border: 1px solid #5f7d9c; font-family: Roboto, Arial; font-size: 10px; color: #5f7d9c; font-weight: 600; box-sizing: border-box; cursor: pointer; padding: 0; outline: none;"
    onclick="displayPreferenceModal()"
  >
      Manage Cookie Preferences
  </button>

  {% if WEBSITE_GTM_ID %}
  {% include "web/components/gtm_body.html" %}
  {% endif %}
</body>
</html>
