.node {
  &__header {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 1.6rem;

    h3 {
      margin-right: auto;
    }
  }

  &__visual {
    align-items: center;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    padding: 1.6rem;
    width: 100%;
  }
}

[data-live-update-target='loading'] {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.08);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: var(--z-ui);
}

.formula {
  display: flex;
  flex-flow: column;
  gap: 0.8rem;
  height: 100%;
  overflow: auto;
  padding: 1.6rem;
  width: 100%;
}

.category {
  display: flex;
  width: 100%;

  &__pill {
    border: 1px solid var(--c-gray);
    padding: 0.6rem;
    text-transform: capitalize;
    flex: 1 1 0%;

    & + & {
      border-left: none;
    }

    &:hover {
      background-color: var(--c-gray-50);
    }
  }

  &__selected {
    background-color: var(--c-gray);
  }
}

.functions {
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;

  .function-pill {
    border: 1px solid var(--c-gray);
    border-radius: 5px;
    padding: 0.6rem;
    display: flex;
    flex-flow: column;

    &:hover {
      border: 1px solid var(--c-blue-50);
      background-color: var(--c-gray-10);
    }

    em {
      color: var(--c-black-20);
    }

    i {
      color: var(--c-blue);
    }
  }
}
