.integration {
  &__create-flow {
    display: flex;
    flex-flow: column;
    gap: 1.6rem;
  }

  &__file-upload {
    display: flex;
    align-items: center;
  }

  &__file-progress {
    position: relative;
    display: flex;
    justify-content: center;

    svg {
      stroke: var(--c-blue);
      transform: rotate(-90deg);
      stroke-dasharray: 220;
      stroke-dashoffset: 220;
    }

    h4 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.done {
      h4,
      svg {
        display: none;
      }
    }
  }

  &__file-validate {
    display: flex;
    align-items: center;

    &.inactive {
      opacity: 0.5;
    }
  }
}

.page-header {
  align-items: center;
  background-color: var(--c-white);
  border-bottom: 1px solid var(--c-gray);
  display: flex;
  flex-direction: row;
  height: 9.6rem;
  justify-content: center;
  min-height: 9.6rem;
  padding: 1.6rem;
}