.landing {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  &__logo {
    height: 11rem;
    margin-right: 2rem;
  }

  &__title {
    color: var(--c-blue);
    display: inline;
    font-size: 5rem;
    line-height: 1;
    margin-bottom: 0;
    text-transform: uppercase;
  }
}