.landing {
  // flex justify-center items-center h-full my-8
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 72rem;
  }

  &__logo {
    max-height: 6rem;
    margin-right: 1.6rem;
  }
}