.project {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;

  &__title {
    align-items: center;
    display: flex;
    height: 5.2rem;
    padding: 0 1.6rem;
    border-bottom: 1px solid var(--c-gray);

    :first-child {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre;
    }
  }

  &__sidebar {
    background-color: var(--c-white);
    border-right: 1px solid var(--c-gray);
    display: flex;
    flex-flow: column;
    overflow: auto;
    width: 18rem;
  }

  &__footer {
    border-top: 1px solid var(--c-gray);
    display: flex;
    flex-flow: column;
    gap: 1.6rem;
    justify-content: space-between;
    margin-top: auto;
    padding: 1.6rem;
  }

  &__nav {
    display: flex;
    flex-flow: column;
  }

  &__link {
    border-left: 6px solid var(--c-transparent);
    display: block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1.6rem;

    &--active {
      border-color: var(--c-blue);
      color: var(--c-blue);
      font-weight: 500;
    }

    &:hover {
      background-color: var(--c-gray-10);
      text-decoration: underline;
    }
  }
}

.project-list {
  margin: 0 auto;
  max-width: 96rem;
  width: 96rem;

  &__projects {
    display: flex;
    flex-flow: column;
    gap: 1.6rem;
  }
}

.project-settings {
  display: flex;
  flex-flow: column;
  flex: 1 1 0%;
  overflow: auto;
  padding: 1rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__form {
    max-width: 32rem;
  }
}
