.project {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.project-list {
  padding: 1.6rem;
  width: 100%;

  &__projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(0, 1fr);
    gap: 1.6rem;
    flex: 1 1 0%;

  }
}

.project-settings {
  display: flex;
  flex-flow: column;
  flex: 1 1 0%;
  overflow: auto;

  &__title {
    margin-bottom: 1rem;
  }

  &__form {
    max-width: 32rem;
  }
}
