.project {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
}

.project-list {
  padding: 1.6rem;

  &__projects {
    display: flex;
    flex-flow: column;
    gap: 1.6rem;
  }
}

.project-settings {
  display: flex;
  flex-flow: column;
  flex: 1 1 0%;
  overflow: auto;
  padding: 1rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__form {
    max-width: 32rem;
  }
}
