.widgets {
  width: 100%;
  height: 100%;
  background-color: var(--c-gray-20);
}

.widgets--canvas {
  position: relative;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--c-white);
  border: 1px solid var(--c-gray);
}

.widgets--grid {
  background-image: radial-gradient(circle at 1px 1px, var(--c-gray) 1px, transparent 0);
  background-size: var(--grid-size) var(--grid-size);
}
