.workflow {
  &-detail {
    padding: 0;

    &__header {
      align-items: center;
      background-color: var(--c-white);
      border-bottom: 1px solid var(--c-gray);
      display: flex;
      gap: 1.6rem;
      height: 4.8rem;
      padding: 0 1.6rem;
    }

    &__sidebar {
      background-color: var(--c-white);
      flex: 1 1 0%;
      overflow: auto;
      padding: 1.6rem;
    }

    &__warning {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex: 1 1 0%;
      justify-content: center;

      .far,
      .fas,
      .fad {
        color: var(--c-orange);
      }
    }

    #workflows-grid {
      overflow: auto;
      height: 100%;
    }
  }
}

#workflow-modal,
.workflow-modal {
  display: flex;
  flex: 1 1 0%;
  height: 100%;

  &__section {
    display: flex;
    flex-flow: column;
    flex: 1 1 0%;

    & + & {
      overflow: hidden;
      flex: 3 1 0%;
    }
  }

  &__header {
    align-items: center;
    border-bottom: 1px solid var(--c-gray);
    display: flex;
    height: 4.8rem;
    max-height: 4.8rem;
    padding: 1.6rem;
  }

  &__footer {
    border-top: 1px solid var(--c-gray);
    display: flex;
    margin-top: auto;

    input.button {
      flex: 1 1 0%;
    }
  }

  &__table {
    border-left: 1px solid var(--c-gray);
    display: flex;
    flex-flow: column;
    flex: 1 1 0%;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .workflow-node {
    &__header {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      margin-bottom: 1.6rem;

      h3 {
        margin-right: auto;
      }
    }

    &__visual {
      align-items: center;
      display: flex;
      flex-flow: column;
      height: 100%;
      justify-content: center;
      padding: 1.6rem;
      width: 100%;
    }

    &__help {
      display: flex;
      flex-flow: column;
      gap: 0.8rem;
      height: 100%;
      overflow: auto;
      padding: 1.6rem;
      width: 100%;
    }
  }
}

.functions {
  display: grid;
  grid-auto-rows: minmax(0, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 0.6rem;

  .function-pill {
    border: 1px solid var(--c-gray);
    border-radius: 5px;
    padding: 0.6rem;
    display: flex;
    flex-flow: column;
    &:hover {
      border: 1px solid var(--c-blue-50);
      background-color: var(--c-gray-10);
    }

    em {
      color: var(--c-black-20);
    }
  }
}
