.workflow {
  &-detail {
    padding: 0;

    &__header {
      align-items: center;
      background-color: var(--c-white);
      border-bottom: 1px solid var(--c-gray);
      display: flex;
      gap: 1.6rem;
      height: 5.2rem;
      padding: 0 1.6rem;
    }

    &__sidebar {
      background-color: var(--c-white);
      border-right: 1px solid var(--c-gray);
      padding: 0 1.6rem 0 0;
      width: 36rem;
    }

    &__table {
      background-color: var(--c-white);
      border-left: 0;
      border: 1px solid var(--c-gray);
      display: flex;
      flex-flow: column;
      height: 100%;
      overflow: hidden;
      width: 100%;
    }

    &__load-preview {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      place-content: center;

      i {
        margin-right: 0.5em;
        color: var(--c-orange);
      }
    }

    &__warning {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;

      .fa-stethoscope {
        color: var(--c-orange);
      }
    }

    #workflow-node {
      display: flex;
      height: 100%;
    }

    #workflows-grid {
      overflow: auto;
    }
  }
}
