{% comment %}
Based on the django-hijack template found here:
https://github.com/django-hijack/django-hijack/blob/master/hijack/templates/hijack/notification.html
{% endcomment %}
{% load i18n static %}

<div class="hijack" id="djhj">
  <div class="hijack__notification card card--sm">
    <div class="hijack__message">
      {% blocktrans trimmed with user=request.user %}
        You are currently logged in as <strong>{{ user }}</strong>
      {% endblocktrans %}
    </div>

    <form
      action="{% url 'hijack:release' %}"
      method="POST"
      class="hijack__actions"
      hx-boost="false"
    >
      {% csrf_token %}

      <input type="hidden" name="next" value="{% url 'admin:users_customuser_changelist' %}" />

      <button
        class="button button--sm button--tertiary flex-1"
        onclick="document.getElementById('djhj').style.display = 'none';document.body.classList.remove('isHijacked');"
        type="button"
      >
        Hide
      </button>

      <button class="button button--sm button--tertiary flex-1" type="submit">
        Release user
      </button>
    </form>
  </div>
</div>