<p class='m-auto'>
  There is an error in the parent node 
  <strong>{% if object.name %}{{object.name}}{% else %}{{object.display_name}}{% endif %}</strong>.

  <a
    class='link'
    href="{% url 'nodes:update' object.id %}"
  >
    Reconfigure
  </a>

  it and try opening this node again.
</p>
<div class="absolute top-0 right-0">
  <button
    class="tf-modal__close tf-modal__close--inline ml-auto"
    data-action="click->tf-modal#forceClose"
    data-loading-false
  >
    <i class="fal fa-times fa-lg"></i>
  </button>
</div>