{% load help_utils %}

{% with parents=object.parents_ordered.all %}

<nav class="tabbar">
  {% if node.kind == "formula" %}
  <a class="tabbar__link {% if show_docs %}tabbar__link--active{% endif %}"
    href="{% url 'nodes:formula' object.id %}?show_docs=true"
  >
    Doc
  </a>
  {% endif %}
  {% for parent in parents %}
    <a class="tabbar__link {% if preview_node.id == parent.id %} tabbar__link--active {% endif %}"
      href="{% url 'nodes:grid' object.id %}?preview_node_id={{ parent.id }}">
      Input {% if parents|length > 1 %} {{ forloop.counter }} {% endif %}
    </a>
  {% endfor %}
  <a class="tabbar__link  {% if preview_node.id == object.id and not show_docs %} tabbar__link--active {% endif %}"
    href="{% url 'nodes:grid' object.id %}?preview_node_id={{ object.id }}">
    Result
  </a>
  {% if node.kind == "output" %}
  
  <a class="tabbar__link  {% if "references" in request.path %} tabbar__link--active {% endif %}"
    href="{% url 'nodes:references' object.id %}">
    References
  </a>
  
  {% endif %}
  <a
    class="tabbar__link"
    href="{% article_url 'workflows' node.kind %}"
    target="_blank"
    data-controller="tooltip"
  >
    <i class="fas fa-fw fa-external-link"></i> Help
    <span data-tooltip-target="body">Open knowledge base article</span>
  </a>
  
  <div class="absolute top-0 right-0">
    <button
      class="tf-modal__close tf-modal__close--inline ml-auto"
      data-action="click->tf-modal#close"
      data-loading-false
    >
      <i class="fal fa-times fa-lg"></i>
    </button>
  </div>
</nav>

{% endwith %}