<div hx-target="this" hx-swap="outerHTML" class="flex flex-row items-center">
  <i class='fas {{object.icon}} fa-lg text-blue mr-2'></i>

  <form 
    hx-post="{% url 'nodes:name' object.id %}"
    hx-trigger="submit,focusout"
  >
  {% csrf_token %}
    <input 
      class='input__inline' 
      id="name" 
      type="text" 
      name="name"
      value="{% if object.name %}{{ object.name }}{% else %}{{ object.display_name|capfirst }}{% endif %}"
      onBlur="this.form.requestSubmit();"
     />
  </form>
</div>
