{% load help_utils %}
{% load waffle_tags %}

{% if parent_error_node is None %}

  {% if node.kind == "input" or node.has_enough_parents %}
  <div
    class="workflow-modal__section workflow-modal__{{ node.kind }}"
    data-controller="node-update"
    data-node-update-id-value="{{ node.id }}"
  >
    <div class="workflow-modal__header">
      <turbo-frame id="node-editable-title">
        {% include 'nodes/name.html' %}
      </turbo-frame>

      <div class="ml-auto flex flex-row gap-3 items-center">
      
        <turbo-frame id='exports:create_node'>
          {% include 'exports/create.html' with parent_id=node.id target_url='exports:create_node'%}
        </turbo-frame>

        {% if node.kind != "input" and node.kind != "output" %}
          {% link_article 'workflows' node.kind %}
        {% endif %}
      </div>
    </div>
    
    <form
      id="node-update-form"
      class="form--no-layout overflow-hidden flex-1"
      action="{% url 'nodes:update' node.id %}"
      method="post"
      data-tf-modal-target="form"
      data-tf-modal-submit-on-close
      data-controller="live-update"
      data-action="
        change->tf-modal#change 
        formset:remove->live-update#updateForm 
        formset:add->live-update#updateForm 
        formset:remove->tf-modal#change 
        formset:add->tf-modal#change
      "
    >

      <div data-cy="update-sidebar" class="workflow-detail__sidebar">
        <p class="pb-5">{{ node.explanation }}</p>

        <span data-live-update-target="loading" class="hidden">
          <i class="placeholder-scr__icon fad fa-spinner-third fa-spin fa-fw fa-2x"></i>
        </span>
        {% csrf_token %}

        {% include "django/forms/default_form.html" %}
      </div>

      <div class='workflow-modal__footer'>
        <div class="flex flex-1 gap-7 pad">
          {% if node.kind == 'input' %}

            <button 
              type='submit'
              class="button button--success flex-1" 
              data-action="tf-modal#close"
              {% comment %}Need name and value for node-input controller to work{% endcomment %}
              name='submit'
              value='Save & Preview'
            >
              Close
            </button>

          {% else %}

            <button
              type='submit'
              class="button button--success flex-1"
              data-action="click->tf-modal#submit"
              name='submit'
              value='Save & Close'
              {% comment %} Form submission is handled by controller {% endcomment %}
              data-turbo="false"
            >
              Save & Close
            </button>
            <button
              type='submit'
              class="button button--outline button--success flex-1"
              name='submit'
              data-action="click->tf-modal#save"
              value='Save & Preview'
            >
              Save & Preview
            </button>

          {% endif %}
        </div>
      </div>
    </form>
  </div>

  <div class="workflow-modal__section">
    <div class="workflow-modal__table">
      <turbo-frame id="nodes:grid" src="{% url 'nodes:grid' preview_node_id %}">
        {% include 'nodes/modal_nav_bar.html' %}
        <div class='placeholder-scr placeholder-scr--fillscreen'>
          <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
          <p class='placeholder-scr__title'>Loading preview...</p>
        </div>
      </turbo-frame>
    </div>

  {% else %}
    <div class='workflow-detail__warning'>
      <span class='mb-12'><i class="far fa-comment-dots fa-10x"></i></span>
      <p>This node needs to be connected to <strong>more than one node</strong> before you can configure it.</p>
    </div>
  </div>

  {% endif %}

{% else %}

  {% include 'nodes/_parent_error_node.html' with object=parent_error_node %}

{% endif %}

