{% with parents=node.parents.all %}

<turbo-frame id="workflow-modal">
  {% if node.kind == "input" or node.has_enough_parents %}
  <div class="workflow-modal__section" data-controller="node-update" data-node-update-id-value="{{ node.id }}">
    <div class="workflow-modal__header">
      {% include 'nodes/name.html' %}
    </div>

    <form id="node-update-form"
          class="form--no-layout overflow-hidden flex-1"
          action="{% url 'nodes:update' node.id %}"
          method="post"
          {% if do_live_updates %}
          data-controller="live-update"
          {% endif %}
          data-action="change->tf-modal#change">
      
      <div class="workflow-detail__sidebar">
        <span data-live-update-target="loading" class="h-6 hidden">
          <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
        </span>
        
        {% csrf_token %}

        {% include "django/forms/default_form.html" %}
      </div>

      <div class='workflow-modal__footer'>
        <div class="flex flex-1 gap-7 pad">
          <input type='submit' class="button button--success"
                 data-action="click->tf-modal#forceClose"
                 name='submit'
                 value='Save & Close' />
          <input type='submit'
                 class="button button--outline button--success"
                 name='submit'
                 data-action="click->tf-modal#save"
                 value='Save & Preview' />
        </div>
      </div>
    </form>
  </div>

  <div class="workflow-modal__section">
    <div class="workflow-modal__table">
      <nav class="tabbar">
        <a class="tabbar__link {% if show_docs %} tabbar__link--active {% endif %}"
           href="{% url 'nodes:update' object.id %}?show_docs=true">
          Help
        </a>
        {% for parent in parents %}
        <a class="tabbar__link {% if preview_node_id == parent.id %} tabbar__link--active {% endif %}"
           href="{% url 'nodes:update' object.id %}?preview_node_id={{ parent.id }}">
          Input {% if parents|length > 1 %} {{ forloop.counter }} {% endif %}
        </a>
        {% endfor %}
        <a class="tabbar__link  {% if preview_node_id == object.id and not show_docs %} tabbar__link--active {% endif %}"
           href="{% url 'nodes:update' object.id %}?preview_node_id={{ object.id }}">
          Result
        </a>
      </nav>
      {% if show_docs%}
      {% include help_template %}
      {% else%}
      <turbo-frame id="workflows-grid" src="{% url 'nodes:grid' preview_node_id %}">
        <div class='placeholder-scr placeholder-scr--fillscreen'>
          <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
          <p class='placeholder-scr__title'>Loading preview...</p>
        </div>
      </turbo-frame>
      {% endif %}
    </div>
    {% else %}
    <div class='workflow-detail__warning'>
      <span>You need to <strong>connect</strong> this to more nodes before you can configure it.</span>
      <span class='mt-12'><i class="fad fa-stethoscope fa-10x"></i></span>
    </div>
  </div>
  {% endif %}
</turbo-frame>

{% endwith %}
