{% extends "web/app/app_base.html" %} {% load static %}
<!---->
{% block app %}
<h1>Detail</h1>
<p>{{ object.name }}</p>
<div class="flex">
  <div class="w-36">
    <turbo-frame id="dataflow-node"> </turbo-frame>
  </div>
  <div id="react-app" class="flex-auto h-96"></div>
</div>
<a href="{% url 'dataflows:list' %}">List</a>
{{ nodes|json_script:'nodes' }}
<script src="{% static 'rest_framework/js/coreapi-0.1.1.js' %}"></script>
<script src="{% url 'api_schemajs' %}"></script>
<script src="{% static 'js/dataflow-bundle.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/dataflow.css' %}" />
{% endblock %}
