<div class="max-h-72 overflow-y-auto">
{% for user in users  %}
  <div>
    <input 
      data-live-update-ignore
      id="{{user.id}}" 
      name="{{widget.name}}" 
      type="checkbox"
      value="{{user.id}}"
      class="checkbox__hidden"
      {% if user.is_current_user or user.is_project_member %}checked{% endif %}
    ></input>
    <label class="checkbox 
      {% if user.is_current_user %}
        checkbox__active
      {%else%}
        checkbox__enabled 
      {% endif %}" 
      for="{{user.id}}"
      {% comment %} Prevent unselect of current user {% endcomment %}
      {% if user.is_current_user %}style="pointer-events:none;"{% endif %}
    >
    <img class="h-12 w-12" src="{{ user.avatar_url }}">
    <div class='flex flex-col'>
      <span>
        {% if user.first_name or user.last_name %}
          {{user.first_name}} {{user.last_name}} - 
        {% endif %}
        {{user.username}}
      </span>
      <small>{{user.email}}</small>
    </div>
    </label>
  </div>
{% endfor %}
</div>
