{% extends "projects/base.html" %}
{% load static %}
{% load help_utils %}

{% block app-class %}relative{% endblock app-class %}

{% block app %}
  <div class="automate__header">
    <h1 class="flex items-center gap-3 mr-auto">
      Automate
      {% link_article 'overview' 'automate' %}
    </h1>

    <button
      class="button button--sm button--tertiary"
      x-tooltip="View all runs for this project"
      x-modal="{% url "projects:runs" project.id %}"
      data-cy="settings"
    >
      <i class="fas fa-fw fa-cog"></i> Settings & History
    </button>

    <div id="run-button-portal"></div>
  </div>

  <div class="flex flex-1 overflow-hidden">
    <div class="w-full dndflow">
      <automate-flow class="w-full" projectId="{{ project.id }}"></automate-flow>
    </div>
  </div>
  <script src="{% static 'celery_progress/celery_progress.js' %}"></script>
  <script src="{% static "js/automate-bundle.js" %}"></script>
  <link rel="stylesheet" href="{% static "css/workflow.css" %}" />
{% endblock %}