{% extends "web/app/app_base.html" %} {% block app %}
<p><a class="text-sm" href="{% url 'projects:list' %}"> Back to projects</a></p>
<h1 class="text-3xl font-bold mb-2">{{ object.name }}</h1>
<div class="flex space-x-4 mb-2">
  <a
    class="{% if request.resolver_match.url_name == 'detail' %} text-blue-700 {% endif %}"
    href="{% url 'projects:detail' object.id %}"
    >Overview</a
  >
  <a
    class="{% if request.resolver_match.kwargs.tab == 'connectors' %} text-blue-700 {% endif %}"
    href="{% url 'projects:tab' object.id 'connectors' %}"
    >Connectors</a
  >
  <a
    class="{% if request.resolver_match.kwargs.tab == 'datasets' %} text-blue-700 {% endif %}"
    href="{% url 'projects:tab' object.id 'datasets' %}"
    >Datasets</a
  >
  <a
    class="{% if request.resolver_match.kwargs.tab == 'dataflows' %} text-blue-700 {% endif %}"
    href="{% url 'projects:tab' object.id 'dataflows' %}"
    >Dataflows</a
  >
  <a
    class="{% if request.resolver_match.kwargs.tab == 'dashboards' %} text-blue-700 {% endif %}"
    href="{% url 'projects:tab' object.id 'dashboards' %}"
    >Dashboards</a
  >
</div>
<div class="border border-gray-500 h-96 p-2">
  {% block details %}{% endblock %}
</div>
{% endblock %}
