{% extends "web/app_base.html" %}
{% load static %}
{% load waffle_tags %}

{% block sidebar_content %}
  <a
    class="sidebar__link sidebar__link--border"
    href="{% url 'teams:detail' project.team.id %}"
    x-tooltip.sidebar="{{ project.team.name }}"
  >
    {% if project.team.icon %}
    <img src="{{ project.team.icon.url }}" />
    {% else %}
    <span class="team_logo" style="background: {{ project.team.color }}">
      {{ project.team.name|slice:1|capfirst }}
    </span>
    {% endif %}

    <strong class="h3">
      {{ project.team.name }}
    </strong>
  </a>

  <a
    class="sidebar__link sidebar__title"
    title="{{ project.name }}"
    href="{% url 'projects:detail' project.id %}"
    x-tooltip.sidebar="{{ project.name }}"
  >
    <i class="fad fa-fw fa-folders mr-6"></i>
    <div>{{ project.name }}</div>
  </a>

  {% with app_name=request.resolver_match.app_name %}

  {% if project.ready %}
  <a class="sidebar__link {% if app_name == 'projects' and request.resolver_match.url_name == 'detail' %}sidebar__link--active{% endif %}"
    href="{% url 'projects:detail' project.id %}"
    x-tooltip.sidebar="Overview"
  >
    <i class="far fa-fw fa-home mr-6"></i>Overview
  </a>

  <a class="sidebar__link {% if "project_integrations" in app_name %}sidebar__link--active{% endif %}"
    href="{% url 'project_integrations:list' project.id %}"
    x-tooltip.sidebar="Integrations"
  >
    <i class="far fa-fw fa-database mr-6"></i>Integrations {% if project.integrations_for_review > 0 %}({{ project.integrations_for_review }}){% endif %}
  </a>

  <li class="sidebar__bar"></li>

  <a class="sidebar__link {% if app_name == "project_workflows" %}sidebar__link--active{% endif %}"
    href="{% url 'project_workflows:list' project.id %}"
    x-tooltip.sidebar="Workflows"
  >
    <i class="far fa-fw fa-sitemap mr-6"></i>Workflows
  </a>

  <li class="sidebar__bar"></li>

  <a class="sidebar__link {% if app_name == "project_dashboards" or app_name == "dashboard_widgets" %}sidebar__link--active{% endif %}"
    href="{% url 'project_dashboards:list' project.id %}"
    x-tooltip.sidebar="Dashboards"
  >
    <i class="far fa-fw fa-chart-pie mr-6"></i>Dashboards
  </a>

  <a class="sidebar__link {% if app_name == "projects" and request.resolver_match.url_name == "automate" %}sidebar__link--active{% endif %}"
    href="{% url 'projects:automate' project.id %}"
    x-tooltip.sidebar="Automate"
  >
    <i class="far fa-fw fa-robot mr-6"></i>Automate
  </a>

  {% endif %}

  {% if not project.ready %}
  <a class="sidebar__link {% if app_name == 'project_templateinstances' %}sidebar__link--active{% endif %}"
    href="{% url 'project_templateinstances:list' project.id %}"
    x-tooltip.sidebar="Templates"
  >
    <i class="far fa-fw fa-construction mr-6"></i>Templates
  </a>
  {% endif %}

  <a
    class="sidebar__link {% if request.resolver_match.view_name == 'projects:update' or request.resolver_match.app_name == 'projects_oauth2' %}sidebar__link--active{% endif %}"
    href="{% url 'projects:update' project.id %}"
    x-tooltip.sidebar="Settings"
  >
    <i class="far fa-fw fa-cog mr-6"></i>Settings
  </a>
  {% endwith %}
{% endblock %}

{% block main %}
  {% block notifications %}{% endblock %}
    <section class="project">
      <section class="flex flex-col flex-1 {% block app-class %}{% endblock %}">
        {% block app %}{% endblock %}
      </section>
    </section>
{% endblock main %}
