{% extends "web/app/app_base.html" %}

{% block app %}
<div class="flex flex-1 flex-col justify-center items-center">
  <div class="max-w-xl">
    <div class="flex flex-col text-center mb-7">
      <h1>Create a new project</h1>
      <p>A project gathers your data analytics to solve and share the results of a common set of problems.</p>
    </div>

    <form method="post" action="{% url 'team_projects:create' team.id %}" class="form">
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <button type="submit" class="button button--filled button--success w-full">Create</button>
    </form>
  </div>
</div>
{% endblock %}
