{% extends "web/app/project_settings_base.html" %}
{% block app %}
<div class="max-w-lg p-4">
  <h1 class="mb-4">Deleting {{ object.name }}</h1>

  <form method="post" action="{% url 'projects:delete' object.id %}">
    {% csrf_token %}

    <p>Are you sure you want to delete this project?</p>

    <div class="input-group">
      <input type="submit" value="Yes" class="button button--filled button--danger" />
      <a href="{% url 'single_team:projects:list' object.team.slug %}" class="button button--tertiary">No</a>
    </div>
  </form>
</div>
{% endblock %}
