{% extends "web/app/project_base.html" %}
{% load humanize %}

{% block app %}

<div class="pad">
  <hgroup class="mb-4">
    <h1>{{ project.name }}</h1>

    {% if project.description %}
    <p>{{ project.description }}</p>
    {% endif %}
  </hgroup>

  <div class="card w-full max-w-5xl flex flex-col">
    <p class="flex items-center gap-4">
      <a class="link" href="{% url 'projects:integrations:list' project.id %}">
        <strong>{{ integration_count }}</strong> integration{{ integration_count|pluralize }}
      </a>
      <a class="link" href="{% url 'projects:workflows:list' project.id %}">
        <strong>{{ workflow_count }}</strong> workflow{{ workflow_count|pluralize }}
      </a>
      <a class="link" href="{% url 'projects:dashboards:list' project.id %}">
        <strong>{{ dashboard_count }}</strong> dashboard{{ dashboard_count|pluralize }}
      </a>
      <a>
        <strong>{{ project.num_rows|default_if_none:'0'|intcomma }}</strong> row{{ project.num_rows|pluralize }}
      </a>
    </p>
  </div>

  {% if integration_pending > 0 %}
  <div class="bg-orange-20 p-2 rounded-lg">
    <i class="fa fa-exclamation"></i>
    Setup is incomplete for {{ integration_pending }} integration{{ integration_pending|pluralize }}
  </div>
  {% endif %}

  {% if workflow_error > 0 %}
  <div class="bg-orange-20 p-2 rounded-lg"><i class="fa fa-exclamation"></i>
    No initial run for {{ workflow_pending }} workflow{{ workflow_pending|pluralize }}</div>
  {% endif %}

  {% if workflow_error > 0 %}
  <div class="bg-red-20 p-2 rounded-lg"><i class="fa fa-exclamation"></i>
    There are errors in {{ workflow_error }} workflow{{ workflow_error|pluralize }}</div>
  {% endif %}
</div>
{% endblock %}
