{% extends "web/app/project_base.html" %}
{% load humanize %}
{% block app %}
<div class="p-4 flex flex-col items-center space-y-4">
  <div class="card w-full max-w-5xl flex flex-col space-y-2">
    <h1 class="text-2xl">{{ project.name }}</h1>
    <div class="flex items-center space-x-2">
      <a class="hover:underline" href="{% url 'projects:integrations:list' project.id %}">
        <strong>{{ integration_count }}</strong> integration{{ integration_count|pluralize }}
      </a>
      <a class="hover:underline" href="{% url 'projects:workflows:list' project.id %}">
        <strong>{{ workflow_count }}</strong> workflow{{ workflow_count|pluralize }}
      </a>
      <a class="hover:underline" href="{% url 'projects:dashboards:list' project.id %}">
        <strong>{{ dashboard_count }}</strong> dashboard{{ dashboard_count|pluralize }}
      </a>
      <a class="hover:underline" href="#">
        <strong>{{ project.num_rows|intcomma }}</strong> row{{ project.num_rows|pluralize }}
      </a>
    </div>
    <p>{{ project.description }}</p>
  </div>

  {% if integration_pending > 0 %}
    <div class="bg-orange-20 p-2 rounded-lg">
      <i class="fa fa-exclamation"></i>
        Setup is incomplete for {{ integration_pending }} integration{{ integration_pending|pluralize }}
    </div>
  {% endif %}

  {% if workflow_error > 0 %}
  <div class="bg-orange-20 p-2 rounded-lg"><i class="fa fa-exclamation"></i>
    No initial run for {{ workflow_pending }} workflow{{ workflow_pending|pluralize }}</div>
  {% endif %}

  {% if workflow_error > 0 %}
  <div class="bg-red-20 p-2 rounded-lg"><i class="fa fa-exclamation"></i>
    There are errors in {{ workflow_error }} workflow{{ workflow_error|pluralize }}</div>
  {% endif %}
</div>
{% endblock %}
