<div id="projects-duplicate">
  {% if show_alert %}
    <script type="text/javascript">
    alert("Your project is being duplicated you should receive an e-mail once it's ready")
    </script>
  {% endif %}
  <form hx-post="{% url 'projects:duplicate' project.id %}"
    hx-target="#projects-duplicate" hx-swap="outerHTML">
      {% csrf_token %}
      <button {% if not team.can_create_project %}disabled{% endif %}
              data-controller="tooltip"
              type='submit'
              class="button button--m">
          <span class='beta beta__white'>Duplicate</span>
          <p data-tooltip-target="body">
              {% if team.can_create_project %}
                  Duplicates all integrations, workflows and dashboards of a project.
              {% else %}
                  You cannot create more projects on your current plan.
              {% endif %}
          </p>
      </button>
  </form>
</div>
