<div hx-target="this" hx-swap="outerHTML">
  {% if show_alert %}
    <script type="text/javascript">
      alert("Your project is being duplicated you should receive an e-mail once it's ready")
    </script>
  {% endif %}
  <form hx-post="{% url 'projects:duplicate' project.id %}">
    {% csrf_token %}
    <button
      type='submit'
      class="button button--m"
      x-data
      x-tooltip="Duplicates all integrations, workflows and dashboards of a project."
    >
      <span class='beta beta__white'>Duplicate</span>
    </button>
  </form>
</div>
