{% extends "web/app/app_base.html" %}
{% load humanize %}
{% block app %}

<section class="page-list">
  <h1 class="page-list__title">Projects</h1>

  <a class="button button--orange">
    Click me
  </a>
</section>

<h1 class="inline">Projects</h1>
<a class="button button--sm ml-4" href="{% url 'projects:create' %}">Create</a>

<ul class="card mt-4">
  {% for object in object_list %}

  <li class="mb-4">
    <a class="inline-block" href="{% url 'projects:detail' object.pk %}">
      <strong>{{ object }}</strong>

      <p>created {{ object.created|naturaltime }} • updated {{ object.updated|naturaltime }}</p>
    </a>
  </li>
  {% empty %}
  <p>No items.</p>
  {% endfor %}
</ul>

{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="{% url 'projects:list' %}?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="{% url 'projects:list' %}?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% endif %} {% endblock %}