{% extends "web/app/app_base.html" %}
{% load humanize %}

{% block app-class%}project-list{% endblock %}

{% block app %}

<div class="flex items-center mb-4">
  <h1 class="mr-auto">Projects</h1>
</div>

<div class="project-list__projects">
  {% for object in object_list %}
  <a class="card" href="{% url 'projects:detail' object.pk %}">
    <h3 class="mb-4">{{object}}</h3>

    <p>Created {{ object.created|naturaltime }}</p>
    <p>Updated {{ object.updated|naturaltime }}</p>
  </a>
  {% empty %}
  <div class="card card-tertiary">
    <h3 class="mb-4">No projects found</h3>

    <p>Why not create one using the button to the right?</p>
  </div>
  {% endfor %}

  <a class="card card--primary card--center" href="{% url 'projects:create' %}">
    <i class="fas fa-plus mr-4"></i><strong>Create new Project</strong>
  </a>
</div>

{% if is_paginated %}
<div class="pagination">
  <span class="page-links">
    {% if page_obj.has_previous %}
    <a href="{% url 'projects:list' %}?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
    <span class="page-current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>
    {% if page_obj.has_next %}
    <a href="{% url 'projects:list' %}?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
  </span>
</div>
{% endif %} {% endblock %}
