{% extends "web/app/project_base.html" %}

{% block app %}
<div class="flex flex-col flex-1 overflow-auto">
  <div class="max-w-lg mb-auto pad">
    <h1 class="project-settings__title">Settings</h1>

    <form 
      id='project-{{ object.id }}-update'
      data-controller="live-update" 
      method="post" 
      action="{% url 'projects:update' object.id %}" 
      class="form"
    >
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <button type="submit" name='submit' value='submit' class="button button--success w-full">
        Save changes
      </button>

      <span data-live-update-target="loading" class="workflow-detail__sidebar__loading hidden">
        <i class="placeholder-scr__icon fad fa-spinner-third fa-spin fa-fw fa-2x"></i>
      </span>
    </form>
  </div>

  <div class="pad border-t border-gray">
    <h2 class="mb-3">Delete project</h2>
    <p class="mb-3">If you'd like to <strong>delete</strong> this project, press the button below.</p>

    <a class="button button--danger w-lg"
      href="{% url 'projects:delete' object.id %}">
      Delete
    </a>
  </div>
</div>
{% endblock %}
