{% extends "web/app/project_base.html" %}

{% block app %}
<div class="flex flex-col flex-1 overflow-auto pad">
  <div class="max-w-lg mb-auto">
    <h1 class="project-settings__title">Settings</h1>

    <form method="post" action="{% url 'projects:update' object.id %}" class="form">
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <button type="submit" class="button button--success button--filled">Save changes</button>
    </form>
  </div>

  <div>
    <h2 class="text-red">Danger zone:</h2>
    <p class="mb-7">If you'd like to <strong>delete</strong> this project, press the button below.</p>

    <a class="button button--sm button--filled button--danger"
       href="{% url 'projects:delete' object.id %}">
      Delete
    </a>
  </div>
</div>
{% endblock %}
