{% load crispy_forms_field %}

{% if field.is_hidden %}
  {{ field }}
{% else %}

  {% if form.show and form.show|get_item:field.name %}<template x-if="{{ form.show|get_item:field.name }}">{% endif %}
  <div id="div_{{ field.auto_id }}" class="{% if wrapper_class %}{{ wrapper_class }} {% endif %}{% if field_class %}{{ field_class }}{% else %}label{% endif %}">

    {% if field.label and form_show_labels %}
      <label for="{{ field.id_for_label }}" class="{% if label_class %}{{ label_class }}{% endif %}">
        {{ field.label|safe }}{% if field.field.required %} *{% endif %}

        {% if field.help_text %}
          <p class="input__help-text">
            {{ field.help_text }}
          </p>
        {% endif %}
      </label>
    {% endif %}

    {% crispy_field field %}

    {{ field.errors }}

  </div>
  {% if form.show and form.show|get_item:field.name %}</template>{% endif %}
{% endif %}
