<div x-data="{
  min_num: {{ formset.min_num }},
  max_num: {{ formset.max_num }},
  initial: {{ formset.initial_form_count }},
  total: {{ formset.total_form_count }}, // total number of forms (for Django)
  marked_for_delete: 0,
  index: {{ formset.total_form_count }} // unique index for each new form
  }"
  x-init="$watch('total', value => {
    const TOTAL_FORMS = $root.querySelector('#id_{{ formset.prefix }}-TOTAL_FORMS')
    TOTAL_FORMS.value = total + marked_for_delete
    })"
>
  {% with formset.management_form as form %}
    {% include 'crispy/uni_form.html' %}
  {% endwith %}

  <template x-ref="template">
    {% include 'crispy/uni_formset_row.html' with form=formset.empty_form %}
  </template>

  <div x-ref="forms" class="formset-list">
    {% for form in formset %}
      {% include 'crispy/uni_formset_row.html' %}
    {% endfor %}
  </div>

  <button
    id="{{ formset.prefix }}-add"
    type="submit"
    class="button button--sm button--rounded"
    :disabled="total >= max_num"
    @click.prevent="const content = $refs.template.innerHTML.replace(/__prefix__/g, index)
      $refs.forms.insertAdjacentHTML('beforeend', content)
      index += 1
      total += 1"
    data-pw="formset-{{ formset.prefix }}-add"
  >
    <i class="far fa-fw fa-plus"></i> Add new
  </button>
</div>