{% load static %}
{% load crispy_forms_tags %}
<div data-controller="formset" data-formset-prefix-value="{{ formset.get_default_prefix }}">

  {% comment %}
    `formset.empty_form` is an empty form with a `__prefix__` placeholder
  {% endcomment %}

  <template data-formset-target="template">
    {% include 'components/formset_row.html' with form=formset.empty_form %}
  </template>

  <table>
    {{ formset.management_form }}
    <tbody data-formset-target="target">
      {% for form in formset.forms %}
        {% include 'components/formset_row.html' with form=form %}
      {% endfor %}
    </tbody>
  </table>

  <button type="button" data-action="click->formset#add">
    <i class="far fa-fw fa-plus"></i> 
  </button>
</div>