{% load random_number from maths_utils %}
{% random_number as temp_id %}
<div id="myGrid-{{temp_id}}" class="ag-theme-balham h-full w-full overflow-auto" />
<script id="columns-{{temp_id}}" type="application/json">
  {{ columns|safe }}
</script>
<script id="rows-{{temp_id}}" type="application/json">
  {{ rows|safe }}
</script>

<div data-controller="turbo-issue-186-workaround">
  <!--ag-grid-->
  <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"
          onload="window.dispatchEvent(new Event('agGrid:load'))"></script>
  <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css" />
  <script type="text/javascript" charset="utf-8">
    window.addEventListener(
      "agGrid:load",
      function (e) {
        if (!document.querySelector("#myGrid-{{temp_id}} .ag-root-wrapper")) {
          new agGrid.Grid(document.querySelector("#myGrid-{{temp_id}}"), {
            columnDefs: JSON.parse(document.getElementById("columns-{{temp_id}}").innerHTML),
            rowData: JSON.parse(document.getElementById("rows-{{temp_id}}").innerHTML),
            domLayout: 'autoHeight',
          });
        }
      },
      { once: true }
    );
  </script>
</div>
