.clipboard-copy {
  align-items: center;
  background-color: var(--c-gray-20);
  border-radius: 4px;
  border: 1px solid var(--c-gray);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.6rem;

  a {
    font-size: 1rem;
    color: var(--c-black-50);
  }

  button {
    margin-left: 0.4rem;
  }
}
