.list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0.4rem;
  width: max-content;

  &--bordered {
    border-radius: 10px;
    border: 1px solid var(--c-gray);
    background-color: var(--c-white);
  }

  &__item {
    align-items: center;
    border-radius: 5px;
    display: flex;
    min-height: 32px;
    padding: 0 0.8rem;
    
    &--interactive {
      cursor: pointer;

      &:hover {
        background-color: var(--c-gray);
      }
    }
  }
}