.popover-body {
  background-color: white;
  border-radius: 5px;
  border: 1px solid --var(--c-gray);
  color: var(--c-black);
  margin-top: 6px;
  width: max-content;
  z-index: var(--z-modal);

  &--center {
    left: 50%;
    transform: translateX(-50%);
  }
}

[data-popover-target*='body'] {
  z-index: var(--z-modal);
  display: none;
}
