// Hiding the <template> tag used for populating the popover.
[data-popover-target*='body'] {
  display: none;
}

.tippy-box[data-theme~='popover-menu'],
.tippy-box[data-theme~='popover'] {
  background-color: white;
  border: 1px solid var(--c-gray);
  border-radius: 5px;
  color: var(--c-black);
  width: max-content;
  z-index: var(--z-modal);
}

.tippy-box[data-theme~='popover-menu'] {
  .tippy-content {
    padding: 0;

    .list__item {
      border-radius: 0;
    }
  }
}
