@use "utilities/mixins";

.widget-card {
  display: flex;
  position: relative;

  &__visual {
    background-color: var(--c-white);
    border: 1px solid var(--c-gray);
    display: flex;
    flex-flow: column;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    z-index: calc(var(--z-default) + 1);

    &--view {
      border: 1px solid var(--c-gray-50);
    }
  }

  &__commands {
    display: none;
    background-color: var(--c-white);
    border: 1px solid var(--c-gray);
    bottom: 1.6rem;
    color: var(--c-black);
    align-items: center;
    flex-flow: row;
    font-size: 1.6rem;
    right: 1.6rem;
    position: absolute;
    z-index: var(--z-ui);

    button:hover,
    a:hover {
      color: var(--c-black);
    }

    i {
      display: block;
    }

    > * {
      padding: 0.9rem 0.7rem;
      box-sizing: content-box;

      &:hover {
        background: var(--c-gray-50);
      }
    }
  }

  &:hover &__commands {
    display: flex;
  }

  &__indicator {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      position: absolute;
      width: 0.4rem;
      height: 0.4rem;
      background: var(--c-black-20);
      z-index: var(--z-ui);
    }
  }
}

gy-widget {
  display: block;
  position: relative;
}
