{% include 'django/forms/field.html' with field=form.column %}
{% include 'django/forms/field.html' with field=form.part %}
{% include 'django/forms/field.html' with field=form.function %}

<div class='formatting'
  x-data="{ open: {{ form.formatting_unfolded.value|yesno:"true,false" }} }">
  <button 
    type='button'
    class="small link link--foldable ml-auto"
    :class="{ 'link--unfolded': open }"
    @click="open = !open"
  >
    Formatting
  </button>

  {{ form.formatting_unfolded }}

  <div
    x-show="open"
    class="input-group"
  >
    {% include 'django/forms/field.html' with field=form.name %}

    {% if form.currency %}
      <div class='flex flex-row w-full gap-2'>
        {% include 'django/forms/field.html' with field=form.currency %}
        {% include 'django/forms/field.html' with field=form.rounding %}
      </div>
    {% endif %}
    <div class='flex flex-row w-full gap-2'>
      {% include 'django/forms/field.html' with field=form.conditional_formatting %}
      {% include 'django/forms/field.html' with field=form.is_percentage %}
    </div>
    <div class='flex flex-row w-full gap-2'>
      {% include 'django/forms/field.html' with field=form.positive_threshold %}
      {% include 'django/forms/field.html' with field=form.negative_threshold %}
    </div>
  </div>
</div>


{% for hidden_field in form.hidden_fields %}
  {{ hidden_field }}
{% endfor %}