// What is this file?
// Tailwind uses PostCSS for it's processing. We include it here to adhere to our directory
// structure. See the webpack config to check how it is being consumed but not import it into
// the style.scss file.
@tailwind base;
@tailwind components;
@tailwind utilities;
