{% extends "web/app/project_base.html" %}
{% load help_utils %}

{% block body %}
<div class="flex flex-1 justify-center items-center w-full h-full">
  <div class="flex flex-col max-w-3xl">
    <div class="flex text-center mb-7 items-center">
      <h1 class="mr-2">Authorize a external service with OAuth2</h1>
    </div>

    <form method="post" class="mt-7">
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <button type="submit" class="button button--filled button--success w-full">Authorize</button>
    </form>
  </div>
</div>
{% endblock %}

