{% load render_table from django_tables2 %}

<div class="card card--none">
  {% render_table table %}

  {% if oauth2_count == 0 %}
  <div class="table__empty">
    <i class="fas fa-fw fa-4x fa-sparkles mb-7"></i>
    <h3>You haven't authorized any external services</h3>
    <p>
      Why not <a href="{% url 'project_oauth2:create' project.id %}" class="link" data-turbo-frame="_top">create one</a>?
    </p>
  </div>
  {% else %}
  <div class="pad flex flex-col space-y-8">
    <small>
        <a href="{% url 'project_oauth2:create' project.id %}" class="link" data-turbo-frame="_top">
          <i class="fa fa-fw fa-plus mr-2"></i>Authorize an external service</a>
    </small>
  </div>
  {% endif %}
</div>
