{% load static heroicons site_tags %}

<div class="sticky top-0 bg-white border-b border-gray z-10">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
      <div class="flex items-center justify-start lg:w-0 lg:flex-1">
        <a class="flex items-center gap-2" href="{% url 'web:home' %}">
          <img class="h-6 w-6" src="{% static 'images/logo.png' %}">
          <span class="text-2xl text-indigo-600 font-semibold text-poppins">
            Gyana
          </span>
        </a>
      </div>

      <div class="-mr-2 -my-2 md:hidden">
        <button
          type="button"
          class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-600 font-normal hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
          data-controller="popover"
          data-theme="popover-menu"
        >
          <span class="sr-only">Open menu</span>
          {% heroicon 'menu' class="h-6 w-6" style="solid"%}
          <template data-popover-target="body">
            {% include 'web/site/mobile_menu.html' %}
          </template>
        </button>
      </div>

      <nav class="hidden md:flex gap-x-6 text-indigo-500 lg:flex-2">

        <button
          type="button"
          class="group bg-white rounded-md text-gray-600 font-normal inline-flex items-center hover:text-gray-900 focus:outline-none focus:text-gray-900"
          data-controller="popover"
          data-theme="popover-menu"
        >
          <span>Learn</span>
          {% heroicon 'chevron-down' class="ml-1 h-5 w-5 text-gray-600 group-hover:text-gray-900 font-normal" style="solid" %}

          <template data-popover-target="body">
            <div class="absolute z-10 -ml-4 mt-3 transform px-2 w-screen max-w-md sm:px-0 lg:ml-0 lg:left-1/2 lg:-translate-x-1/2">
              <div class="card card--none ring-1 ring-black ring-opacity-5 overflow-hidden">
                <div class="relative grid gap-6 bg-white px-5 py-6 sm:gap-8 sm:p-8">
                  <a
                    {% comment %} Blog is Wagtail, this has no django-specific route {% endcomment %}
                    href="/blog"
                    class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50"
                  >
                    {% heroicon 'pencil-alt' class="flex-shrink-0 h-6 w-6 text-blue" style="solid"%}
                    <div class="ml-4">
                      <p class="text-base font-normal text-gray-900">Blog</p>
                      <p class="mt-1 text-sm text-gray-600">Learn about tips, updates and company culture.</p>
                    </div>
                  </a>
                  <a
                    href="{% external_url 'help' %}"
                    class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50"
                  >
                    {% heroicon 'question-mark-circle' class="flex-shrink-0 h-6 w-6 text-blue" style="solid"%}
                    <div class="ml-4">
                      <p class="text-base font-normal text-gray-900">Help Center</p>
                      <p class="mt-1 text-sm text-gray-600">Get all of your questions answered.</p>
                    </div>
                  </a>
                  <a
                    href="{% external_url 'feedback' %}"
                    class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50"
                  >
                    {% heroicon 'chat-alt' class="flex-shrink-0 h-6 w-6 text-blue" style="solid"%}
                    <div class="ml-4">
                      <p class="text-base font-normal text-gray-900">Feedback</p>
                      <p class="mt-1 text-sm text-gray-600">Have your say on the development of Gyana.</p>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </template>
        </button>

        <a
        href="{% url 'web:integrations' %}"
        class="text-gray-600 font-normal hover:text-gray-900"
        >
          Integrations
        </a>

        <a
          href="{% url 'web:pricing' %}"
          class="text-gray-600 font-normal hover:text-gray-900"
        >
          Pricing
        </a>
        <a
          href="{% url 'web:about' %}"
          class="text-gray-600 font-normal hover:text-gray-900"
        >
          About
        </a>
      </nav>

      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
        {% if request.user.is_authenticated %}
        <a href="{% url 'web:home' %}" class="button">
          Go to app
        </a>
        {% else %}
        <a href="{% url 'account_login' %}" class="button button--transparent">
          Sign in
        </a>
        <a 
          id="CTA_header"
          class="button button--secondary"
          href="{% url 'account_signup' %}"
        >
          Sign up
        </a>
        <a
          id="CTA_header"
          class="ml-4 button"
          href="{% external_url 'request_demo' %}"
        >
          Book a demo
        </a>
        {% endif %}
      </div>
    </div>
  </div>

</div>