{% load heroicons %}

<div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50 w-screen">
  <div class="py-6 px-5 space-y-6">
    <div class="grid grid-cols-2 gap-y-4 gap-x-8">
      <a
        href="/#features"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        Features
      </a>
      <a
        href="/pricing"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        Pricing
      </a>

      <a
        href="/about"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        About
      </a>
      <a
        href="/blog"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        Blog
      </a>
      <a
        href="/help"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        Help Center
      </a>
      <a
        href="/roadmap"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        Feedback
      </a>
    </div>
    <div>
      {% if request.user.is_authenticated %}
        <a
          href="/"
          class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-normal text-white bg-indigo-600 hover:bg-indigo-700"
        >
          Go to app
        </a>
      {% else %}
        <a
          href="https://gyana-data.typeform.com/to/v2XTy0j3"
          id="CTA_header"
          class="w-full flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-normal text-white bg-indigo-600 hover:bg-indigo-700"
        >
          Request access
        </a>
        <p class="mt-6 text-center text-base font-normal text-gray-600">
          Existing customer?
          <a
            href="{% url 'account_login' %}"
            class="text-indigo-600 hover:text-indigo-500"
          >
            Sign in
          </a>
        </p>
      {% endif %}
    </div>
  </div>
</div>