{% load heroicons site_tags %}

<div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50 w-screen">
  <div class="py-6 px-5 space-y-6">
    <div>
      {% comment %} <nav class="grid gap-y-8">
        <a href="{% url 'web:use_case' 'ecommerce' %}" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
          {% heroicon 'shopping-cart' class="flex-shrink-0 h-6 w-6 text-blue" style="solid"%}
          <span class="ml-3 text-base font-medium text-gray-900"> Ecommerce </span>
        </a>

        <a href="{% url 'web:use_case' 'b2b-saas' %}" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
          {% heroicon 'cloud' class="flex-shrink-0 h-6 w-6 text-blue" style="solid"%}
          <span class="ml-3 text-base font-medium text-gray-900"> B2B Saas </span>
        </a>

        <a href="{% url 'web:use_case' 'marketing-agency' %}" class="-m-3 p-3 flex items-center rounded-md hover:bg-gray-50">
          {% heroicon 'user-group' class="flex-shrink-0 h-6 w-6 text-blue" style="solid"%}
          <span class="ml-3 text-base font-medium text-gray-900"> Marketing Agency </span>
        </a>
      </nav> {% endcomment %}
    </div>
  </div>
  <div class="py-6 px-5 space-y-6">
    <div class="grid grid-cols-2 gap-y-4 gap-x-8">
      <a
        href="{% url 'web:integrations' %}"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        Integrations
      </a>
      <a
        href="{% url 'web:pricing' %}"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        Pricing
      </a>

      <a
        href="{% url 'web:about' %}"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        About
      </a>
      <a
        href="/blog"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        Blog
      </a>
      <a
        href="{% external_url 'help' %}"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        Help Center
      </a>
      <a
        href="{% external_url 'feedback' %}"
        class="text-base font-normal text-gray-900 hover:text-gray-700"
      >
        Feedback
      </a>
    </div>
    <div class="flex flex-col gap-4">
      {% if request.user.is_authenticated %}
        <a
          href="{% url 'web:home' %}"
          class="button"
        >
          Go to app
        </a>
      {% else %}
        <a
          href="{% url 'account_signup' %}"
          id="CTA_header"
          class="button button--secondary"
        >
          Sign up
        </a>
        <a
          href="{% external_url 'request_demo' %}"
          id="CTA_header"
          class="button"
        >
          Book a demo
        </a>
        <p class="text-center text-base font-normal text-gray-600">
          Existing customer?
          <a
            href="{% url 'account_login' %}"
            class="text-indigo-600 hover:text-indigo-500"
          >
            Sign in
          </a>
        </p>
      {% endif %}
    </div>
  </div>
</div>