.dashboard {
  flex: 1 1 0%;
  overflow: auto;
  padding: 1.6rem;
}

#widget-update-form {
  border-right: 1px solid var(--c-gray);

  .widget-update__footer {
    display: flex;
    gap: 1.6rem;
    padding: 1.6rem;
    width: 100%;
    background: var(--c-white);
    margin-top: auto;
    border-top: 1px solid var(--c-gray);
  }
}