@use 'utilities' as u;

.dashboard {
  flex: 1 1 0%;
  overflow: auto;
  padding: 1.6rem;
  height: 100%;

  &__header {
    align-items: center;
    background-color: var(--c-white);
    border-bottom: 1px solid var(--c-gray);
    display: flex;
    flex-shrink: 0;
    gap: 1.6rem;
    height: 4.2rem;
    padding: 0 1.6rem;
  }

  & + .dnd-sidebar {
    .dnd-sidebar__node {
      min-height: auto;
    }
  }
}

.palette-colors {
  display: grid;
  flex: 1 1 100%;
  gap: 0.8rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

.page-controls {
  align-items: center;
  background-color: var(--c-white);
  border-radius: 5px;
  border: 1px solid var(--c-gray);
  bottom: 0;
  display: inline-flex;
  font-size: 1.2rem;
  gap: u.size('sm');
  justify-content: center;
  left: 50%;
  line-height: 0;
  margin: u.size('sm') auto 0 auto;
  padding: u.size('sm');
  position: sticky;
  transform: translateX(-50%);
  width: max-content;

  @include u.shadow;

  .form--no-layout {
    display: inline;
  }

  .input {
    -moz-appearance: textfield;
    color: inherit;
    font-size: inherit;
    padding: 0.2rem 0;
    text-align: center;
    width: u.size('lg');

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
