<h1 class="mb-8">My Details</h1>

<div>
  <div class="flex gap-4 mb-8">
    <img class="h-32 w-32" src="{{ user.avatar_url }}">
    <div id='profile-upload-holder' class="has-text-centered">
      <label for="profile-upload">
        <span>Change Picture</span>
        <input id="profile-upload" type="file" accept="image/*" />
      </label>
    </div>
  </div>

  <div class="column">

    <form method="post">
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <div class="flex w-full">
        <button type="submit" class="button button--green button--filled mr-auto">Save</button>

        <a href="{% url 'account_logout' %}" class="button button--danger">
          Sign out
        </a>
      </div>
    </form>
  </div>
</div>
