@charset "utf-8";

@use "components";

.text-poppins {
  font-family: "Poppins";
}

.prose h1 > a,
.prose h2 > a,
.prose h3 > a,
.prose h4 > a {
  align-items: center;
  display: flex;
  text-decoration: none;

  .fa {
    color: var(--c-blue);
    display: none;
    font-size: 0.85em;
    text-decoration: none;

    &:hover {
      color: var(--c-black);
    }
  }

  &:hover .fa {
    display: inline-flex;
  }
}