{% load static %}

<style>
  {% for group in services_grouped %}
    .integrations-{{ forloop.counter0 }} {
      animation: {{ group.animation }}s linear 0s infinite normal none running slide;
    }
    @keyframes slide {
      100% {
        transform: translateX(-20%);
      }
    }
  {% endfor %}
</style>

<div id="get-started" class="bg-white border-b border-gray overflow-hidden">
  <div class="max-w-7xl mx-auto -my-3" style="max-width: 120rem;">
    <div class="relative flex flex-col justify-center">
      <div class='fade-left'></div>
      <div class='flex flex-col gap-4 overflow-hidden'>
        {% for group in services_grouped %}
          <div class="flex gap-2 integrations-{{ forloop.counter0 }}">
            {% for service in group.services %}
              <span class='inline-flex items-center gap-2 flex-none px-2 py-1 rounded-lg text-sm font-normal bg-indigo-100 text-gray-800'>
                <img class='h-4 w-4' src={% static 'images/integrations/fivetran/'|add:service.icon_path %} />
                {{ service.name }}
              </span>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div class='fade-right'></div>
    </div>
  </div>
</div>