{% load heroicons %}

<div class="bg-gray-20 border-b border-gray">
  <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 flex flex-col">
    <div>
      <h2 class="text-3xl font-extrabold text-gray-900">
        Connect to your apps
      </h2>
      <p class="mt-4 text-lg text-gray-600 max-w-3xl">
        Import data from the applications you use to run your business. Setup
        your source and start syncing your data in minutes.
      </p>
    </div>
    <turbo-frame id="web:search-integrations-demo" data-turbo="true">
      {% include 'web/demo/search_integrations.html' %}
    </turbo-frame>
    <p class="mt-8 text-lg text-gray-600 max-w-3xl flex items-center gap-1">
      <span>
        Can't find your integration?
        <strong>Don't panic!</strong>
        You have other options to get your data into Gyana
      </span>
      {% heroicon 'arrow-down' class="h-5 w-5" style="solid" %}
    </p>
  </div>
</div>