{% load static heroicons %}

<div id="custom" class="bg-white border-b border-gray">
  <div class="max-w-7xl mx-auto py-8 px-4 sm:px-6 lg:py-16 lg:px-8 flex flex-col">
    <div>
      <h2 class="flex flex-col sm:flex-row sm:gap-2 text-3xl font-extrabold text-gray-900">
        Build an integration
        <span class="text-2xl lg:text-3xl text-caveat text-indigo-600 font-normal">without writing code</span>
      </h2>
      <p class="mt-4 text-lg text-gray-600 max-w-3xl">
        You'll be surprised what you can achieve in 5 minutes with our no-code tools.
        <strong>And no, you don't have to pay for Zapier.</strong>
      </p>
    </div>
    <div class="mt-6 grid grid-cols-1 lg:grid-cols-2 gap-4">
      {% for item in content.custom %}
        <div class="card card--none">
          <div class="flex gap-4 p-4">
            <img class="w-20 h-20" src="{% static 'images/integrations/'|add:item.image %}" alt="">
            <div class="flex flex-col gap-2">
              <h3 class="text-lg font-medium text-gray-900">{{ item.name }}</h3>
              <div class="text-sm text-gray-600">
                <strong>{{ item.question }}</strong>
                {{ item.description }}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <p class="mt-6 text-lg text-gray-600 max-w-3xl flex items-center gap-1">
      <span>
        Not an option? <strong>Talk to us</strong>
      </span>
      {% heroicon 'arrow-down' class="h-5 w-5" style="solid" %}
    </p>
  </div>
</div>