{% extends "web/appsumo_landing.html" %}
{% load static team_tags %}
{% load socialaccount %}

{% block content %}
<section>
  {% if request.user in object.team.members.all %}
    <p class="text-center">
        You've already redeemed the code <strong>{{ object.code }}</strong> with your team
        <a class='link' href="{% url 'teams:detail' object.team.id %}">
        {{ object.team.name }}
        </a>.
    </p>
    {% if request.user|is_admin_of:object.team %}
      <p class="text-center">
          Go to your 
          <a class="link" href="{% url 'teams:account' object.team.id %}">
          account
          </a>
          for more info.
      </p>
    {% endif %}
  {% else %}
  <div class="text-center">
    <h3 class="mb-3">Code already redeemed</h3>
    <p>
      This code (<strong>{{ object.code }}</strong>) has already been redeemed by another user. <br>
      If you believe this is an error, please contact
      <a class='link' href='mailto: support@gyana.com'>support@gyana.com</a> 
      for support.
    </p>
  </div>
  {% endif %}
</section>
{% endblock %}

{% block footer %}{% endblock %}