{% extends "web/base.html" %}
{% load static team_tags %}
{% load socialaccount %}

{% block body %}
<div class="landing">
  <div class="landing__content">
    <header class="landing__header landing__header--appsumo">
      <img src="{% static 'images/logo.png' %}" alt="">
      <i class="fas fa-fw fa-2x fa-heart text-red"></i>
      <img src="{% static 'images/appsumo_logo.png' %}" alt="">
    </header>

    {% block content %}
    {% endblock content %}

    <footer class="landing__footer">
      {% block footer %}
      <p>
        By using the app, you agree to our
        <a href="https://www.gyana.com/legal/terms-of-use" class="link">terms of service</a>
        and
        <a href="https://www.gyana.com/legal/privacy-policy" class="link">privacy policy</a>.
      </p>
      {% endblock %}
    </footer>
  </div>

  <div class="landing__image">
  {% block image %}
  <img src="{% static 'images/landing.png' %}" />
  {% endblock %}
  </div>
</div>
{% endblock %}