{% load render_table from django_tables2 %}

<p>
  You have <strong class="text-blue">{{ team.active_codes }} active code{{ team.active_codes|pluralize }}</strong>
  ({{ team.redeemed_codes }} redeemed, {{ team.refunded_codes }} refunded).
</p>
{% if team.ltd_disabled %}
  <p class="alert mt-4">
    Your life-time deal is disabled, as you've refunded all your codes.
  </p>
{% elif team.exceeds_stacking_limit %}
  <p class="alert mt-4">
    We only automatically stack up to 5 codes. You'll need to reach out to support
    to increase beyond this limit.
  </p>
{% endif %}
<div class="card card--none mt-7">
  {% render_table table %}

  <div class="pad pad--sm">
    <small>
      <a href="{% url 'team_appsumo:stack' team.id %}" class="link">
        <i class="fa fa-fw fa-plus mr-2"></i>Stack Code</a>
    </small>
  </div>
</div>

{% if team.has_extra_rows %}
  <h3 class="m-2">Extra rows</h3>
  <turbo-frame id="appsumo:extra" src="{% url 'team_appsumo:extra' team.id %}">
    <div class='placeholder-scr placeholder-scr--fillscreen'>
      <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
      <p class='placeholder-scr__title'>Loading extra rows...</p>
    </div>
  </turbo-frame>
{% endif %}

{% if not team.appsumoreview %}
<div class="pad pad--sm">
  <small>
    <a href="{% url 'team_appsumo:review' team.id %}" class="link">
      <i class="fa fa-fw fa-plus mr-2"></i>Link to your review
    </a>
  </small>
</div>
{% else %}
<div class="pad pad--sm">
  <p>Thank you for writing an honest review! We've added <strong>1,000,000</strong> rows to say thank you.</p>
</div>
{% endif %}