{% extends "appsumo/base.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
<section>
  <div class="flex flex-col">
    <p class="text-center mb-8">
      Reedem AppSumo code <strong>{{ view.kwargs.code }}</strong>.
    </p>
    {% if view.team_exists %} 
      <div class="flex flex-col mb-7">
        <h2>Choose an existing team</h2>
      </div>
    {% else %}
      <div class="flex flex-col mb-7">
        <h2>Create a new team</h2>
        <p>A team is a single workspace where you manage multiple projects and clients.</p>
      </div>
    {% endif %}

    <form method="post" class="my-8">
      {% csrf_token %}

      {{ form }}

      <button type="submit" class="button button--filled w-full">
        Continue
      </button>

    </form>
  </div>
</section>
{% endblock %}
