{% extends "web/landing.html" %}
{% load static %}
{% load socialaccount %}

{% block content %}
<section>
  <label for="" class="mb-6">
    <p>AppSumo code</p>
    <input type="text" disabled value={{ view.kwargs.code }}>
  </label>

  <a class="button button--primary button--outline button--google w-full" href="{% provider_login_url 'google' %}?next={% url 'appsumo:redeem' request.resolver_match.kwargs.code %}&appsumo=true">
    <img class="socialicon mr-2" src="{% static 'images/socialauth/google-g.svg' %}" alt="Google Logo">
    Sign up with Google
  </a>
  <p class="text-center text-black-50 my-4">or</p>

  <form method="post" class="mb-8">
    {% csrf_token %}

    {% include "django/forms/default_form.html" %}

    <button type="submit" class="button button--filled w-full">
      Create Account
    </button>

  </form>

  <p class="text-center">
    Already have an account?
    <a href="{% url 'account_login' %}" class="font-medium text-blue hover:text-blue-500">
      Go to sign in.
    </a>
  </p>
</section>
{% endblock %}
