{% extends "teams/base.html" %}

{% block app %}
<div class="max-w-xl pad">
  <form method="post" action="{% url 'team_appsumo:stack' team.id %}" class="w-full">
    {% csrf_token %}

    {% include "django/forms/default_form.html" %}

    <div class="flex gap-3 w-full">
      <a href="{% url 'teams:account' team.id %}" class="button button--tertiary flex-1">
        Go Back
      </a>
      <button type="submit" class="button button--success flex-1">Stack Code</button>
    </div>
  </form>
</div>
{% endblock %}
