{% if tables|length > 1 %}
<div class="bg-white overflow-auto w-100 border-gray border-0 border-r flex-shrink-0">
    <h3 class="px-4 py-2">Tables</h3>
    <hr />
    <ul class="px-4 py-2">
        {% for table in tables %}
        <li class="my-2">
        <p class="truncate hover:underline {% if table.id|slugify == request.GET.table_id or not request.GET.table_id and forloop.counter0 == 0 %}text-blue underline{% endif %}">
            <a title="{{ table.bq_table }}" href="?table_id={{ table.id }}">{{ table.humanize }}</a>
        </p>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="flex flex-col w-full">
    <nav id='tabbar-setup' class="tabbar">
        <a class="tabbar__link {% if request.GET.view != 'preview' %} tabbar__link--active {% endif %}"
            href="{{ request.path }}?table_id={{ request.GET.table_id }}">
            Structure
        </a>
        <a class="tabbar__link {% if request.GET.view == 'preview' %} tabbar__link--active {% endif %}"
            href="{{ request.path }}?table_id={{ request.GET.table_id }}&view=preview">
            Preview
        </a>
    </nav>

    <div class="pad flex-1 overflow-hidden">
    {% if request.GET.view == 'preview' %}
        
        <turbo-frame id="integrations:grid" src="{% url 'integrations:grid' object.id %}?table_id={{ request.GET.table_id }}">
            <div class='placeholder-scr placeholder-scr--fillscreen'>
            <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
            <p class='placeholder-scr__title'>Loading integration data...</p>
            </div>
        </turbo-frame>

    {% else %}

        <turbo-frame id="integrations:schema" src="{% url 'integrations:schema' object.id %}?table_id={{ request.GET.table_id }}">
            <div class='placeholder-scr placeholder-scr--fillscreen'>
            <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
            <p class='placeholder-scr__title'>Loading integration data...</p>
            </div>
        </turbo-frame>

    {% endif %}
    </div>
</div>