<div id="uploader-{{ integration.id }}"
     class="integration__file-upload"
     data-controller='file-upload'
     data-file-upload-file-id-value="{{ integration.id }}"
     data-file-upload-file-input-id-value="{{ file_input_id }}"
     data-file-upload-signed-url-value="{{ signed_url }}"
     data-file-upload-redirect-to-value="{{ redirect }}">
  <div class="integration__file-progress mb-7">
    <svg height="150" width="150" id="progress-bar">
      <circle cx="75" cy="75" r="70" stroke-width="6" fill="transparent" />
    </svg>
    <h3 id="progress">0%</h3>
  </div>

  <div>
    <h1>Uploading your file...</h1>
    <p>Uploading the file might take a while, make sure to stay on the page.</p>
  </div>
</div>
