<div 
  id="uploader-{{ integration.id }}"
  data-controller='file-upload' 
  data-file-upload-file-id-value="{{ integration.id }}"
  data-file-upload-file-input-id-value="{{ file_input_id }}"
  data-file-upload-signed-url-value="{{ signed_url }}"
  data-file-upload-redirect-to-value="{{ redirect }}">
  <h1>{{integration.name}}</h1>
  <div class="flex flex-row items-center">
    <p>Uploading file: <strong class='font-semibold' id="progress">0%</strong></p>
  </div>
  <p>Uploading the file might take a while, make sure to stay on the page.</p>
</div>