{% load static %}

<ul class="integration__create-flow">
  <li>
    <div
        class='integration__file-validate card'
        data-controller="celery-progress"
        data-celery-progress-task-url-value="{% url 'celery_progress:task_status' sync_task_id %}"
        data-celery-progress-script-url-value="{% static 'celery_progress/celery_progress.js' %}"
        data-celery-progress-redirect-url-value="{% url 'project_integrations:setup' object.integration.project.id object.integration.id %}"
        {% if done %} data-celery-progress-done-value {% endif %}
        >

      <i class="fad fa-spinner-third fa-spin text-blue text-4xl"></i>
      <div class='flex flex-col ml-4'>
        {% block loading_message %}
        {% endblock %}
      </div>

      <template id="success-template">
        <i class="fas fa-check text-green text-xl mr-4"></i>
        {% block success_message %}
        {% endblock %}
      </template>

      <template id="failure-template">
        <i class="fas fa-times text-red text-xl mr-4"></i>
        <div class="flex flex-col">
        {% block error_message %}
        {% endblock %}
          <p id="failure-message"/>
          <div class="flex space-x-2 my-2">
            <form method="post" action="{{ request.get_full_path }}" class="form max-w-xl">
                {% csrf_token %}

                {% include "django/forms/default_form.html" %}

                <button type="submit" class="button button--outline">
                  Retry
                </button>
            </form>
            <a class="button ml-2" href="{% url 'project_integrations:setup' object.integration.project.id object.integration.id %}?state=update" data-turbo-frame="_top">Configure</a>
          </div>
        </div>
      </template>

    </div>
  </li>
</ul>

<script>
    if ('{{ request.GET.refresh }}' == 'true') {
        Turbo.visit('{% url 'project_integrations:setup' object.integration.project.id object.integration.id %}')
    }
</script>