{% extends "web/app/project_base.html" %}

{% block app %}
<div class="page-header">
  <div class="mr-auto">
    <h1>Integrations</h1>

    <p>An integration is a source of data, like a CSV file, Google Sheet, ads account, database, or web app.</p>
  </div>

  <div class="flex ml-4">
    {% if project.team.enabled %}
    <div data-controller='popover'>
        <button data-popover-target="trigger" class="button button--sm" data-action="popover#trigger">
          New Integration <i class="fas fa-fw fa-angle-up fa-rotate-180"></i>
        </button>
        <ul data-popover-target="body" class="list list--bordered" hidden style="margin-top:6px;">
          <li class="list__item list__item--interactive">
            <a class="" href="{% url 'project_integrations_uploads:create' project.id %}">
              <i class="fas fa-fw fa-upload mr-4"></i> Upload CSV
            </a>
          </li>

          <li class="list__item list__item--interactive">
            <a class="" href="{% url 'project_integrations_sheets:create' project.id %}">
              <i class="fas fa-fw fa-file-spreadsheet mr-4"></i> Add Sheet
            </a>
          </li>

          <li class="list__item list__item--interactive">
            <a class="" href="{% url 'project_integrations_connectors:create' project.id %}">
              <i class="fas fa-fw fa-plus mr-4"></i> New Connector
            </a>
          </li>
        </ul>
      </div>
    {% else %}
      <button disabled class="button button--sm disabled">
        New Integration <i class="fas fa-fw fa-angle-up fa-rotate-180"></i>
      </button>
    {% endif %}
  </div>
</div>

<nav id='tabbar' class="tabbar">
  <a class="tabbar__link {% if request.resolver_match.url_name == 'list' %} tabbar__link--active {% endif %}"
     href="{% url 'project_integrations:list' project.id %}">
    Overview
  </a>
  
  <a class="tabbar__link {% if request.resolver_match.url_name == 'pending' %} tabbar__link--active {% endif %}"
     href="{% url 'project_integrations:pending' project.id %}">
    Pending {% if pending_integration_count > 0 %} ({{ pending_integration_count }}) {% endif %}
  </a>
  
</nav>

<div class="pad overflow-auto">
    {% block tab %}{% endblock %}
</div> 
{% endblock %}
