{% extends "web/app/project_base.html" %}
{% load static %}

{% block app %}
<div class="workflow-detail__header">
  <h3 class="mr-auto flex justify-center items-center">
    <img class="h-12 w-12 mr-4" src="{% static object.icon %}" title="{{ object.name }}" />
    <turbo-frame id="integration-name">
      <form method="post" action="{% url 'project_integrations:detail' project.id object.id %}" class="form">
        {% csrf_token %}

        <input class='input__inline' id="name" type="text" name="name" value="{{ object.name }}"></input>
      </form>
    </turbo-frame>
  </h3>

  {% if object.kind == "sheet" %}
  <a
    href="{{ object.sheet.url }}"
    class="button button--circle button--tertiary"
    target="_blank"
    rel="noopener noreferer"
    data-controller="tooltip"
  >
    <i class="fas fa-fw fa-external-link"></i>

    <span data-tooltip-target="body">Go to Google Sheet</span>
  </a>
  {% endif %}

  <nav id='tabbar' class="tabbar tabbar--top">
    {% if object.ready %}
      <a class="tabbar__link {% if request.resolver_match.url_name == 'detail' %} tabbar__link--active {% endif %}"
        href="{% url 'project_integrations:detail' project.id object.id %}">
        Overview
      </a>
      <a class="tabbar__link {% if request.resolver_match.url_name == 'data' %} tabbar__link--active {% endif %}"
        href="{% url 'project_integrations:data' project.id object.id %}">
        Data
      </a>
    {% endif %}
    {% comment %} Uploads cannot be setup again after approval {% endcomment %}
    {% if not object.ready or object.kind != object.Kind.UPLOAD %}
      <a class="tabbar__link {% if request.resolver_match.url_name in 'configure,load,done,setup' %} tabbar__link--active {% endif %}"
        href="{% url 'project_integrations:configure' project.id object.id %}">
        Setup
      </a>
    {% endif %}
    <a class="tabbar__link {% if request.resolver_match.url_name == 'settings' %} tabbar__link--active {% endif %}"
      href="{% url 'project_integrations:settings' project.id object.id %}">
      Settings
    </a>
  </nav>
</div>

{% block extra_tab %}{% endblock %}

<div id='main' class="flex flex-col flex-1 overflow-auto">
  {% block tab %}{% endblock %}
</div>
{% endblock %}
