{% extends "web/app/project_base.html" %}
{% load help_utils %}

{% block app %}
{% if show_zero_state %}
<div class="table__empty">
  <i class="fas fa-fw fa-4x fa-database text-black-50 mb-7"></i>
  <h3 class="mb-3">Import a source of data, like a CSV file or Google Sheet</h3>
  <p>
    Watch the video below to see how you can get started with integrations, if
    you prefer to just get started upload a CSV below. You can always watch the
    videos later, right in our help center!
  </p>
</div>

<div class="mx-auto" style="width: 48rem;">
  {% embed_loom 'integrations' %}

  <div class="flex gap-8 mt-7 items-center">
    <a
      href="{% url 'project_integrations_uploads:create' project.id %}"
      class="button button--primary flex-1"
    >
      Upload CSV
    </a>

    <p class="text-black-50">or</p>

    <a
      href="{% url 'project_integrations_sheets:create' project.id %}"
      class="button button--primary flex-1"
    >
      Add a Google Sheet
    </a>
  </div>

  <p class="alert mt-7">
   We recommend you start with a Google Sheet or CSV to get going fast. Connectors
   take up to an hour for the initial data sync.
  </p>

  <div class="flex gap-8 mt-7">
    <a
      href="{% url 'project_integrations_connectors:create' project.id %}"
      class="button button--tertiary flex-1"
    >
      Add a connector
    </a>
  </div>
</div>
{% else %}
<div class="page-header">
  <div class="mr-auto">
    <h1 class="flex items-center gap-3">
      Integrations
      {% link_article 'overview' 'integrations' %}
      {% link_video 'integrations' %}
    </h1>
    <p>A source of data, like a CSV file, Google Sheet, ads account, database, or web app.</p>
  </div>

  <div class="flex ml-4">
    {% if project.team.enabled %}
    <div data-controller='popover'>
      <button class="button button--sm">
        New Integration <i class="fas fa-fw fa-angle-up fa-rotate-180"></i>
      </button>

      <ul data-popover-target="body" class="list list--bordered" style="margin-top:6px;">
        <li class="list__item list__item--interactive">
          <a class="" href="{% url 'project_integrations_uploads:create' project.id %}">
            <i class="fas fa-fw fa-upload mr-4"></i> Upload CSV
          </a>
        </li>

        <li class="list__item list__item--interactive">
          <a class="" href="{% url 'project_integrations_sheets:create' project.id %}">
            <i class="fas fa-fw fa-file-spreadsheet mr-4"></i> Add Sheet
          </a>
        </li>

        <li class="list__item list__item--interactive">
          <a class="" href="{% url 'project_integrations_connectors:create' project.id %}">
            <i class="fas fa-fw fa-plus mr-4"></i> New Connector
          </a>
        </li>
      </ul>
    </div>
    {% else %}
    <button disabled class="button button--sm disabled">
      New Integration <i class="fas fa-fw fa-angle-up fa-rotate-180"></i>
    </button>
    {% endif %}
  </div>
</div>

<nav id='tabbar' class="tabbar">
  <a class="tabbar__link {% if request.resolver_match.url_name == 'list' %} tabbar__link--active {% endif %}"
     href="{% url 'project_integrations:list' project.id %}">
    Ready
  </a>
  
  <a class="tabbar__link {% if request.resolver_match.url_name == 'pending' %} tabbar__link--active {% endif %}"
     href="{% url 'project_integrations:pending' project.id %}">
    Pending {% if pending_integration_count > 0 %} ({{ pending_integration_count }}) {% endif %}
  </a>
</nav>

<div class="pad overflow-auto">
  {% block tab %}{% endblock %}
</div> 
{% endif %}
{% endblock %}
