{% extends 'integrations/base.html' %}
{% load waffle_tags cache crispy_forms_tags %}

{% block tab %}

  <div class="pad flex flex-1 justify-center items-center">
    <div class='flex flex-col flex-1 max-w-3xl'>
      <h1 class="flex items-center justify-center gap-3 mb-7">Configure import</h1>
      <div class="flex flex-1 justify-center items-center">

        {% if object.kind == 'customapi' %}
          <form
            id="configure-update-form"
            method="POST"
            action="{{ request.get_full_path }}"
            hx-boost="false"
            enctype='multipart/form-data'
            novalidate
          >
            <p class="alert">
              If you're not sure about these options, you can start with the defaults and tweak them later.
            </p>

            {% csrf_token %}

            {% crispy form %}

            <button type="submit" name="submit" value="submit" class="button button--success">
              Import
            </button>
          </form>
        {% else %}
          <form
            id="configure-update-form"
            method="POST"
            action="{{ request.get_full_path }}"
          >

            <p class="alert">
              If you're not sure about these options, you can start with the defaults and tweak them later.
            </p>

            {% csrf_token %}

            {{ form }}

            <button type="submit" name="submit" value="submit" class="button button--success mt-4 w-full">
              Import
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
