{% extends 'integrations/base_setup.html' %}

{% block tab %}

<div class="pad flex flex-1 justify-center items-center">
  <div class='flex flex-col flex-1 max-w-3xl'>
    <h1 class="flex items-center justify-center gap-3 mb-7">Configure import</h1>

    <div class="flex flex-1 justify-center items-center">
      <form method="POST" action="{{ request.get_full_path }}">
        {% csrf_token %}

        <p class="alert mb-4">
          If you're not sure about these options, we recommend you start with the defaults and tweak them later.
          {% if object.kind == 'connector' %}
            You can also go back to the <a href="{{ object.connector.fivetran_authorization_url }}" class="link">authorization</a> page.
          {% endif %}
        </p>

        {% include "django/forms/default_form.html" %}

        <button type="submit" class="button button--success mt-4 w-full">
          Import
        </button>
      </form>
    </div>
  </div>
</div>

{% endblock %}