{% extends "web/app/project_settings_base.html" %}

{% block app %}

<div class='flex flex-row h-full'>

  <div class='flex flex-col w-full p-4'>
    <h1 class="mb-4">Create</h1>

    {% if request.GET.kind %}

    {% if request.GET.kind == integration_kind.FIVETRAN and not request.GET.service %}
    <ul>
      {% for service_id, service in services.items %}
      <a
         href="{% url 'projects:integrations:create' project.id %}?kind={{ integration_kind.FIVETRAN }}&service={{ service_id }}">
        <li>{{ service.name }}</li>
      </a>
      {% endfor %}
    </ul>
    {% else %}
    <form method="post" action="{{ request.get_full_path }}" class="form"
          {% if request.GET.kind == integration_kind.CSV %} enctype="multipart/form-data" {% endif %}>
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <button type="submit" class="button">Create</button>
    </form>
    {% endif %}

    {% else %}
    <div>
      <div class="grid grid-cols-2 gap-4 max-w-md">
        <a class="card card--inline card--square"
           href="{% url 'projects:integrations:create' project.id %}?kind={{ integration_kind.GOOGLE_SHEETS }}">
          <div class="flex flex-col items-center">
            <i class="fas fa-question fa-3x mb-4"></i>
            <span class="block">
              Google Sheets
            </span>
          </div>
        </a>
        <a class="card card--inline card--square"
           href="{% url 'projects:integrations:create' project.id %}?kind={{ integration_kind.CSV }}">
          <div class="flex flex-col items-center">
            <i class="fas fa-question fa-3x mb-4"></i>
            <span class="block">
              CSV
            </span>
          </div>
        </a>
        {% if FF_ALPHA %}
        <a class="card card--inline card--square"
           href="{% url 'projects:integrations:create' project.id %}?kind={{ integration_kind.FIVETRAN }}">
          <div class="flex flex-col items-center">
            <i class="fas fa-question fa-3x mb-4"></i>
            <span class="block">
              Fivetran
            </span>
          </div>
        </a>
        {% endif %}
      </div>
    </div>
  </div>
  {% endif %}
</div>

{% if request.GET.kind == integration_kind.GOOGLE_SHEETS %}
<div class='flex flex-shrink-0 h-full overflow-hidden'>
  {% include 'integrations/guides/sheets_guide.html' %}
</div>
{% endif %}

</div>

{% endblock %}
