{% extends "web/app/project_base.html" %}
<!---->
{% load tailwind_filters %}
<!---->
{% block app %}
<h1>Create/Update</h1>
{% if request.GET.kind %}
  {% if request.GET.kind == integration_kind.FIVETRAN and not request.GET.service %}
  <ul>
    {% for service_id, service in services.items %}
    <a
      href="{% url 'projects:integrations:create' project.id %}?kind={{ integration_kind.FIVETRAN }}&service={{ service_id }}"
      ><li>{{ service.name }}</li></a
    >
    {% endfor %}
  </ul>
  {% else %}
  <form
    method="post"
    action="{{ request.get_full_path }}"
    class="form"
    {% if request.GET.kind == integration_kind.CSV %} enctype="multipart/form-data" {% endif %} 
  >
    {% csrf_token %} {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  {% endif %}
{% else %} Choose kind:
<a href="{% url 'projects:integrations:create' project.id %}?kind={{ integration_kind.GOOGLE_SHEETS }}"
  >Google Sheets</a
>
<a href="{% url 'projects:integrations:create' project.id %}?kind={{ integration_kind.CSV }}">CSV</a>
<a href="{% url 'projects:integrations:create' project.id %}?kind={{ integration_kind.FIVETRAN }}">Fivetran</a>
{% endif %}{% endblock %}
