{% extends "integrations/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load humanize %}

{% block tab %}
<div class="card mt-4 mb-8">
  <div class="flex flex-row">
    <div class="flex flex-col border-r border-gray flex-grow mr-4">
      <div class="flex flex-row">
        <img class="h-16 w-16" src="{% static integration.icon %}" title="{{ integration.name }}" />

        <div class="flex flex-col ml-6">
          <h1>{{ integration.name }}</h1>
          <p>{{ integration.created|naturaltime }}</p>
          {% if integration.num_rows %}<p> <strong>{{ integration.num_rows }}</strong>
            row{{ integration.num_rows|pluralize }}</p>{% endif %}
          <h2>{{ integration.created_by.username }}</h2>
          {% if integration.kind == "google_sheets" %}
          <a href="{{ integration.url }}" class="link"><i class="fas fa-link fa-sm mr-1"></i>Sheet Source</a>
          {% endif %}
        </div>
      </div>

      {% if integration.used_in_workflows %}
      <h2>Workflows</h2>
      <div class="flex flex-row flex-wrap mt-1">
        {% for workflow in integration.used_in_workflows %}
        <a href="{% url 'projects:workflows:detail' project.id workflow.id %}"
           class="card card--sm m-1">{{ workflow.name }}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>

    {% if object.kind == 'fivetran' %}
    <div class="flex flex-col flex-shrink-0">
      {% if object.historical_sync_complete %}
      <div>Ready</div>
      {% elif object.fivetran_authorized %}
      <div>Syncing</div>
      {% else %}
      <turbo-frame id="integrations:authorize"
                   src="{% url 'integrations:authorize' integration.id %}?original_uri={{ request.get_full_path }}"
                   target="_top">
      </turbo-frame>
      {% endif %}
    </div>
    {% else %}
    <turbo-frame id="integrations:sync" src="{% url 'integrations:sync' object.id %}"></turbo-frame>
    {% endif %}
  </div>
</div>

<div class="flex flex-row gap-8">
  <div class="card flex-1">
    <h2>Used in</h2>
    <p>Where this integration is used in.</p>

    <div class="mt-8">
      {% render_table table %}
    </div>
  </div>
</div>

{% endblock %}
