{% extends "integrations/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}
{% load humanize %}

{% block tab %}
<div class="pad">
  <div class="flex gap-7 mb-7">
    {% if object.kind == 'sheet' %}
    <div class="card">
      <turbo-frame id="sheets:status" src="{% url 'sheets:status' object.sheet.id %}"></turbo-frame>
    </div>
    {% endif %}

    <div class="card card--center flex-1 flex-col">
      <h2>{{integration.created|naturaltime}}</h2>
      <p>First created</p>
    </div>

    {% if integration.num_rows %}
    <div class="card card--center flex-1 flex-col">
      <h2>{{ integration.num_rows }}</h2>
      <p>Rows</p>
    </div>
    {% endif %}

    <div class="card card--center flex-1 flex-col">
      <h2>
        {% if integration.kind == 'sheet' %}
          {{ integration.sheet.created_by.username }}
        {% else %}
          {{ integration.created_by.username }}
        {% endif %}
      </h2>
      <p>Created this</p>
    </div>
  </div>


  <div class="flex flex-col mb-7">
    <div class="mb-7">
      <h2>Referenced</h2>
      <p>All the places this integration is used in</p>
    </div>

    <div class="card card--none flex-1">
      {% render_table table %}

      {% if integration.used_in|length == 0 %}
      <div class="text-center pad pad--sm">
        <small>
          This integration is not used anywhere yet, you can create a <a class="link"
            href="{% url 'project_workflows:create' project.id %}">workflow</a>
          or
          <a class="link" href="{% url 'project_dashboards:create' project.id %}">dashboard</a> to start using it now!
        </small>
      </div>
      {% endif %}
    </div>
</div>

{% endblock %}
