{% extends "integrations/base.html" %}
{% load humanize %}

{% block tab %}
  <div class="pad flex flex-1 justify-center items-center">
    <div class='flex flex-col flex-1 max-w-3xl'>

    </h1>

    <div class="flex flex-col flex-1 justify-center gap-3">
      <h1 class="flex items-center justify-center gap-3 mb-7">
        Success
      </h1>
      <p>
        <strong>Your data is ready.</strong> You can still edit your
        <a class="link" href="{% url 'project_integrations:configure' project.id object.id %}">configuration</a>
        if you want to make more changes or trigger an import.
      </p>
    </div>
  </div>
  </div>
{% endblock %}
