{% extends "web/app/project_base.html" %}
{% load render_table from django_tables2 %}

{% block app %}
<div class="pad">
  <div class="flex items-center mb-4">
    <h1 class="mr-auto">Integrations</h1>
    <a class="button button--filled button--sm ml-4" href="{% url 'project_integrations:create' project.id %}">
      <i class="fas fa-fw fa-plus"></i> New Integration
    </a>
  </div>

  <p class="mb-8">
    Integrations serve as the first source of all data in your project. They can be processed in
    workflows, or used directly in dashboards.
  </p>

  <div class="card card--sm">
    {% render_table table %}

    {% if integration_count == 0 %}
    <div class="text-center pad--sm">
      <small>
        You have no integrations yet, <a href="{% url 'project_integrations:create' project.id %}" class="link">create
          one</a> to see it here
      </small>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
