{% extends "web/app/project_base.html" %}
{% load render_table from django_tables2 %}

{% block app %}
<div class="p-4">
  <div class="flex items-center mb-4">
    <h1 class="mr-auto">Integrations</h1>
    <a class="button button--square button--filled button--sm ml-4"
       href="{% url 'projects:integrations:create' project.id %}">Create</a>
  </div>

  <div class="card card--sm">
    {% render_table table %}

    {% if integration_count == 0 %}
    <div class="p-3 text-center">
      <p>You have no integrations yet, <a href="{% url 'projects:integrations:create' project.id %}"
           class="text-blue">create one</a> to see it here</p>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
