{% extends 'integrations/base.html' %}
{% load static %}
{% load help_utils %}

{% block tab %}
  <div class="pad flex flex-1 justify-center items-center">
    <div class='flex flex-col flex-1 max-w-3xl'>
      <div class="flex flex-1 justify-center items-center">
        <div class='integration__file-validate'
          x-data="{ status: 'load', message: '' }"
          x-init="{# fmt:off #}{% if done %}$data.status = 'done'
            htmx.ajax('GET', '{% url 'project_integrations:done' project.id object.id %}', 'body')
          {% else %}
            $data.initialUrl = window.location.href

            CeleryProgressBar.initProgressBar('{% url 'celery_progress:task_status' integration.latest_run.task_id %}', {
              onSuccess: () => {
                // If the user has navigated away from the page the task started on
                // we don't want to forcibly navigate them away.
                if ($data.initialUrl != window.location.href) return
                $data.status = 'done'
                setTimeout(() => {
                  htmx.ajax('GET', '{% url 'project_integrations:done' project.id object.id %}', 'body')
                }, 750)
              },
              onError: (progressBarElement, progressBarMessageElement, excMessage, data) => {
                $data.status = 'error'
                $data.message = excMessage
              },
            }){% endif %}{# fmt:on #}"
        >
          <i x-show="status === 'load'" class="fad fa-fw fa-spinner-third fa-spin fa-3x text-blue"></i>

          <div x-show="status === 'load'" class="flex flex-col gap-4">
            <h1>Validating and importing your {{ object.kind }}...</h1>
            <p>
              This can take anywhere from a few seconds to a minute.
            </p>
            <p class="alert">
              You can safely navigate away and check progress in <a class="link" href="{% url 'project_integrations:list' project.id %}">integrations</a>.
            </p>
          </div>

          <div x-cloak x-show="status === 'done'">
            <i class="fas fa-fw fa-check fa-3x text-green"></i>

            <div class='flex flex-col'>
              <h1>{{ object.kind|title }} successfully imported</h4>
            </div>
          </div>

          <div x-cloak x-show="status === 'error'">
            <i class="fas fa-fw fa-times text-red fa-3x mr-4"></i>

            <div class="flex flex-col space-y-4">
              <div class="flex justify-center items-center gap-3">
                <h1>Something went wrong</h1>
                {% link_article 'integrations' 'error' %}
              </div>

              <p x-text="message"></p>

              {% if object.kind == 'upload' %}
                <p>
                  If the problem persists, you can upload the CSV to Google Sheets and use our
                  <a class="link" href="{% url 'project_integrations_sheets:create' project.id %}">sheets integration.</a>
                </p>
              {% endif %}

              <form
                method="POST"
                action="{{ request.get_full_path }}"
                class="form--no-layout"
              >
                {% csrf_token %}
                {{ form }}

                <div class="flex gap-3 w-full">
                  <button type="submit" class="button button--tertiary flex-1">
                    Retry
                  </button>

                  <a
                    class="button flex-1"
                    href="{% url 'project_integrations:configure' project.id object.id %}">
                    Configure
                  </a>
                </div>
              </form>
            </div>
          </div>
          {% comment %} required for Celery Progress to not error {% endcomment %}
          <div id="progress-bar" style="display:none;">
            <div id="progress-bar-message"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

