{% extends 'integrations/base_setup.html' %}
{% load static %}

{% block tab %}
<div class="pad">
  <ul class="integration__create-flow">
    <li>
      <div
          class='integration__file-validate card'
          data-controller="celery-progress"
          data-celery-progress-task-url-value="{% url 'celery_progress:task_status' sync_task_id %}"
          data-celery-progress-script-url-value="{% static 'celery_progress/celery_progress.js' %}"
          data-celery-progress-redirect-url-value="{% url 'project_integrations:done' project.id object.id %}"
          {% if done %} data-celery-progress-done-value {% endif %}
          >

        <i class="fad fa-spinner-third fa-spin text-blue text-4xl"></i>
        <div class='flex flex-col ml-4'>
          <h1>Validating and importing your {{ object.kind }}...</h1>
          {% if object.kind == 'connector' %}
            <p>This can take anywhere from 10 minutes to 2 hours. We recommend you continue with your work.</p>
          {% else %}
            <p>This can anywhere from a few seconds to a minute.</p>
          {% endif %}
        </div>

        <template id="success-template">
          <i class="fas fa-check text-green text-xl mr-4"></i>
          <h4>{{ object.kind|title }} successfully validated and imported.</h4>
        </template>

        <template id="failure-template">
          <i class="fas fa-times text-red text-xl mr-4"></i>
          <div class="flex flex-col">
            <h4>Errors occurred when validating your {{ object.kind }}.</h4>
            {% if object.kind == 'upload' %}
              <p>If the problem persists, you can upload the CSV to Google Sheets and use our
                <a class="link" href="{% url 'project_integrations_sheets:create' project.id %}">sheets integration.</a>
              </p>
            {% elif object.kind == 'connector' %}
              <p>Reach out to us if the error persists.</p>
            {% endif %}
            <p id="failure-message"/>
            <div class="flex space-x-2 my-2">
              <form method="post" action="{{ request.get_full_path }}" class="form max-w-xl">
                  {% csrf_token %}

                  {% include "django/forms/default_form.html" %}

                  <button type="submit" class="button button--outline">
                    Retry
                  </button>
              </form>
              <a class="button ml-2" href="{% url 'project_integrations:configure' project.id object.id %}">Configure</a>
            </div>
          </div>
        </template>

      </div>
    </li>
  </ul>
</div>
{% endblock %}