{% extends "integrations/base.html" %}
{% load humanize %}

{% block extra_tab %}

<nav id='tabbar-setup' class="tabbar">
    <a class="tabbar__link {% if not state in 'update,error,done' %} tabbar__link--disabled {% endif %} {% if state == 'update' %} tabbar__link--active {% endif %}"
        {% if state in 'update,error,done' %} href="{% url 'project_integrations:setup' object.project.id object.id %}?state=update" {% endif %}>
        Configure
    </a>
    <a class="tabbar__link">
        <i class="fa fa-arrow-right"></i>
    </a>
    <a class="tabbar__link {% if not state in 'load,error' %} tabbar__link--disabled {% endif %} {% if state in "load,error" %} tabbar__link--active {% endif %}"
        {% if state in 'load,error' %} href="{% url 'project_integrations:setup' object.project.id object.id %}?state=load" {% endif %}>
        Import
    </a>
    <a class="tabbar__link">
        <i class="fa fa-arrow-right"></i>
    </a>
    <a class="tabbar__link {% if not state in 'update,done' %} tabbar__link--disabled {% endif %} {% if state == "done" %} tabbar__link--active {% endif %}"
        {% if state in 'update,done' %} href="{% url 'project_integrations:setup' object.project.id object.id %}?state=done" {% endif %}>
        {% if not integration.ready %} Review {% else %} Ready {% endif %}
    </a>
</nav>

{% endblock  %}

{% block tab %}

<div class="pad">
    {% if state == 'update' %}
        {% if integration.kind == 'connector' %}
            <turbo-frame id="connectors:setup" src="{% url 'connectors:update' integration.connector.id %}">
                <div class='placeholder-scr placeholder-scr--fillscreen'>
                <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
                <p class='placeholder-scr__title'>Loading configuration options...</p>
                </div>
            </turbo-frame>
        {% elif integration.kind == 'sheet' %}
            <turbo-frame id="sheets:setup" src="{% url 'sheets:update' integration.sheet.id %}">
                <div class='placeholder-scr placeholder-scr--fillscreen'>
                <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
                <p class='placeholder-scr__title'>Loading configuration options...</p>
                </div>
            </turbo-frame>
       {% elif integration.kind == 'upload' %}
            <turbo-frame id="uploads:setup" src="{% url 'uploads:update' integration.upload.id %}">
                <div class='placeholder-scr placeholder-scr--fillscreen'>
                <i class="placeholder-scr__icon fad fa-spinner-third fa-spin"></i>
                <p class='placeholder-scr__title'>Loading configuration options...</p>
                </div>
            </turbo-frame>
        {% endif %}
    {% elif state in 'load,error' %}
        {% if integration.kind == 'connector' %}
            <turbo-frame id="connectors:setup" src="{% url 'connectors:progress' integration.connector.id %}"></turbo-frame>
        {% elif integration.kind == 'sheet' %}
            <turbo-frame id="sheets:setup" src="{% url 'sheets:progress' integration.sheet.id %}"></turbo-frame>
        {% elif integration.kind == 'upload' %}
            <turbo-frame id="uploads:setup" src="{% url 'uploads:progress' integration.upload.id %}"></turbo-frame>
        {% endif %}
    {% elif state == 'done' %}
        {% if not integration.ready %}
            <div class='card'>
                <h4>Review your imported data</h4>
                <p>This will add a total of <strong>{{ object.num_rows|intcomma }}</strong> rows to your team. You can still edit your
                    <a class="link" href="{% url 'project_integrations:setup' object.project.id object.id %}?state=update">configuration</a> before you confirm
                    {% if integration.kind != 'upload' %}, or come back later at any time{% endif %}.
                </p>
                <form method="post" action="{{ request.get_full_path }}" class="form max-w-xl">
                    {% csrf_token %}
                    <button type="submit" class="button button--success mt-4">
                        Confirm
                    </button>
                </form>
            </div>
        {% else %}
            <div class='card'>
                <h4>Ready for analytics</h4>
                <p>You can edit your
                    <a class="link" href="{% url 'project_integrations:setup' object.project.id object.id %}?state=update">configuration</a> now or at any time, or force import new data.
                </p>
            </div>
        {% endif %}

    {% endif %}
</div>
{% if state == 'done' and not integration.ready %}
    <div class="mt-4 border-t border-gray">
        <div class="flex flex-row flex-1 overflow-hidden">
            {% include "integrations/_data.html" %}
        </div>
    </div>
{% endif %}

{% endblock %}
