{% extends "integrations/base.html" %}
<!---->
{% block tab %}
{% for table in object.table_set.all %}
<div class="border border-gray-500">
  <h2 class="text-lg "> {{ table.bq_table }} </h2>
  <table>
    <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for field_name, field_type in table.schema.items %}
      <tr>
        <td>
          {{ field_type }}
        </td>
        <td>
          {{ field_name }}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endfor %}

  {% endblock %}