{% extends "integrations/base.html" %}
{% load render_table from django_tables2 %}

{% block tab %}

<div class="flex flex-row flex-1 overflow-hidden">

  {% if tables|length > 1 %}
  <div class="bg-white overflow-auto w-60 border-gray border-0 border-r">
    <h3 class="px-4 py-2">Tables</h3>
    <hr />
    <ul class="px-4 py-2">
      {% for table in tables %}
      <li class="my-2">
        <p class="truncate hover:underline"><a title="{{ table.title }}" href="#{{ table.title }}" data-turbo="false">{{ table.title }}</a></p>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="flex flex-col flex-1 overflow-auto pad">
    {% for table in tables %}
    {% if tables|length > 1 %}<h1 id="{{ table.title }}" class="mb-2"> {{ table.title }}</h1>{% endif %}
    <div class='card card--none mb-7'>
      {% render_table table.table_struct %}
    </div>
    {% endfor %}
  </div>

</div>

{% endblock %}
