{% load humanize %}
{% load static %}

<turbo-frame id="integrations:sync">
  {% if not object.table_set.exists %}
  <p>You need to sync your data</p>
  {% else %}
  <p>You can re-sync your data if anything has changed</p>
  {% endif %}
  {% if not object.is_syncing %}
  <form class="my-2" method="post" action="{% url 'integrations:sync' object.id %}">
    {% csrf_token %}
    <button class="button button--square button--sm button--filled" type="submit">Sync</button>
  </form>
  {% else %}
  <div data-controller="progress-bar"
       data-progress-bar-task-url-value="{% url 'celery_progress:task_status' external_table_sync_task_id %}"
       data-progress-bar-script-url-value="{% static 'celery_progress/celery_progress.js' %}">
    <div class="progress-inprogress">
      <p><i class="fad fa-spinner-third fa-spin"></i> Syncing, you'll get an email when it is ready</p>
    </div>
    <div class='progress-wrapper'>
      <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
    </div>
    <p id="progress-bar-message">Waiting for sync to start...</p>
    <div class="progress-success">
      <button class="button button--square button--sm button--filled" onclick="window.location.reload();"><i
           class="far fa-sync"></i> Reload to see
        results</button>
    </div>
  </div>
  {% endif %}
  <p>Latest sync: {{ object.last_synced|naturaltime }}</p>

</turbo-frame>
