{% extends "web/app/project_base.html" %}

{% block app %}
<div class='flex flex-row h-full'>
  <div class='flex flex-col w-full p-4'>
    <h1>Edit</h1>
    <form method="post" action="{% url 'project_integrations:update' project.id object.id %}" class="form">
      {% csrf_token %}

      {% include "django/forms/default_form.html" %}

      <button type="submit" class="button button--filled button--green">Save changes</button>
    </form>
  </div>

  {% if object.kind == integration_kind.GOOGLE_SHEETS %}
  <div class='flex flex-shrink-0 h-full'>
    {% include 'integrations/guides/sheets_guide.html' %}
  </div>
  {% endif %}
</div>
{% endblock %}
