{% extends "web/app/project_settings_base.html" %}
{% load static %}

{% block app %}

<div class="flex flex-row flex-1 overflow-hidden">
  <div class='flex flex-col flex-1 overflow-auto'>
    <div class="flex items-center gap-3 pad">
      <i class="fas fa-fw fa-5x fa-file-csv"></i>
      <div>
        <h2>Upload a CSV file</h2>
        <p>
          We recommend a maximum file size of around <strong>50MB</strong>. The absolute maximum is 1GB, but it will be
          a
          very lengthy upload.
        </p>
      </div>
    </div>

    <div class='flex flex-col flex-1'>
      <div class="flex flex-1 justify-center items-center pad" id='create-container'>
        <form id="create-form" method="post" action="{{ request.get_full_path }}" class="form max-w-xl">
          {% csrf_token %}

          {% include "django/forms/default_form.html" %}

          <p>It may take a moment to upload your file. To keep the upload going, stay within the app.</p>
          <button type="submit" class="button button--success">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
